Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

check-newsfragments:
  name: Check newsfragments
  entry: python3 -m script.check_newsfragments
  language: system

Restore news fragment
  doc/whatsnew/fragments/8718.other
Due: check-newsfragments

Remove fragment, update doc
  CONTRIBUTORS.txt
  doc/user_guide/checkers/features.rst
  doc/user_guide/messages/messages_overview.rst
  doc/whatsnew/fragments/8718.other
Due: check-newsfragments

Rotate the deprecated module used in test
  tests/functional/d/deprecated/deprecated_module_redundant.py
  tests/functional/d/deprecated/deprecated_module_redundant.rc
  tests/functional/d/deprecated/deprecated_module_redundant.txt
Due: none

Increase setuptools version above 66.1 see https://github.com/pypa/pip/issues/11501
  pyproject.toml
Due: none

[ci] Add jobs for python 3.12-beta following its release
  .github/workflows/primer-test.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/tests.yaml
  doc/whatsnew/fragments/8718.other
Due: check-newsfragments

Add python 3.12 classifier
  pyproject.toml
Due: none

Cope with DeprecationWarnings becoming SyntaxWarnings
  pylint/constants.py
  tests/test_functional.py
Due: pylint

Apply dill patch for DeprecationWarnings on 3.12
  pyproject.toml
Due: none

Add max_pyver
  tests/functional/d/deprecated/deprecated_module_py310.rc
Due: none

Reflect better TokenError linenos in python 3.12
  pylint/lint/pylinter.py
  tests/functional/t/tokenize_error.rc
  tests/functional/t/tokenize_error.txt
  tests/functional/t/tokenize_error_py312.py
  tests/functional/t/tokenize_error_py312.rc
  tests/functional/t/tokenize_error_py312.txt
Due: pylint

distutils was removed in 3.12
  tests/functional/r/regression_02/regression_distutil_import_error_73.rc
Due: none

Update news fragment
  doc/whatsnew/fragments/8416.breaking
Due: check-newsfragments

Skip enum.__getattr__ test on Python 3.12 for now
  tests/functional/e/enum_self_defined_member_5138.rc
Due: none

typing.Generic no longer has slots
  pylint/checkers/classes/class_checker.py
Due: pylint

TypeAlias became a class in python 3.12
  pylint/checkers/base/name_checker/checker.py
Due: pylint

Adapt unhashable-member tests for slices as dict keys
  tests/functional/u/unhashable_member.py
  tests/functional/u/unhashable_member.txt
  tests/functional/u/unhashable_member_py312.py
  tests/functional/u/unhashable_member_py312.rc
Due: none

Remove double colon in fragment
  doc/whatsnew/fragments/3696.breaking
Due: check-newsfragments

Bump astroid to 3.0.0a8
  pyproject.toml
  requirements_test_min.txt
Due: none

Do not upgrade the primer's upper bound yet
  .github/workflows/primer_run_main.yaml
Due: none

Simulate legacy editable_mode=compat
  pyproject.toml
Due: none

Add stdlib deprecations from 3.12
  pylint/checkers/stdlib.py
Due: pylint

Add pragma to existing test
  tests/functional/t/try_except_raise_crash.py
Due: none

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst
