Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I
  - --load-plugins=pylint.extensions.docparams

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

`unnecessary-ellipsis` false positive: allow ellipsis as default argument (#6007)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/ellipsis_checker.py
  tests/functional/u/unnecessary/unnecessary_ellipsis.py
Due: pylint, fix-documentation

Change 'nonexistent-operator' to allow repeated unary ops (with space or parens) (#6008)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/base/basic_error_checker.py
  tests/functional/n/nonexistent_operator.py
Due: pylint, fix-documentation

Bump pylint to 2.13.3, update changelog
  CONTRIBUTORS.txt
  ChangeLog
  pylint/__pkginfo__.py
  tbump.toml
Due: pylint, fix-documentation

Review feedback pt1
  pylint/checkers/base/name_checker/checker.py
  tests/functional/t/typevar_double_invariance.py
Due: pylint

Include ``testing_pylintrc`` in source and wheel distributions
  ChangeLog
  doc/whatsnew/2.13.rst
  setup.cfg
Due: fix-documentation

Add ``argparse.Namespace`` to list of generated members
  pylintrc
Due: none

Create ``_Argument``
  pylint/config/__init__.py
  pylint/config/argument.py
Due: pylint

Create ``_convert_option_to_argument``
  pylint/config/utils.py
Due: pylint

Create ``_ArgumentsManager``
  pylint/config/__init__.py
  pylint/config/arguments_manager.py
  pylint/config/exceptions.py
  pylint/lint/pylinter.py
  tests/test_regr.py
Due: pylint

Apply suggestions from code review
  pylint/checkers/variables.py
  tests/functional/r/redefined/redefined_loop_name.py
Due: pylint

Use config initialization of ``_ArgumentsManager``
  pylint/config/config_initialization.py
Due: pylint

Allow ``BaseChecker`` to register on a ``_ArgumentsManager``
  pylint/checkers/base_checker.py
  pylint/config/exceptions.py
Due: pylint

Use the ``argparse`` config handler in ``logging.py`` and add tests
  pylint/checkers/logging.py
  tests/config/data/logging_format_interpolation_style.py
  tests/config/data/logging_format_interpolation_style.rc
  tests/config/test_argparse_config.py
Due: pylint

Update test results
  tests/functional/r/redefined/redefined_loop_name.py
  tests/functional/r/redefined/redefined_loop_name.txt
Due: none

Add generic typevar-name-incorrect-variance message for double-variance
  pylint/checkers/base/name_checker/checker.py
  tests/functional/t/typevar_double_invariance.py
  tests/functional/t/typevar_double_invariance.txt
  tests/functional/t/typevar_name_incorrect_variance.txt
  tests/functional/t/typevar_naming_style_default.py
  tests/functional/t/typevar_naming_style_default.txt
Due: pylint

Remove is_message_enabled() call
  pylint/checkers/variables.py
Due: pylint

Create an `Argument` class and allow convertion of optdict into them (#5584)
  pylint/checkers/base_checker.py
  pylint/checkers/logging.py
  pylint/config/__init__.py
  pylint/config/argument.py
  pylint/config/arguments_manager.py
  pylint/config/config_initialization.py
  pylint/config/exceptions.py
  pylint/config/utils.py
  pylint/lint/pylinter.py
  pylintrc
  tests/config/data/logging_format_interpolation_style.py
  tests/config/data/logging_format_interpolation_style.rc
  tests/config/test_argparse_config.py
  tests/test_regr.py
Due: pylint

Use the ``argparse`` config handler in ``imports.py``
  pylint/checkers/imports.py
  pylint/config/argument.py
  pylint/testutils/unittest_linter.py
  pylint/utils/utils.py
  tests/test_import_graph.py
Due: pylint

Remove the concept of checker priority
  ChangeLog
  doc/how_tos/custom_checkers.rst
  doc/whatsnew/2.14.rst
  examples/custom.py
  pylint/checkers/classes/class_checker.py
  pylint/checkers/classes/special_methods_checker.py
  pylint/checkers/design_analysis.py
  pylint/checkers/exceptions.py
  pylint/checkers/imports.py
  pylint/checkers/modified_iterating_checker.py
  pylint/checkers/newstyle.py
  pylint/checkers/non_ascii_names.py
  pylint/checkers/refactoring/implicit_booleaness_checker.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/typecheck.py
  pylint/checkers/unicode.py
  pylint/checkers/variables.py
  pylint/config/arguments_manager.py
  pylint/config/option_manager_mixin.py
  pylint/config/options_provider_mixin.py
  pylint/extensions/broad_try_clause.py
  pylint/extensions/code_style.py
  pylint/extensions/comparetozero.py
  pylint/extensions/confusing_elif.py
  pylint/extensions/docparams.py
  pylint/extensions/empty_comment.py
  pylint/extensions/emptystring.py
  pylint/extensions/overlapping_exceptions.py
  pylint/extensions/set_membership.py
  pylint/extensions/typing.py
  pylint/lint/pylinter.py
Due: pylint, fix-documentation

Fix coverage and typing
  pylint/config/argument.py
Due: pylint

Include ``testing_pylintrc`` in source and wheel distributions (#6029)
  ChangeLog
  doc/whatsnew/2.13.rst
  setup.cfg
Due: fix-documentation

Fix crash for ``unneccessary-ellipsis`` checker when an ellipsis is used inside of a list.
  ChangeLog
  pylint/checkers/ellipsis_checker.py
  tests/functional/u/unnecessary/unnecessary_ellipsis.py
Due: pylint, fix-documentation

* Fix false positive for the ``unnecessary-ellipsis`` checker when an ellipsis is used in a lambda expression.
  ChangeLog
  pylint/checkers/ellipsis_checker.py
  tests/functional/u/unnecessary/unnecessary_ellipsis.py
Due: pylint, fix-documentation

Another `used-before-assignment` homonym fix for except blocks and filtered comprehensions
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/variables.py
  tests/functional/u/used/used_before_assignment_issue626.py
Due: pylint, fix-documentation

Move changelog to 2.13.4
  ChangeLog
Due: fix-documentation

Move ``long-help`` to the ``Run`` class
  pylint/config/option_manager_mixin.py
  pylint/lint/run.py
Due: pylint

Fix crash in ``super-init-not-called`` checker
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/classes/class_checker.py
  tests/functional/s/super/super_init_not_called.py
Due: pylint, fix-documentation

Add a test
  tests/test_self.py
Due: pylint

Update tests/functional/u/unnecessary/unnecessary_dunder_call.py
  tests/functional/u/unnecessary/unnecessary_dunder_call.py
Due: none

Update doc/whatsnew/2.14.rst
  doc/whatsnew/2.14.rst
Due: fix-documentation

Update ChangeLog
  ChangeLog
Due: fix-documentation

Move ``long-help`` to the ``Run`` class (#6041)
  pylint/config/option_manager_mixin.py
  pylint/lint/run.py
  tests/test_self.py
Due: pylint

[refactor] Cleanup of the USER_HOME variable
  pylint/config/__init__.py
  pylint/constants.py
Due: pylint

[refactor] Create an env_variable file in pylint.config
  pylint/config/__init__.py
  pylint/config/environment_variable.py
Due: pylint

Fix unit test
  tests/functional/u/unnecessary/unnecessary_dunder_call.py
  tests/functional/u/unnecessary/unnecessary_dunder_call.txt
Due: none

Move setting of the current module to a better place in config init
  pylint/config/config_initialization.py
  pylint/config/option_manager_mixin.py
Due: pylint

Update pylint/config/option_manager_mixin.py
  pylint/config/option_manager_mixin.py
Due: pylint

Remove total ordering from BaseChecker
  pylint/checkers/base_checker.py
Due: pylint

Move setting of the current module to a better place in config init (#6046)
  pylint/config/config_initialization.py
  pylint/config/option_manager_mixin.py
Due: pylint

Add change log entry
  ChangeLog
  doc/whatsnew/2.14.rst
Due: fix-documentation

Path conditions:
  pylint: any of: \.py$, but not: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
  fix-documentation: any of: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
