Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

.pre-commit-config.yaml:

ci:
  skip: [pylint]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
        exclude: "tests/functional/t/trailing_whitespaces.py"
      - id: end-of-file-fixer
        exclude: "tests/functional/m/missing/missing_final_newline.py|tests/functional/t/trailing_newlines.py"
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
      - id: autoflake
        exclude: &fixtures tests/functional/|tests/input|tests/regrtest_data/|tests/data/
        args:
          - --in-place
          - --remove-all-unused-imports
          - --expand-star-imports
          - --remove-duplicate-keys
          - --remove-unused-variables
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.29.1
    hooks:
      - id: pyupgrade
        args: [--py36-plus]
        exclude: *fixtures
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 21.11b1
    hooks:
      - id: black
        args: [--safe, --quiet]
        exclude: *fixtures
  - repo: https://github.com/Pierre-Sassoulas/black-disable-checker/
    rev: 1.0.1
    hooks:
      - id: black-disable-checker
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies: [flake8-typing-imports==1.10.1]
        exclude: *fixtures
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "-rn",
            "-sn",
            "--rcfile=pylintrc",
            "--fail-on=I",
            "--load-plugins=pylint.extensions.docparams",
          ]
        # disabled plugins: pylint.extensions.mccabe
        exclude: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
      - id: fix-documentation
        name: Fix documentation
        entry: python3 -m script.fix_documentation
        language: system
        types: [text]
        files: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
  - repo: https://github.com/myint/rstcheck
    rev: "3f92957478422df87bd730abde66f089cc1ee19b"
    hooks:
      - id: rstcheck
        args: ["--ignore-roles=func,class,mod", "--report=warning"]
        types: [text] # necessary to include ChangeLog file
        files: ^(ChangeLog|doc/(.*/)*.*\.rst)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910-1
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: python
        types: [python]
        args: []
        require_serial: true
        additional_dependencies:
          ["platformdirs==2.2.0", "types-pkg_resources==0.1.3", "types-toml==0.1.3"]
        exclude: tests/functional/|tests/input|tests(/.*)*/data|tests/regrtest_data/|tests/data/|tests(/.*)+/conftest.py|doc/|bin/
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.4.1
    hooks:
      - id: prettier
        args: [--prose-wrap=always, --print-width=88]

Rename to ``cache-max-size-none``
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/stdlib.py
  tests/functional/c/cache_max_size_none.py
  tests/functional/c/cache_max_size_none.txt
  tests/functional/l/lru_cache_decorating_method.txt
Due: pylint, fix-documentation

Added comparison-with-callable message example (#6156)
  doc/data/messages/c/comparison-with-callable/bad.py
  doc/data/messages/c/comparison-with-callable/good.py
Due: none

Change how ``errors-mode`` is parsed
  pylint/config/callback_actions.py
  pylint/config/config_initialization.py
  pylint/lint/pylinter.py
  tests/lint/unittest_lint.py
Due: pylint

Change parent class order of ``PyLinter``
  pylint/lint/pylinter.py
  tests/test_regr.py
Due: pylint

Fix ``_py_version_transformer``
  pylint/config/argument.py
Due: pylint

Update pylint/message/message_definition_store.py
  pylint/message/message_definition_store.py
Due: pylint

Use ``argparse`` config handler on three checkers
  pylint/checkers/base/docstring_checker.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/spelling.py
Due: pylint

Make ``linter`` non-optional for ``BaseChecker``
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/base_checker.py
  tests/checkers/unittest_base_checker.py
  tests/message/conftest.py
  tests/message/unittest_message_definition.py
  tests/message/unittest_message_definition_store.py
Due: pylint, fix-documentation

Finalize ``_parse_command_line_configuration``
  pylint/config/arguments_manager.py
  pylint/config/config_initialization.py
  pylint/config/deprecation_actions.py
Due: pylint

Change typing of ``stdlib`` checker
  pylint/checkers/stdlib.py
Due: pylint

Maybe like this?
  pylint/config/deprecation_actions.py
Due: pylint

Maybe like this? Two
  pylint/config/deprecation_actions.py
  tests/config/test_argparse_config.py
Due: pylint

Add ``subclassed-final-class`` message to the ``check_messages`` decorator of ``visit_classdef``.
  ChangeLog
  pylint/checkers/classes/class_checker.py
Due: pylint, fix-documentation

Re-allow abbreviations now that they are unambigious
  pylint/config/arguments_manager.py
Due: pylint

Remove changes since they will be committed in another merge request
  ChangeLog
  pylint/checkers/classes/class_checker.py
Due: pylint, fix-documentation

Add a `pylintrc` to ensure Python version 3.8 is the minimum version used for the `overridden-final-method` documentation test
  doc/data/messages/o/overridden-final-method/pylintrc
Due: none

Finalize ``_parse_command_line_configuration`` (#6189)
  pylint/config/arguments_manager.py
  pylint/config/config_initialization.py
  pylint/config/deprecation_actions.py
  tests/config/test_argparse_config.py
Due: pylint

Update `invalid-slots-object` message
  pylint/checkers/classes/class_checker.py
  tests/functional/s/slots_checks.py
  tests/functional/s/slots_checks.txt
Due: pylint

changelog in 2.13.5
  ChangeLog
Due: fix-documentation

ChangeLog
  ChangeLog
  doc/whatsnew/2.14.rst
Due: fix-documentation

Use a real world example
  doc/data/messages/o/overridden-final-method/bad.py
  doc/data/messages/o/overridden-final-method/good.py
Due: none

Make `invalid-slots-object` confidence INFERENCE
  pylint/checkers/classes/class_checker.py
  tests/functional/s/slots_checks.txt
Due: pylint

Add pylintrc to ensure documentation test will use Python version 3.8 as a minimum
  doc/data/messages/s/subclassed-final-class/pylintrc
Due: none

Add documentation examples for ``overridden-final-method`` checker (#6080)
  doc/data/messages/o/overridden-final-method/bad.py
  doc/data/messages/o/overridden-final-method/details.rst
  doc/data/messages/o/overridden-final-method/good.py
  doc/data/messages/o/overridden-final-method/pylintrc
  doc/data/messages/o/overridden-final-method/related.rst
Due: none

Fix unexpected indent & typo
  ChangeLog
Due: fix-documentation

Remove walrus operator
  tests/functional/u/used/used_before_assignment_nonlocal.py
  tests/functional/u/used/used_before_assignment_nonlocal.txt
Due: none

Remove ``_parse_plugin_configuration``
  pylint/config/arguments_manager.py
  pylint/config/config_initialization.py
  pylint/lint/pylinter.py
Due: pylint

Do ``init-hook`` and ``load-plugins`` from ``argparse``
  pylint/config/config_initialization.py
  pylint/lint/pylinter.py
Due: pylint

Refactor ``_config_initialization``
  pylint/config/config_initialization.py
Due: pylint

Only emit ``lru-cache-decorating-method`` when ``maxsize`` is ``None`` (#6181)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/stdlib.py
  pylint/message/message_definition_store.py
  tests/functional/c/cache_max_size_none.py
  tests/functional/c/cache_max_size_none.txt
  tests/functional/l/lru_cache_decorating_method.py
  tests/functional/l/lru_cache_decorating_method.txt
Due: pylint, fix-documentation

Make ``cache-max-size-none`` check ``functools.cache``
  ChangeLog
  doc/data/messages/c/cache-max-size-none/bad.py
  doc/data/messages/c/cache-max-size-none/good.py
  doc/whatsnew/2.14.rst
  pylint/checkers/stdlib.py
  tests/functional/c/cache_max_size_none.txt
  tests/functional/c/cache_max_size_none_py39.py
  tests/functional/c/cache_max_size_none_py39.rc
  tests/functional/c/cache_max_size_none_py39.txt
Due: pylint, fix-documentation

Add regression test for cases where the value to format can not be inferred
  tests/functional/b/bad_string_format_type.py
Due: none

Add another regression test
  tests/functional/b/bad_string_format_type.py
Due: none

Add ChangeLog and whatsnew entry
  ChangeLog
  doc/whatsnew/2.14.rst
Due: fix-documentation

Add examples of config file content to FAQ
  doc/faq.rst
Due: none

Rename ``check_messages``, improve docstring and create alias for backwards compatibility.
  pylint/checkers/utils.py
  tests/utils/unittest_ast_walker.py
Due: pylint

Test coverage
  pylint/lint/pylinter.py
  pylint/lint/run.py
  pylint/testutils/checker_test_case.py
  tests/benchmark/test_baseline_benchmarks.py
  tests/config/test_config.py
  tests/lint/unittest_lint.py
  tests/test_check_parallel.py
Due: pylint

Apply suggestions from code review
  pylint/checkers/utils.py
Due: pylint

Fix false negative for ``bad-string-format-type`` when using a variable as input (#6194)
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/strings.py
  tests/functional/b/bad_string_format_type.py
  tests/functional/b/bad_string_format_type.txt
Due: pylint, fix-documentation
