Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

[unnecessary-negation] Use the multiple files template
  doc/data/messages/u/unnecessary-negation/bad/double_not.py
  doc/data/messages/u/unnecessary-negation/bad/equivalent_comparator_exists.py
  doc/data/messages/u/unnecessary-negation/good/double_not.py
  doc/data/messages/u/unnecessary-negation/good/equivalent_comparator_exists.py
Due: none

[use-sequence-for-iteration] Use the multiple files template
  doc/data/messages/u/use-sequence-for-iteration/good.py
  doc/data/messages/u/use-sequence-for-iteration/good/list.py
  doc/data/messages/u/use-sequence-for-iteration/good/tuple.py
Due: none

[too-few-public-methods] Use the multiple files template
  doc/data/messages/t/too-few-public-methods/good/dataclass_and_function.py
  doc/data/messages/t/too-few-public-methods/good/function.py
  doc/data/messages/t/too-few-public-methods/good/larger_api.py
Due: none

[unused-format-string-argument] Use the multiple files template
  doc/data/messages/u/unused-format-string-argument/good/add_format_target.py
  doc/data/messages/u/unused-format-string-argument/good/remove_unused_args.py
Due: none

[unnecessary-lambda] Use the multiple files template
  doc/data/messages/u/unnecessary-lambda/bad/pandas.py
  doc/data/messages/u/unnecessary-lambda/bad/print.py
  doc/data/messages/u/unnecessary-lambda/good/pandas.py
  doc/data/messages/u/unnecessary-lambda/good/print.py
Due: none

[try-except-raise] Use the multiple files template
  doc/data/messages/t/try-except-raise/good/remove_try_except.py
  doc/data/messages/t/try-except-raise/good/specialized_exception.py
Due: none

[redefined-loop-name] Fix an undefined variables in the example
  doc/data/messages/r/redefined-loop-name/bad.py
  doc/data/messages/r/redefined-loop-name/good.py
Due: none

[no-self-use] Use the multiple files template
  doc/data/messages/n/no-self-use/good.py
  doc/data/messages/n/no-self-use/good/function.py
  doc/data/messages/n/no-self-use/good/staticmethod.py
  doc/data/messages/n/no-self-use/good/use_self.py
Due: none

[redundant-keyword-arg] Use the multiple files template
  doc/data/messages/r/redundant-keyword-arg/good/only_arg.py
  doc/data/messages/r/redundant-keyword-arg/good/only_kwarg.py
Due: none

[stop-iteration-return] Use the multiple files template
  doc/data/messages/s/stop-iteration-return/bad/fruit_generator.py
  doc/data/messages/s/stop-iteration-return/bad/two_fruit_generator.py
  doc/data/messages/s/stop-iteration-return/bad/two_good_fruit_generator.py
  doc/data/messages/s/stop-iteration-return/good/fruit_generator.py
  doc/data/messages/s/stop-iteration-return/good/two_fruit_generator.py
  doc/data/messages/s/stop-iteration-return/good/two_good_fruit_generator.py
Due: none

[overlapping-except] Use the multiple files template
  doc/data/messages/o/overlapping-except/good/less_generic_first.py
  doc/data/messages/o/overlapping-except/good/only_generic.py
Due: none

[superfluous-parens] Use the multiple files template
  doc/data/messages/s/superfluous-parens/bad/example_1.py
  doc/data/messages/s/superfluous-parens/bad/example_2.py
  doc/data/messages/s/superfluous-parens/good/example_1.py
  doc/data/messages/s/superfluous-parens/good/example_2.py
Due: none

Should not be auto-fixed
  .pre-commit-config.yaml
  doc/data/messages/s/superfluous-parens/bad/example_1.py
Due: none

[superfluous-parens] Use the multiple files template (#9035)
  .pre-commit-config.yaml
  doc/data/messages/s/superfluous-parens/bad/example_1.py
  doc/data/messages/s/superfluous-parens/bad/example_2.py
  doc/data/messages/s/superfluous-parens/good/example_1.py
  doc/data/messages/s/superfluous-parens/good/example_2.py
Due: none

Fix a false positive for ``no-value-for-parameter`` when a staticmethod is called in a class body.
  doc/whatsnew/fragments/9036.false_positive
  pylint/checkers/typecheck.py
  tests/functional/a/arguments.py
Due: pylint, check-newsfragments

[no_self_use] Add false negative test cases involving empty method body
  tests/functional/ext/no_self_use/no_self_use.py
Due: none

Create a new file
  pylint/extensions/no_self_use.py
  tests/functional/ext/no_self_use/no_self_use.py
  tests/functional/ext/no_self_use/no_self_use_empty_body.py
  tests/functional/ext/no_self_use/no_self_use_empty_body.rc
Due: pylint

Apply Daniel's patch
  pylint/checkers/variables.py
  pylint/extensions/docparams.py
  pylint/extensions/no_self_use.py
  tests/functional/ext/no_self_use/no_self_use.py
  tests/functional/ext/no_self_use/no_self_use.txt
Due: pylint

Fix a false positive for ``no-value-for-parameter`` when a staticmethod is called in a class body. (#9038)
  doc/whatsnew/fragments/9036.false_positive
  pylint/checkers/typecheck.py
  tests/functional/a/arguments.py
Due: pylint, check-newsfragments

fix mermaid dotted arrow (#9031)
  pylint/pyreverse/mermaidjs_printer.py
  tests/pyreverse/functional/package_diagrams/type_check_imports/packages.mmd
Due: pylint

Fix Pyreverse duplicate arrows bug (#9029)
  doc/whatsnew/fragments/8522.bugfix
  pylint/pyreverse/diagrams.py
  tests/pyreverse/functional/class_diagrams/attributes/duplicates.mmd
  tests/pyreverse/functional/class_diagrams/attributes/duplicates.py
Due: pylint, check-newsfragments

[invalid-character-nul] Create initial documentation
  doc/data/messages/i/invalid-character-nul/details.rst
  doc/data/messages/i/invalid-character-nul/good.py
  doc/data/messages/i/invalid-character-nul/related.rst
Due: none

[invalid-character-carriage-return] Create initial documentation
  doc/data/messages/i/invalid-character-carriage-return/details.rst
  doc/data/messages/i/invalid-character-carriage-return/good.py
Due: none

Exclude pypy because ast implementation calculates columns differently resulting in failing tests
  tests/functional/u/unnecessary/unnecessary_dunder_call.rc
Due: none

Add exceptions to C2801 for certain dunders in a lambda definition
  pylint/checkers/dunder_methods.py
  pylint/constants.py
  tests/functional/u/unnecessary/unnecessary_dunder_call.py
  tests/functional/u/unnecessary/unnecessary_dunder_call.txt
Due: pylint

Tweak naming and doc wording
  doc/whatsnew/fragments/8769.bugfix
  pylint/checkers/dunder_methods.py
  pylint/constants.py
Due: pylint, check-newsfragments

Add changelog
  doc/whatsnew/fragments/8769.bugfix
Due: check-newsfragments

Update `BUG-REPORT.yml`
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
Due: none
