Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

Fix a false negative for ``too-many-arguments`` and positional-only and keyword-only arguments (#8674)
  doc/whatsnew/fragments/8667.false_negative
  pylint/checkers/design_analysis.py
  pylint/config/argument.py
  tests/functional/n/non_ascii_name/non_ascii_name_pos_and_kwonly_function.py
  tests/functional/t/too/too_many_arguments.py
  tests/functional/t/too/too_many_arguments.txt
Due: pylint, check-newsfragments

[primer] Don't cross-reference missing package
  pylint/testutils/_primer/primer_compare_command.py
Due: pylint

[temporary] Check out this branch in comment flow
  .github/workflows/primer_comment.yaml
Due: none

Add new checker `kwarg-superseded-by-positional-arg` and fix a false positive (#8644)
  doc/data/messages/k/kwarg-superseded-by-positional-arg/bad.py
  doc/data/messages/k/kwarg-superseded-by-positional-arg/good.py
  doc/whatsnew/fragments/8558.feature
  pylint/checkers/typecheck.py
  tests/functional/a/arguments.py
  tests/functional/a/arguments.txt
  tests/functional/a/arguments_positional_only.py
  tests/functional/a/arguments_positional_only.rc
  tests/functional/a/arguments_positional_only.txt
  tests/functional/k/kwarg_superseded_by_positional_arg.py
  tests/functional/k/kwarg_superseded_by_positional_arg.txt
  tests/functional/p/positional_only_arguments_expected.py
Due: pylint, check-newsfragments

Simplify ruff config
  .pre-commit-config.yaml
Due: none

Add optional `prefer-typing-namedtuple` message (#8681)
  doc/data/messages/p/prefer-typing-namedtuple/bad.py
  doc/data/messages/p/prefer-typing-namedtuple/good.py
  doc/data/messages/p/prefer-typing-namedtuple/pylintrc
  doc/data/messages/p/prefer-typing-namedtuple/related.rst
  doc/whatsnew/fragments/8660.extension
  pylint/checkers/classes/class_checker.py
  pylint/extensions/code_style.py
  tests/functional/ext/code_style/cs_prefer_typing_namedtuple.py
  tests/functional/ext/code_style/cs_prefer_typing_namedtuple.rc
  tests/functional/ext/code_style/cs_prefer_typing_namedtuple.txt
Due: pylint, check-newsfragments

[primer] Parallelize primer workflow into package batches
  .github/workflows/primer_comment.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/primer_run_pr.yaml
  pylint/testutils/_primer/primer.py
  pylint/testutils/_primer/primer_compare_command.py
  pylint/testutils/_primer/primer_run_command.py
Due: pylint

[primer] Echo warnings
  .github/workflows/primer_run_main.yaml
  .github/workflows/primer_run_pr.yaml
Due: none

Fix crash in `invalid-metaclass` check
  doc/whatsnew/fragments/8698.bugfix
  pylint/checkers/typecheck.py
  tests/functional/i/invalid/invalid_metaclass.py
  tests/functional/i/invalid/invalid_metaclass.txt
Due: pylint, check-newsfragments

Fix crash in `invalid-metaclass` check (#8699)
  doc/whatsnew/fragments/8698.bugfix
  pylint/checkers/typecheck.py
  tests/functional/i/invalid/invalid_metaclass.py
  tests/functional/i/invalid/invalid_metaclass.txt
Due: pylint, check-newsfragments

Remove test case for inconsistent-mro
  tests/functional/i/invalid/invalid_metaclass.py
  tests/functional/i/invalid/invalid_metaclass.txt
Due: none

Avoid duplicate overgeneral-exceptions warnings with ``--jobs``
  doc/whatsnew/fragments/7774.bugfix
  pylint/checkers/exceptions.py
  pylint/config/config_initialization.py
Due: pylint, check-newsfragments

Avoid creating files with "batchNone" in the path
  pylint/testutils/_primer/primer_run_command.py
Due: pylint

[primer] Test batching
  tests/testutils/_primer/fixtures/batched/expected.txt
  tests/testutils/_primer/fixtures/batched/main_batch0.json
  tests/testutils/_primer/fixtures/batched/main_batch1.json
  tests/testutils/_primer/fixtures/batched/pr_batch0.json
  tests/testutils/_primer/fixtures/batched/pr_batch1.json
  tests/testutils/_primer/test_primer.py
Due: pylint

[primer] Reformat test file
  tests/testutils/_primer/fixtures/batched/main_batch1.json
Due: none

Manage PR/Issues that are stale automatically
  .github/workflows/stale.yml
Due: none

Apply suggestions from code review
  .github/workflows/stale.yml
Due: none

Fix pre-commit
  .github/workflows/primer_run_pr.yaml
  tests/testutils/_primer/fixtures/batched/pr_batch1.json
Due: none

[primer] Parallelize primer workflow into package batches (#8697)
  .github/workflows/primer_comment.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/primer_run_pr.yaml
  pylint/testutils/_primer/primer.py
  pylint/testutils/_primer/primer_compare_command.py
  pylint/testutils/_primer/primer_run_command.py
  tests/testutils/_primer/fixtures/batched/expected.txt
  tests/testutils/_primer/fixtures/batched/main_batch0.json
  tests/testutils/_primer/fixtures/batched/main_batch1.json
  tests/testutils/_primer/fixtures/batched/pr_batch0.json
  tests/testutils/_primer/fixtures/batched/pr_batch1.json
  tests/testutils/_primer/test_primer.py
Due: pylint

Guard against lambdas
  pylint/checkers/dataclass_checker.py
  tests/functional/d/dataclass/dataclass_with_default_factory.py
Due: pylint

Depend on root() returning Module
  pylint/checkers/dataclass_checker.py
Due: pylint

Remove some disables
  tests/functional/i/invalid/invalid_field_call.py
Due: none

fixup! Guard against lambdas
  pylint/checkers/dataclass_checker.py
Due: pylint

Bump checker number
  doc/user_guide/checkers/features.rst
  pylint/checkers/dataclass_checker.py
Due: pylint

Disable unsubscriptable-object
  tests/functional/i/invalid/invalid_field_call.py
  tests/functional/i/invalid/invalid_field_call.txt
Due: none

fix copyright
  pylint/checkers/dataclass_checker.py
Due: pylint

feat(5159): Add new checker `invalid-field-call` (#8126)
  .pyenchant_pylint_custom_dict.txt
  doc/data/messages/i/invalid-field-call/bad.py
  doc/data/messages/i/invalid-field-call/good.py
  doc/user_guide/checkers/features.rst
  doc/user_guide/messages/messages_overview.rst
  doc/whatsnew/fragments/5159.new_check
  pylint/checkers/dataclass_checker.py
  tests/functional/d/dataclass/dataclass_with_default_factory.py
  tests/functional/d/dataclass/dataclass_with_default_factory.txt
  tests/functional/i/invalid/invalid_field_call.py
  tests/functional/i/invalid/invalid_field_call.rc
  tests/functional/i/invalid/invalid_field_call.txt
  tests/functional/n/no/no_member_dataclasses.py
Due: pylint, check-newsfragments

Use the latest v8
  .github/workflows/stale.yml
Due: none

Separate list of label by pr/issue
  .github/workflows/stale.yml
Due: none

optparse not removed in Python 3.12
  doc/whatsnew/2/2.14/summary.rst
Due: none

Fix 2.14 release notes: optparse not removed in Python 3.12 (#8708)
  doc/whatsnew/2/2.14/summary.rst
Due: none

Manage PR/Issues that are stale automatically (#8706)
  .github/workflows/stale.yml
Due: none

Convert release.md to rst and remove unused myst_parser
  doc/conf.py
  doc/development_guide/contributor_guide/release.md
  doc/development_guide/contributor_guide/release.rst
  doc/requirements.txt
Due: none

[doc] Upgrade the generated documentation with tox -e docs
  doc/user_guide/checkers/extensions.rst
  doc/user_guide/checkers/features.rst
  doc/user_guide/configuration/all-options.rst
  doc/user_guide/messages/messages_overview.rst
Due: none

add checker for return/yield in finally
  doc/data/messages/r/return-in-finally/bad.py
  doc/data/messages/r/return-in-finally/good.py
  doc/data/messages/r/return-in-finally/related.rst
  doc/whatsnew/fragments/8260.new_check
  pylint/checkers/base/basic_checker.py
  tests/functional/l/lost_exception.py
  tests/functional/r/return_in_finally.py
  tests/functional/r/return_in_finally.txt
Due: pylint, check-newsfragments
