Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

check-newsfragments:
  name: Check newsfragments
  entry: python3 -m script.check_newsfragments
  language: system

Rename testfiles
  tests/testutils/_primer/pyreverse_cases/changed/expected_comment.md
  tests/testutils/_primer/pyreverse_cases/method_removed/expected_comment.md
  tests/testutils/_primer/pyreverse_cases/multi_target_mixed/expected_comment.md
  tests/testutils/_primer/pyreverse_cases/multiple_targets/expected_comment.md
  tests/testutils/_primer/pyreverse_cases/multiple_targets/expected_comment_truncated.md
  tests/testutils/_primer/pyreverse_cases/no_change/expected_comment.md
  tests/testutils/_primer/pyreverse_cases/relationship_added/expected_comment.md
  tests/testutils/_primer/test_pyreverse_primer.py
Due: pylint

Add unit tests for the expected output of the primer
  tests/testutils/_primer/pyreverse_cases/changed/expected.md
  tests/testutils/_primer/pyreverse_cases/changed/main.json
  tests/testutils/_primer/pyreverse_cases/changed/pr.json
  tests/testutils/_primer/pyreverse_cases/multiple_targets/expected.md
  tests/testutils/_primer/pyreverse_cases/multiple_targets/expected_truncated.md
  tests/testutils/_primer/pyreverse_cases/multiple_targets/main.json
  tests/testutils/_primer/pyreverse_cases/multiple_targets/pr.json
  tests/testutils/_primer/pyreverse_cases/no_change/expected.md
  tests/testutils/_primer/pyreverse_cases/no_change/main.json
  tests/testutils/_primer/pyreverse_cases/no_change/pr.json
  tests/testutils/_primer/test_pyreverse_primer.py
Due: pylint

Make testcases more realistic in terms of diagram size
  tests/testutils/_primer/pyreverse_cases/changed/expected_comment.md
  tests/testutils/_primer/pyreverse_cases/changed/main_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/changed/pr_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/method_removed/expected_comment.md
  tests/testutils/_primer/pyreverse_cases/method_removed/main_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/method_removed/pr_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/multi_target_mixed/expected_comment.md
  tests/testutils/_primer/pyreverse_cases/multi_target_mixed/main_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/multi_target_mixed/main_functiondef.mmd
  tests/testutils/_primer/pyreverse_cases/multi_target_mixed/pr_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/multi_target_mixed/pr_functiondef.mmd
  tests/testutils/_primer/pyreverse_cases/multiple_targets/expected_comment.md
  tests/testutils/_primer/pyreverse_cases/multiple_targets/expected_comment_truncated.md
  tests/testutils/_primer/pyreverse_cases/multiple_targets/main_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/multiple_targets/main_functiondef.mmd
  tests/testutils/_primer/pyreverse_cases/multiple_targets/pr_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/multiple_targets/pr_functiondef.mmd
  tests/testutils/_primer/pyreverse_cases/no_change/main_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/no_change/pr_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/relationship_added/expected_comment.md
  tests/testutils/_primer/pyreverse_cases/relationship_added/main_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/relationship_added/pr_classdef.mmd
Due: none

testfiles directly readable as mermaid files instead of json
  tests/testutils/_primer/pyreverse_cases/changed/main.json
  tests/testutils/_primer/pyreverse_cases/changed/main_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/changed/pr.json
  tests/testutils/_primer/pyreverse_cases/changed/pr_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/method_removed/main_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/method_removed/pr_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/multi_target_mixed/main_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/multi_target_mixed/main_functiondef.mmd
  tests/testutils/_primer/pyreverse_cases/multi_target_mixed/pr_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/multi_target_mixed/pr_functiondef.mmd
  tests/testutils/_primer/pyreverse_cases/multiple_targets/main.json
  tests/testutils/_primer/pyreverse_cases/multiple_targets/main_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/multiple_targets/main_functiondef.mmd
  tests/testutils/_primer/pyreverse_cases/multiple_targets/pr.json
  tests/testutils/_primer/pyreverse_cases/multiple_targets/pr_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/multiple_targets/pr_functiondef.mmd
  tests/testutils/_primer/pyreverse_cases/no_change/main.json
  tests/testutils/_primer/pyreverse_cases/no_change/main_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/no_change/pr.json
  tests/testutils/_primer/pyreverse_cases/no_change/pr_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/relationship_added/main_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/relationship_added/pr_classdef.mmd
  tests/testutils/_primer/test_pyreverse_primer.py
Due: pylint

Clarify diagram source
  pylint/testutils/_primer/pyreverse_primer_compare_command.py
  tests/testutils/_primer/pyreverse_cases/changed/expected_comment.md
  tests/testutils/_primer/pyreverse_cases/method_removed/expected_comment.md
  tests/testutils/_primer/pyreverse_cases/multi_target_mixed/expected_comment.md
  tests/testutils/_primer/pyreverse_cases/multiple_targets/expected_comment.md
  tests/testutils/_primer/pyreverse_cases/relationship_added/expected_comment.md
Due: pylint

Fix mypy
  tests/testutils/_primer/test_pyreverse_primer.py
Due: pylint

Add test folder
  tests/.pyreverse_primer_tests/.gitkeep
Due: none

Move pyreverse targets into package config
  tests/primer/packages_to_prime.json
  tests/primer/pyreverse_primer.py
  tests/primer/pyreverse_targets_to_prime.json
Due: pylint

Make ordering deterministic
  pylint/testutils/_primer/pyreverse_primer_compare_command.py
Due: pylint

Add pyreverse targets to PackageToLint
  pylint/testutils/_primer/package_to_lint.py
Due: pylint

Share primer configuration
  pylint/testutils/_primer/primer.py
  pylint/testutils/_primer/primer_configuration.py
  pylint/testutils/_primer/pyreverse_primer.py
Due: pylint

Update pyreverse primer workflow
  .github/workflows/pyreverse_primer_run_main.yaml
  .github/workflows/pyreverse_primer_run_pr.yaml
Due: none

Bump cache version to fix primer failure
  .github/workflows/primer_comment.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/primer_run_pr.yaml
Due: none

Cover pyreverse primer rendering
  tests/testutils/_primer/test_pyreverse_primer.py
Due: pylint

Test modification, REVERT BEFORE MERGE!
  pylint/pyreverse/mermaidjs_printer.py
Due: pylint

Revert "Test modification, REVERT BEFORE MERGE!"
  pylint/pyreverse/mermaidjs_printer.py
Due: pylint

Add coverage for primer command selection
  tests/testutils/_primer/test_primer.py
Due: pylint

Updates following design discussion.
  pylint/lint/pylinter.py
  tests/lint/unittest_discover_files.py
Due: pylint

Use NotImplementedError for abstract primer command body
  pylint/testutils/_primer/pyreverse_primer_command.py
Due: pylint

Add tests for prepare selection and comment truncation fallback
  tests/testutils/_primer/test_pyreverse_primer.py
Due: pylint

Fix 'rfind' spelling in test comment
  tests/testutils/_primer/test_pyreverse_primer.py
Due: pylint

Auto-add 'skip news' label to pre-commit.ci PRs
  .github/workflows/label_skip_news.yaml
Due: none

fix: guard against TypeVar without pytype in visit_attribute
  pylint/checkers/typecheck.py
Due: pylint

fix: add missing closing quote in f-string
  pylint/checkers/typecheck.py
Due: pylint

fix: restore typecheck.py with hasattr guard for pytype
  pylint/checkers/typecheck.py
Due: pylint

Emit duplicate constructor doc warning for skipped init
  doc/whatsnew/fragments/6692.bugfix
  pylint/extensions/docparams.py
  tests/functional/ext/docparams/parameter/multiple_constructor_doc_default.py
  tests/functional/ext/docparams/parameter/multiple_constructor_doc_default.rc
  tests/functional/ext/docparams/parameter/multiple_constructor_doc_default.txt
Due: pylint, check-newsfragments

Fix news fragment format
  doc/whatsnew/fragments/6692.bugfix
Due: check-newsfragments

Fix nested-min-max false positive when the inner call has keyword arguments
  doc/whatsnew/fragments/11130.bugfix
  pylint/checkers/nested_min_max.py
  tests/functional/n/nested_min_max.py
  tests/functional/n/nested_min_max.txt
Due: pylint, check-newsfragments

Improve arguments-differ message when parameter totals match
  pylint/checkers/classes/class_checker.py
Due: pylint

Add and update functional tests for arguments-differ message
  tests/functional/a/arguments_differ.txt
  tests/functional/a/arguments_differ_issue5793.py
  tests/functional/a/arguments_differ_issue5793.txt
  tests/functional/a/arguments_renamed.txt
Due: none

Add changelog fragment for issue 5793
  doc/whatsnew/fragments/5793.other
Due: check-newsfragments

Fix `nested-min-max` false positive when the inner call has keyword arguments (#11131)
  doc/whatsnew/fragments/11130.bugfix
  pylint/checkers/nested_min_max.py
  tests/functional/n/nested_min_max.py
  tests/functional/n/nested_min_max.txt
Due: pylint, check-newsfragments

Fix nested-min-max dropping arguments after the splatted call
  doc/whatsnew/fragments/11134.bugfix
  pylint/checkers/nested_min_max.py
  tests/functional/n/nested_min_max.py
  tests/functional/n/nested_min_max.txt
Due: pylint, check-newsfragments

[primer] Add comparator test cases for tricky message pairings
  tests/testutils/_primer/cases/lines_crossed/expected.txt
  tests/testutils/_primer/cases/lines_crossed/expected_comparator.json
  tests/testutils/_primer/cases/lines_crossed/main.json
  tests/testutils/_primer/cases/lines_crossed/pr.json
  tests/testutils/_primer/cases/multiline_message_changed/expected.txt
  tests/testutils/_primer/cases/multiline_message_changed/expected_comparator.json
  tests/testutils/_primer/cases/multiline_message_changed/main.json
  tests/testutils/_primer/cases/multiline_message_changed/pr.json
  tests/testutils/_primer/cases/rename_shadowed_by_unrelated/expected.txt
  tests/testutils/_primer/cases/rename_shadowed_by_unrelated/expected_comparator.json
  tests/testutils/_primer/cases/rename_shadowed_by_unrelated/main.json
  tests/testutils/_primer/cases/rename_shadowed_by_unrelated/pr.json
  tests/testutils/_primer/cases/similar_symbols_not_paired/expected.txt
  tests/testutils/_primer/cases/similar_symbols_not_paired/expected_comparator.json
  tests/testutils/_primer/cases/similar_symbols_not_paired/main.json
  tests/testutils/_primer/cases/similar_symbols_not_paired/pr.json
Due: none

Fix too-many-locals counting PEP 695 type parameters as locals
  doc/whatsnew/fragments/11136.bugfix
  pylint/checkers/design_analysis.py
  tests/functional/t/too/too_many_locals_py312.py
  tests/functional/t/too/too_many_locals_py312.rc
  tests/functional/t/too/too_many_locals_py312.txt
Due: pylint, check-newsfragments

[primer] Add comparator test cases for tricky message pairings (#11137)
  tests/testutils/_primer/cases/lines_crossed/expected.txt
  tests/testutils/_primer/cases/lines_crossed/expected_comparator.json
  tests/testutils/_primer/cases/lines_crossed/main.json
  tests/testutils/_primer/cases/lines_crossed/pr.json
  tests/testutils/_primer/cases/multiline_message_changed/expected.txt
  tests/testutils/_primer/cases/multiline_message_changed/expected_comparator.json
  tests/testutils/_primer/cases/multiline_message_changed/main.json
  tests/testutils/_primer/cases/multiline_message_changed/pr.json
  tests/testutils/_primer/cases/rename_shadowed_by_unrelated/expected.txt
  tests/testutils/_primer/cases/rename_shadowed_by_unrelated/expected_comparator.json
  tests/testutils/_primer/cases/rename_shadowed_by_unrelated/main.json
  tests/testutils/_primer/cases/rename_shadowed_by_unrelated/pr.json
  tests/testutils/_primer/cases/similar_symbols_not_paired/expected.txt
  tests/testutils/_primer/cases/similar_symbols_not_paired/expected_comparator.json
  tests/testutils/_primer/cases/similar_symbols_not_paired/main.json
  tests/testutils/_primer/cases/similar_symbols_not_paired/pr.json
Due: none

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst
