Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

check-newsfragments:
  name: Check newsfragments
  entry: python3 -m script.check_newsfragments
  language: system

Update tests/functional/a/attribute_defined_outside_init.py
  tests/functional/a/attribute_defined_outside_init.py
Due: none

Update pylint/checkers/classes/class_checker.py
  pylint/checkers/classes/class_checker.py
Due: pylint

Rename newsfragment to 11173.bugfix to satisfy check-newsfragments
  doc/whatsnew/fragments/11173.bugfix
Due: check-newsfragments

Unwrap proxied methods instead of using hasattr in comparison checker
  pylint/checkers/base/comparison_checker.py
Due: pylint

Add regression test for #11173
  tests/functional/c/consider/consider_using_dict_items.py
Due: none

Record original message text and removal version for deleted messages
  doc/exts/pylint_messages.py
  pylint/message/_deleted_message_ids.py
Due: pylint

Document permanently deleted messages
  doc/exts/pylint_messages.py
  doc/user_guide/messages/messages_overview.rst
  doc/whatsnew/fragments/6670.other
Due: check-newsfragments

Drop DeletedMessageData wrapper
  doc/exts/pylint_messages.py
  pylint/message/_deleted_message_ids.py
Due: pylint

Tighten deleted-message wording and example text
  doc/exts/pylint_messages.py
  doc/whatsnew/fragments/6670.other
Due: check-newsfragments

Make literalinclude paths cwd-independent
  doc/exts/pylint_messages.py
Due: none

Keep deleted-message doc metadata in the doc extension
  doc/exts/pylint_messages.py
  pylint/message/_deleted_message_ids.py
Due: pylint

Move DeletedMessageData next to DeletedMessage
  doc/exts/pylint_messages.py
  pylint/message/_deleted_message_ids.py
Due: pylint

Add a pre-commit hook turning message symbols into doc links
  .github/workflows/checks.yaml
  .pre-commit-config.yaml
  custom_dict.txt
  doc/whatsnew/fragments/10568.other
  script/check_message_references.py
Due: pylint, check-newsfragments

Apply the new hook to the existing documentation
  doc/faq.rst
  doc/user_guide/usage/output.rst
  doc/whatsnew/0/0.x.rst
  doc/whatsnew/1/1.0.rst
  doc/whatsnew/1/1.1.rst
  doc/whatsnew/1/1.2.rst
  doc/whatsnew/1/1.4.rst
  doc/whatsnew/1/1.5.rst
  doc/whatsnew/1/1.8/full.rst
  doc/whatsnew/2/2.0/full.rst
  doc/whatsnew/2/2.1/full.rst
  doc/whatsnew/2/2.1/summary.rst
  doc/whatsnew/2/2.2/full.rst
  doc/whatsnew/2/2.5/full.rst
  doc/whatsnew/2/2.6/full.rst
  doc/whatsnew/2/2.7/full.rst
  doc/whatsnew/4/4.0/index.rst
  doc/whatsnew/4/4.1/index.rst
  doc/whatsnew/fragments/10743.false_positive
  doc/whatsnew/fragments/3443.performance
  doc/whatsnew/fragments/7819.feature
Due: check-newsfragments

Add regression test for early return before trailing raise
  doc/whatsnew/fragments/11114.false_positive
  tests/functional/a/assignment/assignment_from_no_return.py
Due: check-newsfragments

Restore existing logical tautology cases
  tests/functional/l/logical_tautology.py
  tests/functional/l/logical_tautology.txt
Due: none

fix: correct typo in test function name
  tests/lint/unittest_lint.py
Due: pylint

Don't emit useless-parent-delegation for uninspectable C-level parents
  doc/whatsnew/fragments/9994.false_positive
  pylint/checkers/classes/class_checker.py
  tests/functional/u/useless/useless_parent_delegation.py
  tests/functional/u/useless/useless_parent_delegation.txt
Due: pylint, check-newsfragments

fix: correct typo in test function name (#11212)
  tests/lint/unittest_lint.py
Due: pylint

Detect setattr attributes outside init
  pylint/checkers/classes/class_checker.py
  tests/checkers/unittest_classes.py
  tests/functional/a/attribute_defined_outside_init.py
  tests/functional/a/attribute_defined_outside_init.txt
  tests/regrtest_data/attribute_defined_setattr_parent/child.py
  tests/regrtest_data/attribute_defined_setattr_parent/parent.py
  tests/test_self.py
Due: pylint

Fix unspecified-encoding false positive when mode is not inferable
  doc/whatsnew/fragments/10201.false_positive
  pylint/checkers/stdlib.py
  tests/functional/u/unspecified_encoding_py38.py
Due: pylint, check-newsfragments

Fix false positive for missing-kwoa when kwargs dict keys are inferable
  doc/whatsnew/fragments/10029.false_positive
  pylint/checkers/typecheck.py
  tests/functional/m/missing/missing_kwoa.py
  tests/functional/m/missing/missing_kwoa.txt
Due: pylint, check-newsfragments

Extend comparison-with-itself to identical attribute accesses
  doc/whatsnew/fragments/10713.false_negative
  pylint/checkers/base/comparison_checker.py
  tests/functional/l/logical_tautology.py
  tests/functional/l/logical_tautology.txt
Due: pylint, check-newsfragments

Do not flag ungrouped imports inside OS platform guards
  doc/whatsnew/fragments/10460.false_positive
  pylint/checkers/imports.py
  pylint/checkers/utils.py
  tests/checkers/unittest_utils.py
  tests/functional/u/ungrouped_imports.py
  tests/functional/u/ungrouped_imports.txt
Due: pylint, check-newsfragments

Add invalid-lazy-import for PEP 810 imports Python rejects
  doc/data/messages/i/invalid-lazy-import/bad.py
  doc/data/messages/i/invalid-lazy-import/details.rst
  doc/data/messages/i/invalid-lazy-import/good.py
  doc/data/messages/i/invalid-lazy-import/min_pyver
  doc/data/ruff.toml
  doc/test_messages_documentation.py
  doc/user_guide/checkers/features.rst
  doc/user_guide/messages/messages_overview.rst
  doc/whatsnew/fragments/10982.new_check
  pylint/checkers/imports.py
  tests/functional/i/invalid/invalid_lazy_import.py
  tests/functional/i/invalid/invalid_lazy_import.rc
  tests/functional/i/invalid/invalid_lazy_import.txt
Due: pylint, check-newsfragments

Recognize version guards however sys.version_info is spelled
  doc/whatsnew/fragments/11209.false_positive
  pylint/checkers/imports.py
  pylint/checkers/utils.py
  tests/checkers/unittest_utils.py
  tests/functional/i/import_error.py
Due: pylint, check-newsfragments

Fix crash in consider-using-dict-items on a non-name loop target
  doc/whatsnew/fragments/11173.bugfix
  pylint/checkers/refactoring/recommendation_checker.py
  tests/functional/c/consider/consider_using_dict_items.py
  tests/functional/c/consider/consider_using_dict_items.txt
Due: pylint, check-newsfragments

Only ignore a trailing raise when the function never returns
  pylint/checkers/typecheck.py
  tests/functional/a/assignment/assignment_from_no_return.py
  tests/functional/a/assignment/assignment_from_no_return.txt
Due: pylint

Recognize math.nan, numpy.nan and Decimal("nan") in nan-comparison
  custom_dict.txt
  doc/data/messages/n/nan-comparison/bad.py
  doc/data/messages/n/nan-comparison/good.py
  doc/user_guide/checkers/features.rst
  doc/whatsnew/fragments/11219.bugfix
  pylint/checkers/base/comparison_checker.py
  tests/functional/n/nan_comparison_check.py
  tests/functional/n/nan_comparison_check.txt
Due: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst
