Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

Calculate linter.config.jobs in cgroupsv2 environments (#10089)
  custom_dict.txt
  doc/whatsnew/fragments/10103.bugfix
  pylint/lint/run.py
  tests/test_pylint_runners.py
Due: pylint, check-newsfragments

(bugfix) Issue 10161: Incorrect scenario of unidiomatic-typecheck.
  doc/whatsnew/fragments/10161.false_positive
  pylint/checkers/base/comparison_checker.py
  tests/functional/u/unidiomatic_typecheck.py
  tests/functional/u/unidiomatic_typecheck.txt
Due: pylint, check-newsfragments

🧪 Add a test for implicit ns src root lookup
  tests/pyreverse/test_main.py
Due: pylint

🧪 Add a test for implicit ns src root lookup (#10171)
  tests/pyreverse/test_main.py
Due: pylint

Documentation for https://github.com/pylint-dev/pylint/issues/3995
  doc/user_guide/usage/output.rst
Due: none

`test_handle_force_color_no_color`
  tests/lint/test_pylinter.py
Due: pylint

`towncrier`: `3995.feature`
  doc/whatsnew/fragments/3995.feature
Due: check-newsfragments

Second option for `_is_env_set_and_non_empty`
  pylint/lint/utils.py
Due: pylint

Create `pylinter#_handle_force_color_no_color`
  pylint/lint/pylinter.py
  pylint/reporters/__init__.py
Due: pylint

Create `_is_env_set_and_non_empty`
  pylint/lint/utils.py
  tests/lint/test_utils.py
Due: pylint

fix skipped count calculation
  pylint/lint/expand_modules.py
  pylint/lint/pylinter.py
  pylint/typing.py
  tests/test_self.py
Due: pylint

fix tests; avoid skipped file exploration
  pylint/lint/pylinter.py
  tests/lint/unittest_expand_modules.py
  tests/test_self.py
Due: pylint

use a counter instead of tracking paths
  pylint/lint/pylinter.py
  pylint/utils/linterstats.py
Due: pylint

added news fragment
  doc/whatsnew/fragments/10073.bugfix
Due: check-newsfragments

fix "skipped files" count calculation (#10141)
  doc/whatsnew/fragments/10073.bugfix
  pylint/lint/expand_modules.py
  pylint/lint/pylinter.py
  pylint/typing.py
  pylint/utils/linterstats.py
  tests/lint/unittest_expand_modules.py
  tests/test_self.py
Due: pylint, check-newsfragments

Add new check: unguarded-typing-import
  pylint/checkers/variables.py
  tests/functional/u/unguarded_typing_import.py
  tests/functional/u/unguarded_typing_import.rc
  tests/functional/u/unguarded_typing_import.txt
Due: pylint

add docs faq entry on domain name distinctions
  doc/faq.rst
  doc/whatsnew/fragments/8934.other.rst
Due: check-newsfragments

Remove duplicate code.
  pylint/lint/pylinter.py
Due: pylint

Add simple progress reporting to --verbose flag (#1554)
  pylint/lint/progress_reporters.py
  pylint/lint/pylinter.py
  pylint/lint/run.py
  tests/test_self.py
Due: pylint

Mention that unused-import skips __init__.py files
  doc/data/messages/u/unused-import/details.rst
  doc/data/messages/u/unused-import/related.rst
Due: none

Remove `PY_COLORS`, fix spelling and don't modify in place
  custom_dict.txt
  doc/user_guide/usage/output.rst
  doc/whatsnew/fragments/3995.feature
  pylint/lint/pylinter.py
  tests/lint/test_pylinter.py
  tests/lint/test_utils.py
Due: pylint, check-newsfragments

Follow up to fixes
  pylint/lint/pylinter.py
Due: pylint

Another follow up
  pylint/lint/pylinter.py
Due: pylint

Reuse vars in expected_output.
  tests/test_self.py
Due: pylint

Change method name, increment() to report_file().
  pylint/lint/progress_reporters.py
  pylint/lint/pylinter.py
Due: pylint

Move messages to progress reporter.
  pylint/lint/progress_reporters.py
  pylint/lint/pylinter.py
Due: pylint

Fix mypy.
  pylint/lint/progress_reporters.py
Due: pylint

Apply suggestions from code review
  doc/faq.rst
  doc/whatsnew/fragments/8934.other.rst
Due: check-newsfragments

update faq entry title
  doc/faq.rst
Due: none

Move progress_reporters to pylint/reporters.
  pylint/lint/pylinter.py
  pylint/reporters/progress_reporters.py
Due: pylint

Make sure linting CI passes
  pylint/lint/pylinter.py
Due: pylint

Rename to 'original_reporters'
  pylint/lint/pylinter.py
Due: pylint

Use internal link instead of a URL
  doc/data/messages/u/unused-import/related.rst
Due: none

Mention that unused-import skips __init__.py files (#10179)
  doc/data/messages/u/unused-import/details.rst
  doc/data/messages/u/unused-import/related.rst
Due: none

Use vars in fstring.
  tests/test_self.py
Due: pylint

Move linter verbose setting to args initialization.
  pylint/config/config_initialization.py
  pylint/lint/run.py
  tests/test_self.py
Due: pylint

Revise progress reporter per feedback.
  pylint/config/config_initialization.py
  pylint/lint/pylinter.py
  pylint/reporters/progress_reporters.py
  tests/test_self.py
Due: pylint

Update doc/whatsnew/fragments/3995.feature
  doc/whatsnew/fragments/3995.feature
Due: check-newsfragments
