Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I
  - --load-plugins=pylint.extensions.docparams

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

Follow-up to some test changes (#5685)
  tests/checkers/unittest_unicode/unittest_bad_chars.py
  tests/checkers/unittest_unicode/unittest_bidirectional_unicode.py
  tests/checkers/unittest_unicode/unittest_invalid_encoding.py
  tests/conftest.py
Due: pylint

Fix typing of get_node_first_ancestor_type() and related method
  pylint/checkers/utils.py
Due: pylint

Fix typing of get_node_first_ancestor_of_type() and related method (#5686)
  pylint/checkers/utils.py
Due: pylint

Added tests for --recursive option
  tests/regrtest_data/directory/package/__init__.py
  tests/regrtest_data/directory/package/module.py
  tests/regrtest_data/directory/package/subpackage/__init__.py
  tests/regrtest_data/directory/package/subpackage/module.py
  tests/regrtest_data/directory/subdirectory/module.py
  tests/regrtest_data/directory/subdirectory/subsubdirectory/module.py
  tests/test_self.py
Due: pylint

Added comments, types and make linters happy
  pylint/lint/pylinter.py
Due: pylint

Updated Changelog and whatsnew
  ChangeLog
  doc/whatsnew/2.13.rst
Due: fix-documentation

Improved help message
  pylint/lint/pylinter.py
Due: pylint

Fix #5568: Allow nested classes as return annotations
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/variables.py
  tests/functional/u/undefined/undefined_variable.py
Due: pylint, fix-documentation

Add link to GitHub issue
  tests/functional/u/undefined/undefined_variable.py
Due: none

Allow dev version of next minor ``astroid`` version
  setup.cfg
Due: none

Allow dev version of next minor ``astroid`` version (#5689)
  setup.cfg
Due: none

Fix #5568: Allow nested classes as return annotations (#5688)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/variables.py
  tests/functional/u/undefined/undefined_variable.py
Due: pylint, fix-documentation

Add checker `redefined-slots-in-subclass` (#5640)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/classes/class_checker.py
  tests/functional/r/redefined_slots.py
  tests/functional/r/redefined_slots.txt
Due: pylint, fix-documentation

Mention --recursive option in faq and user guide
  doc/faq.rst
  doc/user_guide/run.rst
Due: none

Fixed false positive for ``global-variable-undefined`` when ``global`` is used with a class name
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/utils.py
  pylint/checkers/variables.py
  tests/functional/g/globals.py
  tests/functional/g/globals.txt
Due: pylint, fix-documentation

Fix typos
  doc/faq.rst
  doc/user_guide/run.rst
Due: none

Update ChangeLog
  ChangeLog
Due: fix-documentation

Fixed false positive for ``global-variable-undefined`` (#5690)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/utils.py
  pylint/checkers/variables.py
  tests/functional/g/globals.py
  tests/functional/g/globals.txt
Due: pylint, fix-documentation

Rough initial implementation of typecheck attribute caching
  pylint/checkers/typecheck.py
Due: pylint

Add tests for #4826
  ChangeLog
  doc/whatsnew/2.13.rst
  tests/functional/n/no/no_member_binary_operations.py
Due: fix-documentation

Fix false positive ``super-init-not-called`` for inherited ``init``
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/classes/class_checker.py
  tests/functional/s/super/super_init_not_called.py
  tests/functional/s/super/super_init_not_called.txt
Due: pylint, fix-documentation

Fix ``super-init-not-called`` if parent or ``self`` is a ``Protocol``
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/classes/class_checker.py
  tests/functional/s/super/super_init_not_called.py
  tests/functional/s/super/super_init_not_called.txt
Due: pylint, fix-documentation

Remove useless suppressed messages
  pylint/checkers/imports.py
  pylint/checkers/stdlib.py
Due: pylint

Apply suggestions from code review
  tests/functional/s/super/super_init_not_called.py
  tests/functional/s/super/super_init_not_called.txt
Due: none

Update pylint/checkers/classes/class_checker.py
  pylint/checkers/classes/class_checker.py
Due: pylint

Update test outputs
  tests/functional/i/init_not_called.txt
  tests/functional/n/non/non_init_parent_called.txt
Due: none

Use --recursive=y/n instead of just --recursive
  doc/faq.rst
  doc/user_guide/run.rst
  pylint/lint/pylinter.py
  tests/test_self.py
Due: pylint

Update tests
  tests/functional/s/super/super_init_not_called.py
  tests/functional/s/super/super_init_not_called.txt
  tests/functional/s/super/super_init_not_called_py38.py
  tests/functional/s/super/super_init_not_called_py38.rc
Due: none

Update tests again
  pylint/checkers/classes/class_checker.py
Due: pylint

Improve coverage
  pylint/checkers/classes/class_checker.py
  tests/functional/s/super/super_init_not_called.py
Due: pylint

Update tests
  tests/functional/s/super/super_init_not_called.py
  tests/functional/s/super/super_init_not_called.txt
Due: none

Fixed false positive for ``unused-variable`` when a `nonlocal` name is assigned as part of a multi-name assignment.
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/variables.py
  tests/functional/u/undefined/undefined_variable.py
Due: pylint, fix-documentation

Move test to a more logical location
  tests/functional/n/nonlocal_without_binding.py
  tests/functional/u/undefined/undefined_variable.py
Due: none

Update test variable naming (redefined-outer-name)
  tests/functional/n/nonlocal_without_binding.py
Due: none

``unused-variable`` when `nonlocal` name in a multiple-assignment (#5700)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/variables.py
  tests/functional/n/nonlocal_without_binding.py
Due: pylint, fix-documentation

Enable recursive mode when pylint is executed over current directory
  doc/faq.rst
  doc/user_guide/run.rst
  pylint/lint/pylinter.py
  tests/test_self.py
Due: pylint

Check for illegal usages of names used as type annotations
  pylint/extensions/private_import.py
  tests/functional/ext/private_import/private_import.py
  tests/functional/ext/private_import/private_import.txt
Due: pylint

Allow a private module import if all imported objects are type checks
  pylint/extensions/private_import.py
  tests/functional/ext/private_import/private_import.py
  tests/functional/ext/private_import/private_import.txt
Due: pylint

Explicitly avoid checking args on Properties
  pylint/extensions/private_import.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
  fix-documentation: any of: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
