Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

.pre-commit-config.yaml:

ci:
  skip: [pylint]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
        exclude: "tests/functional/t/trailing_whitespaces.py"
      - id: end-of-file-fixer
        exclude: "tests/functional/m/missing/missing_final_newline.py|tests/functional/t/trailing_newlines.py"
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
      - id: autoflake
        exclude: &fixtures tests/functional/|tests/input|tests/regrtest_data/|tests/data/
        args:
          - --in-place
          - --remove-all-unused-imports
          - --expand-star-imports
          - --remove-duplicate-keys
          - --remove-unused-variables
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.29.1
    hooks:
      - id: pyupgrade
        args: [--py36-plus]
        exclude: *fixtures
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 21.11b1
    hooks:
      - id: black
        args: [--safe, --quiet]
        exclude: *fixtures
  - repo: https://github.com/Pierre-Sassoulas/black-disable-checker/
    rev: 1.0.1
    hooks:
      - id: black-disable-checker
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies: [flake8-typing-imports==1.10.1]
        exclude: *fixtures
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "-rn",
            "-sn",
            "--rcfile=pylintrc",
            "--fail-on=I",
            "--load-plugins=pylint.extensions.docparams",
          ]
        # disabled plugins: pylint.extensions.mccabe
        exclude: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
      - id: fix-documentation
        name: Fix documentation
        entry: python3 -m script.fix_documentation
        language: system
        types: [text]
        files: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
  - repo: https://github.com/myint/rstcheck
    rev: "3f92957478422df87bd730abde66f089cc1ee19b"
    hooks:
      - id: rstcheck
        args: ["--ignore-roles=func,class,mod", "--report=warning"]
        types: [text] # necessary to include ChangeLog file
        files: ^(ChangeLog|doc/(.*/)*.*\.rst)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910-1
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: python
        types: [python]
        args: []
        require_serial: true
        additional_dependencies:
          ["platformdirs==2.2.0", "types-pkg_resources==0.1.3", "types-toml==0.1.3"]
        exclude: tests/functional/|tests/input|tests(/.*)*/data|tests/regrtest_data/|tests/data/|tests(/.*)+/conftest.py|doc/|bin/
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.4.1
    hooks:
      - id: prettier
        args: [--prose-wrap=always, --print-width=88]

Add nodes.Compare
  pylint/checkers/variables.py
  tests/functional/u/used/used_before_assignment_comprehension_homonyms.py
Due: pylint

Move try block upwards
  pylint/checkers/typecheck.py
Due: pylint

Add nodes.BaseContainer
  pylint/checkers/variables.py
  tests/functional/u/used/used_before_assignment_comprehension_homonyms.py
Due: pylint

Add nodes.BinOp
  pylint/checkers/variables.py
  tests/functional/u/used/used_before_assignment_comprehension_homonyms.py
Due: pylint

Move doc to 2.14
  ChangeLog
  doc/whatsnew/2.13.rst
  doc/whatsnew/2.14.rst
Due: fix-documentation

Move error to new file and change confidence to HIGH
  pylint/checkers/base/basic_checker.py
  tests/functional/d/duplicate_value.txt
Due: pylint

Add documentation for the new error
  doc/data/messages/d/duplicate-value/bad.py
  doc/data/messages/d/duplicate-value/details.rst
  doc/data/messages/d/duplicate-value/good.py
Due: none

Alternative solution
  pylint/checkers/variables.py
Due: pylint

Rename private method
  pylint/checkers/variables.py
Due: pylint

Add ``redefined-slots-in-subclass`` documentation examples
  doc/data/messages/r/redefined-slots-in-subclass/bad.py
  doc/data/messages/r/redefined-slots-in-subclass/good.py
Due: none

Add ``redefined-slots-in-subclass`` documentation examples (#6079)
  doc/data/messages/r/redefined-slots-in-subclass/bad.py
  doc/data/messages/r/redefined-slots-in-subclass/good.py
Due: none

Add documentation examples for ``overridden-final-method`` checker
  doc/data/messages/o/overridden-final-method/bad.py
  doc/data/messages/o/overridden-final-method/details.rst
  doc/data/messages/o/overridden-final-method/good.py
  doc/data/messages/o/overridden-final-method/related.rst
Due: none

Add the perflint extension to the pylintrc
  pylintrc
  requirements_test.txt
Due: none

[performance] Use for v in *.values() instead of _, v in *.items()
  pylint/checkers/refactoring/refactoring_checker.py
  pylintrc
  tests/pyreverse/test_utils.py
Due: pylint

Narrow the scope of the ``unnecessary-ellipsis`` checker to functions & classes which contain both a docstring and an ellipsis.
  ChangeLog
  pylint/checkers/ellipsis_checker.py
  tests/functional/u/unnecessary/unnecessary_ellipsis.py
  tests/functional/u/unnecessary/unnecessary_ellipsis.txt
Due: pylint, fix-documentation

Add example for `duplicate-argument-name`
  doc/data/messages/d/duplicate-argument-name/bad.py
  doc/data/messages/d/duplicate-argument-name/details.rst
  doc/data/messages/d/duplicate-argument-name/good.py
  doc/data/messages/d/duplicate-argument-name/related.rst
Due: none

add new line in bad.py
  doc/data/messages/d/duplicate-argument-name/bad.py
Due: none

fix Issue Tracker link
  doc/data/messages/d/duplicate-argument-name/related.rst
Due: none

fix link issue and add error
  doc/data/messages/d/duplicate-argument-name/details.rst
  doc/data/messages/d/duplicate-argument-name/related.rst
Due: none

fix repl symbol
  doc/data/messages/d/duplicate-argument-name/details.rst
Due: none

remove duplicate information
  doc/data/messages/d/duplicate-argument-name/details.rst
Due: none

add `.contributors_aliases.json`
  script/.contributors_aliases.json
Due: none

Add example for `duplicate-bases` message documentation
  doc/data/messages/d/duplicate-bases/bad.py
  doc/data/messages/d/duplicate-bases/details.rst
  doc/data/messages/d/duplicate-bases/good.py
  doc/data/messages/d/duplicate-bases/related.rst
Due: none

delete other file
  doc/data/messages/d/duplicate-argument-name/bad.py
  doc/data/messages/d/duplicate-argument-name/details.rst
  doc/data/messages/d/duplicate-argument-name/good.py
  doc/data/messages/d/duplicate-argument-name/related.rst
Due: none

fix contributor list
  script/.contributors_aliases.json
Due: none

add `furo themes` and change default theme
  doc/conf.py
  doc/requirements.txt
Due: none

Add examples for bad-format-character
  doc/data/messages/b/bad-format-character/bad.py
  doc/data/messages/b/bad-format-character/details.rst
  doc/data/messages/b/bad-format-character/good.py
  doc/data/messages/b/bad-format-character/related.rst
Due: none

Co-authored-by: Vladyslav Krylasov <vladyslav.krylasov@gmail.com> Add examples for bad-format-character
  doc/data/messages/b/bad-format-character/bad.py
  doc/data/messages/b/bad-format-character/details.rst
  doc/data/messages/b/bad-format-character/good.py
  doc/data/messages/b/bad-format-character/related.rst
Due: none

Examples for ``bad-format-character`` (#6086)
  doc/data/messages/b/bad-format-character/bad.py
  doc/data/messages/b/bad-format-character/details.rst
  doc/data/messages/b/bad-format-character/good.py
  doc/data/messages/b/bad-format-character/related.rst
Due: none

Documentation examples for ``bad-option-value``
  doc/data/messages/b/bad-option-value/bad.py
  doc/data/messages/b/bad-option-value/good.py
Due: none

Add examples for ``bad-str-strip-call``
  doc/data/messages/b/bad-str-strip-call/bad.py
  doc/data/messages/b/bad-str-strip-call/details.rst
  doc/data/messages/b/bad-str-strip-call/good.py
  doc/data/messages/b/bad-str-strip-call/related.rst
Due: none

Delete related.rst
  doc/data/messages/d/duplicate-bases/related.rst
Due: none

Update class_checker.py
  pylint/checkers/classes/class_checker.py
Due: pylint

Delete details.rst
  doc/data/messages/d/duplicate-bases/details.rst
Due: none

Update pylint/checkers/classes/class_checker.py
  pylint/checkers/classes/class_checker.py
Due: pylint

Update doc/data/messages/d/duplicate-bases/bad.py
  doc/data/messages/d/duplicate-bases/bad.py
Due: none

Remove a cosmetic/semantic base class in the basic checker nebula
  pylint/checkers/base/basic_checker.py
  pylint/checkers/base/basic_error_checker.py
  pylint/checkers/base/comparison_checker.py
  pylint/checkers/base/docstring_checker.py
  pylint/checkers/base/name_checker/checker.py
  pylint/checkers/base/pass_checker.py
Due: pylint

Add example for `duplicate-bases` message documentation (#6083)
  doc/data/messages/d/duplicate-bases/bad.py
  doc/data/messages/d/duplicate-bases/good.py
  pylint/checkers/classes/class_checker.py
Due: pylint

add example for `duplicate-key`
  doc/data/messages/d/duplicate-key/bad.py
  doc/data/messages/d/duplicate-key/good.py
  doc/data/messages/d/duplicate-key/related.rst
Due: none
