Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

Cope with move of `safe_infer` in astroid
  pylint/checkers/typecheck.py
Due: pylint

Update test results
  tests/functional/c/consider/consider_using_f_string.txt
Due: none

[primer] Skip regenerate cache step for cache hits
  .github/workflows/primer_run_main.yaml
Due: none

Fix expected output?
  tests/functional/c/consider/consider_using_f_string.txt
Due: none

Remove useless disable in code removed on main
  tests/test_epylint.py
Due: pylint

[Backport maintenance/2.17.x] Avoid `consider-using-f-string` on modulos with brackets in template … (#8836)
  doc/whatsnew/fragments/8720.bugfix
  pylint/checkers/refactoring/recommendation_checker.py
  tests/functional/c/consider/consider_using_f_string.py
  tests/functional/c/consider/consider_using_f_string.txt
  tests/functional/r/regression_02/regression_8109.py
  tests/functional/r/regression_02/regression_8109.txt
  tests/test_epylint.py
Due: pylint, check-newsfragments

Use Try node
  pylint/checkers/base/basic_checker.py
  pylint/checkers/base/basic_error_checker.py
  pylint/checkers/design_analysis.py
  pylint/checkers/exceptions.py
  pylint/checkers/format.py
  pylint/checkers/imports.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/utils.py
  pylint/checkers/variables.py
  pylint/extensions/broad_try_clause.py
  pylint/extensions/mccabe.py
  pylint/extensions/overlapping_exceptions.py
  tests/functional/a/async_functions.py
  tests/functional/a/async_functions.txt
  tests/functional/ext/broad_try_clause/broad_try_clause_extension.txt
  tests/functional/ext/mccabe/mccabe.py
  tests/functional/ext/mccabe/mccabe.txt
  tests/functional/t/too/too_many_branches.py
  tests/functional/u/used/used_before_assignment_issue2615.py
  tests/pyreverse/functional/class_diagrams/colorized_output/colorized.puml
Due: pylint

Fix test
  tests/lint/unittest_lint.py
Due: pylint

Bump astroid to 3.0.0a7
  pyproject.toml
  requirements_test_min.txt
Due: none

Update pyreverse expected output
  tests/pyreverse/functional/class_diagrams/colorized_output/custom_colors.dot
  tests/pyreverse/functional/class_diagrams/colorized_output/custom_colors.puml
Due: none

[primer] Skip regenerate cache step for cache hits (#8837)
  .github/workflows/primer_run_main.yaml
Due: none

Optimize parallel runs when `--cyclic-import` disabled
  pylint/checkers/imports.py
  tests/test_check_parallel.py
Due: pylint

fixup! Optimize
  tests/test_check_parallel.py
Due: pylint

Also short-circuit in get_map_data()
  pylint/checkers/imports.py
Due: pylint

Optimize parallel runs when `cyclic-import` disabled (#8838)
  pylint/checkers/imports.py
  tests/test_check_parallel.py
Due: pylint

Add news
  doc/whatsnew/fragments/7767.false_positive
Due: check-newsfragments

Add more news
  doc/whatsnew/fragments/7767.breaking
Due: check-newsfragments

Use `Try` node (#7767)
  doc/whatsnew/fragments/7767.breaking
  doc/whatsnew/fragments/7767.false_positive
  pylint/checkers/base/basic_checker.py
  pylint/checkers/base/basic_error_checker.py
  pylint/checkers/design_analysis.py
  pylint/checkers/exceptions.py
  pylint/checkers/format.py
  pylint/checkers/imports.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/utils.py
  pylint/checkers/variables.py
  pylint/extensions/broad_try_clause.py
  pylint/extensions/mccabe.py
  pylint/extensions/overlapping_exceptions.py
  pyproject.toml
  requirements_test_min.txt
  tests/functional/a/async_functions.py
  tests/functional/a/async_functions.txt
  tests/functional/ext/broad_try_clause/broad_try_clause_extension.txt
  tests/functional/ext/mccabe/mccabe.py
  tests/functional/ext/mccabe/mccabe.txt
  tests/functional/t/too/too_many_branches.py
  tests/functional/u/used/used_before_assignment_issue2615.py
  tests/lint/unittest_lint.py
  tests/pyreverse/functional/class_diagrams/colorized_output/colorized.puml
  tests/pyreverse/functional/class_diagrams/colorized_output/custom_colors.dot
  tests/pyreverse/functional/class_diagrams/colorized_output/custom_colors.puml
Due: pylint, check-newsfragments

Fix crash from assignment
  pylint/checkers/variables.py
Due: pylint

Add test
  tests/functional/u/used/used_before_assignment.py
Due: none

Add changelog
  doc/whatsnew/fragments/8754.bugfix
Due: check-newsfragments

Avoid blaming formatting commits
  .git-blame-ignore-revs
Due: none

Pyreverse: Use dashed lines for type-checking imports (#8824)
  doc/whatsnew/fragments/8112.feature
  pylint/pyreverse/diagrams.py
  pylint/pyreverse/dot_printer.py
  pylint/pyreverse/inspector.py
  pylint/pyreverse/mermaidjs_printer.py
  pylint/pyreverse/plantuml_printer.py
  pylint/pyreverse/printer.py
  pylint/pyreverse/writer.py
  tests/pyreverse/data/classes_type_check_imports.dot
  tests/pyreverse/data/packages_type_check_imports.dot
  tests/pyreverse/functional/package_diagrams/__init__.py
  tests/pyreverse/functional/package_diagrams/type_check_imports/__init__.py
  tests/pyreverse/functional/package_diagrams/type_check_imports/mod_a.py
  tests/pyreverse/functional/package_diagrams/type_check_imports/mod_b.py
  tests/pyreverse/functional/package_diagrams/type_check_imports/mod_c.py
  tests/pyreverse/functional/package_diagrams/type_check_imports/mod_d.py
  tests/pyreverse/functional/package_diagrams/type_check_imports/packages.mmd
  tests/pyreverse/test_writer.py
Due: pylint, check-newsfragments

Observe specific enables/disables even if followed by "all" (#8819)
  doc/whatsnew/fragments/3696.breaking
  pylint/config/config_initialization.py
  tests/config/functional/toml/toml_with_mutually_exclusive_disable_enable_all.toml
  tests/config/functional/toml/toml_with_specific_disable_before_enable_all.toml
  tests/config/functional/toml/toml_with_specific_enable_before_disable_all.toml
  tests/config/test_config.py
  tests/config/test_functional_config_loading.py
  tests/regrtest_data/fixme.py
  tests/test_self.py
Due: pylint, check-newsfragments

Fix crash from unexpected assignment (#8839)
  doc/whatsnew/fragments/8754.bugfix
  pylint/checkers/variables.py
  tests/functional/u/used/used_before_assignment.py
Due: pylint, check-newsfragments

Fix crash from unexpected assignment (#8839) (#8843)
  doc/whatsnew/fragments/8754.bugfix
  pylint/checkers/variables.py
  tests/functional/u/used/used_before_assignment.py
Due: pylint, check-newsfragments

renamed unneeded-not
  .gitignore
  doc/data/messages/u/unnecessary-negation/bad.py
  doc/data/messages/u/unnecessary-negation/good.py
  doc/data/messages/u/unneeded-not/bad.py
  doc/data/messages/u/unneeded-not/good.py
  doc/whatsnew/fragments/8789.other
  pylint/checkers/refactoring/not_checker.py
  tests/functional/u/unnecessary/unnecessary_negation.py
  tests/functional/u/unnecessary/unnecessary_negation.txt
  tests/functional/u/unnecessary/unnecessary_not.py
  tests/functional/u/unnecessary/unnecessary_not.txt
Due: pylint, check-newsfragments

grace's first change
  tox.ini
Due: none

docs: fix typo in implicit booleaness checker description.
  doc/user_guide/checkers/features.rst
  pylint/checkers/refactoring/implicit_booleaness_checker.py
Due: pylint

Bump astroid to 2.15.6
  pyproject.toml
  requirements_test_min.txt
Due: none

Bump astroid to 2.15.6 (#8849)
  pyproject.toml
  requirements_test_min.txt
Due: none

Spruce up 3.0 changelog fragments
  doc/whatsnew/fragments/1954.performance
  doc/whatsnew/fragments/6306.breaking
  doc/whatsnew/fragments/6871.user_action
  doc/whatsnew/fragments/8411.user_action
  doc/whatsnew/fragments/8412.internal
  doc/whatsnew/fragments/8433.internal
  doc/whatsnew/fragments/8462.breaking
  doc/whatsnew/fragments/8463.internal
  doc/whatsnew/fragments/8465.user_action
  doc/whatsnew/fragments/8475.internal
Due: check-newsfragments

Fix type annotation
  pylint/checkers/refactoring/refactoring_checker.py
Due: pylint

used old name system for unneeded-not
  pylint/checkers/refactoring/not_checker.py
Due: pylint

Simulate legacy editable_mode=compat
  pyproject.toml
Due: none

Do not upgrade the primer's upper bound yet
  .github/workflows/primer_run_main.yaml
Due: none
