Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --load-plugins=pylint.extensions.docparams

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

Update option_manager_mixin.py
  pylint/config/option_manager_mixin.py
Due: pylint

Remove unnecessary specializations of ``DiagramWriter``
  pylint/pyreverse/dot_printer.py
  pylint/pyreverse/main.py
  pylint/pyreverse/writer.py
  tests/unittest_pyreverse_writer.py
Due: pylint

Update test_config.py
  tests/test_config.py
Due: pylint

Update CONTRIBUTORS.txt
  CONTRIBUTORS.txt
Due: none

Update ChangeLog
  ChangeLog
Due: fix-documentation

Refactor to reduce indentation
  pylint/pyreverse/vcg_printer.py
Due: pylint

Move logic for constructing the label from ``DiagramWriter`` into the ``Printer`` classes. The writers should only dictate WHAT to write, and the printers are responsible for the HOW.
  pylint/pyreverse/dot_printer.py
  pylint/pyreverse/printer.py
  pylint/pyreverse/vcg_printer.py
  pylint/pyreverse/writer.py
Due: pylint

Refactor to reduce indentation and pull all "label building" logic together
  pylint/pyreverse/dot_printer.py
Due: pylint

Move tests for ``pyreverse`` into a own subdirectory.
  tests/pyreverse/data/classes_No_Name.dot
  tests/pyreverse/data/classes_No_Name.vcg
  tests/pyreverse/data/packages_No_Name.dot
  tests/pyreverse/data/packages_No_Name.vcg
  tests/pyreverse/unittest_pyreverse_diadefs.py
  tests/pyreverse/unittest_pyreverse_inspector.py
  tests/pyreverse/unittest_pyreverse_writer.py
Due: pylint

Rename test files to follow the same conventions as other test modules
  tests/pyreverse/test_diadefs.py
  tests/pyreverse/test_inspector.py
  tests/pyreverse/test_writer.py
Due: pylint

Extract tests for ``pylint.pyreverse.utils`` into own test module.
  tests/pyreverse/test_utils.py
  tests/pyreverse/test_writer.py
Due: pylint

Extract commonly used test helpers into ``conftest.py`` and a testutils component.
  .pre-commit-config.yaml
  pylint/testutils/pyreverse.py
  tests/pyreverse/conftest.py
  tests/pyreverse/test_diadefs.py
  tests/pyreverse/test_inspector.py
  tests/pyreverse/test_writer.py
Due: pylint

Add tests for ``Printer`` classes which are not covered yet implicitly through ``test_writer``
  tests/pyreverse/test_printer.py
Due: pylint

Use ``default_factory`` for mutable attribute.
  tests/pyreverse/conftest.py
Due: pylint

Use custom class, as ``dataclasses`` was only introduced in Python 3.7. NamedTuple is not possible as some tests modify the instance attributes.
  tests/pyreverse/conftest.py
Due: pylint

Update license link to point to main, not master
  pylint/testutils/pyreverse.py
  tests/pyreverse/test_printer.py
Due: pylint

Convert ``get_project`` to a fixture instead of implementing it under ``pylint.testutils.pyreverse``.
  pylint/testutils/pyreverse.py
  tests/pyreverse/conftest.py
  tests/pyreverse/test_diadefs.py
  tests/pyreverse/test_inspector.py
  tests/pyreverse/test_writer.py
Due: pylint

Add a regression test for #4823
  tests/functional/c/class_attributes.py
Due: none

Fix bugs in W0640 cell-var-from-loop checker.
  ChangeLog
  doc/whatsnew/2.10.rst
  pylint/checkers/utils.py
  pylint/checkers/variables.py
  tests/functional/c/cellvar_escaping_loop.py
  tests/functional/c/cellvar_escaping_loop.txt
  tests/functional/c/consider/consider_using_enumerate.py
Due: pylint, fix-documentation

Fix cell-var-from-loop dependency on other checks.
  ChangeLog
  doc/whatsnew/2.10.rst
  pylint/checkers/variables.py
Due: pylint, fix-documentation

Fix false positives for invalid-all-format (#4711)
  pylint/checkers/variables.py
  tests/functional/i/invalid/invalid_all_format_valid_3.py
  tests/functional/i/invalid/invalid_all_format_valid_4.py
Due: pylint

Add other files
  .history/CONTRIBUTORS_20210811140825.txt
  .history/CONTRIBUTORS_20210811142144.txt
  .history/ChangeLog_20210811140825
  .history/ChangeLog_20210811142339
Due: none

delete vscode files
  .history/CONTRIBUTORS_20210811140825.txt
  .history/CONTRIBUTORS_20210811142144.txt
  .history/ChangeLog_20210811140825
  .history/ChangeLog_20210811142339
Due: none

Fix false positives for invalid-all-format (#4711) (#4829)
  CONTRIBUTORS.txt
  ChangeLog
  pylint/checkers/variables.py
  tests/functional/i/invalid/invalid_all_format_valid_3.py
  tests/functional/i/invalid/invalid_all_format_valid_4.py
Due: pylint, fix-documentation

Fix the link to the discord server in the doc
  doc/development_guide/contribute.rst
Due: none

Fix the link to the discord server in the doc (#4830)
  doc/development_guide/contribute.rst
Due: none

Update option_manager_mixin.py - issue 3839 (#4812)
  CONTRIBUTORS.txt
  ChangeLog
  pylint/config/option_manager_mixin.py
  tests/test_config.py
Due: pylint, fix-documentation

Skip docparams checker on nodes within exempted functions.
  pylint/extensions/docparams.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
  fix-documentation: any of: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
