Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

check-newsfragments:
  name: Check newsfragments
  entry: python3 -m script.check_newsfragments
  language: system

Fix false positive method-hidden for bare cached_property import
  pylint/checkers/classes/class_checker.py
Due: pylint

Extract NotImplemented guard and explain why it is special-cased
  pylint/checkers/variables.py
Due: pylint

Bump default python to 3.14
  .github/workflows/changelog.yml
  .github/workflows/checks.yaml
  .github/workflows/primer_comment.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/primer_run_pr.yaml
  .github/workflows/release.yml
  .github/workflows/tests.yaml
Due: none

Fix crash in variables checker on `NotImplemented` test (#11025)
  doc/whatsnew/fragments/11025.bugfix
  pylint/checkers/variables.py
  tests/functional/r/regression_02/regression_11025.py
  tests/functional/r/regression_02/regression_11025.txt
Due: pylint, check-newsfragments

Fix false positive method-hidden for bare cached_property import (#11037)
  doc/whatsnew/fragments/11037.false_positive
  pylint/checkers/classes/class_checker.py
  tests/functional/m/method_hidden.py
  tests/functional/m/method_hidden.txt
Due: pylint, check-newsfragments

Handle nested f-string format specs and uncaught UnsupportedFormatCharacter
  pylint/checkers/refactoring/recommendation_checker.py
  pylint/checkers/strings.py
  tests/checkers/unittest_utils.py
  tests/functional/s/string/string_formatting_error.txt
Due: pylint

Drop TODO comment from format-spec test case
  tests/functional/s/string/string_formatting.py
Due: none

Type-annotate the new format parsing helpers and reduce duplication
  doc/whatsnew/fragments/6163.false_negative
  pylint/checkers/logging.py
  pylint/checkers/strings.py
  pylint/checkers/utils.py
  tests/checkers/unittest_utils.py
Due: pylint, check-newsfragments

Fix NameError in logging checker after parse_format_method_string rename
  pylint/checkers/logging.py
Due: pylint

Tighten format parsing return types from `Any` to `str | None`
  pylint/checkers/utils.py
Due: pylint

Fix crash when ``NotImplemented`` is used as an ``if`` test (#11026)
  doc/whatsnew/fragments/11025.bugfix
  pylint/checkers/variables.py
  tests/functional/r/regression_02/regression_11025.py
  tests/functional/r/regression_02/regression_11025.txt
Due: pylint, check-newsfragments

Treat bool as int for bad-string-format-type
  doc/whatsnew/fragments/11041.bugfix
  pylint/checkers/strings.py
  tests/functional/b/bad_string_format_type.py
  tests/functional/b/bad_string_format_type.txt
Due: pylint, check-newsfragments

Skip format spec validation when arg has custom __format__
  doc/whatsnew/fragments/11041-custom-format.false_positive
  pylint/checkers/strings.py
  tests/functional/s/string/string_formatting_error.py
Due: pylint, check-newsfragments

Validate f-string specs per FormattedValue via astroid
  doc/whatsnew/fragments/11041-fstring-parser.false_positive
  pylint/checkers/strings.py
  pylint/checkers/utils.py
  tests/functional/s/string/string_formatting_error.py
  tests/functional/s/string/string_formatting_error.txt
Due: pylint, check-newsfragments

Drop changelog fragments for fixes to the unreleased PR
  doc/whatsnew/fragments/11041-custom-format.false_positive
  doc/whatsnew/fragments/11041-fstring-parser.false_positive
  doc/whatsnew/fragments/11041.bugfix
Due: check-newsfragments

Gate PEP 701 f-string test on Python 3.12+
  tests/functional/s/string/string_formatting_error.py
  tests/functional/s/string/string_formatting_error_py312.py
  tests/functional/s/string/string_formatting_error_py312.rc
Due: none

Use spec-relative indices for f-string bad-format-character
  pylint/checkers/strings.py
  tests/functional/s/string/string_formatting_error.txt
Due: pylint

Add unit and functional tests for format-spec parsing
  tests/checkers/unittest_utils.py
  tests/functional/s/string/string_formatting_error.py
Due: pylint

Cover the remaining PR-added lines in strings.py / utils.py
  pylint/checkers/strings.py
  pylint/checkers/utils.py
  tests/checkers/unittest_utils.py
  tests/functional/s/string/string_formatting_error.py
  tests/functional/s/string/string_formatting_error.txt
Due: pylint

Fix CI: mypy generic types, spell-check, useless disable
  custom_dict.txt
  pylint/checkers/strings.py
  pylint/checkers/utils.py
  tests/checkers/unittest_utils.py
Due: pylint

Rewrite test comments in terms of behaviour, not internals
  tests/functional/s/string/string_formatting_error.py
  tests/functional/s/string/string_formatting_error.txt
Due: none

Use new-style format rules for explicit positional .format() args
  pylint/checkers/strings.py
Due: pylint

Add explicit-pos parity regression test
  tests/functional/s/string/string_formatting_error.py
  tests/functional/s/string/string_formatting_error.txt
Due: none

Match Marc's review suggestion structure
  pylint/checkers/base/name_checker/checker.py
Due: pylint

Consolidate ``nodes.Const`` guard in ``_check_typevar``
  pylint/checkers/base/name_checker/checker.py
Due: pylint

Revert "Match Marc's review suggestion structure"
  pylint/checkers/base/name_checker/checker.py
Due: pylint

Fix crash on non-constant ``TypeVar`` variance argument
  doc/whatsnew/fragments/11022.bugfix
  pylint/checkers/base/name_checker/checker.py
  tests/functional/r/regression_02/regression_11022.py
Due: pylint, check-newsfragments

Pin PyPy 3.11 to avoid astroid bootstrap failure (#10999)
  .github/workflows/tests.yaml
Due: none

Fix crash on non-constant ``TypeVar`` variance argument (#11027)
  doc/whatsnew/fragments/11022.bugfix
  pylint/checkers/base/name_checker/checker.py
  tests/functional/r/regression_02/regression_11022.py
Due: pylint, check-newsfragments

Pin PyPy 3.11 to avoid astroid bootstrap failure (#10999) (#11044)
  .github/workflows/tests.yaml
Due: none

[cleanup] Remove behavior that is in argparse already
  pylint/config/arguments_manager.py
Due: pylint

Address review feedback
  doc/whatsnew/fragments/5701.breaking
  pylint/lint/run.py
Due: pylint, check-newsfragments

Make 'pylint' equivalent to 'pylint .'
  doc/whatsnew/fragments/5701.breaking
  pylint/lint/pylinter.py
  pylint/lint/run.py
  tests/test_self.py
Due: pylint, check-newsfragments

Fix ``function-redefined`` false positive for names matching ``dummy-variables-rgx``
  doc/whatsnew/fragments/10665.false_positive
  pylint/checkers/base/basic_error_checker.py
  tests/functional/f/function_redefined.py
  tests/functional/f/function_redefined_private_function.py
  tests/functional/f/function_redefined_private_function.txt
Due: pylint, check-newsfragments

Fix false positive ``invalid-name`` for ``typing_extensions.TypeAlias``
  doc/whatsnew/fragments/11013.false_positive
  pylint/checkers/base/name_checker/checker.py
  tests/functional/r/regression_11/regression_11013.py
Due: pylint, check-newsfragments

[diagnostic] test #9168 cyclic-import detection across platforms
  tests/lint/test_cyclic_import_9168.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst
