Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

.pre-commit-config.yaml:

ci:
  skip: [pylint]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
        exclude: "tests/functional/t/trailing_whitespaces.py"
      - id: end-of-file-fixer
        exclude: "tests/functional/m/missing/missing_final_newline.py|tests/functional/t/trailing_newlines.py"
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
      - id: autoflake
        exclude: &fixtures tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/
        args:
          - --in-place
          - --remove-all-unused-imports
          - --expand-star-imports
          - --remove-duplicate-keys
          - --remove-unused-variables
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.19.4
    hooks:
      - id: pyupgrade
        args: [--py36-plus]
        exclude: *fixtures
  - repo: https://github.com/PyCQA/isort
    rev: 5.9.1
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 21.6b0
    hooks:
      - id: black
        args: [--safe, --quiet]
        exclude: *fixtures
  - repo: https://github.com/Pierre-Sassoulas/black-disable-checker/
    rev: 1.0.1
    hooks:
      - id: black-disable-checker
  - repo: https://github.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        exclude: *fixtures
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "-rn",
            "-sn",
            "--rcfile=pylintrc",
            "--load-plugins=pylint.extensions.docparams",
          ]
        # disabled plugins: pylint.extensions.mccabe
        exclude: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
      - id: fix-documentation
        name: Fix documentation
        entry: python3 -m script.fix_documentation
        language: system
        types: [text]
        files: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
  - repo: https://github.com/myint/rstcheck
    rev: "3f92957478422df87bd730abde66f089cc1ee19b"
    hooks:
      - id: rstcheck
        args: ["--ignore-roles=func,class,mod", "--report=warning"]
        types: [text] # necessary to include ChangeLog file
        files: ^(ChangeLog|doc/(.*/)*.*\.rst)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: python
        types: [python]
        args: []
        require_serial: true
        additional_dependencies: ["types-pkg_resources==0.1.3", "types-toml==0.1.3"]
        exclude: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/|bin/
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.3.2
    hooks:
      - id: prettier
        args: [--prose-wrap=always, --print-width=88]

Migrate from ``appdirs`` to ``platformdirs`` (#4887)
  ChangeLog
  pylint/config/__init__.py
  setup.cfg
  tests/lint/unittest_lint.py
Due: pylint, fix-documentation

Require platformdirs 2.2.0
  setup.cfg
Due: none

Add use-set-for-membership check
  ChangeLog
  doc/whatsnew/2.11.rst
  pylint/extensions/code_style.py
  tests/functional/ext/code_style/code_style_use_set_membership.py
  tests/functional/ext/code_style/code_style_use_set_membership.rc
  tests/functional/ext/code_style/code_style_use_set_membership.txt
Due: pylint, fix-documentation

Require platformdirs 2.2.0 (#4890)
  setup.cfg
Due: none

Update ci workflow
  .github/workflows/ci.yaml
Due: none

Use local environment for mypy pre-commit
  .pre-commit-config.yaml
Due: none

Remove typing ignore for platformdirs
  setup.cfg
Due: none

Revert "Use local environment for mypy pre-commit"
  .pre-commit-config.yaml
Due: none

Revert "Update ci workflow"
  .github/workflows/ci.yaml
Due: none

Add platformdirs as additional dependency
  .pre-commit-config.yaml
Due: none

Create SetMembershipChecker extension
  ChangeLog
  doc/whatsnew/2.11.rst
  pylint/extensions/code_style.py
  pylint/extensions/set_membership.py
  tests/functional/ext/code_style/code_style_use_set_membership.rc
  tests/functional/ext/set_membership/set_membership_use_set_membership.py
  tests/functional/ext/set_membership/set_membership_use_set_membership.rc
  tests/functional/ext/set_membership/set_membership_use_set_membership.txt
Due: pylint, fix-documentation

Add heuristic to check items for hashability
  pylint/extensions/set_membership.py
  tests/functional/ext/set_membership/set_membership_use_set_membership.py
  tests/functional/ext/set_membership/set_membership_use_set_membership.txt
Due: pylint

Updated mypy checks (#4889)
  .pre-commit-config.yaml
  setup.cfg
Due: none

Fix a crash from astroid.InferenceError raised on copy.copy
  ChangeLog
  pylint/checkers/stdlib.py
  tests/functional/r/regression/regression_4891.py
Due: pylint, fix-documentation

Bump pylint to 2.10.2, update changelog
  ChangeLog
  pylint/__pkginfo__.py
  tbump.toml
Due: pylint, fix-documentation

Move back to a dev version following 2.10.2 release
  pylint/__pkginfo__.py
  tbump.toml
Due: pylint

Merge abstract_class_instantiated in the same file
  tests/functional/a/abstract/abstract_class_instantiated.py
  tests/functional/a/abstract/abstract_class_instantiated.txt
  tests/functional/a/abstract/abstract_class_instantiated_py3.rc
  tests/functional/a/abstract/abstract_class_instantiated_py3.txt
  tests/functional/a/abstract/abstract_class_instantiated_py34.py
  tests/functional/a/abstract/abstract_class_instantiated_py34.rc
  tests/functional/a/abstract/abstract_class_instantiated_py34.txt
Due: none

Remove async test for python 3.5 or lesser
  tests/functional/y/yield_inside_async_function.py
  tests/functional/y/yield_inside_async_function.rc
  tests/functional/y/yield_inside_async_function.txt
  tests/functional/y/yield_inside_async_function_py36.py
  tests/functional/y/yield_inside_async_function_py36.rc
  tests/functional/y/yield_inside_async_function_py36.txt
Due: none

Fix typo in assigment_from_no_return functional tests
  tests/functional/a/assign/assignment_from_no_return_2.py
  tests/functional/a/assign/assignment_from_no_return_2.txt
Due: none

Update FUNDING.yml
  .github/FUNDING.yml
Due: none

Rename URLs
  setup.cfg
Due: none

Added myself to CONTRIBUTORS.txt
  CONTRIBUTORS.txt
Due: none

Add global py-version config
  ChangeLog
  doc/whatsnew/2.11.rst
  pylint/extensions/typing.py
  pylint/lint/pylinter.py
  pylintrc
Due: pylint, fix-documentation

Add typing-extensions as requirement for Python < 3.10
  setup.cfg
Due: none

Add consider-using-assignment-expr to CodeStyleChecker
  ChangeLog
  doc/whatsnew/2.11.rst
  pylint/extensions/code_style.py
  tests/functional/ext/code_style/code_style_consider_using_assignment_expr.py
  tests/functional/ext/code_style/code_style_consider_using_assignment_expr.rc
  tests/functional/ext/code_style/code_style_consider_using_assignment_expr.txt
Due: pylint, fix-documentation

Emit a correct invalid-name message when using multi-naming style.
  ChangeLog
  pylint/checkers/base.py
  tests/checkers/unittest_base.py
Due: pylint, fix-documentation

Apply suggestions from code review
  pylint/checkers/strings.py
Due: pylint

Fix merge conflicts and code review
  ChangeLog
  doc/whatsnew/2.11.rst
  tests/functional/r/raise/raising_format_tuple.py
Due: fix-documentation

Fix test..
  tests/functional/r/raise/raising_format_tuple.py
Due: none

Upgrade ignored-parents help description
  CONTRIBUTORS.txt
  pylint/checkers/design_analysis.py
Due: pylint

Default to max-line-length
  pylint/extensions/code_style.py
  tests/functional/ext/code_style/code_style_consider_using_assignment_expr.rc
Due: pylint

Fix typo in design_analysis
  pylint/checkers/design_analysis.py
Due: pylint

Specifies that the pip freeze command should be run and its output pasted into the bug report
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
Due: none
