Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

wip
  pylint/checkers/format.py
Due: pylint

Special case 0. too
  pylint/checkers/format.py
  tests/functional/b/bad_float/bad_float_notation_default.py
  tests/functional/b/bad_float/bad_float_notation_default.txt
Due: pylint

Add esoteric-underscore-grouping
  pylint/checkers/format.py
  tests/checkers/unittest_format.py
  tests/functional/u/use/use_standard_scientific_notation.py
  tests/functional/u/use/use_standard_scientific_notation.txt
Due: pylint

Handle the case where the number is a number of hours in second better
  doc/data/messages/b/bad-float-notation/bad.py
  doc/data/messages/b/bad-float-notation/bad/bad.py
  doc/data/messages/b/bad-float-notation/bad/engineering_notation.py
  doc/data/messages/b/bad-float-notation/bad/engineering_notation.rc
  doc/data/messages/b/bad-float-notation/bad/pep515.py
  doc/data/messages/b/bad-float-notation/bad/pep515.rc
  doc/data/messages/b/bad-float-notation/bad/scientific_notation.py
  doc/data/messages/b/bad-float-notation/bad/scientific_notation.rc
  doc/data/messages/b/bad-float-notation/good.py
  doc/data/messages/b/bad-float-notation/good/engineering_notation.py
  doc/data/messages/b/bad-float-notation/good/good.py
  doc/data/messages/b/bad-float-notation/good/pep515.py
  doc/data/messages/b/bad-float-notation/good/scientific_notation.py
  doc/user_guide/checkers/features.rst
  pylint/checkers/format.py
  tests/checkers/unittest_format.py
  tests/functional/b/bad_float/bad_float_notation_default.py
  tests/functional/b/bad_float/bad_float_notation_default.txt
Due: pylint

Fix false positive for `f-string-without-interpolation` with template strings when using format spec (#10716)
  doc/whatsnew/fragments/10702.false_positive
  pylint/checkers/strings.py
  tests/functional/f/f_string_without_interpolation_py314.py
  tests/functional/f/f_string_without_interpolation_py314.rc
Due: pylint, check-newsfragments

Add Enum dunder to the list of allowed dunder
  pylint/constants.py
  pylint/extensions/dunder.py
Due: pylint

Fix typing
  pylint/extensions/dunder.py
Due: pylint

Add change log
  doc/whatsnew/fragments/10435.false_positive
Due: check-newsfragments

Update doc/whatsnew/fragments/10435.false_positive
  doc/whatsnew/fragments/10435.false_positive
Due: check-newsfragments

Fix behavior
  pylint/checkers/base/name_checker/checker.py
  tests/functional/i/invalid/invalid_name/invalid_name_with_final_typing.py
  tests/functional/i/invalid/invalid_name/invalid_name_with_final_typing.txt
Due: pylint

Fix a false positive for ``unbalanced-tuple-unpacking`` when a tuple is assigned to a function call and the structure of the function's return value is ambiguous.
  doc/whatsnew/fragments/10721.false_positive
  pylint/checkers/variables.py
  tests/functional/u/unbalanced/unbalanced_tuple_unpacking.py
Due: pylint, check-newsfragments

More functional tests
  tests/functional/u/unbalanced/unbalanced_tuple_unpacking.py
Due: none

Apply suggestions from code review
  tests/functional/u/unbalanced/unbalanced_tuple_unpacking.py
Due: none

Add Enum dunder to the list of allowed dunder (#10722)
  doc/whatsnew/fragments/10435.false_positive
  pylint/constants.py
  pylint/extensions/dunder.py
Due: pylint, check-newsfragments

Fix a false positive for ``unbalanced-tuple-unpacking``. (#10724)
  doc/whatsnew/fragments/10721.false_positive
  pylint/checkers/variables.py
  tests/functional/u/unbalanced/unbalanced_tuple_unpacking.py
Due: pylint, check-newsfragments

Fix a false positive for class attribute typed with Final (#10712)
  doc/whatsnew/fragments/10711.false_positive
  pylint/checkers/base/name_checker/checker.py
  tests/functional/i/invalid/invalid_name/invalid_name_with_final_typing.py
  tests/functional/i/invalid/invalid_name/invalid_name_with_final_typing.txt
Due: pylint, check-newsfragments

Fix crash when a slice object is called
  doc/whatsnew/fragments/10708.bugfix
  pylint/extensions/code_style.py
  tests/functional/ext/code_style/cs_prefer_typing_namedtuple.py
  tests/functional/ext/code_style/cs_use_math_not_float.py
Due: pylint, check-newsfragments

Fix crash for consider-using-assignment-expr
  doc/whatsnew/fragments/10707.bugfix
  pylint/extensions/code_style.py
  tests/functional/ext/code_style/cs_consider_using_assignment_expr.py
Due: pylint, check-newsfragments

Update tests/functional/ext/code_style/cs_use_math_not_float.py
  tests/functional/ext/code_style/cs_use_math_not_float.py
Due: none

Fix crash when a `slice` object is called (#10715)
  doc/whatsnew/fragments/10708.bugfix
  pylint/extensions/code_style.py
  tests/functional/ext/code_style/cs_prefer_typing_namedtuple.py
Due: pylint, check-newsfragments

Fix crash when a variable annotation is used as `if` test expression (#10714)
  doc/whatsnew/fragments/10707.bugfix
  pylint/extensions/code_style.py
  tests/functional/ext/code_style/cs_consider_using_assignment_expr.py
Due: pylint, check-newsfragments

Upgrade astroid to 4.0.2
  pyproject.toml
  requirements_test_min.txt
  tests/functional/u/unused/unused_name_in_string_literal_type_annotation_py38.py
Due: none

Update tests/functional/u/unused/unused_name_in_string_literal_type_annotation_py38.py
  tests/functional/u/unused/unused_name_in_string_literal_type_annotation_py38.py
Due: none

[primer] Update default branch for coverage
  tests/primer/packages_to_prime.json
Due: none

Upgrade astroid to 4.0.2 (#10730)
  pyproject.toml
  requirements_test_min.txt
  tests/functional/u/unused/unused_name_in_string_literal_type_annotation_py38.py
Due: none

[primer] Update default branch for coverage (#10732)
  tests/primer/packages_to_prime.json
Due: none

docs: properly escape backslashes
  doc/faq.rst
  doc/whatsnew/0/0.x.rst
  doc/whatsnew/1/1.2.rst
  doc/whatsnew/2/2.12/full.rst
Due: none

docs: properly escape backslashes (#10736)
  doc/faq.rst
  doc/whatsnew/0/0.x.rst
  doc/whatsnew/1/1.2.rst
  doc/whatsnew/2/2.12/full.rst
Due: none

fix: avoid false positive when module-level names match class-level names
  doc/whatsnew/fragments/10719.false_positive
  pylint/checkers/utils.py
  tests/functional/c/const_class_attribute_same_name.py
  tests/functional/n/no/no_dummy_redefined.py
  tests/functional/n/no/no_dummy_redefined.txt
Due: pylint, check-newsfragments

fix(expand_modules): pass ignore_list to modutils.get_module_files
  pylint/lint/expand_modules.py
Due: pylint

docs: add news fragment
  doc/whatsnew/fragments/10669.bugfix
Due: check-newsfragments
