Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

check-newsfragments:
  name: Check newsfragments
  entry: python3 -m script.check_newsfragments
  language: system

Clarify interpreter guidance in installation docs
  doc/user_guide/installation/command_line_installation.rst
Due: none

Generate documentation for Run options (#11364)
  doc/exts/pylint_options.py
  doc/user_guide/configuration/all-options.rst
  doc/whatsnew/fragments/6938.other
  pylint/lint/base_options.py
Due: pylint, check-newsfragments

Simplify no-else elif guidance
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/n/no/no_else_break.txt
  tests/functional/n/no/no_else_continue.txt
  tests/functional/n/no/no_else_raise.txt
  tests/functional/n/no/no_else_return.txt
Due: pylint

Detect colliding checker names dynamically
  doc/exts/pylint_extensions.py
  doc/exts/pylint_options.py
  doc/test_options_documentation.py
Due: none

Add 'substitutability' to the custom spelling dictionary
  custom_dict.txt
Due: none

Report a changed parameter count in overridden special methods (#11303)
  custom_dict.txt
  doc/whatsnew/fragments/11295.false_negative
  pylint/checkers/classes/class_checker.py
  tests/functional/a/arguments_differ.py
  tests/functional/a/arguments_differ.txt
Due: pylint, check-newsfragments

Fix using-constant-test for unpacked generator values
  doc/whatsnew/fragments/10080.false_positive
  pylint/checkers/base/basic_checker.py
  tests/functional/u/using_constant_test.py
Due: pylint, check-newsfragments

Fix IndexError on empty Generator subscripts
  doc/whatsnew/fragments/11357.bugfix
  pylint/extensions/typing.py
  tests/functional/ext/typing/unnecessary_default_type_args.py
Due: pylint, check-newsfragments

forge: repair pylint/extensions/typing.py (round 1, green, diff 1)
  .gitignore
  pylint/extensions/typing.py
  tests/test_forge_11357.py
Due: pylint

Fix crash on failed attribute inference
  doc/whatsnew/fragments/11356.bugfix
  pylint/checkers/typecheck.py
  tests/functional/r/regression_03/regression_11356.py
  tests/functional/r/regression_03/regression_11356.rc
Due: pylint, check-newsfragments

feat(imports): detect implicit parent imports
  doc/data/messages/i/implicit-reimport/bad.py
  doc/data/messages/i/implicit-reimport/good.py
  doc/data/messages/u/ungrouped-imports/good.py
  pylint/checkers/imports.py
  tests/functional/d/disable_ungrouped_imports.py
  tests/functional/ext/typing/typing_consider_using_alias.py
  tests/functional/ext/typing/typing_consider_using_alias_without_future.py
  tests/functional/ext/typing/typing_deprecated_alias.py
  tests/functional/g/generic_alias/generic_alias_collections.py
  tests/functional/g/generic_alias/generic_alias_mixed_py39.py
  tests/functional/i/implicit/implicit_reimport.py
  tests/functional/i/implicit/implicit_reimport.txt
  tests/functional/p/postponed/postponed_evaluation_pep585.py
  tests/functional/r/regression/regression_3507_typing_alias_isinstance.py
  tests/functional/u/ungrouped_imports.py
  tests/functional/u/ungrouped_imports_suppression.py
  tests/functional/u/unused/unused_import.py
Due: pylint

docs: add implicit reimport changelog
  doc/whatsnew/fragments/9873.new_check
Due: check-newsfragments

Fix a crash in unnecessary-default-type-args for an empty tuple subscript
  doc/whatsnew/fragments/11357.bugfix
  pylint/extensions/typing.py
  tests/functional/ext/typing/unnecessary_default_type_args.py
Due: pylint, check-newsfragments

Check every parameter kind for invalid-name
  pylint/checkers/base/name_checker/checker.py
  tests/functional/n/name/name_argument_kinds.py
  tests/functional/n/name/name_argument_kinds.txt
Due: pylint

Add news fragment
  doc/whatsnew/fragments/11376.false_negative
Due: check-newsfragments

fix(reimported): don't flag relative import as reimport of same-named absolute import
  doc/whatsnew/fragments/11353.false_positive
  pylint/checkers/imports.py
  tests/functional/r/reimported.py
Due: pylint, check-newsfragments

Handle InferenceError when looking up an attribute's inferred owners
  pylint/checkers/typecheck.py
  tests/functional/i/inference_error_metaclass_attr_11356.py
Due: pylint

Fix pyreverse crash for uninferable named classes (#11184)
  doc/whatsnew/fragments/9797.bugfix
  pylint/pyreverse/diadefslib.py
  tests/pyreverse/test_diadefs.py
Due: pylint, check-newsfragments

Fix StatementMissing crash in class_checker when checking method-hidden
  doc/whatsnew/fragments/11361.bugfix
  pylint/checkers/classes/class_checker.py
  tests/checkers/unittest_classes.py
Due: pylint, check-newsfragments

Fix broken HTML/Mermaid output for --theme
  pylint/pyreverse/mermaidjs_printer.py
  tests/pyreverse/functional/class_diagrams/theme_output/theme_dark.html
  tests/pyreverse/functional/class_diagrams/theme_output/theme_light.html
  tests/pyreverse/test_mermaidjs_printer.py
Due: pylint

Fix unreadable method/attribute text in PlantUML dark theme
  pylint/pyreverse/plantuml_printer.py
  tests/pyreverse/functional/class_diagrams/theme_output/theme_dark.puml
  tests/pyreverse/test_plantuml_printer.py
Due: pylint

fix(variables): avoid false positives for exception args
  doc/whatsnew/fragments/11312.false_positive
  pylint/checkers/variables.py
  tests/functional/u/unbalanced/unbalanced_tuple_unpacking.py
Due: pylint, check-newsfragments

Fix InferenceError crash on attributes bound by a loop target
  doc/whatsnew/fragments/11356.bugfix
  pylint/checkers/typecheck.py
  tests/functional/n/no/no_member_assignattr_loop_target.py
Due: pylint, check-newsfragments

Fix FunctionType not-callable false positive
  doc/whatsnew/fragments/7500.false_positive
  pylint/checkers/typecheck.py
  tests/functional/n/not_callable.py
Due: pylint, check-newsfragments

Fix false positive consider-using-assignment-expr for constants and Final annotations (closes #10691)
  doc/whatsnew/fragments/10691.false_positive
  pylint/extensions/code_style.py
  tests/functional/ext/code_style/cs_consider_using_assignment_expr.py
Due: pylint, check-newsfragments

Document how to run the pre-commit hook only on pre-push
  doc/user_guide/installation/pre-commit-integration.rst
  doc/whatsnew/fragments/9924.other
Due: check-newsfragments

Fix false positive no-member on PEP 695 TypeAliasType attributes
  doc/whatsnew/fragments/10091.false_positive
  pylint/checkers/typecheck.py
  pylint/checkers/utils.py
  tests/functional/t/type/typealias_attributes_py312.py
  tests/functional/t/type/typealias_attributes_py312.rc
  tests/functional/t/type/typealias_attributes_py312.txt
Due: pylint, check-newsfragments

fix false positive on a lambda that supplies a class-body scope
  doc/whatsnew/fragments/9294.false_positive
  pylint/checkers/lambda_expressions.py
  tests/functional/u/unnecessary/unnecessary_direct_lambda_call.py
  tests/functional/u/unnecessary/unnecessary_direct_lambda_call.txt
Due: pylint, check-newsfragments

reword two docstrings for the spelling check
  pylint/checkers/lambda_expressions.py
Due: pylint

Exclude functional test files from prettier
  .pre-commit-config.yaml
  tests/pyreverse/functional/class_diagrams/theme_output/theme_dark.html
  tests/pyreverse/functional/class_diagrams/theme_output/theme_light.html
Due: none

Fix declare-non-slot false positives for ClassVar annotations
  doc/whatsnew/fragments/9950.bugfix
  pylint/checkers/classes/class_checker.py
  tests/functional/s/slots_checks_classvar.py
  tests/functional/s/slots_checks_classvar.rc
  tests/functional/s/slots_checks_classvar.txt
Due: pylint, check-newsfragments

Implement chained comparison improvements and related checks (#7611)
  doc/data/messages/c/chained-comparison-all-equal/bad.py
  doc/data/messages/c/chained-comparison-all-equal/good.py
  doc/data/messages/i/impossible-comparison/bad.py
  doc/data/messages/i/impossible-comparison/good.py
  doc/user_guide/checkers/features.rst
  doc/user_guide/messages/messages_overview.rst
  doc/whatsnew/fragments/5814.new_check
  doc/whatsnew/fragments/7611.false_negative
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/graph.py
  tests/checkers/unittest_refactoring.py
  tests/functional/s/simplify_chained_comparison.py
  tests/functional/s/simplify_chained_comparison.txt
Due: pylint, check-newsfragments

changelod isn't required
  doc/whatsnew/fragments/9924.other
Due: check-newsfragments

Document how to run the pre-commit hook only on pre-push (#11385)
  doc/user_guide/installation/pre-commit-integration.rst
Due: none

Fix the ruff failure that keeps pre-commit.ci red on main
  pylint/checkers/format.py
  pylint/graph.py
Due: pylint

Fix the ruff failure that keeps pre-commit.ci red on main (#11389)
  pylint/checkers/format.py
  pylint/graph.py
Due: pylint

Ignore collections.abc.Callable and Buffer in too-many-ancestors (#11358)
  doc/whatsnew/fragments/11358.bugfix
  pylint/checkers/design_analysis.py
  tests/functional/t/too/too_many_ancestors_abc.py
  tests/functional/t/too/too_many_ancestors_abc.rc
  tests/functional/t/too/too_many_ancestors_abc_py312.py
  tests/functional/t/too/too_many_ancestors_abc_py312.rc
Due: pylint, check-newsfragments

Fix a crash in unnecessary-default-type-args for an empty tuple subscript (#11375)
  doc/whatsnew/fragments/11357.bugfix
  pylint/extensions/typing.py
  tests/functional/ext/typing/unnecessary_default_type_args.py
Due: pylint, check-newsfragments

Fix unnecessary-direct-lambda-call when the lambda supplies a class-body scope (#11337)
  doc/whatsnew/fragments/9294.false_positive
  pylint/checkers/lambda_expressions.py
  tests/functional/u/unnecessary/unnecessary_direct_lambda_call.py
  tests/functional/u/unnecessary/unnecessary_direct_lambda_call.txt
Due: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst
