Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

check-newsfragments:
  name: Check newsfragments
  entry: python3 -m script.check_newsfragments
  language: system

Bump pylint to 3.2.7, update changelog
  doc/whatsnew/3/3.2/index.rst
  doc/whatsnew/fragments/9840.false_positive
  doc/whatsnew/fragments/9865.bugfix
  doc/whatsnew/fragments/9875.bugfix
  doc/whatsnew/fragments/9883.bugfix
  pylint/__pkginfo__.py
  tbump.toml
  towncrier.toml
Due: pylint, check-newsfragments

Remove duplicate fragments
  doc/whatsnew/fragments/9840.false_positive
  doc/whatsnew/fragments/9865.bugfix
  doc/whatsnew/fragments/9875.bugfix
  doc/whatsnew/fragments/9883.bugfix
Due: check-newsfragments

change spaces to U+2002
  doc/user_guide/configuration/all-options.rst
  pylint/checkers/format.py
Due: pylint

add change to changelog
  doc/whatsnew/fragments/8392.other
Due: check-newsfragments

changed the default back to spaces (with "")
  doc/user_guide/configuration/all-options.rst
  pylint/checkers/format.py
Due: pylint

changed the default back to spaces (with "")
  pylint/checkers/format.py
Due: pylint

Improved module path discovery when source-roots are not specified
  pylint/lint/expand_modules.py
Due: pylint

Can't reproduce the nefarious example
  doc/data/messages/e/exec-used/details.rst
Due: none

Fix max-positional-arguments comments in example config files
  examples/pylintrc
  examples/pyproject.toml
Due: none

Fix max-positional-arguments comments in example config files (#9914)
  examples/pylintrc
  examples/pyproject.toml
Due: none

Remove obsolete comment from ASTWalker.walk
  pylint/utils/ast_walker.py
Due: pylint

Remove obsolete comment from ASTWalker.walk (#9916)
  pylint/utils/ast_walker.py
Due: pylint

Don't use .get() with defaultdicts
  pylint/utils/ast_walker.py
Due: pylint

Don't use .get() with defaultdicts (#9918)
  pylint/utils/ast_walker.py
Due: pylint

Infer multiple statements on else, finally lines
  pylint/checkers/format.py
Due: pylint

Add functional tests
  tests/functional/m/multiple_statements.py
  tests/functional/m/multiple_statements.txt
Due: none

Add changelog
  doc/whatsnew/fragments/9759.false_negative
Due: check-newsfragments

Fix coverage uploads
  .github/workflows/tests.yaml
Due: none

Fix false negative for `multiple-statements` on try... else/finally lines (#9917)
  doc/whatsnew/fragments/9759.false_negative
  pylint/checkers/format.py
  tests/functional/m/multiple_statements.py
  tests/functional/m/multiple_statements.txt
Due: pylint, check-newsfragments

Move most ruff exclusions out of .pre-commit-config.yaml
  .pre-commit-config.yaml
  doc/data/ruff.toml
  pyproject.toml
Due: none

Fix broken tests
  tests/checkers/unittest_imports.py
Due: pylint

Remove unused import
  tests/checkers/unittest_imports.py
Due: pylint

Add missing file
  tests/regrtest_data/dummy_wildcard.py
Due: none

Remove old-style classes code, remove check for new-style class (Python 3 is only new style classes)
  pylint/checkers/classes/class_checker.py
  pylint/checkers/exceptions.py
  pylint/checkers/newstyle.py
  tests/functional/i/invalid/invalid_exceptions/invalid_exceptions_raised.py
  tests/functional/i/invalid/invalid_exceptions/invalid_exceptions_raised.txt
  tests/functional/r/raising/raising_non_exception.txt
Due: pylint

Fix fragment
  doc/whatsnew/fragments/9925.internal.rst
Due: check-newsfragments

Update changelog
  doc/whatsnew/fragments/9925.internal.rst
Due: check-newsfragments

Fix fragment name
  doc/whatsnew/fragments/9925.internal
Due: check-newsfragments

Fix pylint warning
  pylint/checkers/exceptions.py
Due: pylint

update rst for document update
  doc/user_guide/checkers/features.rst
Due: none

Remove old-style classes code, remove check for new-style class (#9925)
  doc/user_guide/checkers/features.rst
  doc/whatsnew/fragments/9925.internal
  pylint/checkers/classes/class_checker.py
  pylint/checkers/exceptions.py
  pylint/checkers/newstyle.py
  tests/functional/i/invalid/invalid_exceptions/invalid_exceptions_raised.py
  tests/functional/i/invalid/invalid_exceptions/invalid_exceptions_raised.txt
  tests/functional/r/raising/raising_non_exception.txt
Due: pylint, check-newsfragments

Remove postponed deprecation
  pylint/checkers/stdlib.py
Due: pylint

Add additional stdlib deprecations (mostly 3.13) (#9853)
  pylint/checkers/imports.py
  pylint/checkers/stdlib.py
Due: pylint

Harden primer package caching against possible race condition
  .github/workflows/primer_run_main.yaml
  .github/workflows/primer_run_pr.yaml
Due: none

refactor ascript => a_script
  tests/data/a_script
  tests/lint/unittest_lint.py
Due: pylint

nonexistant -> nonexistent
  tests/functional/n/no/no_name_in_module.py
  tests/functional/n/no/no_name_in_module.txt
  tests/functional/n/non/non_init_parent_called.py
  tests/functional/n/non/non_init_parent_called.txt
Due: none

NonExistant => NonExistent
  tests/functional/n/names_in__all__.py
  tests/functional/n/names_in__all__.txt
  tests/functional/u/uninferable_all_object.py
Due: none

more fixes
  .pre-commit-config.yaml
  .pyenchant_pylint_custom_dict.txt
  doc/development_guide/contributor_guide/profiling.rst
  doc/development_guide/contributor_guide/tests/writing_test.rst
  doc/whatsnew/1/1.5.rst
  doc/whatsnew/2/2.13/summary.rst
  doc/whatsnew/3/3.1/index.rst
  pylint/checkers/base/function_checker.py
  tests/checkers/unittest_misc.py
  tests/config/functional/toml/unknown_msgid/enable_unknown_msgid.toml
  tests/functional/c/consider/consider_using_get.py
  tests/functional/i/inconsistent/inconsistent_quotes_fstring_py312.py
  tests/functional/i/inconsistent/inconsistent_quotes_fstring_py312_311.py
  tests/functional/n/non_ascii_name/non_ascii_name_assignment_expressions.py
  tests/functional/n/not_async_context_manager_py37.py
  tests/test_similar.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst
