Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --load-plugins=pylint.extensions.docparams

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

Fix useless-type-doc false positive when args exist in the docstring
  pylint/extensions/_check_docs_utils.py
  pylint/extensions/docparams.py
  tests/functional/u/useless/useless_type_doc.py
  tests/functional/u/useless/useless_type_doc.rc
Due: pylint

Takes into account cdce8p remarks (first part)
  pylint/checkers/similar.py
Due: pylint

Add type annotations to pyreverse dot files
  pylint/pyreverse/inspector.py
  pylint/pyreverse/utils.py
  tests/unittest_pyreverse_writer.py
Due: pylint

Add type annotations to pyreverse (#4551)
  ChangeLog
  doc/whatsnew/2.9.rst
  pylint/pyreverse/diagrams.py
  pylint/pyreverse/inspector.py
  pylint/pyreverse/utils.py
  pylint/pyreverse/writer.py
  tests/unittest_pyreverse_writer.py
Due: pylint, fix-documentation

Improve typing by replacing dictionaries with NamedTuple, add type hints and introduce proper subclasses for different kinds of diagram entities.
  pylint/pyreverse/diagrams.py
  pylint/pyreverse/printer.py
  pylint/pyreverse/writer.py
  tests/test_import_graph.py
Due: pylint

Use factory functions to obtain a ``Printer`` or ``DiagramWriter`` class suitable for the given output format
  pylint/checkers/imports.py
  pylint/pyreverse/printer.py
  pylint/pyreverse/utils.py
  pylint/pyreverse/writer.py
  tests/test_import_graph.py
Due: pylint

Emitting the "URL" attribute breaks output for VCG and PlantUML, but is also not necessary anymore. The "shape" is now automatically set by the ``Printer`` classes.
  pylint/checkers/imports.py
Due: pylint

Add changelog and whatsnew entries
  ChangeLog
  doc/whatsnew/2.9.rst
Due: fix-documentation

Fix unit test after removing the URL attribute from import-graph
  tests/test_import_graph.py
Due: pylint

Added support for deprecated method alias
  pylint/checkers/deprecated.py
  tests/checkers/unittest_deprecated.py
Due: pylint

Updated whatsnew and changelog
  ChangeLog
  doc/whatsnew/2.9.rst
Due: fix-documentation

Fixed failing unittests
  pylint/checkers/deprecated.py
Due: pylint

Remove dead code
  pylint/pyreverse/writer.py
Due: pylint

Refactor tests and add new ones to increase coverage for new code
  pylint/pyreverse/utils.py
  tests/pyreverse/test_printer.py
  tests/pyreverse/test_utils.py
  tests/pyreverse/test_writer.py
Due: pylint

Takes into account cdce8p remarks (part 2)
  pylint/checkers/similar.py
Due: pylint

Use factory function to get the corresponding writer for the desired output format (Open-Closed-Principle).
  pylint/pyreverse/main.py
Due: pylint

VariableChecker now accounts for attribute lookups in type comments
  CONTRIBUTORS.txt
  ChangeLog
  pylint/checkers/variables.py
  pylint/constants.py
  tests/checkers/unittest_variables.py
Due: pylint, fix-documentation

Fix expected output message
  tests/test_import_graph.py
Due: pylint

VariableChecker now accounts for attribute lookups in type comments (#4604)
  CONTRIBUTORS.txt
  ChangeLog
  pylint/checkers/variables.py
  pylint/constants.py
  tests/checkers/unittest_variables.py
Due: pylint, fix-documentation

Update pre-commit-config
  .pre-commit-config.yaml
Due: none

Add documentation for ``pyreverse`` and ``symilar``
  ChangeLog
  doc/additional_tools/index.rst
  doc/index.rst
  doc/media/ClassChecker_diagram.png
  doc/media/pyreverse_example_classes.png
  doc/media/pyreverse_example_packages.png
Due: fix-documentation

Fix improperly formatted bullet points that span multiple lines
  ChangeLog
Due: fix-documentation

Issue #3747 fix example regex for snakeCase naming style.
  doc/user_guide/options.rst
Due: none

Omit 'checker' in verbatim name of ``ConfusingConsecutiveElifChecker`` as it renders as "Confusing-Elif-Checker Checker"
  pylint/extensions/confusing_elif.py
Due: pylint

Issue #4541: add ``ignore-paths`` option to example pylintrc file.
  examples/pylintrc
Due: none

Fix deprecated methods from #4620
  pylint/checkers/stdlib.py
Due: pylint

Upgrade astroid to 2.6.1
  requirements_test_min.txt
  setup.cfg
Due: none

Add a regression test following issue #4610
  tests/functional/t/typedDict.py
Due: none

Fix a syntax error in unittest_deprecated.py test code
  tests/checkers/unittest_deprecated.py
Due: pylint

Add a functional test for deprecated_methods
  tests/functional/d/deprecated/deprecated_methods_py38.py
  tests/functional/d/deprecated/deprecated_methods_py38.txt
Due: none

Added various deprecated functions/methods for python 3.10, 3.7, 3.6 and 3.3
  pylint/checkers/stdlib.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
  fix-documentation: any of: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
