Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

Use match statement in checkers (6)
  pylint/checkers/classes/class_checker.py
  pylint/checkers/deprecated.py
  pylint/checkers/design_analysis.py
  pylint/checkers/newstyle.py
  pylint/checkers/refactoring/recommendation_checker.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/typecheck.py
  pylint/checkers/utils.py
  pylint/extensions/code_style.py
  pylint/extensions/consider_ternary_expression.py
  pylint/extensions/dict_init_mutate.py
  pylint/extensions/private_import.py
  pylint/extensions/typing.py
Due: pylint

Add additional stdlib deprecations (mostly 3.14)
  pylint/checkers/stdlib.py
Due: pylint

fix consider using-with funct tests
  tests/functional/c/consider/consider_using_with.py
Due: none

Update tests/functional/c/consider/consider_using_with.py
  tests/functional/c/consider/consider_using_with.py
Due: none

Add additional stdlib deprecations (mostly 3.14) (#10553)
  pylint/checkers/stdlib.py
  tests/functional/c/consider/consider_using_with.py
Due: pylint

Update pylint/extensions/mccabe.py
  pylint/extensions/mccabe.py
Due: pylint

[mccabe - too-complex] Add each match case as an edge in the graph (#9667)
  doc/whatsnew/fragments/9667.false_negative
  pylint/extensions/mccabe.py
  tests/functional/ext/mccabe/mccabe.py
  tests/functional/ext/mccabe/mccabe.txt
Due: pylint, check-newsfragments

Merge mccabe to what is in pylint, remove unused code
  pylint/extensions/mccabe.py
Due: pylint

[mccabe] Remove unused code that was used to draw graphics originally
  doc/whatsnew/fragments/10551.internal
  pylint/extensions/mccabe.py
Due: pylint, check-newsfragments

Fix ruff issues + remove disable check from ignore list
  pyproject.toml
  tests/testutils/test_lint_module_output_update.py
Due: pylint

Enable automatic conversion from Py3.14-dev to production
  .github/workflows/tests.yaml
Due: none

Set up Python ${{ matrix.python-version }}
  .github/workflows/tests.yaml
Due: none

Reverting to manual automated testing
  .github/workflows/tests.yaml
Due: none

Regenerate docs
  doc/user_guide/checkers/features.rst
  doc/user_guide/configuration/all-options.rst
Due: none

Regenerate docs (#10560)
  doc/user_guide/checkers/features.rst
  doc/user_guide/configuration/all-options.rst
Due: none

[docs] Update the message sort order
  doc/user_guide/checkers/extensions.rst
  doc/user_guide/checkers/features.rst
  pylint/checkers/base_checker.py
Due: pylint

[docs] Update the message sort order (#10561)
  doc/user_guide/checkers/extensions.rst
  doc/user_guide/checkers/features.rst
  pylint/checkers/base_checker.py
Due: pylint

Add new checks for match class patterns
  doc/data/messages/i/invalid-match-args-definition/bad.py
  doc/data/messages/i/invalid-match-args-definition/good.py
  doc/data/messages/i/invalid-match-args-definition/related.rst
  doc/data/messages/m/multiple-class-sub-patterns/bad.py
  doc/data/messages/m/multiple-class-sub-patterns/good.py
  doc/data/messages/m/multiple-class-sub-patterns/related.rst
  doc/data/messages/t/too-many-positional-sub-patterns/bad.py
  doc/data/messages/t/too-many-positional-sub-patterns/good.py
  doc/data/messages/t/too-many-positional-sub-patterns/related.rst
  doc/data/ruff.toml
  doc/user_guide/checkers/features.rst
  doc/user_guide/messages/messages_overview.rst
  doc/whatsnew/fragments/10559.new_check
  pylint/checkers/match_statements_checker.py
  tests/functional/m/match_class_pattern.py
  tests/functional/m/match_class_pattern.txt
Due: pylint, check-newsfragments

Add sphinx reference for whatsnew 3.3
  doc/whatsnew/3/3.3/index.rst
Due: none

Add new checks for match class patterns (#10559)
  doc/data/messages/i/invalid-match-args-definition/bad.py
  doc/data/messages/i/invalid-match-args-definition/good.py
  doc/data/messages/i/invalid-match-args-definition/related.rst
  doc/data/messages/m/multiple-class-sub-patterns/bad.py
  doc/data/messages/m/multiple-class-sub-patterns/good.py
  doc/data/messages/m/multiple-class-sub-patterns/related.rst
  doc/data/messages/t/too-many-positional-sub-patterns/bad.py
  doc/data/messages/t/too-many-positional-sub-patterns/good.py
  doc/data/messages/t/too-many-positional-sub-patterns/related.rst
  doc/data/ruff.toml
  doc/user_guide/checkers/features.rst
  doc/user_guide/messages/messages_overview.rst
  doc/whatsnew/fragments/10559.new_check
  pylint/checkers/match_statements_checker.py
  tests/functional/m/match_class_pattern.py
  tests/functional/m/match_class_pattern.txt
Due: pylint, check-newsfragments

Add sphinx reference for whatsnew 3.3 (#10564)
  doc/whatsnew/3/3.3/index.rst
Due: none

Fix "the the" typos
  doc/data/messages/t/too-many-positional-arguments/details.rst
  doc/development_guide/contributor_guide/tests/writing_test.rst
  doc/user_guide/checkers/features.rst
  pylint/checkers/match_statements_checker.py
Due: pylint

Fix excepts/expects mix-ups
  doc/user_guide/checkers/features.rst
  pylint/checkers/match_statements_checker.py
  tests/functional/m/match_class_pattern.txt
Due: pylint

Fix the wording of the E1904 message
  doc/user_guide/checkers/features.rst
  pylint/checkers/match_statements_checker.py
Due: pylint

[ci] Allow Python prerelease versions (#10557)
  .github/workflows/tests.yaml
Due: none

Fix grammar and spelling issues (#10566)
  doc/data/messages/t/too-many-positional-arguments/details.rst
  doc/development_guide/contributor_guide/tests/writing_test.rst
  doc/user_guide/checkers/features.rst
  pylint/checkers/match_statements_checker.py
  tests/functional/m/match_class_pattern.txt
Due: pylint

[mccabe] Add more functional tests to allow for easier refactor
  tests/functional/ext/mccabe/mccabe.py
  tests/functional/ext/mccabe/mccabe.txt
Due: none

[mccabe] Cover the behavior when the message is not raised
  tests/functional/ext/mccabe/not_too_complex.py
  tests/functional/ext/mccabe/not_too_complex.rc
  tests/functional/ext/mccabe/not_too_complex.txt
Due: none

[script] Add :ref: automatically in the documentation
  .pre-commit-config.yaml
  doc/data/messages/u/useless-parent-delegation/related.rst
  doc/user_guide/checkers/features.rst
  doc/whatsnew/0/0.x.rst
  doc/whatsnew/1/1.0.rst
  doc/whatsnew/1/1.1.rst
  doc/whatsnew/1/1.2.rst
  doc/whatsnew/1/1.3.rst
  doc/whatsnew/1/1.4.rst
  doc/whatsnew/1/1.5.rst
  doc/whatsnew/1/1.6/full.rst
  doc/whatsnew/1/1.6/summary.rst
  doc/whatsnew/1/1.7/full.rst
  doc/whatsnew/1/1.7/summary.rst
  doc/whatsnew/1/1.8/full.rst
  doc/whatsnew/1/1.8/summary.rst
  doc/whatsnew/2/2.0/full.rst
  doc/whatsnew/2/2.0/summary.rst
  doc/whatsnew/2/2.1/full.rst
  doc/whatsnew/2/2.10/full.rst
  doc/whatsnew/2/2.11/full.rst
  doc/whatsnew/2/2.13/full.rst
  doc/whatsnew/2/2.13/summary.rst
  doc/whatsnew/2/2.14/full.rst
  doc/whatsnew/2/2.15/index.rst
  doc/whatsnew/2/2.16/index.rst
  doc/whatsnew/2/2.17/index.rst
  doc/whatsnew/2/2.3/full.rst
  doc/whatsnew/2/2.4/full.rst
  doc/whatsnew/2/2.5/full.rst
  doc/whatsnew/2/2.6/full.rst
  doc/whatsnew/2/2.6/summary.rst
  doc/whatsnew/2/2.9/full.rst
  doc/whatsnew/3/3.0/index.rst
  doc/whatsnew/3/3.1/index.rst
  doc/whatsnew/3/3.2/index.rst
  doc/whatsnew/3/3.3/index.rst
  script/check_message_references.py
Due: pylint

fix: handle for-loop variable shadowing correctly
  pylint/checkers/variables.py
  tests/functional/f/for_loop_variable_shadowing.py
  tests/functional/f/for_loop_variable_shadowing.txt
Due: pylint

New checker for checking iterator reuse within nested loops.
  pylint/checkers/looping_iterator_checker.py
  tests/checkers/unittest_iterator_checker.py
Due: pylint

New checker for checking iterator reuse within nested loops.
  pylint/checkers/looping_iterator_checker.py
Due: pylint

fix: handle for-loop variable shadowing correctly
  doc/whatsnew/fragments/10562.bugfix.rst
  tests/functional/f/for_loop_variable_shadowing.py
Due: check-newsfragments

fix: handle for-loop variable shadowing correctly
  doc/whatsnew/fragments/10562.bugfix
Due: check-newsfragments

fix: handle for-loop variable shadowing correctly (#10569)
  doc/whatsnew/fragments/10562.bugfix
  pylint/checkers/variables.py
  tests/functional/f/for_loop_variable_shadowing.py
  tests/functional/f/for_loop_variable_shadowing.txt
Due: pylint, check-newsfragments

fix: handle `inconsistent-return-statements` false positive with `quit()`/`exit()`
  doc/whatsnew/fragments/10508.bugfix
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/i/inconsistent/inconsistent_returns_quit_exit.py
  tests/functional/i/inconsistent/inconsistent_returns_quit_exit.txt
Due: pylint, check-newsfragments

fix: handle `inconsistent-return-statements` false positive with `quit()`/`exit()` (#10572)
  doc/whatsnew/fragments/10508.bugfix
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/i/inconsistent/inconsistent_returns_quit_exit.py
  tests/functional/i/inconsistent/inconsistent_returns_quit_exit.txt
Due: pylint, check-newsfragments
