Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

.pre-commit-config.yaml:

ci:
  skip: [pylint]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
        exclude: "tests/functional/t/trailing_whitespaces.py"
      - id: end-of-file-fixer
        exclude: "tests/functional/m/missing/missing_final_newline.py|tests/functional/t/trailing_newlines.py"
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
      - id: autoflake
        exclude: &fixtures tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/
        args:
          - --in-place
          - --remove-all-unused-imports
          - --expand-star-imports
          - --remove-duplicate-keys
          - --remove-unused-variables
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.19.4
    hooks:
      - id: pyupgrade
        args: [--py36-plus]
        exclude: *fixtures
  - repo: https://github.com/PyCQA/isort
    rev: 5.9.1
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 21.6b0
    hooks:
      - id: black
        args: [--safe, --quiet]
        exclude: *fixtures
  - repo: https://github.com/Pierre-Sassoulas/black-disable-checker/
    rev: 1.0.1
    hooks:
      - id: black-disable-checker
  - repo: https://github.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        exclude: *fixtures
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "-rn",
            "-sn",
            "--rcfile=pylintrc",
            "--load-plugins=pylint.extensions.docparams",
          ]
        # disabled plugins: pylint.extensions.mccabe
        exclude: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
      - id: fix-documentation
        name: Fix documentation
        entry: python3 -m script.fix_documentation
        language: system
        types: [text]
        files: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
  - repo: https://github.com/myint/rstcheck
    rev: "3f92957478422df87bd730abde66f089cc1ee19b"
    hooks:
      - id: rstcheck
        args: ["--ignore-roles=func,class,mod", "--report=warning"]
        types: [text] # necessary to include ChangeLog file
        files: ^(ChangeLog|doc/(.*/)*.*\.rst)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: python
        types: [python]
        args: []
        require_serial: true
        additional_dependencies: ["types-pkg_resources==0.1.3", "types-toml==0.1.3"]
        exclude: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/|bin/
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.3.2
    hooks:
      - id: prettier
        args: [--prose-wrap=always, --print-width=88]

Fix unittest after adding a new class to the test data.
  tests/pyreverse/test_diadefs.py
Due: pylint

Add changelog and whatsnew entry
  ChangeLog
  doc/whatsnew/2.10.rst
Due: fix-documentation

Increase test coverage
  pylint/pyreverse/plantuml_printer.py
  tests/data/suppliermodule_test.py
  tests/pyreverse/data/classes_No_Name.dot
  tests/pyreverse/data/classes_No_Name.puml
  tests/pyreverse/data/classes_No_Name.vcg
  tests/pyreverse/test_diadefs.py
  tests/pyreverse/test_printer.py
Due: pylint

Add "plantuml" as possible extension for PlantUML output
  pylint/pyreverse/printer_factory.py
  tests/pyreverse/test_printer_factory.py
Due: pylint

``pyreverse``: add PlantUML output (#4846)
  ChangeLog
  doc/whatsnew/2.10.rst
  pylint/pyreverse/dot_printer.py
  pylint/pyreverse/main.py
  pylint/pyreverse/plantuml_printer.py
  pylint/pyreverse/printer.py
  pylint/pyreverse/printer_factory.py
  pylint/pyreverse/writer.py
  tests/data/suppliermodule_test.py
  tests/pyreverse/conftest.py
  tests/pyreverse/data/classes_No_Name.dot
  tests/pyreverse/data/classes_No_Name.puml
  tests/pyreverse/data/classes_No_Name.vcg
  tests/pyreverse/data/packages_No_Name.puml
  tests/pyreverse/test_diadefs.py
  tests/pyreverse/test_printer.py
  tests/pyreverse/test_printer_factory.py
  tests/pyreverse/test_writer.py
Due: pylint, fix-documentation

Add a regression test for #4837
  tests/functional/u/unused/unused_private_member.py
  tests/functional/u/unused/unused_private_member.txt
Due: none

Add a regression test for #4837 (#4847)
  tests/functional/u/unused/unused_private_member.py
  tests/functional/u/unused/unused_private_member.txt
Due: none

Add option to produce colored output from ``pyreverse``
  pylint/pyreverse/dot_printer.py
  pylint/pyreverse/main.py
  pylint/pyreverse/writer.py
  tests/pyreverse/conftest.py
  tests/pyreverse/data/classes_colorized.dot
  tests/pyreverse/data/classes_colorized.puml
  tests/pyreverse/data/packages_colorized.dot
  tests/pyreverse/data/packages_colorized.puml
  tests/pyreverse/test_writer.py
Due: pylint

Add unittest for stdlib modules
  tests/pyreverse/test_writer.py
Due: pylint

Add Chagelog and whatsnew entry
  ChangeLog
  doc/whatsnew/2.10.rst
Due: fix-documentation

Add closed ticket
  ChangeLog
Due: fix-documentation

Suppress ``consider-using-with`` on return statements
  ChangeLog
  doc/whatsnew/2.10.rst
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/c/consider/consider_using_with_open.py
Due: pylint, fix-documentation

Update doc/whatsnew/2.10.rst
  doc/whatsnew/2.10.rst
Due: fix-documentation

Rename ``get_shape`` to ``get_shape_color``
  pylint/pyreverse/writer.py
Due: pylint

Fix unittest after rename
  tests/pyreverse/test_writer.py
Due: pylint

Use indentation in PlantUML diagrams
  pylint/pyreverse/plantuml_printer.py
  pylint/pyreverse/printer.py
  pylint/pyreverse/vcg_printer.py
  tests/pyreverse/data/classes_No_Name.puml
  tests/pyreverse/data/classes_colorized.puml
  tests/pyreverse/test_printer.py
Due: pylint

``pyreverse``: Add option for colored output (#4850)
  ChangeLog
  doc/whatsnew/2.10.rst
  pylint/pyreverse/dot_printer.py
  pylint/pyreverse/main.py
  pylint/pyreverse/plantuml_printer.py
  pylint/pyreverse/printer.py
  pylint/pyreverse/vcg_printer.py
  pylint/pyreverse/writer.py
  tests/pyreverse/conftest.py
  tests/pyreverse/data/classes_colorized.dot
  tests/pyreverse/data/classes_colorized.puml
  tests/pyreverse/data/packages_colorized.dot
  tests/pyreverse/data/packages_colorized.puml
  tests/pyreverse/test_printer.py
  tests/pyreverse/test_writer.py
Due: pylint, fix-documentation

Fix crash on relative import beyond top-level package
  ChangeLog
  pylint/checkers/utils.py
  tests/functional/i/import_aliasing.py
  tests/functional/i/import_aliasing.txt
Due: pylint, fix-documentation

Fix functional test no-value-for-parameter when instancing an enum
  tests/functional/a/arguments_renamed.py
Due: none

Additional tests for PyCQA/astroid#1126
  tests/functional/d/dataclass_with_default_factory.py
  tests/functional/d/dataclass_with_default_factory.txt
  tests/functional/i/invalid/invalid_name_issue_3405.py
  tests/functional/i/invalid/invalid_name_issue_3405.rc
  tests/functional/i/invalid/invalid_name_issue_3405.txt
  tests/functional/n/no/no_member_dataclasses.py
  tests/functional/n/no/no_member_dataclasses.rc
  tests/functional/n/no/no_member_dataclasses.txt
  tests/functional/t/too/too_many_instance_attributes.py
  tests/functional/t/too/too_many_instance_attributes.txt
Due: none

Add regression tests for issue with subclassed enums
  tests/functional/e/enum_subclasses.py
Due: none

Upgrade astroid to 2.7.0
  requirements_test_min.txt
  setup.cfg
Due: none

Remove refs to astroid.node_classes
  examples/custom.py
  pylint/checkers/base.py
  pylint/checkers/classes.py
  pylint/checkers/deprecated.py
  pylint/checkers/exceptions.py
  pylint/checkers/logging.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/typecheck.py
  pylint/checkers/utils.py
  pylint/checkers/variables.py
  pylint/extensions/_check_docs_utils.py
  pylint/extensions/broad_try_clause.py
  pylint/extensions/code_style.py
  pylint/extensions/docparams.py
  pylint/extensions/typing.py
  pylint/pyreverse/inspector.py
Due: pylint

Update tests
  tests/functional/g/generated_members.py
  tests/functional/g/generated_members.txt
Due: none

Use alias for astroid.nodes 01
  examples/custom.py
  pylint/checkers/async.py
  pylint/checkers/base.py
  pylint/checkers/classes.py
  pylint/checkers/deprecated.py
Due: pylint

Limit the dataclasses tests to python 3.7
  tests/functional/t/too/too_many_instance_attributes.py
  tests/functional/t/too/too_many_instance_attributes.txt
  tests/functional/t/too/too_many_instance_attributes_py37.py
  tests/functional/t/too/too_many_instance_attributes_py37.rc
Due: none

pyreverse - Add project modules to sys.path
  pylint/pyreverse/main.py
Due: pylint

Use from astroid import nodes
  examples/custom.py
  pylint/checkers/async.py
  pylint/checkers/base.py
  pylint/checkers/classes.py
  pylint/checkers/deprecated.py
Due: pylint

Resolve name conflicts
  pylint/checkers/base.py
  pylint/checkers/classes.py
Due: pylint

Update docstring
  examples/custom.py
Due: pylint

Fix bad conflict resolution
  pylint/checkers/strings.py
Due: pylint

Add more test cases with invalid python code
  tests/functional/p/possible_forgotten_f_prefix.py
  tests/functional/p/possible_forgotten_f_prefix.txt
Due: none

Use ast.parse() work in progress
  pylint/checkers/strings.py
  tests/functional/p/possible_forgotten_f_prefix.py
Due: pylint
