Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

Ignore cached_property in method-hidden check (#8758)
  doc/whatsnew/fragments/8753.bugfix
  pylint/checkers/classes/class_checker.py
  tests/functional/m/method_hidden.py
  tests/functional/m/method_hidden.txt
  tests/functional/m/method_hidden_py39.py
  tests/functional/m/method_hidden_py39.rc
Due: pylint, check-newsfragments

Remove version guard for argparse._ExtendAction
  pylint/config/argument.py
  pylint/config/callback_actions.py
Due: pylint

Remove version guard in lint_module_output_update
  pylint/testutils/functional/lint_module_output_update.py
  tests/testutils/test_lint_module_output_update.py
Due: pylint

Misc cleanup after dropping Python 3.7
  pylint/config/argument.py
  pylint/testutils/checker_test_case.py
  pylint/testutils/output_line.py
  tests/testutils/test_lint_module_output_update.py
  tests/testutils/test_output_line.py
Due: pylint

Remove regex deepcopy hack for Python 3.7
  pylint/testutils/configuration_test.py
Due: pylint

Skip codecov uploads on forks
  .github/workflows/tests.yaml
Due: none

Simplistic method to detect possible undefined vars
  pylint/checkers/variables.py
  tests/bla_test.py
  tests/test_bla.py
Due: pylint

Exit immediately if all messages are disabled
  doc/whatsnew/fragments/8715.performance
  pylint/lint/run.py
  tests/test_self.py
Due: pylint, check-newsfragments

Don't print help
  pylint/lint/run.py
  tests/test_self.py
Due: pylint

Exit immediately if all messages are disabled (#8799)
  doc/whatsnew/fragments/8715.performance
  pylint/lint/run.py
  tests/test_self.py
Due: pylint, check-newsfragments

Support `cyclic-import` message with `--jobs`
  doc/whatsnew/fragments/4171.bugfix
  pylint/checkers/imports.py
  tests/test_check_parallel.py
Due: pylint, check-newsfragments

[skip ci] Remove caveat
  doc/user_guide/usage/run.rst
Due: none

Support `cyclic-import` message with `--jobs` (#8807)
  doc/user_guide/usage/run.rst
  doc/whatsnew/fragments/4171.bugfix
  pylint/checkers/imports.py
  tests/test_check_parallel.py
Due: pylint, check-newsfragments

Remove useless type ignore following mypy upgrade
  pylint/checkers/base/name_checker/checker.py
  pylint/checkers/similar.py
  pylint/checkers/variables.py
  pylint/pyreverse/diagrams.py
  pylint/pyreverse/writer.py
Due: pylint

Ignore ruff's 'mutable default values in class attributes'
  pyproject.toml
Due: none

Emit assignment-from-none for builtin methods like dict.update()
  doc/whatsnew/fragments/8714.false_negative
  pylint/checkers/typecheck.py
  tests/functional/a/assignment/assignment_from_no_return_2.py
  tests/functional/a/assignment/assignment_from_no_return_2.txt
Due: pylint, check-newsfragments

[fixup] cast to bool
  pylint/checkers/typecheck.py
Due: pylint

Changelog cleanups
  doc/whatsnew/2/2.15/index.rst
  doc/whatsnew/2/2.17/index.rst
  doc/whatsnew/fragments/8563.bugfix
Due: check-newsfragments

[fixup] simplify
  pylint/checkers/typecheck.py
Due: pylint

Use walrus operator to avoid mypy disable
  pylint/checkers/refactoring/refactoring_checker.py
Due: pylint

Emit assignment-from-none for builtin methods like dict.update() (#8809)
  doc/whatsnew/fragments/8714.false_negative
  pylint/checkers/typecheck.py
  tests/functional/a/assignment/assignment_from_no_return_2.py
  tests/functional/a/assignment/assignment_from_no_return_2.txt
Due: pylint, check-newsfragments

Merge `assignment-from-no-return` into `assignment-from-none`
  doc/data/messages/a/assignment-from-no-return/bad.py
  doc/data/messages/a/assignment-from-no-return/good.py
  doc/user_guide/checkers/features.rst
  doc/user_guide/messages/messages_overview.rst
  doc/whatsnew/fragments/8810.other
  pylint/checkers/typecheck.py
  tests/functional/a/assignment/assignment_from_no_return.py
  tests/functional/a/assignment/assignment_from_no_return.txt
  tests/functional/a/assignment/assignment_from_no_return_2.py
  tests/functional/a/assignment/assignment_from_no_return_2.txt
  tests/functional/s/singledispatch/singledispatch_functions.py
Due: pylint, check-newsfragments

Spruce up 3.0 changelog fragments
  doc/whatsnew/fragments/1954.performance
  doc/whatsnew/fragments/6306.breaking
  doc/whatsnew/fragments/6871.user_action
  doc/whatsnew/fragments/8411.user_action
  doc/whatsnew/fragments/8412.internal
  doc/whatsnew/fragments/8433.internal
  doc/whatsnew/fragments/8462.breaking
  doc/whatsnew/fragments/8463.internal
  doc/whatsnew/fragments/8465.user_action
  doc/whatsnew/fragments/8475.internal
Due: check-newsfragments

Stop checking minimum name length by default
  doc/data/messages/i/invalid-name/details.rst
  doc/whatsnew/fragments/2018.user_action
  pylint/checkers/base/name_checker/naming_style.py
  tests/functional/d/disable_msg_next_line.py
  tests/functional/d/disable_msg_next_line.txt
  tests/functional/i/invalid/invalid_name.py
  tests/functional/i/invalid/invalid_name.txt
  tests/functional/i/invalid/invalid_name/invalid_name_property.py
  tests/functional/i/invalid/invalid_name/invalid_name_property.txt
  tests/functional/n/name/name_preset_snake_case.txt
  tests/functional/n/namePresetCamelCase.txt
Due: pylint, check-newsfragments

Add test result that was hidden
  tests/functional/r/regression/regression_4723.py
  tests/functional/r/regression/regression_4723.txt
Due: none

Remove Python 2 check in visit_call()
  pylint/checkers/typecheck.py
Due: pylint

Remove Python 2 check in visit_call() (#8815)
  pylint/checkers/typecheck.py
Due: pylint

Update typing-extensions requirement from ~=4.6 to ~=4.7 (#8816)
  requirements_test_min.txt
Due: none
