Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

Add CI check for building of documentation and linkcheck
  .github/workflows/checks.yaml
Due: none

Move general options to ``PyLinter`` from individual checkers (#6291)
  pylint/checkers/imports.py
  pylint/checkers/typecheck.py
  pylint/lint/pylinter.py
Due: pylint

Make the enable and disable config attributes an actual list
  pylint/lint/pylinter.py
  tests/config/functional/ini/pylintrc_with_message_control.result.json
  tests/config/functional/setup_cfg/setup_cfg_with_message_control.result.json
  tests/config/functional/toml/issue_3181/top_level_list_of_disable.result.json
  tests/config/functional/toml/issue_4580/rich_types.result.json
  tests/config/functional/toml/issue_4580/top_level_disable.result.json
  tests/config/functional/toml/issue_4580/valid_data_for_basic.result.json
  tests/config/functional/toml/issue_4580/valid_data_for_import.result.json
  tests/config/functional/toml/rich_types.result.json
  tests/config/functional/toml/toml_with_enable.result.json
  tests/config/functional/toml/toml_with_message_control.result.json
Due: pylint

Refactor for clarity in Pylinter enable/disable
  pylint/lint/pylinter.py
Due: pylint

Add tests to check that we only add valid disable/enable
  tests/config/functional/toml/unknown_msgid/enable_unknown_msgid.result.json
  tests/config/functional/toml/unknown_msgid/enable_unknown_msgid.toml
Due: none

Add an __eq__ function to assert equality between MessageDefinition
  pylint/message/message_definition.py
Due: pylint

Do not use deprecated methods in ``PyLinter``
  pylint/lint/pylinter.py
  tests/config/test_deprecations.py
Due: pylint

Update formatting for NamingStyles
  pylint/checkers/base/name_checker/naming_style.py
Due: pylint

Update formatting for NamingStyles (#6294)
  pylint/checkers/base/name_checker/naming_style.py
Due: pylint

Restore some coverage
  tests/test_import_graph.py
Due: pylint

Fix?
  tests/config/functional/toml/unknown_msgid/enable_unknown_msgid.result.json
Due: none

Ignore deprecated module false negatives
  tests/functional/d/deprecated/deprecated_relative_import/dot_relative_import.rc
  tests/functional/d/deprecated/deprecated_relative_import/subpackage/dot_dot_relative_import.rc
Due: none

Fix ``deprecated-typing-alias`` false negative
  pylint/extensions/typing.py
Due: pylint

Add a ``--generate-toml-config`` option (#6199)
  ChangeLog
  doc/faq.rst
  doc/intro.rst
  doc/tutorial.rst
  doc/user_guide/run.rst
  doc/whatsnew/2.14.rst
  pylint/config/arguments_manager.py
  pylint/config/callback_actions.py
  pylint/lint/run.py
  setup.cfg
  tests/test_self.py
Due: pylint, fix-documentation

Do not use deprecated methods in ``PyLinter`` (#6293)
  pylint/lint/pylinter.py
  tests/config/functional/toml/unknown_msgid/enable_unknown_msgid.result.json
  tests/config/test_deprecations.py
  tests/test_import_graph.py
Due: pylint

Remove use of deprecated methods in ``_ArgumentsProvider`` and ``_config_initialization``
  pylint/config/arguments_provider.py
  pylint/config/config_initialization.py
  tests/config/test_deprecations.py
Due: pylint

Add ``_ArgumentsManager.set_option`` and deprecate old option setters
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/similar.py
  pylint/checkers/variables.py
  pylint/config/arguments_manager.py
  pylint/config/arguments_provider.py
  pylint/config/utils.py
  pylint/lint/pylinter.py
Due: pylint, fix-documentation

Create ``_ExtendArgument``
  pylint/config/argument.py
  pylint/config/arguments_manager.py
  pylint/config/arguments_provider.py
  pylint/config/callback_actions.py
  pylint/config/utils.py
Due: pylint

Use ``python-typing-update`` on ``pylint`` directory
  pylint/__init__.py
  pylint/__pkginfo__.py
  pylint/constants.py
  pylint/epylint.py
  pylint/graph.py
  pylint/interfaces.py
  pylint/typing.py
Due: pylint

Use ``python-typing-update`` on ``pylint/testutils`` directory
  pylint/testutils/checker_test_case.py
  pylint/testutils/configuration_test.py
  pylint/testutils/functional/find_functional_tests.py
  pylint/testutils/functional/lint_module_output_update.py
  pylint/testutils/functional/test_file.py
  pylint/testutils/get_test_info.py
  pylint/testutils/lint_module_test.py
  pylint/testutils/output_line.py
  pylint/testutils/primer.py
  pylint/testutils/pyreverse.py
  pylint/testutils/reporter_for_tests.py
  pylint/testutils/tokenize_str.py
  pylint/testutils/unittest_linter.py
  pylint/testutils/utils.py
Due: pylint

Use ``python-typing-update`` on ``pylint/utils`` and ``message`` dirs
  pylint/message/message_definition.py
  pylint/message/message_definition_store.py
  pylint/message/message_id_store.py
  pylint/utils/docs.py
  pylint/utils/file_state.py
  pylint/utils/linterstats.py
  pylint/utils/pragma_parser.py
  pylint/utils/utils.py
Due: pylint

Use ``python-typing-update`` on ``pylint/reporters`` directory
  pylint/reporters/__init__.py
  pylint/reporters/base_reporter.py
  pylint/reporters/collecting_reporter.py
  pylint/reporters/json_reporter.py
  pylint/reporters/multi_reporter.py
  pylint/reporters/reports_handler_mix_in.py
  pylint/reporters/text.py
  pylint/reporters/ureports/base_writer.py
  pylint/reporters/ureports/nodes.py
  pylint/reporters/ureports/text_writer.py
Due: pylint

Use ``python-typing-update`` on ``pylint/config`` directory
  pylint/config/argument.py
  pylint/config/arguments_manager.py
  pylint/config/arguments_provider.py
  pylint/config/callback_actions.py
  pylint/config/config_file_parser.py
  pylint/config/config_initialization.py
  pylint/config/deprecation_actions.py
  pylint/config/find_default_config_files.py
  pylint/config/help_formatter.py
  pylint/config/option.py
  pylint/config/option_manager_mixin.py
  pylint/config/utils.py
Due: pylint

Add some formatting
  pylint/config/utils.py
Due: pylint

Use ``python-typing-update`` on ``pylint/config`` directory (#6307)
  pylint/config/argument.py
  pylint/config/arguments_manager.py
  pylint/config/arguments_provider.py
  pylint/config/callback_actions.py
  pylint/config/config_file_parser.py
  pylint/config/config_initialization.py
  pylint/config/deprecation_actions.py
  pylint/config/find_default_config_files.py
  pylint/config/help_formatter.py
  pylint/config/option.py
  pylint/config/option_manager_mixin.py
  pylint/config/utils.py
Due: pylint

Use ``python-typing-update`` on ``pylint/extensions`` directory
  pylint/extensions/__init__.py
  pylint/extensions/_check_docs_utils.py
  pylint/extensions/bad_builtin.py
  pylint/extensions/broad_try_clause.py
  pylint/extensions/check_elif.py
  pylint/extensions/code_style.py
  pylint/extensions/comparetozero.py
  pylint/extensions/comparison_placement.py
  pylint/extensions/confusing_elif.py
  pylint/extensions/consider_ternary_expression.py
  pylint/extensions/docparams.py
  pylint/extensions/docstyle.py
  pylint/extensions/empty_comment.py
  pylint/extensions/emptystring.py
  pylint/extensions/for_any_all.py
  pylint/extensions/mccabe.py
  pylint/extensions/overlapping_exceptions.py
  pylint/extensions/private_import.py
  pylint/extensions/redefined_variable_type.py
  pylint/extensions/set_membership.py
  pylint/extensions/typing.py
  pylint/extensions/while_used.py
Due: pylint

Fix type
  pylint/extensions/code_style.py
Due: pylint

Use ``python-typing-update`` on ``pylint/extensions`` directory (#6308)
  pylint/extensions/__init__.py
  pylint/extensions/_check_docs_utils.py
  pylint/extensions/bad_builtin.py
  pylint/extensions/broad_try_clause.py
  pylint/extensions/check_elif.py
  pylint/extensions/code_style.py
  pylint/extensions/comparetozero.py
  pylint/extensions/comparison_placement.py
  pylint/extensions/confusing_elif.py
  pylint/extensions/consider_ternary_expression.py
  pylint/extensions/docparams.py
  pylint/extensions/docstyle.py
  pylint/extensions/empty_comment.py
  pylint/extensions/emptystring.py
  pylint/extensions/for_any_all.py
  pylint/extensions/mccabe.py
  pylint/extensions/overlapping_exceptions.py
  pylint/extensions/private_import.py
  pylint/extensions/redefined_variable_type.py
  pylint/extensions/set_membership.py
  pylint/extensions/typing.py
  pylint/extensions/while_used.py
Due: pylint

Use ``python-typing-update`` on ``pylint/pyreverse`` directory
  pylint/message/message.py
  pylint/pyreverse/diadefslib.py
  pylint/pyreverse/dot_printer.py
  pylint/pyreverse/mermaidjs_printer.py
  pylint/pyreverse/plantuml_printer.py
  pylint/pyreverse/printer.py
  pylint/pyreverse/printer_factory.py
  pylint/pyreverse/utils.py
  pylint/pyreverse/vcg_printer.py
Due: pylint

Fix type
  pylint/config/arguments_manager.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: tests/functional/|tests/input|tests(/\w*)*data/|doc/
  fix-documentation: any of: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
