Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I
  - --load-plugins=pylint.extensions.docparams

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

Handle ``group`` in optdicts and ``option_groups`` (#6207)
  pylint/config/argument.py
  pylint/config/arguments_manager.py
  pylint/config/utils.py
  pylint/lint/pylinter.py
Due: pylint

Prevent `used-before-assignment` for assignment via nonlocal after type annotation (#6185)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/variables.py
  tests/functional/u/used/used_before_assignment_nonlocal.py
  tests/functional/u/used/used_before_assignment_nonlocal.txt
Due: pylint, fix-documentation

Update optdicts in ``pyreverse``
  pylint/pyreverse/main.py
Due: pylint

Add ``Options`` and ``OptionsDict`` to typing utils
  pylint/checkers/base_checker.py
  pylint/checkers/similar.py
  pylint/config/options_provider_mixin.py
  pylint/lint/pylinter.py
  pylint/pyreverse/main.py
  pylint/typing.py
Due: pylint

Add ``prog`` and ``usage`` to ``_ArgumentsManager``
  pylint/config/arguments_manager.py
  pylint/lint/pylinter.py
  pylint/testutils/unittest_linter.py
Due: pylint

Create ``_ArgumentsProvider``
  pylint/checkers/base_checker.py
  pylint/config/arguments_manager.py
  pylint/config/arguments_provider.py
  tests/lint/unittest_lint.py
  tests/test_regr.py
Due: pylint

Change to ``store_true``
  pylint/pyreverse/main.py
Due: pylint

Remove duplicate key
  pylint/pyreverse/main.py
Due: pylint

Fix
  pylint/pyreverse/main.py
Due: pylint

Improve performance of config file reader
  pylint/config/arguments_manager.py
  pylint/config/config_file_parser.py
  pylint/config/config_initialization.py
Due: pylint

Remove todo after investigation
  pylint/config/arguments_manager.py
Due: pylint

Add ``subclassed-final-class`` message to the ``check_messages`` decorator (#6190)
  ChangeLog
  pylint/checkers/classes/class_checker.py
Due: pylint, fix-documentation

Only emit ``lru-cache-decorating-method`` when ``maxsize`` is ``None`` (#6181)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/stdlib.py
  pylint/message/message_definition_store.py
  tests/functional/c/cache_max_size_none.py
  tests/functional/c/cache_max_size_none.txt
  tests/functional/l/lru_cache_decorating_method.py
  tests/functional/l/lru_cache_decorating_method.txt
Due: pylint, fix-documentation

Add ``option_groups_descs`` to ``_ArgumentsProvider``
  pylint/config/arguments_manager.py
  pylint/config/arguments_provider.py
  pylint/lint/pylinter.py
Due: pylint

Add ``_option_dicts`` attribute to ``_ArgumentsManager``
  pylint/config/arguments_manager.py
Due: pylint

Move ``test_generate_config_disable_symbolic_names``
  tests/test_self.py
Due: pylint

Bump pylint to 2.13.5, update changelog
  CONTRIBUTORS.txt
  ChangeLog
  pylint/__pkginfo__.py
  tbump.toml
Due: pylint, fix-documentation

fix glob pattern
  .pre-commit-config.yaml
  doc/data/messages/u/ungrouped-imports/bad.py
Due: none

restore deleted reimported bad.py
  doc/data/messages/r/reimported/bad.py
Due: none

Add coverage and fix preexisting false positive
  pylint/extensions/redefined_loop_name.py
  tests/functional/ext/redefined_loop_name/redefined_loop_name.py
Due: pylint

Add coverage
  tests/functional/ext/redefined_loop_name/redefined_loop_name.py
Due: none

Handle asterisks better in Sphinx and Google style docstrings
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/extensions/_check_docs_utils.py
  pylint/extensions/docparams.py
  tests/functional/ext/docparams/parameter/missing_param_doc_required_Google.py
  tests/functional/ext/docparams/parameter/missing_param_doc_required_Google.txt
  tests/functional/ext/docparams/parameter/missing_param_doc_required_Numpy.py
  tests/functional/ext/docparams/parameter/missing_param_doc_required_Sphinx.py
  tests/functional/ext/docparams/parameter/missing_param_doc_required_Sphinx.txt
Due: pylint, fix-documentation

Assert that links in related.rst are a list
  doc/data/messages/c/cell-var-from-loop/related.rst
  doc/data/messages/d/duplicate-key/related.rst
  doc/data/messages/g/global-at-module-level/related.rst
  doc/data/messages/l/literal-comparison/related.rst
  doc/data/messages/m/missing-format-argument-key/related.rst
  doc/data/messages/s/self-assigning-variable/related.rst
  doc/data/messages/s/singleton-comparison/related.rst
  doc/data/messages/t/too-few-format-args/related.rst
  doc/data/messages/t/too-many-format-args/related.rst
  doc/data/messages/u/unbalanced-tuple-unpacking/related.rst
  doc/data/messages/u/undefined-all-variable/related.rst
  doc/data/messages/u/unidiomatic-typecheck/related.rst
  doc/data/messages/u/useless-import-alias/related.rst
  doc/test_messages_documentation.py
Due: none

Change list
  doc/data/messages/d/deprecated-module/related.rst
Due: none

Change list
  doc/data/messages/g/global-statement/related.rst
Due: none

Copy all of ``OptionsManagerMixIn`` methods into ``_ArgumentsManager``
  pylint/config/arguments_manager.py
  pylint/config/option_manager_mixin.py
  pylint/lint/pylinter.py
  pylint/testutils/unittest_linter.py
  tests/test_regr.py
Due: pylint

Remove disable
  tests/lint/unittest_lint.py
Due: pylint

fix link in `related.rst` from `*` to `-`
  doc/data/messages/c/cell-var-from-loop/related.rst
  doc/data/messages/d/duplicate-key/related.rst
  doc/data/messages/l/literal-comparison/related.rst
  doc/data/messages/m/missing-format-argument-key/related.rst
  doc/data/messages/s/singleton-comparison/related.rst
  doc/data/messages/u/undefined-all-variable/related.rst
  doc/data/messages/u/unidiomatic-typecheck/related.rst
  doc/data/messages/u/useless-import-alias/related.rst
Due: none

fix whitespace
  doc/data/messages/c/cell-var-from-loop/related.rst
  doc/data/messages/d/duplicate-key/related.rst
Due: none

Apply suggestions from code review
  pylint/config/arguments_manager.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
  fix-documentation: any of: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
