Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

check-newsfragments:
  name: Check newsfragments
  entry: python3 -m script.check_newsfragments
  language: system

Enable ruff's C400 (unnecessary-generator-list)
  pylint/testutils/functional/find_functional_tests.py
  pyproject.toml
Due: pylint

Enable ruff's FURB177 (implicit-cwd)
  pylint/config/config_initialization.py
  pyproject.toml
Due: pylint

Enable ruff's FURB192 (sorted-min-max)
  pylint/checkers/refactoring/refactoring_checker.py
  pyproject.toml
Due: pylint

Enable ruff's SIM201 (negate-equal-op)
  pylint/checkers/classes/class_checker.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/typecheck.py
  pylint/extensions/for_any_all.py
  pylint/testutils/functional/find_functional_tests.py
  pyproject.toml
  tests/test_self.py
Due: pylint

Enable ruff's C405 (unnecessary-literal-set)
  pyproject.toml
  tests/pyreverse/test_diadefs.py
Due: pylint

Enable ruff's C408 (unnecessary-collection-call)
  pylint/testutils/pyreverse.py
  pyproject.toml
  tests/checkers/unittest_non_ascii_name.py
  tests/checkers/unittest_unicode/__init__.py
Due: pylint

Enable ruff's PT014 (pytest-duplicate-parametrize-test-cases)
  pyproject.toml
  tests/checkers/unittest_non_ascii_name.py
  tests/checkers/unittest_unicode/unittest_functions.py
Due: pylint

Enable ruff's C414 (unnecessary-double-cast-or-process)
  pylint/checkers/refactoring/refactoring_checker.py
  pyproject.toml
Due: pylint

Enable ruff's SIM118 (in-dict-keys)
  pylint/lint/pylinter.py
  pylint/lint/report_functions.py
  pyproject.toml
Due: pylint

Enable ruff's C401 (unnecessary-generator-set)
  pylint/lint/run.py
  pyproject.toml
Due: pylint

Docs: add a linter aggregators page in the installation section
  doc/user_guide/installation/index.rst
  doc/user_guide/installation/linter-aggregators.rst
Due: none

Flag assertEqual and assertNotEqual between two constants in W1503
  doc/data/messages/r/redundant-unittest-assert/bad.py
  doc/data/messages/r/redundant-unittest-assert/details.rst
  doc/user_guide/checkers/features.rst
  doc/whatsnew/fragments/11321.false_negative
  pylint/checkers/stdlib.py
  tests/functional/r/redundant_unittest_assert.py
  tests/functional/r/redundant_unittest_assert.txt
Due: pylint, check-newsfragments

W0640 cell-var-from-loop false positive in Generator Comprehension of functions (#10055)
  doc/whatsnew/fragments/10055.bugfix
  pylint/checkers/variables.py
  tests/functional/c/cellvar_escaping_loop.py
  tests/functional/c/cellvar_escaping_loop.txt
  tests/scratch_probe_test.py
Due: pylint, check-newsfragments

Spellchecker doesn't ignore labels and types in autodoc docstrings (#10187)
  doc/whatsnew/fragments/10187.bugfix
  pylint/checkers/spelling.py
  tests/checkers/unittest_spelling.py
Due: pylint, check-newsfragments

False positive E1133 (not-an-iterable) when returning (type hinted) class variable (#10298)
  doc/whatsnew/fragments/10298.bugfix
  pylint/checkers/typecheck.py
  tests/functional/i/iterable_context.py
Due: pylint, check-newsfragments

False positive ``too-few-public-methods`` on property function calls and descriptors (#10348)
  doc/whatsnew/fragments/10348.bugfix
  pylint/checkers/design_analysis.py
  tests/functional/t/too/too_few_public_methods.py
  tests/functional/t/too/too_few_public_methods.txt
Due: pylint, check-newsfragments

False negative - assign `list.reverse()` instead of `reversed(list)` (#10383)
  doc/whatsnew/fragments/10383.bugfix
  pylint/checkers/typecheck.py
  tests/functional/a/assignment/assignment_from_no_return_annassign_namedexpr.py
  tests/functional/a/assignment/assignment_from_no_return_annassign_namedexpr.txt
Due: pylint, check-newsfragments

Backslashes don't properly render in docs (#10737)
  doc/whatsnew/fragments/10737.bugfix
  pylint/message/message_definition.py
  tests/message/unittest_message_definition.py
Due: pylint, check-newsfragments

arguments-differ: number of parameters was some number ... and is now the same number in overridden ... (#5793)
  doc/whatsnew/fragments/5793.bugfix
  pylint/checkers/classes/class_checker.py
Due: pylint, check-newsfragments

--fail-under has no visual impact on terminal output (#8503)
  doc/whatsnew/fragments/8503.bugfix
  pylint/lint/run.py
  tests/test_fail_under_message.py
Due: pylint, check-newsfragments

Abstract method false-positive when using TypeVarTuple (#10972)
  doc/whatsnew/fragments/10972.bugfix
  pylint/checkers/utils.py
  tests/functional/a/abstract/abstract_class_instantiated_typevartuple.py
  tests/functional/a/abstract/abstract_class_instantiated_typevartuple.rc
  tests/functional/a/abstract/abstract_class_instantiated_typevartuple.txt
Due: pylint, check-newsfragments

False negative ``superfluous-parens`` when around two conditional and an ``and`` (#10084)
  doc/whatsnew/fragments/10084.bugfix
  pylint/checkers/format.py
Due: pylint, check-newsfragments

Using return value of a function that returns None is not always reported. (#10476)
  doc/whatsnew/fragments/10476.bugfix
  pylint/checkers/typecheck.py
Due: pylint, check-newsfragments

Fix pyreverse warning for uninferable target
  doc/whatsnew/fragments/9797.bugfix
  pylint/pyreverse/diadefslib.py
  tests/pyreverse/test_diadefs.py
Due: pylint, check-newsfragments

Fix news frament formatting
  doc/whatsnew/fragments/5214.false_positive
  doc/whatsnew/fragments/5214.false_positive.rst
Due: check-newsfragments

Remove changelog fragment as requested in review
  doc/whatsnew/fragments/10737.bugfix
Due: check-newsfragments

Refine assignment-from-no-return wording
  doc/user_guide/checkers/features.rst
  pylint/checkers/typecheck.py
  tests/functional/a/assignment/assignment_from_no_return.txt
  tests/functional/a/assignment/assignment_from_no_return_2.txt
  tests/functional/a/assignment/assignment_from_no_return_3.txt
Due: pylint

Add a functional test for the same-named helper false negative
  tests/functional/a/attribute_defined_outside_init.py
Due: none

Improve assignment-from-no-return hints (#11210)
  doc/data/messages/a/assignment-from-no-return/bad/function_without_return.py
  doc/data/messages/a/assignment-from-no-return/bad/in_place_method.py
  doc/data/messages/a/assignment-from-no-return/good/function_without_return.py
  doc/data/messages/a/assignment-from-no-return/good/in_place_method.py
  doc/user_guide/checkers/features.rst
  doc/user_guide/configuration/all-options.rst
  doc/whatsnew/fragments/10383.other
  pylint/checkers/typecheck.py
  tests/checkers/unittest_typecheck.py
  tests/functional/a/assignment/assignment_from_no_return.py
  tests/functional/a/assignment/assignment_from_no_return.txt
  tests/functional/a/assignment/assignment_from_no_return_2.py
  tests/functional/a/assignment/assignment_from_no_return_2.txt
  tests/functional/a/assignment/assignment_from_no_return_3.py
  tests/functional/a/assignment/assignment_from_no_return_3.rc
  tests/functional/a/assignment/assignment_from_no_return_3.txt
Due: pylint, check-newsfragments

Apply suggestions from code review
  doc/whatsnew/fragments/5214.false_positive
  tests/functional/a/attribute_defined_outside_init.py
Due: check-newsfragments

Simplify the helper-call suppression to a single any()
  pylint/checkers/classes/class_checker.py
Due: pylint

Close the role markup in the news fragment
  doc/whatsnew/fragments/5214.false_positive
Due: check-newsfragments

Update _check_attribute_defined_outside_init for helper functions (#11270)
  doc/whatsnew/fragments/5214.false_positive
  pylint/checkers/classes/class_checker.py
  tests/functional/a/attribute_defined_outside_init.py
Due: pylint, check-newsfragments

Skip the PR primer when the branch does not contain the primed 'main'
  .github/workflows/primer_comment.yaml
  .github/workflows/primer_run_pr.yaml
Due: none

Ask for an update when the primer skips a branch
  .github/workflows/primer_comment.yaml
  .github/workflows/primer_run_pr.yaml
Due: none

Say which way the comparison goes wrong
  .github/workflows/primer_comment.yaml
  .github/workflows/primer_run_pr.yaml
Due: none

Emit deprecated-method for datetime.utcnow() on Python 3.12+
  doc/whatsnew/fragments/6234.false_negative
  pylint/checkers/stdlib.py
  tests/functional/d/deprecated/deprecated_methods_py312.py
  tests/functional/d/deprecated/deprecated_methods_py312.rc
  tests/functional/d/deprecated/deprecated_methods_py312.txt
Due: pylint, check-newsfragments

Split mccabe --max-complexity into its own extension section
  doc/exts/pylint_extensions.py
  doc/exts/pylint_options.py
  doc/test_options_documentation.py
  doc/user_guide/checkers/extensions.rst
  doc/user_guide/configuration/all-options.rst
  doc/whatsnew/fragments/9174.other
  pylint/checkers/base_checker.py
  pylint/extensions/mccabe.rst
  tox.ini
Due: pylint, check-newsfragments

Fix bad-string-format-type FP for subclasses of builtin types
  doc/whatsnew/fragments/11315.false_positive
  pylint/checkers/strings.py
  tests/functional/b/bad_string_format_type.py
  tests/functional/b/bad_string_format_type.txt
Due: pylint, check-newsfragments

Fix invalid-*-returned FP for subclasses of the expected builtin
  doc/whatsnew/fragments/11306.false_positive
  pylint/checkers/classes/special_methods_checker.py
  tests/functional/i/invalid/invalid_bytes_returned.py
  tests/functional/i/invalid/invalid_format_returned.py
  tests/functional/i/invalid/invalid_getnewargs/invalid_getnewargs_returned.py
  tests/functional/i/invalid/invalid_hash_returned.py
  tests/functional/i/invalid/invalid_index_returned.py
  tests/functional/i/invalid/invalid_length/invalid_length_hint_returned.py
  tests/functional/i/invalid/invalid_length/invalid_length_returned.py
  tests/functional/i/invalid/invalid_repr_returned.py
  tests/functional/i/invalid/invalid_str_returned.py
Due: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst
