Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

.pre-commit-config.yaml:

ci:
  skip: [pylint]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
        exclude: "tests/functional/t/trailing_whitespaces.py|tests/pyreverse/data/.*.html"
      - id: end-of-file-fixer
        exclude: "tests/functional/m/missing/missing_final_newline.py|tests/functional/t/trailing_newlines.py"
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
      - id: autoflake
        exclude: &fixtures tests/functional/|tests/input|doc/data/messages|tests(/\w*)*data/
        args:
          - --in-place
          - --remove-all-unused-imports
          - --expand-star-imports
          - --remove-duplicate-keys
          - --remove-unused-variables
  - repo: https://github.com/Pierre-Sassoulas/copyright_notice_precommit
    rev: 0.1.2
    hooks:
      - id: copyright-notice
        args: ["--notice=script/copyright.txt", "--enforce-all"]
        exclude: tests/functional/|tests/input|doc/data/messages|examples/|setup.py|tests(/\w*)*data/
        types: [python]
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.31.1
    hooks:
      - id: pyupgrade
        args: [--py36-plus]
        exclude: *fixtures
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
        exclude: doc/data/messages/(r/reimported|w/wrong-import-order|u/ungrouped-imports)/bad.py
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: [--safe, --quiet]
        exclude: *fixtures
  - repo: https://github.com/Pierre-Sassoulas/black-disable-checker
    rev: 1.0.1
    hooks:
      - id: black-disable-checker
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies: [flake8-typing-imports==1.12.0]
        exclude: *fixtures
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--rcfile=pylintrc", "--fail-on=I"]
        exclude: tests/functional/|tests/input|tests(/\w*)*data/|doc/
      - id: fix-documentation
        name: Fix documentation
        entry: python3 -m script.fix_documentation
        language: system
        types: [text]
        files: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
  - repo: https://github.com/myint/rstcheck
    rev: "3f92957478422df87bd730abde66f089cc1ee19b"
    hooks:
      - id: rstcheck
        args: ["--ignore-roles=func,class,mod", "--report=warning"]
        types: [text] # necessary to include ChangeLog file
        files: ^(ChangeLog|doc/(.*/)*.*\.rst)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.942
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: python
        types: [python]
        args: []
        require_serial: true
        additional_dependencies: ["platformdirs==2.2.0", "types-pkg_resources==0.1.3"]
        exclude: tests/functional/|tests/input|tests(/.*)+/conftest.py|doc/data/messages|tests(/\w*)*data/
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier
        args: [--prose-wrap=always, --print-width=88]
        exclude: tests(/\w*)*data/
  - repo: https://github.com/DanielNoord/pydocstringformatter
    rev: v0.5.3
    hooks:
      - id: pydocstringformatter
        exclude: *fixtures
        args: ["--split-summary-body", "--max-summary-lines=2"]
        files: "pylint"

Add ``bad-option-value``
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/config/callback_actions.py
  pylint/config/config_initialization.py
  pylint/lint/pylinter.py
  tests/config/functional/toml/issue_4746/loaded_plugin_does_not_exists.2.out
  tests/config/functional/toml/unknown_msgid/enable_unknown_msgid.2.out
  tests/config/test_config.py
  tests/functional/b/bad_option_value.txt
  tests/functional/u/use/use_symbolic_message_instead.txt
Due: pylint, fix-documentation

Import defaultdict directly
  pylint/checkers/variables.py
  pylint/lint/pylinter.py
  pylint/lint/report_functions.py
  pylint/utils/file_state.py
Due: pylint

Add some manual typing changes (#6325)
  examples/deprecation_checker.py
  pylint/checkers/base/name_checker/naming_style.py
  pylint/checkers/variables.py
  pylint/lint/parallel.py
  pylint/lint/pylinter.py
  pylint/lint/report_functions.py
  pylint/testutils/functional/test_file.py
  pylint/testutils/output_line.py
  pylint/utils/file_state.py
  pylint/utils/pragma_parser.py
  pylint/utils/utils.py
  script/bump_changelog.py
  script/fix_documentation.py
  script/get_unused_message_id_category.py
Due: pylint

Suppress ``useless-super-delegation`` if return type changed (#5822)
  pylint/checkers/classes/class_checker.py
  tests/functional/u/useless/useless_super_delegation_py35.py
  tests/functional/u/useless/useless_super_delegation_py35.txt
Due: pylint

Catch a ``DeprecationWarning`` in our tests
  tests/config/test_find_default_config_files.py
Due: pylint

Deprecate the ``level`` attribute
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/base_checker.py
  pylint/config/arguments_manager.py
  pylint/config/arguments_provider.py
  pylint/config/option_manager_mixin.py
  pylint/lint/pylinter.py
  tests/config/test_deprecations.py
Due: pylint, fix-documentation

Fix option setting in our testsuite
  pylint/testutils/decorator.py
  tests/test_import_graph.py
  tests/unittest_reporting.py
Due: pylint

Update changelogs
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/config/arguments_provider.py
Due: pylint, fix-documentation

Apply suggestions from code review
  .github/workflows/checks.yaml
  .pre-commit-config.yaml
Due: none

Bump py-version and add python-typing-update to CI (#6326)
  pylintrc
Due: none

Fix parsing of unknown message IDs
  pylint/config/callback_actions.py
  tests/config/functional/toml/unknown_msgid/enable_unknown_msgid.result.json
  tests/config/functional/toml/unknown_msgid/enable_unknown_msgid.toml
Due: pylint

Deprecate ``cb_set_provider_option``
  pylint/config/arguments_manager.py
  tests/config/test_deprecations.py
Due: pylint

Remove unused method
  pylint/lint/run.py
Due: pylint

Add typing and small refactors to pyreverse
  pylint/config/arguments_manager.py
  pylint/pyreverse/main.py
  pylint/pyreverse/utils.py
  pylint/pyreverse/writer.py
Due: pylint

Reinstate warning if base method has no return type annotation
  pylint/checkers/classes/class_checker.py
  tests/functional/u/useless/useless_super_delegation_py35.py
  tests/functional/u/useless/useless_super_delegation_py35.txt
Due: pylint

Add regression test for missing comma in enable/disable
  tests/config/functional/ini/pylintrc_with_missing_comma.2.out
  tests/config/functional/ini/pylintrc_with_missing_comma.ini
  tests/config/functional/ini/pylintrc_with_missing_comma.result.json
  tests/config/functional/toml/issue_3122/toml_with_missing_comma.2.out
  tests/config/functional/toml/issue_3122/toml_with_missing_comma.result.json
  tests/config/functional/toml/issue_3122/toml_with_missing_comma.toml
Due: none

Add a test for old_names with multiple new name in configuration
  tests/config/functional/toml/issue_3122/toml_with_missing_comma.result.json
  tests/config/functional/toml/issue_3122/toml_with_missing_comma.toml
Due: none

Exclude deprecated methods and files from coverage
  .coveragerc
  pylint/config/arguments_manager.py
  pylint/config/arguments_provider.py
  pylint/config/callback_actions.py
Due: pylint

Skip tests for ``fixme`` message, don't know yet how enable/disable affects TokenChecker/RawChecker
  tests/functional/f/fixme.rc
Due: none

Exclude functional test for various logging checks, as the output string depends on what messages are enabled.
  tests/functional/l/logging_format_interpolation_py36.rc
  tests/functional/l/logging_fstring_interpolation_py36.rc
  tests/functional/l/logging_fstring_interpolation_py37.rc
  tests/functional/l/logging_not_lazy_with_logger.rc
Due: none

Fix false negative for ``nan-comparison``
  pylint/checkers/base/comparison_checker.py
Due: pylint

Fix false negative for ``non-ascii-module-import``
  pylint/checkers/non_ascii_names.py
Due: pylint

Fix false negative for ``non-ascii-file-name``
  pylint/checkers/non_ascii_names.py
Due: pylint

Skip tests for logging messages
  tests/functional/r/renamed_import_logging_not_lazy.rc
Due: none

Fix false negative for ``undefined-variable`` in ``metaclass`` argument
  pylint/checkers/variables.py
Due: pylint

Add ``unrecognized-option`` message
  ChangeLog
  doc/data/messages/u/unrecognize-option/details.rst
  doc/whatsnew/2.14.rst
  pylint/config/arguments_manager.py
  pylint/config/config_initialization.py
  pylint/config/exceptions.py
  pylint/lint/pylinter.py
  pylintrc
  tests/config/functional/toml/toml_with_unknown_option.2.out
  tests/config/functional/toml/toml_with_unknown_option.result.json
  tests/config/functional/toml/toml_with_unknown_option.toml
  tests/config/test_config.py
  tests/regrtest_data/.pylintrc
  tests/test_self.py
Due: pylint, fix-documentation

Exclude test for ``catching-non-exception``. ``exc._all_bases_known`` is ``False`` when enabling just this message.
  tests/functional/t/try_except_raise_crash.rc
Due: none

Exclude ``ungrouped_imports_suppression``. ``useless-suppression`` is triggered too often in this case.
  tests/functional/u/ungrouped_imports_suppression.rc
Due: none

Fix false negative for ``use-a-generator``
  pylint/checkers/refactoring/refactoring_checker.py
Due: pylint

Exclude functional tests for ``useless-suppression`` from ``--minimal-messages-config``
  tests/functional/u/useless/useless_suppression.rc
Due: none
