Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I
  - --load-plugins=pylint.extensions.docparams

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

Add documentation and code examples for ``consider-using-with`` (#6009)
  doc/data/messages/c/consider-using-with/bad.py
  doc/data/messages/c/consider-using-with/details.rst
  doc/data/messages/c/consider-using-with/good.py
  doc/data/messages/c/consider-using-with/related.rst
Due: none

Update doc/data/messages/b/bad-indentation/details.rst
  doc/data/messages/b/bad-indentation/details.rst
Due: none

Added example for bad-indentation (#6000)
  doc/data/messages/b/bad-indentation/bad.py
  doc/data/messages/b/bad-indentation/details.rst
  doc/data/messages/b/bad-indentation/good.py
Due: none

Fix crash on unbalanced tuple unpacking
  ChangeLog
  pylint/checkers/base/name_checker/checker.py
  tests/functional/u/unbalanced_tuple_unpacking.py
  tests/functional/u/unbalanced_tuple_unpacking.txt
Due: pylint, fix-documentation

Added example for bad-except-order
  doc/data/messages/b/bad-except-order/bad.py
  doc/data/messages/b/bad-except-order/good.py
Due: none

Added assignment-from-no-return message example (#5992)
  doc/data/messages/a/assignment-from-no-return/bad.py
  doc/data/messages/a/assignment-from-no-return/good.py
Due: none

Added example for assignment-from-none
  doc/data/messages/a/assignment-from-none/bad.py
  doc/data/messages/a/assignment-from-none/good.py
Due: none

Split checks and tests in CI
  .github/workflows/checks.yaml
  .github/workflows/tests.yaml
Due: none

Add concurrency and update names
  .github/workflows/checks.yaml
Due: none

Move to 2.13.3
  ChangeLog
  doc/whatsnew/2.13.rst
  doc/whatsnew/2.14.rst
Due: fix-documentation

Change names
  .github/workflows/checks.yaml
Due: none

`unnecessary-ellipsis` false positive: allow ellipsis as default argument (#6007)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/ellipsis_checker.py
  tests/functional/u/unnecessary/unnecessary_ellipsis.py
Due: pylint, fix-documentation

Move changelog to 2.13.3
  ChangeLog
  doc/whatsnew/2.13.rst
  doc/whatsnew/2.14.rst
Due: fix-documentation

Split checks and tests in CI (#6010)
  .github/workflows/checks.yaml
  .github/workflows/tests.yaml
Due: none

Extend solution to AugAssign
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/variables.py
  tests/functional/r/redefined/redefined_loop_name.py
  tests/functional/r/redefined/redefined_loop_name.txt
Due: pylint, fix-documentation

New check C106: typevar-double-invariance
  ChangeLog
  doc/data/messages/t/typevar-double-variance/bad.py
  doc/data/messages/t/typevar-double-variance/good.py
  doc/whatsnew/2.14.rst
  pylint/checkers/base/name_checker/checker.py
  tests/functional/t/typevar_double_invariance.py
  tests/functional/t/typevar_double_invariance.txt
  tests/functional/t/typevar_naming_style_default.py
  tests/functional/t/typevar_naming_style_default.txt
Due: pylint, fix-documentation

Update tests
  tests/functional/s/statement_without_effect.py
  tests/functional/t/too/too_many_nested_blocks.py
  tests/functional/u/unnecessary/unnecessary_list_index_lookup.py
Due: none

Move ``await-outside-async`` check to correct checker class
  pylint/checkers/typecheck.py
Due: pylint

Add examples and link to PEP for ``await-outside-async``
  doc/data/messages/a/await-outside-async/bad.py
  doc/data/messages/a/await-outside-async/good.py
  doc/data/messages/a/await-outside-async/related.rst
Due: none

Add ChangeLog entry
  ChangeLog
Due: fix-documentation

Include typevar-double-variance in check_messages
  doc/data/messages/t/typevar-double-variance/bad.py
  doc/data/messages/t/typevar-double-variance/good.py
  pylint/checkers/base/name_checker/checker.py
Due: pylint

New check E0244: Extending inherited Enum class
  doc/data/messages/i/invalid-enum-extension/bad.py
  doc/data/messages/i/invalid-enum-extension/good.py
  pylint/checkers/classes/class_checker.py
  tests/functional/i/invalid/invalid_enum_extension.py
  tests/functional/i/invalid/invalid_enum_extension.txt
Due: pylint

New check E0244: Extending inherited Enum class
  ChangeLog
  doc/whatsnew/2.14.rst
Due: fix-documentation

Add examples for ``await-outside-async`` and fix activation of message (#6016)
  ChangeLog
  doc/data/messages/a/await-outside-async/bad.py
  doc/data/messages/a/await-outside-async/good.py
  doc/data/messages/a/await-outside-async/related.rst
  pylint/checkers/typecheck.py
Due: pylint, fix-documentation

Added example of bare-except
  doc/data/messages/b/bare-except/bad.py
  doc/data/messages/b/bare-except/good.py
Due: none

Added example of bad-reversed-sequence
  doc/data/messages/b/bad-reversed-sequence/bad.py
  doc/data/messages/b/bad-reversed-sequence/good.py
Due: none

Add details.rst for bad-builtin
  doc/data/messages/b/bad-builtin/details.rst
Due: none

Added example of bare-except (#6020)
  doc/data/messages/b/bare-except/bad.py
  doc/data/messages/b/bare-except/good.py
Due: none

Added example of bad-reversed-sequence (#6021)
  doc/data/messages/b/bad-reversed-sequence/bad.py
  doc/data/messages/b/bad-reversed-sequence/good.py
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Fix false positive involving functions nested under loops
  pylint/checkers/variables.py
  tests/functional/c/cellvar_escaping_loop.py
Due: pylint

Document method of clearing inference cache
  doc/user_guide/run.rst
Due: none

fix workflow badge in readme
  README.rst
Due: none

Fix workflow badge in readme (#6025)
  README.rst
Due: none

Examples for ``bad-exception-context``. Co-authored-by: Vladyslav Krylasov <vladyslav.krylasov@gmail.com>
  doc/data/messages/b/bad-exception-context/bad.py
  doc/data/messages/b/bad-exception-context/good.py
  doc/data/messages/b/bad-exception-context/related.rst
Due: none

Change 'nonexistent-operator' to allow repeated unary ops (with space or parens) (#6008)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/base/basic_error_checker.py
  tests/functional/n/nonexistent_operator.py
Due: pylint, fix-documentation

Apply suggestions from code review
  doc/data/messages/b/bad-exception-context/bad.py
  doc/data/messages/b/bad-exception-context/good.py
Due: none

Examples for ``bad-exception-context`` (#6026)
  doc/data/messages/b/bad-exception-context/bad.py
  doc/data/messages/b/bad-exception-context/good.py
  doc/data/messages/b/bad-exception-context/related.rst
Due: none

Path conditions:
  pylint: any of: \.py$, but not: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
  fix-documentation: any of: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
