Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

.pre-commit-config.yaml:

ci:
  skip: [pylint]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
        exclude: "tests/functional/t/trailing_whitespaces.py|tests/pyreverse/data/.*.html"
      - id: end-of-file-fixer
        exclude: "tests/functional/m/missing/missing_final_newline.py|tests/functional/t/trailing_newlines.py"
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
      - id: autoflake
        exclude: &fixtures tests/functional/|tests/input|doc/data/messages|tests(/\w*)*data/
        args:
          - --in-place
          - --remove-all-unused-imports
          - --expand-star-imports
          - --remove-duplicate-keys
          - --remove-unused-variables
  - repo: https://github.com/Pierre-Sassoulas/copyright_notice_precommit
    rev: 0.1.2
    hooks:
      - id: copyright-notice
        args: ["--notice=script/copyright.txt", "--enforce-all"]
        exclude: tests/functional/|tests/input|doc/data/messages|examples/|setup.py|tests(/\w*)*data/
        types: [python]
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.31.1
    hooks:
      - id: pyupgrade
        args: [--py36-plus]
        exclude: *fixtures
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
        exclude: doc/data/messages/(r/reimported|w/wrong-import-order|u/ungrouped-imports)/bad.py
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: [--safe, --quiet]
        exclude: *fixtures
  - repo: https://github.com/Pierre-Sassoulas/black-disable-checker
    rev: 1.0.1
    hooks:
      - id: black-disable-checker
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies: [flake8-typing-imports==1.12.0]
        exclude: *fixtures
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--rcfile=pylintrc", "--fail-on=I"]
        exclude: tests/functional/|tests/input|tests(/\w*)*data/|doc/
      - id: fix-documentation
        name: Fix documentation
        entry: python3 -m script.fix_documentation
        language: system
        types: [text]
        files: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
  - repo: https://github.com/myint/rstcheck
    rev: "3f92957478422df87bd730abde66f089cc1ee19b"
    hooks:
      - id: rstcheck
        args: ["--ignore-roles=func,class,mod", "--report=warning"]
        types: [text] # necessary to include ChangeLog file
        files: ^(ChangeLog|doc/(.*/)*.*\.rst)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.942
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: python
        types: [python]
        args: []
        require_serial: true
        additional_dependencies: ["platformdirs==2.2.0", "types-pkg_resources==0.1.3"]
        exclude: tests/functional/|tests/input|tests(/.*)+/conftest.py|doc/data/messages|tests(/\w*)*data/
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier
        args: [--prose-wrap=always, --print-width=88]
        exclude: tests(/\w*)*data/
  - repo: https://github.com/DanielNoord/pydocstringformatter
    rev: v0.5.3
    hooks:
      - id: pydocstringformatter
        exclude: *fixtures
        args: ["--split-summary-body", "--max-summary-lines=2"]
        files: "pylint"

Remove pointless ``check_messages`` decorators (#6353)
  pylint/checkers/imports.py
  pylint/checkers/logging.py
  pylint/checkers/strings.py
  pylint/checkers/typecheck.py
Due: pylint

Remove config redundant with `--minimal-messages-config`
  tests/functional/d/deprecated/deprecated_module_enabled.py
  tests/functional/d/deprecated/deprecated_module_enabled.rc
  tests/functional/d/deprecated/deprecated_module_enabled.txt
  tests/functional/d/deprecated/deprecated_module_redundant.rc
Due: none

Add typing and remove unnecessary override
  pylint/checkers/imports.py
  pylint/checkers/stdlib.py
Due: pylint

disable unused-import
  tests/functional/d/deprecated/deprecated_module_redundant.rc
Due: none

Create Sjenica1
  Sjenica1
Due: none

More specific typing
  pylint/checkers/similar.py
Due: pylint

Prevent false negatives for fatal errors with `--minimal-messages-config`
  pylint/testutils/lint_module_test.py
  tests/testutils/test_functional_testutils.py
Due: pylint

Move ``Run`` and ``PyLinter`` options to separate file (#6363)
  pylint/lint/base_options.py
  pylint/lint/pylinter.py
  pylint/lint/run.py
Due: pylint

Fix a crash in the ``unsupported-membership-test`` checker
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/utils.py
  tests/functional/n/none_dunder_protocols.py
  tests/functional/n/none_dunder_protocols.txt
Due: pylint, fix-documentation

Add remaining typing to ``pylint/utils``
  pylint/config/option_manager_mixin.py
  pylint/utils/utils.py
Due: pylint

Add last typing to ``pylint/utils``
  pylint/checkers/utils.py
  pylint/typing.py
  pylint/utils/ast_walker.py
  pylint/utils/docs.py
  pylint/utils/linterstats.py
Due: pylint

Add ignores
  tests/utils/unittest_ast_walker.py
Due: pylint

Improve solution
  pylint/checkers/misc.py
Due: pylint

Remove another redundant message control
  tests/functional/d/deprecated/deprecated_module_redundant.rc
Due: none

add_ignored_message
  pylint/checkers/misc.py
Due: pylint

Use inline disable instead
  tests/functional/d/deprecated/deprecated_module_redundant.py
  tests/functional/d/deprecated/deprecated_module_redundant.txt
Due: none

Fix a failure to respect inline disables for `fixme` (#6362)
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/misc.py
  tests/functional/f/fixme.rc
Due: pylint, fix-documentation

Upgrade the generated list of messages in the documentation
  doc/messages/messages_list.rst
Due: none

Normalize the pylint disables in functional tests
  tests/functional/a/access/access_attr_before_def_false_positive.py
  tests/functional/a/access/access_to__name__.py
  tests/functional/c/cellvar_escaping_loop.py
  tests/functional/ext/docparams/missing_param_doc.py
  tests/functional/i/invalid/invalid_exceptions/invalid_exceptions_caught.py
  tests/functional/l/logging_format_interpolation.py
  tests/functional/n/name/name_styles.py
  tests/functional/s/slots_checks.py
  tests/functional/u/unused/unused_argument.py
  tests/functional/u/unused/unused_import.py
Due: none

[doc] Format the example of disable in pylintrc
  doc/faq.rst
Due: none

Remove the 'no-init' message tat was not emitted anyway
  ChangeLog
  doc/messages/messages_list.rst
  doc/whatsnew/2.14.rst
  pylint/checkers/classes/class_checker.py
  pylint/checkers/typecheck.py
  pylint/constants.py
  tests/functional/a/abstract/abstract_method.py
  tests/functional/a/assigning/assigning_non_slot.py
  tests/functional/c/class_members_py30.py
  tests/functional/c/class_scope.py
  tests/functional/c/classes_meth_could_be_a_function.py
  tests/functional/c/confidence_filter.rc
  tests/functional/c/crash_missing_module_type.py
  tests/functional/d/decorator_scope.py
  tests/functional/d/duplicate_bases.py
  tests/functional/e/external_classmethod_crash.py
  tests/functional/f/first_arg.py
  tests/functional/g/genexp_in_class_scope.py
  tests/functional/i/inconsistent/inconsistent_mro.py
  tests/functional/i/inherit_non_class.py
  tests/functional/i/init_not_called.py
  tests/functional/i/init_not_called.txt
  tests/functional/i/init_subclass_classmethod.py
  tests/functional/i/invalid/invalid_exceptions/invalid_exceptions_raised.py
  tests/functional/i/iterable_context.py
  tests/functional/i/iterable_context_py3.py
  tests/functional/m/membership_protocol.py
  tests/functional/m/membership_protocol_py3.py
  tests/functional/n/no/no_self_use_py3.py
  tests/functional/n/not_context_manager.py
  tests/functional/o/overridden_final_method_py38.py
  tests/functional/s/subclassed_final_class_py38.py
  tests/functional/u/undefined/undefined_variable.py
  tests/functional/u/undefined/undefined_variable_py30.py
  tests/functional/u/unpacking/unpacking_non_sequence.py
  tests/functional/u/used/used_before_assignment_nonlocal.py
  tests/functional/u/useless/useless_object_inheritance.py
  tests/functional/u/using_constant_test.py
Due: pylint, fix-documentation

Add ``super-without-brackets`` checker
  ChangeLog
  doc/data/messages/s/super-without-brackets/bad.py
  doc/data/messages/s/super-without-brackets/good.py
  doc/whatsnew/2.14.rst
  pylint/checkers/classes/class_checker.py
  tests/functional/s/super/super_without_brackets.py
  tests/functional/s/super/super_without_brackets.txt
Due: pylint, fix-documentation

Add confidence
  pylint/checkers/classes/class_checker.py
  tests/functional/s/super/super_without_brackets.py
  tests/functional/s/super/super_without_brackets.txt
Due: pylint

Update pylint/checkers/classes/class_checker.py
  pylint/checkers/classes/class_checker.py
Due: pylint

Add ``super-without-brackets`` checker (#6374)
  ChangeLog
  doc/data/messages/s/super-without-brackets/bad.py
  doc/data/messages/s/super-without-brackets/good.py
  doc/whatsnew/2.14.rst
  pylint/checkers/classes/class_checker.py
  tests/functional/s/super/super_without_brackets.py
  tests/functional/s/super/super_without_brackets.txt
Due: pylint, fix-documentation

Run functional tests with ``--minimal-messages-config`` in CI
  .github/workflows/tests.yaml
Due: none

Add some typing to ``pylint/lint``
  pylint/config/callback_actions.py
  pylint/config/utils.py
  pylint/lint/expand_modules.py
  pylint/lint/run.py
  pylint/lint/utils.py
  pylint/message/message_definition_store.py
Due: pylint

Fix bug
  pylint/lint/utils.py
Due: pylint

Add some typing to ``pylint/lint`` (#6376)
  pylint/config/callback_actions.py
  pylint/config/utils.py
  pylint/lint/expand_modules.py
  pylint/lint/run.py
  pylint/lint/utils.py
  pylint/message/message_definition_store.py
Due: pylint

Make ``Message`` a ``dataclass``
  pylint/lint/parallel.py
  pylint/message/message.py
  pylint/reporters/text.py
Due: pylint

Fix some related issues and add standard confidence
  pylint/message/message.py
  pylint/testutils/output_line.py
Due: pylint

Fix enabling `deprecated-module` after `disable=all` (#6360)
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/imports.py
  pylint/checkers/stdlib.py
  tests/functional/d/deprecated/deprecated_module_py3.rc
  tests/functional/d/deprecated/deprecated_module_py310.rc
  tests/functional/d/deprecated/deprecated_module_py33.rc
  tests/functional/d/deprecated/deprecated_module_py36.rc
  tests/functional/d/deprecated/deprecated_module_py39.rc
  tests/functional/d/deprecated/deprecated_module_py39_earlier_pyversion.rc
  tests/functional/d/deprecated/deprecated_module_redundant.py
  tests/functional/d/deprecated/deprecated_module_redundant.rc
  tests/functional/d/deprecated/deprecated_module_redundant.txt
  tests/functional/d/deprecated/deprecated_relative_import/dot_relative_import.rc
  tests/functional/d/deprecated/deprecated_relative_import/subpackage/dot_dot_relative_import.rc
  tests/functional/l/logging_format_interpolation_py36.rc
Due: pylint, fix-documentation

Remove location
  pylint/message/message.py
Due: pylint

Update pylint/message/message.py
  pylint/message/message.py
Due: pylint
