Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

Functional tests for docparams extension docstring-min-length fix
  tests/functional/ext/docparams/raise/missing_raises_doc_required_min_length.py
  tests/functional/ext/docparams/raise/missing_raises_doc_required_min_length.rc
  tests/functional/ext/docparams/yield/missing_yield_doc_required_min_length.py
  tests/functional/ext/docparams/yield/missing_yield_doc_required_min_length.rc
Due: none

Changelog for docparams extension docstring-min-length fix
  doc/whatsnew/fragments/10104.false_positive
Due: check-newsfragments

[CI fix] No primer for django under python 3.12
  tests/primer/packages_to_prime.json
Due: none

Remove the unnecessary logic which checks if the version of Python is 3.10 or higher.
  pylint/checkers/match_statements_checker.py
Due: pylint

Remove unnecessary `.rc` file from the functional test.
  tests/functional/u/unreachable_match_patterns.rc
Due: none

update Or Bahari copyright aliases
  script/.contributors_aliases.json
Due: none

Respect docstring-min-length in docparams extension (#10104)
  doc/whatsnew/fragments/10104.false_positive
  pylint/extensions/docparams.py
  tests/functional/ext/docparams/raise/missing_raises_doc_required_min_length.py
  tests/functional/ext/docparams/raise/missing_raises_doc_required_min_length.rc
  tests/functional/ext/docparams/yield/missing_yield_doc_required_min_length.py
  tests/functional/ext/docparams/yield/missing_yield_doc_required_min_length.rc
Due: pylint, check-newsfragments

[mypy] Fix expected 'str' in '_CallableArgument' not 'Any | None'
  pylint/config/argument.py
Due: pylint

[ruff-doc] Noqa the new syntax errors
  doc/data/ruff.toml
Due: none

[mypy] Fix expected 'str' in 'check_deprecated_class'
  pylint/checkers/deprecated.py
Due: pylint

[mypy] Fix all 'Redundant cast to Literal' fixed in new mypy version
  pylint/checkers/base/basic_checker.py
  pylint/checkers/raw_metrics.py
  pylint/lint/report_functions.py
Due: pylint

Add esoteric-underscore-grouping
  pylint/checkers/format.py
  tests/checkers/unittest_format.py
  tests/functional/u/use/use_standard_scientific_notation.py
  tests/functional/u/use/use_standard_scientific_notation.txt
Due: pylint

[format] Add a check for standard scientific notation
  pylint/checkers/format.py
  tests/functional/u/use/use_standard_scientific_notation.py
  tests/functional/u/use/use_standard_scientific_notation.txt
Due: pylint

Some design and add doc to give an idea of the design before actual implementation
  doc/data/messages/b/bad-float-notation/bad/bad.py
  doc/data/messages/b/bad-float-notation/bad/engineering_notation.py
  doc/data/messages/b/bad-float-notation/bad/engineering_notation.rc
  doc/data/messages/b/bad-float-notation/bad/pep515.py
  doc/data/messages/b/bad-float-notation/bad/pep515.rc
  doc/data/messages/b/bad-float-notation/bad/scientific_notation.py
  doc/data/messages/b/bad-float-notation/bad/scientific_notation.rc
  doc/data/messages/b/bad-float-notation/details.rst
  doc/data/messages/b/bad-float-notation/good/engineering_notation.py
  doc/data/messages/b/bad-float-notation/good/good.py
  doc/data/messages/b/bad-float-notation/good/pep515.py
  doc/data/messages/b/bad-float-notation/good/scientific_notation.py
  doc/data/messages/b/bad-float-notation/related.rst
  doc/test_messages_documentation.py
  doc/user_guide/checkers/features.rst
  doc/user_guide/configuration/all-options.rst
  doc/user_guide/messages/messages_overview.rst
  doc/whatsnew/fragments/10425.feature
  pylint/checkers/format.py
  tests/checkers/unittest_format.py
  tests/functional/b/bad_float/bad_float_engineering_notation.py
  tests/functional/b/bad_float/bad_float_engineering_notation.rc
  tests/functional/b/bad_float/bad_float_notation_default.py
  tests/functional/b/bad_float/bad_float_notation_default.rc
  tests/functional/b/bad_float/bad_float_notation_default.txt
  tests/functional/b/bad_float/bad_float_pep515.py
  tests/functional/b/bad_float/bad_float_pep515.rc
  tests/functional/b/bad_float/bad_float_scientific_notation.py
  tests/functional/b/bad_float/bad_float_scientific_notation.rc
  tests/functional/u/use/use_standard_scientific_notation.py
  tests/functional/u/use/use_standard_scientific_notation.txt
Due: pylint, check-newsfragments

Fix bad initialization of class
  pylint/checkers/format.py
Due: pylint

Fix the strict notation functional tests
  doc/data/messages/b/bad-float-notation/good/pep515.py
  pylint/checkers/format.py
  tests/functional/b/bad_float/bad_float_engineering_notation.txt
  tests/functional/b/bad_float/bad_float_notation_default.py
  tests/functional/b/bad_float/bad_float_pep515.py
  tests/functional/b/bad_float/bad_float_pep515.txt
  tests/functional/b/bad_float/bad_float_scientific_notation.txt
Due: pylint

Fix the 0 case and mixed underscore and exponent case
  pylint/checkers/format.py
  tests/functional/b/bad_float/bad_float_notation_default.py
  tests/functional/b/bad_float/bad_float_notation_default.txt
  tests/functional/b/bad_float/bad_float_pep515.py
  tests/functional/b/bad_float/bad_float_scientific_notation.py
Due: pylint

Give a reason for why a notation is bad and display the float (temporarily for easier primer reading)
  pylint/checkers/format.py
  tests/functional/b/bad_float/bad_float_engineering_notation.txt
  tests/functional/b/bad_float/bad_float_notation_default.txt
  tests/functional/b/bad_float/bad_float_pep515.txt
  tests/functional/b/bad_float/bad_float_scientific_notation.txt
Due: pylint

Optimize 0
  pylint/checkers/format.py
  tests/functional/b/bad_float/bad_float_notation_default.py
  tests/functional/b/bad_float/bad_float_notation_default.txt
Due: pylint

Handle time better
  pylint/checkers/format.py
  tests/checkers/unittest_format.py
  tests/functional/b/bad_float/bad_float_notation_default.py
  tests/functional/b/bad_float/bad_float_notation_default.txt
Due: pylint

Higher default value for the threshold
  pylint/checkers/format.py
  tests/functional/b/bad_float/bad_float_engineering_notation.rc
  tests/functional/b/bad_float/bad_float_notation_default.rc
  tests/functional/b/bad_float/bad_float_pep515.rc
  tests/functional/b/bad_float/bad_float_scientific_notation.rc
Due: pylint

Extract and reuse except handler binding check
  pylint/checkers/variables.py
Due: pylint

Add changelog
  doc/whatsnew/fragments/10426.false_positive
Due: check-newsfragments

Add tests
  tests/functional/u/unused/unused_global_variable2.py
  tests/functional/u/unused/unused_variable.py
  tests/functional/u/unused/unused_variable.txt
Due: none

[refactor] Create a float formatter helper class
  pylint/checkers/format.py
  tests/checkers/unittest_format.py
Due: pylint

Do not raise on int
  pylint/checkers/format.py
  tests/functional/b/bad_float/bad_float_engineering_notation.py
  tests/functional/b/bad_float/bad_float_engineering_notation.txt
  tests/functional/b/bad_float/bad_float_notation_default.py
  tests/functional/b/bad_float/bad_float_notation_default.txt
  tests/functional/b/bad_float/bad_float_pep515.py
  tests/functional/b/bad_float/bad_float_pep515.txt
  tests/functional/b/bad_float/bad_float_scientific_notation.py
  tests/functional/b/bad_float/bad_float_scientific_notation.txt
Due: pylint

Special case 0. too
  pylint/checkers/format.py
  tests/functional/b/bad_float/bad_float_notation_default.py
  tests/functional/b/bad_float/bad_float_notation_default.txt
Due: pylint

Handle the case where the number is just 3600 better
  pylint/checkers/format.py
  tests/checkers/unittest_format.py
Due: pylint

Update variable annotation check
  pylint/checkers/variables.py
Due: pylint

Add tests
  tests/functional/u/used/used_before_assignment_type_annotations.py
  tests/functional/u/used/used_before_assignment_type_annotations.txt
Due: none

Add changelog
  doc/whatsnew/fragments/10421.false_negative
Due: check-newsfragments

Handle the case where the number is a number of hours in second better
  doc/data/messages/b/bad-float-notation/bad.py
  doc/data/messages/b/bad-float-notation/bad/bad.py
  doc/data/messages/b/bad-float-notation/bad/engineering_notation.py
  doc/data/messages/b/bad-float-notation/bad/engineering_notation.rc
  doc/data/messages/b/bad-float-notation/bad/pep515.py
  doc/data/messages/b/bad-float-notation/bad/pep515.rc
  doc/data/messages/b/bad-float-notation/bad/scientific_notation.py
  doc/data/messages/b/bad-float-notation/bad/scientific_notation.rc
  doc/data/messages/b/bad-float-notation/good.py
  doc/data/messages/b/bad-float-notation/good/engineering_notation.py
  doc/data/messages/b/bad-float-notation/good/good.py
  doc/data/messages/b/bad-float-notation/good/pep515.py
  doc/data/messages/b/bad-float-notation/good/scientific_notation.py
  doc/user_guide/checkers/features.rst
  pylint/checkers/format.py
  tests/checkers/unittest_format.py
  tests/functional/b/bad_float/bad_float_notation_default.py
  tests/functional/b/bad_float/bad_float_notation_default.txt
Due: pylint

Handle type subscript
  pylint/checkers/variables.py
  tests/functional/u/used/used_before_assignment_scoping.py
  tests/functional/u/used/used_before_assignment_scoping.txt
Due: pylint

Fix `possibly-used-before-assignment` false negative for type-annotated assignment (#10437)
  doc/whatsnew/fragments/10421.false_negative
  pylint/checkers/variables.py
  tests/functional/u/used/used_before_assignment_scoping.py
  tests/functional/u/used/used_before_assignment_scoping.txt
  tests/functional/u/used/used_before_assignment_type_annotations.py
  tests/functional/u/used/used_before_assignment_type_annotations.txt
Due: pylint, check-newsfragments
