Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation, check-newsfragments

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

check-newsfragments:
  name: Check newsfragments
  entry: python3 -m script.check_newsfragments
  language: system

Add new feature category for changelog entries
  .github/PULL_REQUEST_TEMPLATE.md
  towncrier.toml
Due: none

Update contribute.rst
  doc/development_guide/contributor_guide/contribute.rst
Due: none

Add new `feature` category for changelog entries (#7659)
  .github/PULL_REQUEST_TEMPLATE.md
  doc/development_guide/contributor_guide/contribute.rst
  towncrier.toml
Due: none

Add `magic-number` checker for comparison with literals (#7526)
  doc/data/messages/m/magic-value/bad.py
  doc/data/messages/m/magic-value/good.py
  doc/data/messages/m/magic-value/pylintrc
  doc/whatsnew/fragments/7281.new_check
  pylint/checkers/base/comparison_checker.py
  pylint/checkers/utils.py
  pylint/extensions/magic_value.py
  tests/functional/ext/magic_value_comparison/magic_value_comparison.py
  tests/functional/ext/magic_value_comparison/magic_value_comparison.rc
  tests/functional/ext/magic_value_comparison/magic_value_comparison.txt
  tests/message/unittest_message_id_store.py
Due: pylint, check-newsfragments

fix astroid-error for parsing module encoding
  doc/whatsnew/fragments/7661.bugfix
  pylint/checkers/unicode.py
  tests/regrtest_data/encoding/bad_missing_num.py
  tests/regrtest_data/encoding/bad_wrong_num.py
  tests/regrtest_data/encoding/good.py
  tests/test_self.py
Due: pylint, check-newsfragments

Update doc/whatsnew/fragments/7661.bugfix
  doc/whatsnew/fragments/7661.bugfix
Due: check-newsfragments

Add additional stdlib deprecations
  pylint/checkers/imports.py
  pylint/checkers/stdlib.py
Due: pylint

Add additional tests
  tests/test_functional.py
Due: pylint

Fix showing DeprecationWarnings for functional tests
  tests/test_functional.py
Due: pylint

Confirm changes before tbump commit
  tbump.toml
Due: none

Add additional stdlib deprecations (#7664)
  pylint/checkers/imports.py
  pylint/checkers/stdlib.py
Due: pylint

Fix showing DeprecationWarnings for functional tests (#7665)
  tests/test_functional.py
Due: pylint

Confirm changes before tbump commit (#7666)
  tbump.toml
Due: none

Fix astroid-error for parsing module encoding (#7663)
  doc/whatsnew/fragments/7661.bugfix
  pylint/checkers/unicode.py
  tests/regrtest_data/encoding/bad_missing_num.py
  tests/regrtest_data/encoding/bad_wrong_num.py
  tests/regrtest_data/encoding/good.py
  tests/test_self.py
Due: pylint, check-newsfragments

Make the order of introspected functional tests deterministic (#7602)
  pylint/testutils/functional/find_functional_tests.py
Due: pylint

add docs for misplaced-comparison-constant
  doc/data/messages/m/misplaced-comparison-constant/bad.py
  doc/data/messages/m/misplaced-comparison-constant/details.rst
  doc/data/messages/m/misplaced-comparison-constant/good.py
  doc/data/messages/m/misplaced-comparison-constant/pylintrc
Due: none

add docs for modified-iterating-dict
  doc/data/messages/m/modified-iterating-dict/bad.py
  doc/data/messages/m/modified-iterating-dict/details.rst
  doc/data/messages/m/modified-iterating-dict/good.py
  doc/data/messages/m/modified-iterating-list/bad.py
  doc/data/messages/m/modified-iterating-list/details.rst
Due: none

add docs for modified-iterating-list
  doc/data/messages/m/modified-iterating-list/bad.py
  doc/data/messages/m/modified-iterating-list/good.py
Due: none

add docs for modified-iterating-set
  doc/data/messages/m/modified-iterating-set/bad.py
  doc/data/messages/m/modified-iterating-set/details.rst
  doc/data/messages/m/modified-iterating-set/good.py
Due: none

add docs for multiple-statements
  doc/data/messages/m/multiple-statements/bad.py
  doc/data/messages/m/multiple-statements/details.rst
Due: none

Update script/check_newsfragments.py
  script/check_newsfragments.py
Due: pylint

update pylintrc
  doc/data/messages/m/misplaced-comparison-constant/pylintrc
Due: none

Add docs for modified-* messages and a couple others (#7669)
  doc/data/messages/m/misplaced-comparison-constant/bad.py
  doc/data/messages/m/misplaced-comparison-constant/details.rst
  doc/data/messages/m/misplaced-comparison-constant/good.py
  doc/data/messages/m/misplaced-comparison-constant/pylintrc
  doc/data/messages/m/modified-iterating-dict/bad.py
  doc/data/messages/m/modified-iterating-dict/details.rst
  doc/data/messages/m/modified-iterating-dict/good.py
  doc/data/messages/m/modified-iterating-list/bad.py
  doc/data/messages/m/modified-iterating-list/details.rst
  doc/data/messages/m/modified-iterating-list/good.py
  doc/data/messages/m/modified-iterating-set/bad.py
  doc/data/messages/m/modified-iterating-set/details.rst
  doc/data/messages/m/modified-iterating-set/good.py
  doc/data/messages/m/multiple-statements/bad.py
  doc/data/messages/m/multiple-statements/details.rst
Due: none

Add default_enabled option to optional message dict (#7629)
  doc/exts/pylint_messages.py
  doc/whatsnew/fragments/7629.other
  pylint/extensions/code_style.py
  pylint/lint/pylinter.py
  pylint/message/message_definition.py
  pylint/typing.py
Due: pylint, check-newsfragments

add docs for nan-comparison
  doc/data/messages/n/nan-comparison/bad.py
  doc/data/messages/n/nan-comparison/details.rst
  doc/data/messages/n/nan-comparison/good.py
Due: none

add docs for no-classmethod-decorator
  doc/data/messages/n/no-classmethod-decorator/bad.py
  doc/data/messages/n/no-classmethod-decorator/details.rst
Due: none

add docs for non-ascii-module
  doc/data/messages/n/non-ascii-module-import/bad.py
  doc/data/messages/n/non-ascii-module-import/details.rst
  doc/data/messages/n/non-ascii-module-import/good.py
Due: none

add docs for non-asciii-name
  doc/data/messages/n/non-ascii-name/bad.py
  doc/data/messages/n/non-ascii-name/details.rst
  doc/data/messages/n/non-ascii-name/good.py
Due: none

[github action] Follow the principle of least privileges
  .github/workflows/changelog.yml
  .github/workflows/checks.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/primer-test.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/primer_run_pr.yaml
  .github/workflows/release.yml
  .github/workflows/tests.yaml
Due: none

Update doc/whatsnew/fragments/7578.bugfix
  doc/whatsnew/fragments/7578.bugfix
Due: check-newsfragments

Pin pytest to resolve issue with pytest-benchmark
  requirements_test_min.txt
Due: none

Pin pytest to resolve issue with pytest-benchmark (#7674)
  requirements_test_min.txt
Due: none

Run tests with Python 3.11.0
  .github/workflows/changelog.yml
  .github/workflows/checks.yaml
  .github/workflows/primer-test.yaml
  .github/workflows/release.yml
  .github/workflows/tests.yaml
Due: none

Run tests with Python 3.11.0 (#7671)
  .github/workflows/changelog.yml
  .github/workflows/checks.yaml
  .github/workflows/primer-test.yaml
  .github/workflows/release.yml
  .github/workflows/tests.yaml
Due: none

Update pytest and pytest-benchmark following the 7.2.0 release
  requirements_test_min.txt
Due: none

Add PyPI deployment environment [ci]
  .github/workflows/release.yml
Due: none

Fix a false negative for ``unused-import`` when a constant inside ``typing.Annotated`` was treated as a reference to an import.
  doc/whatsnew/fragments/7547.false_negative
  pylint/checkers/utils.py
  pylint/checkers/variables.py
  tests/checkers/unittest_utils.py
  tests/functional/u/unused/unused_import_py39.py
  tests/functional/u/unused/unused_import_py39.rc
  tests/functional/u/unused/unused_import_py39.txt
Due: pylint, check-newsfragments

[github action] Follow the principle of least privileges (#7673)
  .github/workflows/changelog.yml
  .github/workflows/checks.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/primer-test.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/primer_run_pr.yaml
  .github/workflows/release.yml
  .github/workflows/tests.yaml
Due: none

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  fix-documentation: any of: ^(doc/whatsnew/\d+\.\d+\.rst)
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst
