Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

[doc] Add the generated rst to the repository for easier review
  .gitignore
  doc/user_guide/checkers/extensions.rst
  doc/user_guide/checkers/features.rst
  doc/user_guide/configuration/all-options.rst
Due: none

[doc] Remove trailing line feeds in generated RSTs
  doc/exts/pylint_extensions.py
  doc/exts/pylint_options.py
  doc/user_guide/checkers/extensions.rst
  doc/user_guide/checkers/features.rst
  pylint/utils/docs.py
Due: pylint

[refactor] Create a function to get the main checker documentation
  pylint/utils/docs.py
Due: pylint

Add a TODO for options_by_section
  pylint/config/arguments_provider.py
Due: pylint

Add typing to ``async`` and ``deprecated`` checkers
  pylint/checkers/async.py
  pylint/checkers/deprecated.py
Due: pylint

Update pylint/checkers/deprecated.py
  pylint/checkers/deprecated.py
Due: pylint

Add typing to ``design_analysis``
  pylint/checkers/design_analysis.py
Due: pylint

Add typing to ``async`` and ``deprecated`` checkers (#6684)
  pylint/checkers/async.py
  pylint/checkers/deprecated.py
Due: pylint

Add typing to ``_check_docs_utils``
  pylint/extensions/_check_docs_utils.py
Due: pylint

Add typing to ``name_checker``
  pylint/checkers/base/name_checker/checker.py
  pylint/checkers/base/name_checker/naming_style.py
Due: pylint

Add ignore
  pylint/checkers/base/name_checker/checker.py
Due: pylint

Add typing to ``name_checker`` (#6687)
  pylint/checkers/base/name_checker/checker.py
  pylint/checkers/base/name_checker/naming_style.py
Due: pylint

Add documentation examples for `line-too-long`.
  doc/data/messages/l/line-too-long/bad.py
  doc/data/messages/l/line-too-long/good.py
Due: none

Allow disabling `bad-option-value` and `unrecognized-option` with `--disable=all`
  pylint/config/callback_actions.py
  pylint/config/config_initialization.py
  pylint/lint/pylinter.py
Due: pylint

clear list
  pylint/lint/pylinter.py
Due: pylint

move logic and set module
  pylint/config/config_initialization.py
Due: pylint

Move message definitions from DeprecatedMixin
  examples/deprecation_checker.py
  pylint/checkers/deprecated.py
  pylint/checkers/imports.py
  pylint/checkers/stdlib.py
Due: pylint

more appropriate location
  pylint/config/config_initialization.py
Due: pylint

update test results
  tests/config/functional/ini/pylintrc_with_missing_comma.2.out
  tests/config/functional/setup_cfg/do_not_read_other_tools_configuration/setup.2.out
  tests/config/functional/toml/issue_3122/toml_with_missing_comma.2.out
  tests/config/functional/toml/unknown_msgid/enable_unknown_msgid.2.out
  tests/config/test_config.py
Due: pylint

Revert "update test results"
  tests/config/functional/ini/pylintrc_with_missing_comma.2.out
  tests/config/functional/setup_cfg/do_not_read_other_tools_configuration/setup.2.out
  tests/config/functional/toml/issue_3122/toml_with_missing_comma.2.out
  tests/config/functional/toml/unknown_msgid/enable_unknown_msgid.2.out
  tests/config/test_config.py
Due: pylint

Added typing and fixed unittests
  pylint/checkers/stdlib.py
  tests/pyreverse/functional/class_diagrams/colorized_output/colorized.puml
Due: pylint

Solve the problem instead of avoiding it
  pylint/config/config_initialization.py
  pylint/lint/pylinter.py
Due: pylint

Ensure deterministic order
  pylint/config/config_initialization.py
  pylint/lint/pylinter.py
Due: pylint

Make DEPRECATED_MSGS and DEPRECATED_IMPORT_MSG class variables to make pylint happy
  examples/deprecation_checker.py
  pylint/checkers/deprecated.py
  pylint/checkers/imports.py
  pylint/checkers/stdlib.py
Due: pylint

Add documentation examples for `line-too-long`. (#6690)
  doc/data/messages/l/line-too-long/bad.py
  doc/data/messages/l/line-too-long/good.py
Due: none

Make rstcheck compatible with 6.0.0
  .pre-commit-config.yaml
  doc/whatsnew/1.7.rst
  doc/whatsnew/1.8.rst
  doc/whatsnew/1.9.rst
  doc/whatsnew/2.13.rst
Due: fix-documentation

Add typing to ``comparison_checker``
  pylint/checkers/base/comparison_checker.py
Due: pylint

Add typing to various checkers
  pylint/checkers/misc.py
  pylint/checkers/raw_metrics.py
  pylint/checkers/utils.py
Due: pylint

Fix crash
  pylint/checkers/utils.py
Due: pylint

Fix test
  tests/unittest_reporting.py
Due: pylint

Move attribute
  pylint/lint/message_state_handler.py
  pylint/lint/pylinter.py
Due: pylint

revert comment change
  pylint/config/config_initialization.py
Due: pylint

Added documentation examples for `consider-using-set-comprehension`.
  doc/data/messages/c/consider-using-set-comprehension/bad.py
  doc/data/messages/c/consider-using-set-comprehension/good.py
Due: none

Add documentation examples for `consider-using-from-import`.
  doc/data/messages/c/consider-using-from-import/bad.py
  doc/data/messages/c/consider-using-from-import/good.py
Due: none

Added documentation examples for `consider-using-dict-comprehension`.
  doc/data/messages/c/consider-using-dict-comprehension/bad.py
  doc/data/messages/c/consider-using-dict-comprehension/good.py
Due: none

Added documentation examples for `useless-object-inheritance`.
  doc/data/messages/u/useless-object-inheritance/bad.py
  doc/data/messages/u/useless-object-inheritance/good.py
Due: none

Path conditions:
  pylint: any of: \.py$, but not: tests/functional/|tests/input|tests(/\w*)*data/|doc/
  fix-documentation: any of: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
