Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

Handling tricky case
  pylint/checkers/variables.py
  tests/functional/r/redefined/redefined_loop_variable.py
Due: pylint

Handling case of variable re-assigned AFTER the for loop
  pylint/checkers/variables.py
  tests/functional/r/redefined/redefined_loop_variable.py
  tests/functional/r/redefined/redefined_loop_variable.txt
Due: pylint

Fixing edge case
  pylint/checkers/variables.py
  tests/functional/c/cellvar_escaping_loop.py
  tests/functional/r/redeclared_assigned_name.py
Due: pylint

Final fixups (hopefully)
  pylint/checkers/variables.py
  pylint/testutils/lint_module_test.py
  tests/functional/r/redefined/redefined_loop_variable.py
  tests/functional/r/redefined/redefined_loop_variable.txt
  tests/functional/s/statement_without_effect.py
  tests/functional/u/unnecessary/unnecessary_list_index_lookup.py
  tests/functional/u/unused/unused_variable.py
  tests/functional/u/unused/unused_variable.txt
Due: pylint

Disabling redefined-outer-name for Pylint temporarily as required by @Pierre-Sassoulas
  pylintrc
Due: none

Pleasing mypy
  pylint/checkers/variables.py
Due: pylint

Pleasing pre-commit / pylint
  pylint/checkers/variables.py
Due: pylint

Fix crash when deleting from a dict returned from a call
  doc/whatsnew/fragments/bugfix.8598
  pylint/checkers/modified_iterating_checker.py
  tests/functional/m/modified_iterating.py
  tests/functional/m/modified_iterating.txt
Due: pylint, check-newsfragments

Rename news fragment
  doc/whatsnew/fragments/8598.bugfix
Due: check-newsfragments

Fix crash when deleting from a dict returned from a call (#8678)
  doc/whatsnew/fragments/8598.bugfix
  pylint/checkers/modified_iterating_checker.py
  tests/functional/m/modified_iterating.py
  tests/functional/m/modified_iterating.txt
Due: pylint, check-newsfragments

Add optional `prefer-typing-namedtuple` message
  doc/data/messages/p/prefer-typing-namedtuple/bad.py
  doc/data/messages/p/prefer-typing-namedtuple/good.py
  doc/whatsnew/fragments/8660.extension
  pylint/extensions/code_style.py
  tests/functional/ext/code_style/cs_prefer_typing_namedtuple.py
  tests/functional/ext/code_style/cs_prefer_typing_namedtuple.rc
  tests/functional/ext/code_style/cs_prefer_typing_namedtuple.txt
Due: pylint, check-newsfragments

fixup! Add optional
  doc/data/messages/p/prefer-typing-namedtuple/pylintrc
  pylint/checkers/classes/class_checker.py
Due: pylint

fixup! Add optional
  doc/data/messages/p/prefer-typing-namedtuple/bad.py
Due: none

Add regression test for #8554
  tests/functional/i/invalid/invalid_unary_operand_type.py
Due: none

Add news
  doc/whatsnew/fragments/8554.bugfix
Due: check-newsfragments

Load dynamic plugins when linting in parallel
  doc/user_guide/usage/run.rst
  doc/whatsnew/fragments/4874.bugfix
  pylint/lint/parallel.py
  pylint/lint/pylinter.py
  tests/test_check_parallel.py
Due: pylint, check-newsfragments

Liberalize type annotation
  pylint/lint/pylinter.py
Due: pylint

fixup! Liberalize
  pylint/lint/pylinter.py
Due: pylint

Disable message by default
  pylint/extensions/code_style.py
  tests/functional/ext/code_style/cs_prefer_typing_namedtuple.rc
Due: pylint

Load custom plugins when linting in parallel (#8683)
  doc/user_guide/usage/run.rst
  doc/whatsnew/fragments/4874.bugfix
  pylint/lint/parallel.py
  pylint/lint/pylinter.py
  tests/test_check_parallel.py
Due: pylint, check-newsfragments

Fix regression
  pylint/checkers/variables.py
Due: pylint

Add test
  tests/functional/u/unused/unused_variable.py
  tests/functional/u/unused/unused_variable.txt
Due: none

Add changelog
  doc/whatsnew/fragments/8595.false_negative
Due: check-newsfragments

Remove unnecessary logic
  pylint/checkers/variables.py
Due: pylint

Upgrade astroid to 3.0.0a3
  pyproject.toml
  requirements_test_min.txt
Due: none

Upgrade astroid to 3.0.0a3
  pylint/checkers/modified_iterating_checker.py
  pyproject.toml
  requirements_test_min.txt
Due: pylint

Ignore more stdlib classes with complex ancestry
  pylint/checkers/design_analysis.py
Due: pylint

Add dummy args to empty Dict instantiation
  pylint/checkers/typecheck.py
Due: pylint

A more informative naming - rename checker from `hidden-kwarg` to `kwarg-superseded-by-positional-arg`.
  doc/data/messages/h/hidden-kwarg/bad.py
  doc/data/messages/k/kwarg-superseded-by-positional-arg/bad.py
  doc/data/messages/k/kwarg-superseded-by-positional-arg/good.py
  doc/whatsnew/fragments/8558.feature
  pylint/checkers/typecheck.py
  tests/functional/a/arguments.py
  tests/functional/h/hidden_kwarg.txt
  tests/functional/k/kwarg_superseded_by_positional_arg.py
  tests/functional/k/kwarg_superseded_by_positional_arg.txt
  tests/functional/p/positional_only_arguments_expected.py
Due: pylint, check-newsfragments

Reword message description.
  pylint/checkers/typecheck.py
  tests/functional/k/kwarg_superseded_by_positional_arg.txt
Due: pylint

Update pylint/checkers/typecheck.py
  pylint/checkers/typecheck.py
Due: pylint

Update doc/whatsnew/fragments/8554.bugfix
  doc/whatsnew/fragments/8554.bugfix
Due: check-newsfragments

Review comments
  doc/data/messages/p/prefer-typing-namedtuple/related.rst
  doc/whatsnew/fragments/8660.extension
  pylint/extensions/code_style.py
  tests/functional/ext/code_style/cs_prefer_typing_namedtuple.txt
Due: pylint, check-newsfragments

3.8 -> 3.6
  doc/whatsnew/fragments/8660.extension
  pylint/extensions/code_style.py
  tests/functional/ext/code_style/cs_prefer_typing_namedtuple.rc
Due: pylint, check-newsfragments

Remove changelog
  doc/whatsnew/fragments/8595.false_negative
Due: check-newsfragments

Regression fix for `unused-variable` false negative (#8684)
  pylint/checkers/variables.py
  tests/functional/u/unused/unused_variable.py
  tests/functional/u/unused/unused_variable.txt
Due: pylint

Use bleeding-edge astroid
  requirements_test_min.txt
Due: none

[temporary] Skip home-assistant
  tests/primer/packages_to_prime.json
Due: none
