Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I
  - --load-plugins=pylint.extensions.docparams

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

Remove the ``check_docs`` extension and remove any references to it
  ChangeLog
  doc/exts/pylint_extensions.py
  doc/whatsnew/2.13.rst
  pylint/extensions/check_docs.py
  pylint/lint/run.py
  tests/extensions/test_check_docs_utils.py
  tests/test_self.py
Due: pylint, fix-documentation

Update tests/extensions/test_check_docs_utils.py
  tests/extensions/test_check_docs_utils.py
Due: pylint

Fix #5683: False positive ``used-before-assignment`` in loop `else` where the only non-break exit is via `except`
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/variables.py
  tests/functional/u/use/used_before_assignment_issue4761.py
  tests/functional/u/use/used_before_assignment_issue4761.txt
Due: pylint, fix-documentation

Fix #5683: False positive ``used-before-assignment`` in loop `else` where the only non-break exit is via `except` (#5684)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/variables.py
  tests/functional/u/use/used_before_assignment_issue4761.py
  tests/functional/u/use/used_before_assignment_issue4761.txt
Due: pylint, fix-documentation

Fix crash when providing None to mode arg of open()
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/stdlib.py
  tests/functional/u/unspecified_encoding_py38.py
  tests/functional/u/unspecified_encoding_py38.txt
Due: pylint, fix-documentation

Fix crash when providing None to mode arg of open() (#5732)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/stdlib.py
  tests/functional/u/unspecified_encoding_py38.py
  tests/functional/u/unspecified_encoding_py38.txt
Due: pylint, fix-documentation

Remove the ``check_docs`` extension and remove any references to it (#5730)
  ChangeLog
  doc/exts/pylint_extensions.py
  doc/whatsnew/2.13.rst
  pylint/extensions/check_docs.py
  pylint/lint/run.py
  tests/extensions/test_check_docs_utils.py
  tests/test_self.py
Due: pylint, fix-documentation

Add ``DeprecationWarning`` for non-string ``current_name`` & ``file`` (#5580)
  pylint/checkers/similar.py
  pylint/lint/parallel.py
  pylint/lint/pylinter.py
  tests/lint/unittest_lint.py
  tests/test_check_parallel.py
Due: pylint

Remove ``check_docs`` if statement
  pylint/utils/utils.py
Due: pylint

Fix message issue
  pylint/checkers/non_ascii_names.py
Due: pylint

Clearer error message for useless-else-x type message
  pylint/checkers/base.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/extensions/check_elif.py
  tests/functional/ext/check_elif/check_elif.txt
  tests/functional/n/no/no_else_break.txt
  tests/functional/n/no/no_else_continue.txt
  tests/functional/n/no/no_else_raise.txt
  tests/functional/n/no/no_else_return.txt
  tests/functional/u/useless/useless_else_on_loop.txt
Due: pylint

Fix missing space in useless-else-on-loop
  pylint/checkers/base.py
  tests/functional/u/useless/useless_else_on_loop.txt
Due: pylint

Add a comma to the message following review
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/extensions/check_elif.py
  tests/functional/ext/check_elif/check_elif.txt
  tests/functional/n/no/no_else_break.txt
  tests/functional/n/no/no_else_continue.txt
  tests/functional/n/no/no_else_raise.txt
  tests/functional/n/no/no_else_return.txt
Due: pylint

Differentiate the solution between elif and else for no-else-x messages
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/n/no/no_else_break.txt
  tests/functional/n/no/no_else_continue.txt
  tests/functional/n/no/no_else_raise.txt
  tests/functional/n/no/no_else_return.txt
Due: pylint

Add changelog
  ChangeLog
  doc/whatsnew/2.13.rst
Due: fix-documentation

Fix typos in unit test docstrings
  tests/functional/n/no/no_else_break.py
  tests/functional/n/no/no_else_continue.py
  tests/functional/n/no/no_else_raise.py
Due: none

Better message for elif checker
  pylint/extensions/check_elif.py
  tests/functional/ext/check_elif/check_elif.txt
Due: pylint

Fix typos in unit test docstrings (#5739)
  tests/functional/n/no/no_else_break.py
  tests/functional/n/no/no_else_continue.py
  tests/functional/n/no/no_else_raise.py
Due: none

Apply suggestions from code review
  ChangeLog
  doc/whatsnew/2.13.rst
Due: fix-documentation

Create separate documentation page for each message (#5396)
  .gitignore
  doc/Makefile
  doc/conf.py
  doc/exts/pylint_messages.py
  doc/index.rst
  doc/messages/index.rst
  doc/messages/messages_introduction.rst
  doc/messages/messages_list.rst
  pylint/checkers/base.py
  pylint/checkers/non_ascii_names.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/stdlib.py
  pylint/checkers/strings.py
Due: pylint

Avoid regression for nodes defined and used in same line
  pylint/checkers/variables.py
  tests/functional/u/undefined/undefined_variable.py
  tests/functional/u/undefined/undefined_variable.txt
Due: pylint

Correct reference to `argv` in documentation for `run_pylint()`
  ChangeLog
  doc/user_guide/run.rst
  doc/whatsnew/2.13.rst
Due: fix-documentation

Improved `bad-open-mode` message when providing ``None`` to the ``mode`` argument of an `open()` call
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/stdlib.py
  tests/functional/u/unspecified_encoding_py38.txt
Due: pylint, fix-documentation

Improved `bad-open-mode` message when providing ``None`` to the ``mode`` argument of an `open()` call (#5742)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/stdlib.py
  tests/functional/u/unspecified_encoding_py38.txt
Due: pylint, fix-documentation

Emit the crash issue template for more exceptions and crashes
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/lint/pylinter.py
  tests/lint/test_utils.py
Due: pylint, fix-documentation

Fix duplicate names of ``Pylint Messages`` in docs
  doc/messages/messages_introduction.rst
  doc/messages/messages_list.rst
Due: none

Update doc/whatsnew/2.13.rst
  doc/whatsnew/2.13.rst
Due: fix-documentation

Remove issue ID from Changelog which was not meant to be there.
  doc/whatsnew/2.13.rst
Due: fix-documentation

Move Changelog entry closer to related fix
  ChangeLog
Due: fix-documentation

whatsnew - newline
  doc/whatsnew/2.13.rst
Due: fix-documentation

Correct reference to `argv` in documentation for `run_pylint()` (#5741)
  ChangeLog
  doc/user_guide/run.rst
  doc/whatsnew/2.13.rst
Due: fix-documentation

Fix failing test_regression_recursive_current_dir
  tests/test_self.py
Due: pylint

Emit the crash issue template for more exceptions and crashes (#5743)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/lint/pylinter.py
  tests/lint/test_utils.py
Due: pylint, fix-documentation

Cosmetics
  tests/test_self.py
Due: pylint

Update tests/functional/u/unbalanced_tuple_unpacking.py
  tests/functional/u/unbalanced_tuple_unpacking.py
Due: none

Fix stupid mistake
  doc/exts/pylint_messages.py
Due: none

Add comment
  doc/messages/messages_list.rst
Due: none

Clearer message for check_elif
  pylint/extensions/check_elif.py
  tests/functional/ext/check_elif/check_elif.txt
Due: pylint

Fix #5399: Fix false negatives for further variable messages for invalid type annotations or default arguments (#5727)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/variables.py
  tests/functional/u/undefined/undefined_variable.py
  tests/functional/u/undefined/undefined_variable.txt
  tests/functional/u/use/used_before_assignment_py37.py
  tests/functional/u/use/used_before_assignment_py37.txt
  tests/functional/u/use/used_before_assignment_typing.py
  tests/functional/u/use/used_before_assignment_typing.txt
Due: pylint, fix-documentation

Add the comment in the generation
  doc/exts/pylint_messages.py
  doc/messages/messages_list.rst
Due: none

Path conditions:
  pylint: any of: \.py$, but not: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
  fix-documentation: any of: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
