Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

check-newsfragments:
  name: Check newsfragments
  entry: python3 -m script.check_newsfragments
  language: system

feat(pyreverse): apply dark theme colors in PlantUmlPrinter
  pylint/pyreverse/plantuml_printer.py
Due: pylint

chore(pyreverse): remove leftover local reproduction file
  sample.py
Due: pylint

Staging these files just to ensure smooth reproductionof files
  classes.png
  sample.py
Due: pylint

Emit theme-aware edge color in DotPrinter
  pylint/pyreverse/dot_printer.py
  tests/pyreverse/data/classes_No_Name.dot
  tests/pyreverse/data/classes_colorized.dot
  tests/pyreverse/data/classes_depth_limited_1.dot
  tests/pyreverse/data/classes_no_standalone.dot
  tests/pyreverse/data/packages_No_Name.dot
  tests/pyreverse/data/packages_colorized.dot
  tests/pyreverse/data/packages_depth_limited_1.dot
  tests/pyreverse/data/packages_no_standalone.dot
  tests/pyreverse/data/packages_type_check_imports.dot
  tests/pyreverse/functional/class_diagrams/annotations/attributes_annotation.dot
  tests/pyreverse/functional/class_diagrams/colorized_output/custom_colors.dot
  tests/pyreverse/functional/class_diagrams/module_names/module_names.dot
  tests/pyreverse/functional/class_diagrams/relationships/comprehensions.dot
  tests/pyreverse/functional/class_diagrams/relationships/fields.dot
  tests/pyreverse/functional/class_diagrams/theme_output/theme_dark.dot
  tests/pyreverse/functional/class_diagrams/theme_output/theme_light.dot
  tests/pyreverse/test_dot_printer.py
Due: pylint

Remove leftover classes.png reproduction artifact
  classes.png
Due: none

Reject dark theme for plain Mermaid (.mmd) output
  pylint/pyreverse/writer.py
  tests/pyreverse/functional/class_diagrams/theme_output/theme_dark.mmd
  tests/pyreverse/functional/class_diagrams/theme_output/theme_dark.rc
  tests/pyreverse/test_writer.py
Due: pylint

Regenerate pyreverse CLI docs to include --theme
  doc/additional_tools/pyreverse/configuration.rst
Due: none

Remove redundant dest key from --theme option
  pylint/pyreverse/main.py
Due: pylint

test(pyreverse): add functional test fixtures for --theme light/dark output
  tests/pyreverse/functional/class_diagrams/theme_output/theme_dark.dot
  tests/pyreverse/functional/class_diagrams/theme_output/theme_dark.html
  tests/pyreverse/functional/class_diagrams/theme_output/theme_dark.mmd
  tests/pyreverse/functional/class_diagrams/theme_output/theme_dark.puml
  tests/pyreverse/functional/class_diagrams/theme_output/theme_dark.py
  tests/pyreverse/functional/class_diagrams/theme_output/theme_dark.rc
  tests/pyreverse/functional/class_diagrams/theme_output/theme_light.dot
  tests/pyreverse/functional/class_diagrams/theme_output/theme_light.html
  tests/pyreverse/functional/class_diagrams/theme_output/theme_light.mmd
  tests/pyreverse/functional/class_diagrams/theme_output/theme_light.puml
  tests/pyreverse/functional/class_diagrams/theme_output/theme_light.py
  tests/pyreverse/functional/class_diagrams/theme_output/theme_light.rc
Due: none

feat(pyreverse): add dark theme support to HTMLMermaidJSPrinter
  pylint/pyreverse/mermaidjs_printer.py
  tests/pyreverse/test_mermaidjs_printer.py
Due: pylint

Mention the html backend in the --theme news fragment
  doc/whatsnew/fragments/7572.feature
Due: check-newsfragments

Set a page background for the dark HTML Mermaid output
  pylint/pyreverse/mermaidjs_printer.py
  tests/pyreverse/functional/class_diagrams/theme_output/theme_dark.html
  tests/pyreverse/test_mermaidjs_printer.py
Due: pylint

Fix unreadable method/attribute text in PlantUML dark theme
  pylint/pyreverse/plantuml_printer.py
  tests/pyreverse/functional/class_diagrams/theme_output/theme_dark.puml
  tests/pyreverse/test_plantuml_printer.py
Due: pylint

Fix broken HTML/Mermaid output for --theme
  pylint/pyreverse/mermaidjs_printer.py
  tests/pyreverse/functional/class_diagrams/theme_output/theme_dark.html
  tests/pyreverse/functional/class_diagrams/theme_output/theme_light.html
  tests/pyreverse/test_mermaidjs_printer.py
Due: pylint

Add frontmatter, unindented and mmd to the spelling dictionary
  custom_dict.txt
Due: none

Exclude functional test files from prettier
  .pre-commit-config.yaml
  tests/pyreverse/functional/class_diagrams/theme_output/theme_dark.html
  tests/pyreverse/functional/class_diagrams/theme_output/theme_light.html
Due: none

Add check for unsupported annotations future import
  doc/whatsnew/fragments/9818.new_check
  pylint/checkers/unsupported_version.py
  tests/checkers/unittest_imports.py
Due: pylint, check-newsfragments

Fix dict-init-mutate false positives for dictionary references
  doc/whatsnew/fragments/7997.false_positive
  pylint/extensions/dict_init_mutate.py
  tests/functional/ext/dict_init_mutate.py
  tests/functional/ext/dict_init_mutate.txt
Due: pylint, check-newsfragments

Fix ``unused-import`` for names used in a metaclass (#11569)
  doc/whatsnew/fragments/1630.false_positive
  pylint/checkers/variables.py
  tests/functional/m/metaclass_lineno_none.py
  tests/functional/m/metaclass_lineno_none.txt
  tests/functional/u/unused/unused_import_metaclass.py
  tests/functional/u/unused/unused_import_metaclass.txt
Due: pylint, check-newsfragments

Fix bare annotations hiding unbound names in exception paths (#11527)
  doc/whatsnew/fragments/10847.false_negative
  pylint/checkers/variables.py
  tests/functional/u/used/used_before_assignment_type_annotations.py
  tests/functional/u/used/used_before_assignment_type_annotations.txt
Due: pylint, check-newsfragments

Fix false positive unexpected-keyword-arg for dataclass field aliases
  doc/whatsnew/fragments/9090.false_positive
  pylint/checkers/typecheck.py
  tests/checkers/unittest_typecheck.py
Due: pylint, check-newsfragments

Look up the 'main' primer run by commit in the PR primer
  .github/workflows/primer_run_pr.yaml
Due: none

Look up the 'main' primer run by commit in the PR primer (#11588)
  .github/workflows/primer_run_pr.yaml
Due: none

Add ``BaseChecker.add_message_at_location`` for cross-module messages
  doc/whatsnew/fragments/10894.feature
  pylint/checkers/base_checker.py
  pylint/lint/pylinter.py
  pylint/testutils/unittest_linter.py
  tests/checkers/unittest_base_checker.py
  tests/lint/unittest_lint.py
Due: pylint, check-newsfragments

Add ``BaseChecker.add_message_at_node`` fast path
  doc/whatsnew/fragments/10894.feature
  pylint/checkers/base_checker.py
  pylint/lint/pylinter.py
  tests/checkers/unittest_base_checker.py
  tests/lint/unittest_lint.py
Due: pylint, check-newsfragments

Tighten ``confidence`` to non-nullable across the emit/filter pipeline
  pylint/lint/pylinter.py
  pylint/testutils/unittest_linter.py
Due: pylint

Factor shared filter/emit body out of the add_message variants
  pylint/lint/pylinter.py
Due: pylint

Split the shared filter/emit helper around ``MessageLocationTuple``
  pylint/lint/pylinter.py
Due: pylint

Cover nested-scope walk and non-condition walrus in tests
  tests/functional/u/used/used_before_assignment.py
  tests/functional/u/used/used_before_assignment.txt
Due: none

Lint 'main' in the PR primer when its 'main' run is not usable
  .github/workflows/primer_run_pr.yaml
Due: none

Rename ``line`` to ``lineno`` in ``add_message_at_location``
  doc/whatsnew/fragments/10894.feature
  pylint/checkers/base_checker.py
  pylint/lint/pylinter.py
  tests/checkers/unittest_base_checker.py
  tests/lint/unittest_lint.py
Due: pylint, check-newsfragments

Filter disabled messages before building their location
  pylint/lint/pylinter.py
  tests/lint/unittest_lint.py
Due: pylint

Lint 'main' in the PR primer when its 'main' run is not usable (#11589)
  .github/workflows/primer_run_pr.yaml
Due: none

Only count names bound earlier in the same target when a with target reads a name
  pylint/checkers/utils.py
  tests/functional/u/used/used_before_assignment_with_items.py
  tests/functional/u/used/used_before_assignment_with_items.txt
Due: pylint

Fix used-before-assignment false positive for tuple targets in multi-item with
  doc/whatsnew/fragments/7545.false_positive
  pylint/checkers/utils.py
  tests/functional/u/used/used_before_assignment_with_items.py
  tests/functional/u/used/used_before_assignment_with_items.txt
Due: pylint, check-newsfragments

Test a with item without a target before the binding item
  tests/functional/u/used/used_before_assignment_with_items.py
Due: none

Stop raising an exception at the end of every frame walk
  pylint/utils/utils.py
Due: pylint

Skip resolving the msgid again when filtering a message in add_message
  pylint/lint/pylinter.py
Due: pylint

Fix ``no-member`` false positive in a comprehension behind a false guard
  doc/whatsnew/fragments/7240.false_positive
  pylint/checkers/typecheck.py
  tests/functional/n/no/no_member_if_statements.py
  tests/functional/n/no/no_member_if_statements.txt
Due: pylint, check-newsfragments

Fix ``no-member`` false positive in a comprehension behind a false guard (#11578)
  doc/whatsnew/fragments/7240.false_positive
  pylint/checkers/typecheck.py
  tests/functional/n/no/no_member_if_statements.py
  tests/functional/n/no/no_member_if_statements.txt
Due: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst
