Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation, check-newsfragments

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

check-newsfragments:
  name: Check newsfragments
  entry: python3 -m script.check_newsfragments
  language: system

Add myself as codeowner
  .github/CODEOWNERS
Due: none

Add Marc Mueller as codeowner for CodeStyle and Typing extensions (#7630)
  .github/CODEOWNERS
Due: none

Fix docs
  doc/exts/pylint_messages.py
Due: none

Invert option
  doc/exts/pylint_messages.py
  doc/whatsnew/fragments/7629.other
  pylint/extensions/code_style.py
  pylint/lint/pylinter.py
  pylint/message/message_definition.py
  pylint/typing.py
Due: pylint, check-newsfragments

Swap plugin cache to pickle-able values when done
  doc/whatsnew/fragments/7635.bugfix
  pylint/lint/pylinter.py
Due: pylint, check-newsfragments

Fix spelling in comment complaints from pylint
  pylint/lint/pylinter.py
Due: pylint

Correct tense in news fragment 7635.bugfix
  doc/whatsnew/fragments/7635.bugfix
Due: check-newsfragments

Add a test for linter pickle-ability
  tests/test_check_parallel.py
Due: pylint

Fix test to use specifically pickle-unsafe module
  pylint/lint/pylinter.py
  tests/test_check_parallel.py
Due: pylint

Restructure pickle test to for extra plugins
  tests/test_check_parallel.py
Due: pylint

Address review comments
  pylint/checkers/utils.py
  pylint/checkers/variables.py
Due: pylint

Upgrade astroid to 2.12.12
  .github/workflows/changelog.yml
  .github/workflows/checks.yaml
  .github/workflows/primer-test.yaml
  .github/workflows/primer_comment.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/primer_run_pr.yaml
  .github/workflows/tests.yaml
  pyproject.toml
  requirements_test_min.txt
Due: none

Upgrade astroid to 2.12.12 (#7649)
  .github/workflows/changelog.yml
  .github/workflows/checks.yaml
  .github/workflows/primer-test.yaml
  .github/workflows/primer_comment.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/primer_run_pr.yaml
  .github/workflows/tests.yaml
  pyproject.toml
  requirements_test_min.txt
Due: none

remove __index__ from unnecessary-dunder-call check
  doc/whatsnew/fragments/6795.bugfix
  pylint/checkers/dunder_methods.py
  tests/functional/u/unnecessary/unnecessary_dunder_call.py
Due: pylint, check-newsfragments

Fix windows cache key [ci]
  .github/workflows/tests.yaml
Due: none

Add regression test for no-member with empty AnnAssign
  tests/functional/r/regression_02/regression_no_member_7631.py
Due: none

Fix windows cache key [ci] (#7652)
  .github/workflows/tests.yaml
Due: none

Add regression test for no-member with empty AnnAssign (#7632)
  tests/functional/r/regression_02/regression_no_member_7631.py
Due: none

Address review comments from cdce8p
  pylint/lint/pylinter.py
  tests/test_check_parallel.py
Due: pylint

Shorten my name in the contributor file
  script/.contributors_aliases.json
Due: none

Swap plugin cache to pickle-able values when done (#7640)
  doc/whatsnew/fragments/7635.bugfix
  pylint/lint/pylinter.py
  script/.contributors_aliases.json
  tests/test_check_parallel.py
Due: pylint, check-newsfragments

Refactor check for ignored modules into reusable function (#7604)
  pylint/checkers/typecheck.py
  pylint/checkers/utils.py
Due: pylint

Fix a false positive for `simplify-boolean-expression` when multiple values inferred (#7627)
  doc/whatsnew/fragments/7626.false_positive
  doc/whatsnew/fragments/7626.other
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/utils.py
  tests/functional/t/ternary.py
  tests/functional/t/ternary.txt
Due: pylint, check-newsfragments

Remove __index__ from unnecessary-dunder-call check (#7650)
  doc/whatsnew/fragments/6795.bugfix
  pylint/checkers/dunder_methods.py
  tests/functional/u/unnecessary/unnecessary_dunder_call.py
Due: pylint, check-newsfragments

refactor magic_value_comparison checker
  doc/whatsnew/fragments/7281.new_check
  pylint/checkers/base/comparison_checker.py
  pylint/extensions/magic_value.py
  tests/functional/ext/magic_value_compare/magic_value_compare.txt
  tests/functional/ext/magic_value_comparison/magic_value_comparison.py
  tests/functional/ext/magic_value_comparison/magic_value_comparison.rc
  tests/functional/ext/magic_value_comparison/magic_value_comparison.txt
  tests/functional/t/ternary.py
Due: pylint, check-newsfragments

move is_singleton function to utils.py
  pylint/checkers/base/comparison_checker.py
  pylint/checkers/utils.py
  pylint/extensions/magic_value.py
  tests/functional/ext/magic_value_comparison/magic_value_comparison.txt
Due: pylint

Use relative paths in create_contributor_list.py
  script/create_contributor_list.py
Due: pylint

refactor checker name in bad.py for magic_value checker
  doc/data/messages/m/magic-value/bad.py
Due: none

Use relative paths in create_contributor_list.py (#7656)
  script/create_contributor_list.py
Due: pylint

Sort --generate-rcfile output
  doc/whatsnew/fragments/7655.other
  pylint/config/arguments_manager.py
Due: pylint, check-newsfragments

Sort examples/pylintrc
  examples/pylintrc
Due: none

Sort examples/pylintrc for 2.15.5
  examples/pylintrc
Due: none

[doc] Upgrade the contributors list and CONTRIBUTORS.txt
  CONTRIBUTORS.txt
  script/.contributors_aliases.json
Due: none

Bump pylint to 2.15.5, update changelog
  doc/whatsnew/2/2.15/index.rst
  doc/whatsnew/fragments/6795.bugfix
  doc/whatsnew/fragments/7626.false_positive
  doc/whatsnew/fragments/7626.other
  doc/whatsnew/fragments/7635.bugfix
  doc/whatsnew/fragments/7655.other
  pylint/__pkginfo__.py
  tbump.toml
Due: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  fix-documentation: any of: ^(doc/whatsnew/\d+\.\d+\.rst)
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst
