Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

.pre-commit-config.yaml:

ci:
  skip: [pylint]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
        exclude: "tests/functional/t/trailing_whitespaces.py"
      - id: end-of-file-fixer
        exclude: "tests/functional/m/missing/missing_final_newline.py|tests/functional/t/trailing_newlines.py"
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
      - id: autoflake
        exclude: &fixtures tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/
        args:
          - --in-place
          - --remove-all-unused-imports
          - --expand-star-imports
          - --remove-duplicate-keys
          - --remove-unused-variables
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.19.4
    hooks:
      - id: pyupgrade
        args: [--py36-plus]
        exclude: *fixtures
  - repo: https://github.com/PyCQA/isort
    rev: 5.9.1
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 21.6b0
    hooks:
      - id: black
        args: [--safe, --quiet]
        exclude: *fixtures
  - repo: https://github.com/Pierre-Sassoulas/black-disable-checker/
    rev: 1.0.1
    hooks:
      - id: black-disable-checker
  - repo: https://github.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        exclude: *fixtures
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "-rn",
            "-sn",
            "--rcfile=pylintrc",
            "--load-plugins=pylint.extensions.docparams",
          ]
        # disabled plugins: pylint.extensions.mccabe
        exclude: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
      - id: fix-documentation
        name: Fix documentation
        entry: python3 -m script.fix_documentation
        language: system
        types: [text]
        files: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
  - repo: https://github.com/myint/rstcheck
    rev: "3f92957478422df87bd730abde66f089cc1ee19b"
    hooks:
      - id: rstcheck
        args: ["--ignore-roles=func,class,mod", "--report=warning"]
        types: [text] # necessary to include ChangeLog file
        files: ^(ChangeLog|doc/(.*/)*.*\.rst)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: python
        types: [python]
        args: []
        require_serial: true
        additional_dependencies: ["types-pkg_resources==0.1.3", "types-toml==0.1.3"]
        exclude: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/|bin/
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.3.2
    hooks:
      - id: prettier
        args: [--prose-wrap=always, --print-width=88]

Move ``merge_stats`` to ``checkerstats.py``
  pylint/lint/parallel.py
  pylint/utils/__init__.py
  pylint/utils/checkerstats.py
Due: pylint

Fix tests
  pylint/checkers/imports.py
  pylint/utils/checkerstats.py
Due: pylint

Code review
  pylint/checkers/base.py
  pylint/lint/pylinter.py
  pylint/message/message_handler_mix_in.py
  pylint/utils/checkerstats.py
Due: pylint

Code review and rename
  pylint/checkers/__init__.py
  pylint/checkers/base.py
  pylint/checkers/raw_metrics.py
  pylint/checkers/similar.py
  pylint/config/__init__.py
  pylint/lint/parallel.py
  pylint/lint/pylinter.py
  pylint/lint/report_functions.py
  pylint/reporters/base_reporter.py
  pylint/reporters/multi_reporter.py
  pylint/reporters/reports_handler_mix_in.py
  pylint/testutils/unittest_linter.py
  pylint/utils/__init__.py
  pylint/utils/linterstats.py
  tests/test_check_parallel.py
Due: pylint

Add basic typing to ``pylint/message``
  pylint/message/message_definition.py
  pylint/message/message_definition_store.py
  pylint/message/message_id_store.py
Due: pylint

Add basic typing to ``pylint/pyreverse``
  pylint/pyreverse/dot_printer.py
  pylint/pyreverse/printer.py
  pylint/pyreverse/printer_factory.py
Due: pylint

Add basic typing to ``pylint/testutils/pyreverse``
  pylint/testutils/pyreverse.py
Due: pylint

Refactor test reporter
  pylint/testutils/reporter_for_tests.py
  tests/lint/unittest_lint.py
Due: pylint

Add support for `ModuleNotFoundError` Python 3.6+ builtin-exception
  CONTRIBUTORS.txt
  ChangeLog
  pylint/checkers/utils.py
  tests/functional/i/import_error.py
  tests/functional/i/import_error.txt
  tests/functional/n/no/no_name_in_module.py
  tests/functional/n/no/no_name_in_module.txt
Due: pylint, fix-documentation

Fix return type checkers calls on ellipses functions Closes #4736
  ChangeLog
  pylint/checkers/classes.py
  tests/functional/c/class_protocol_ellipsis.py
Due: pylint, fix-documentation

Add tests for string formation
  tests/functional/u/unused/unused_name_from_wilcard_import.py
  tests/functional/u/unused/unused_name_from_wilcard_import.txt
Due: none

Improve and flatten ``unused-wildcard-import`` message (#5110)
  ChangeLog
  doc/whatsnew/2.12.rst
  pylint/checkers/variables.py
  tests/functional/u/unused/unused_name_from_wilcard_import.py
  tests/functional/u/unused/unused_name_from_wilcard_import.txt
Due: pylint, fix-documentation

Remove irrelevant functional test case for `no-name-in-module`
  tests/functional/n/no/no_name_in_module.py
  tests/functional/n/no/no_name_in_module.txt
Due: none

Simplify 7f85d9c0 and add a missing typing definition
  pylint/checkers/utils.py
Due: pylint

Fix crash with AssignAttr in TYPE_CHECKING blocks
  ChangeLog
  pylint/checkers/variables.py
  tests/functional/u/undefined/undefined_variable.py
Due: pylint, fix-documentation

Update pylint/checkers/classes.py
  pylint/checkers/classes.py
Due: pylint

Code review
  pylint/checkers/classes.py
  pylint/checkers/utils.py
  tests/functional/c/class_protocol_ellipsis.py
Due: pylint

Fix return type of `__repr__` in test
  tests/functional/c/class_protocol_ellipsis.py
Due: none

Create Sjenica1
  Sjenica1
Due: none

Fix crash with AssignAttr in TYPE_CHECKING blocks (#5118)
  ChangeLog
  pylint/checkers/variables.py
  tests/functional/u/undefined/undefined_variable.py
Due: pylint, fix-documentation

Fix documentation and add warning
  ChangeLog
  doc/whatsnew/2.11.rst
  doc/whatsnew/2.12.rst
Due: fix-documentation

Add double quotes
  doc/whatsnew/2.12.rst
Due: fix-documentation

Improve node info for invalid-name
  ChangeLog
  pylint/checkers/base.py
  tests/functional/i/invalid/invalid_name.py
  tests/functional/i/invalid/invalid_name.txt
  tests/functional/n/name/name_styles.txt
Due: pylint, fix-documentation

Test invalid_name still emitted for other arguments
  tests/functional/i/invalid/invalid_name.py
  tests/functional/i/invalid/invalid_name.txt
Due: none

Improve node info for invalid-name (#5094)
  ChangeLog
  pylint/checkers/base.py
  tests/functional/i/invalid/invalid_name.py
  tests/functional/i/invalid/invalid_name.txt
  tests/functional/n/name/name_styles.txt
Due: pylint, fix-documentation

Use 3.10 for Github actions
  .github/workflows/ci.yaml
Due: none

Fix yaml
  .github/workflows/ci.yaml
Due: none

Use 3.10 for Github actions (#5121)
  .github/workflows/ci.yaml
Due: none

Move class string
  tests/functional/c/class_protocol_ellipsis.py
Due: none

Re-move docstring
  tests/functional/c/class_protocol_ellipsis.py
Due: none

Fix a crash if ``str.format`` is referenced without being called
  CONTRIBUTORS.txt
  ChangeLog
  pylint/checkers/refactoring/recommendation_checker.py
  tests/functional/c/consider/consider_using_f_string.py
Due: pylint, fix-documentation

Fix a crash if ``str.format`` is referenced without being called (#5109)
  CONTRIBUTORS.txt
  ChangeLog
  pylint/checkers/refactoring/recommendation_checker.py
  tests/functional/c/consider/consider_using_f_string.py
Due: pylint, fix-documentation

Fix return type checkers calls on ellipses functions (#5107)
  ChangeLog
  pylint/checkers/classes.py
  pylint/checkers/utils.py
  tests/functional/c/class_protocol_ellipsis.py
Due: pylint, fix-documentation

Prepare imports of ``MessagesHandlerMixIn`` for merge with ``PyLinter``
  pylint/message/message_handler_mix_in.py
Due: pylint

Add guard helper functions from astroid
  ChangeLog
  pylint/checkers/imports.py
  pylint/checkers/utils.py
  tests/checkers/unittest_utils.py
Due: pylint, fix-documentation

Add guard helper functions from astroid (#5122)
  ChangeLog
  pylint/checkers/imports.py
  pylint/checkers/utils.py
  tests/checkers/unittest_utils.py
Due: pylint, fix-documentation

Update astroid to 2.8.1
  ChangeLog
  requirements_test_min.txt
  setup.cfg
Due: fix-documentation
