Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

.pre-commit-config.yaml:

ci:
  skip: [pylint]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
        exclude: "tests/functional/t/trailing_whitespaces.py"
      - id: end-of-file-fixer
        exclude: "tests/functional/m/missing/missing_final_newline.py|tests/functional/t/trailing_newlines.py"
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
      - id: autoflake
        exclude: &fixtures tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/
        args:
          - --in-place
          - --remove-all-unused-imports
          - --expand-star-imports
          - --remove-duplicate-keys
          - --remove-unused-variables
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.19.4
    hooks:
      - id: pyupgrade
        args: [--py36-plus]
        exclude: *fixtures
  - repo: https://github.com/PyCQA/isort
    rev: 5.9.1
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 21.6b0
    hooks:
      - id: black
        args: [--safe, --quiet]
        exclude: *fixtures
  - repo: https://github.com/Pierre-Sassoulas/black-disable-checker/
    rev: 1.0.1
    hooks:
      - id: black-disable-checker
  - repo: https://github.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        exclude: *fixtures
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "-rn",
            "-sn",
            "--rcfile=pylintrc",
            "--load-plugins=pylint.extensions.docparams",
          ]
        # disabled plugins: pylint.extensions.mccabe
        exclude: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
      - id: fix-documentation
        name: Fix documentation
        entry: python3 -m script.fix_documentation
        language: system
        types: [text]
        files: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
  - repo: https://github.com/myint/rstcheck
    rev: "3f92957478422df87bd730abde66f089cc1ee19b"
    hooks:
      - id: rstcheck
        args: ["--ignore-roles=func,class,mod", "--report=warning"]
        types: [text] # necessary to include ChangeLog file
        files: ^(ChangeLog|doc/(.*/)*.*\.rst)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: python
        types: [python]
        args: []
        require_serial: true
        additional_dependencies: ["types-pkg_resources==0.1.3", "types-toml==0.1.3"]
        exclude: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/|bin/
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.3.2
    hooks:
      - id: prettier
        args: [--prose-wrap=always, --print-width=88]

Add changelog and warning about unstable API in testutil
  ChangeLog
  doc/whatsnew/2.12.rst
Due: fix-documentation

Add primer tests, (running pylint on external libs during tests)
  .github/workflows/ci.yaml
  .gitignore
  pylint/constants.py
  pylint/testutils/primer.py
  requirements_test_min.txt
  setup.cfg
  tests/primer/packages_to_lint.json
  tests/primer/test_primer_external.py
  tests/primer/test_primer_stdlib.py
Due: pylint

Apply suggestions from code review
  pylint/testutils/primer.py
Due: pylint

Add test for Package to Lint
  pylint/testutils/primer.py
  tests/testutils/test_package_to_lint.py
Due: pylint

Separate the primer tests by using pytest marks
  .github/workflows/ci.yaml
  setup.cfg
  tests/primer/test_primer_external.py
  tests/primer/test_primer_stdlib.py
Due: pylint

Missed comment
  pylint/testutils/primer.py
Due: pylint

Better comment to explain why we're not testing lazy_clone
  pylint/testutils/primer.py
Due: pylint

Fix tests for windows by using Path instead of strings
  tests/testutils/test_package_to_lint.py
Due: pylint

Refactor of package to lint test (better expected value)
  tests/testutils/test_package_to_lint.py
Due: pylint

Rationalize the Path/str in package to lint tests
  tests/testutils/test_package_to_lint.py
Due: pylint

Primer tests "à la mypy" (#5173)
  .github/workflows/ci.yaml
  .gitignore
  ChangeLog
  doc/whatsnew/2.12.rst
  pylint/constants.py
  pylint/testutils/primer.py
  requirements_test_min.txt
  setup.cfg
  tests/primer/packages_to_lint.json
  tests/primer/test_primer_external.py
  tests/primer/test_primer_stdlib.py
  tests/testutils/test_package_to_lint.py
Due: pylint, fix-documentation

Update reporters to (allow) use of ``end_line`` and ``end_column`` (#5372)
  ChangeLog
  doc/user_guide/output.rst
  doc/whatsnew/2.12.rst
  pylint/reporters/text.py
  tests/unittest_reporting.py
Due: pylint, fix-documentation

Fix checking of ``confidence`` in the unittests (#5376)
  ChangeLog
  doc/whatsnew/2.12.rst
  pylint/testutils/output_line.py
  pylint/testutils/unittest_linter.py
  tests/checkers/unittest_base.py
  tests/checkers/unittest_misc.py
  tests/checkers/unittest_typecheck.py
  tests/checkers/unittest_variables.py
Due: pylint, fix-documentation

Fix tests
  pylint/testutils/output_line.py
  tests/functional/d/deprecated/deprecated_methods_py38.txt
  tests/functional/g/generic_alias/generic_alias_collections_py37.txt
  tests/functional/g/generic_alias/generic_alias_collections_py37_with_typing.txt
  tests/functional/g/generic_alias/generic_alias_mixed_py37.txt
  tests/functional/g/generic_alias/generic_alias_postponed_evaluation_py37.txt
  tests/functional/p/postponed_evaluation_pep585.txt
  tests/functional/p/postponed_evaluation_pep585_error.txt
Due: pylint

Update tests
  tests/functional/d/deprecated/deprecated_class_py33.txt
  tests/functional/r/regression/regression_4439.txt
  tests/testutils/test_output_line.py
Due: pylint

Update pylint/testutils/output_line.py
  pylint/testutils/output_line.py
Due: pylint

Fix checking of ``confidence`` in the unittests (#5376)
  pylint/testutils/output_line.py
Due: pylint

Update new extensions tests
  tests/functional/ext/bad_builtin/bad_builtin_extension.txt
  tests/functional/ext/broad_try_clause/broad_try_clause_extension.txt
  tests/functional/ext/check_elif/check_elif.txt
  tests/functional/ext/comparetozero/comparetozero.txt
  tests/functional/ext/docstyle/docstyle.txt
  tests/functional/ext/empty_comment/empty_comment.txt
  tests/functional/ext/emptystring/empty_string_comparison.txt
  tests/functional/ext/mccabe/mccabe.txt
  tests/functional/ext/overlapping_exceptions/overlapping_exceptions.txt
  tests/functional/ext/redefined_variable_type/redefined_variable_type.txt
  tests/functional/i/inherit_non_class.txt
  tests/functional/i/invalid/s/invalid_slice_index.txt
Due: none

It's getting late (fix test)
  tests/testutils/test_output_line.py
Due: pylint

Updates tests
  pylint/testutils/output_line.py
Due: pylint

Make OutputLine accept end_line and end_column
  pylint/testutils/output_line.py
  tests/testutils/test_output_line.py
Due: pylint

Update changelog
  ChangeLog
  doc/whatsnew/2.12.rst
Due: fix-documentation

Fix tests
  tests/testutils/test_output_line.py
Due: pylint

Add ``min_pyver_end_position`` option
  ChangeLog
  doc/development_guide/testing.rst
  doc/whatsnew/2.12.rst
  pylint/testutils/functional_test_file.py
  pylint/testutils/lint_module_test.py
  pylint/testutils/output_line.py
  tests/testutils/test_output_line.py
Due: pylint, fix-documentation

Add documentation for primer and convert to command line option
  .github/workflows/ci.yaml
  doc/development_guide/testing.rst
  setup.cfg
  tests/conftest.py
Due: pylint

Update .github/workflows/ci.yaml
  .github/workflows/ci.yaml
Due: none

Add default value
  pylint/testutils/output_line.py
  tests/testutils/test_output_line.py
Due: pylint

Apply suggestions from code review
  doc/development_guide/testing.rst
Due: none

Update command name
  .github/workflows/ci.yaml
  tests/conftest.py
Due: pylint

Move to ``__init__``
  pylint/testutils/lint_module_test.py
Due: pylint

Fix pytest command in CI
  .github/workflows/ci.yaml
Due: none

Update docs
  doc/development_guide/testing.rst
Due: none

Add ``min_pyver_end_position`` option (#5386)
  ChangeLog
  doc/development_guide/testing.rst
  doc/whatsnew/2.12.rst
  pylint/testutils/functional_test_file.py
  pylint/testutils/lint_module_test.py
  pylint/testutils/output_line.py
  tests/testutils/test_output_line.py
Due: pylint, fix-documentation

Add documentation for primer and convert to command line option (#5387)
  .github/workflows/ci.yaml
  doc/development_guide/testing.rst
  setup.cfg
  tests/conftest.py
Due: pylint

Add Copyrite configuration for Nick Pesce
  .copyrite_aliases
Due: none

Upgrade the version to 2.12.1-dev0 following 2.12.0 release
  pylint/__pkginfo__.py
  tbump.toml
Due: pylint
