Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I
  - --load-plugins=pylint.extensions.docparams

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

Move test
  tests/extensions/test_check_raise_docs.py
  tests/functional/ext/docparams/raise/missing_raises_doc_Google.py
  tests/functional/ext/docparams/raise/missing_raises_doc_Google.txt
Due: pylint

Move test
  tests/extensions/test_check_raise_docs.py
  tests/functional/ext/docparams/raise/missing_raises_doc_Numpy.py
  tests/functional/ext/docparams/raise/missing_raises_doc_Numpy.txt
Due: pylint

Move test
  tests/extensions/test_check_raise_docs.py
  tests/functional/ext/docparams/raise/missing_raises_doc_Sphinx.py
Due: pylint

Move test
  tests/extensions/test_check_raise_docs.py
  tests/functional/ext/docparams/raise/missing_raises_doc_Google.py
Due: pylint

Move test
  tests/extensions/test_check_raise_docs.py
  tests/functional/ext/docparams/raise/missing_raises_doc_Numpy.py
Due: pylint

Move test
  tests/extensions/test_check_raise_docs.py
  tests/functional/ext/docparams/raise/missing_raises_doc_required_Numpy.py
Due: pylint

Move test
  tests/extensions/test_check_raise_docs.py
  tests/functional/ext/docparams/raise/missing_raises_doc_Sphinx.py
  tests/functional/ext/docparams/raise/missing_raises_doc_Sphinx.txt
Due: pylint

Move test
  tests/extensions/test_check_raise_docs.py
  tests/functional/ext/docparams/raise/missing_raises_doc_required_Sphinx.py
Due: pylint

Move test
  tests/extensions/test_check_raise_docs.py
  tests/functional/ext/docparams/raise/missing_raises_doc.py
  tests/functional/ext/docparams/raise/missing_raises_doc.txt
Due: pylint

Move test
  tests/extensions/test_check_raise_docs.py
  tests/functional/ext/docparams/raise/missing_raises_doc.py
Due: pylint

Move ``TestDocstringCheckerRaise`` to functional tests (#5444)
  tests/extensions/test_check_raise_docs.py
  tests/functional/ext/docparams/raise/missing_raises_doc.py
  tests/functional/ext/docparams/raise/missing_raises_doc.rc
  tests/functional/ext/docparams/raise/missing_raises_doc.txt
  tests/functional/ext/docparams/raise/missing_raises_doc_Google.py
  tests/functional/ext/docparams/raise/missing_raises_doc_Google.rc
  tests/functional/ext/docparams/raise/missing_raises_doc_Google.txt
  tests/functional/ext/docparams/raise/missing_raises_doc_Numpy.py
  tests/functional/ext/docparams/raise/missing_raises_doc_Numpy.rc
  tests/functional/ext/docparams/raise/missing_raises_doc_Numpy.txt
  tests/functional/ext/docparams/raise/missing_raises_doc_Sphinx.py
  tests/functional/ext/docparams/raise/missing_raises_doc_Sphinx.rc
  tests/functional/ext/docparams/raise/missing_raises_doc_Sphinx.txt
  tests/functional/ext/docparams/raise/missing_raises_doc_required.py
  tests/functional/ext/docparams/raise/missing_raises_doc_required.rc
  tests/functional/ext/docparams/raise/missing_raises_doc_required.txt
  tests/functional/ext/docparams/raise/missing_raises_doc_required_Google.py
  tests/functional/ext/docparams/raise/missing_raises_doc_required_Google.rc
  tests/functional/ext/docparams/raise/missing_raises_doc_required_Numpy.py
  tests/functional/ext/docparams/raise/missing_raises_doc_required_Numpy.rc
  tests/functional/ext/docparams/raise/missing_raises_doc_required_Sphinx.py
  tests/functional/ext/docparams/raise/missing_raises_doc_required_Sphinx.rc
Due: pylint

Add type of docstring to ``missing_raises_doc`` functional tests
  tests/functional/ext/docparams/raise/missing_raises_doc_Google.py
  tests/functional/ext/docparams/raise/missing_raises_doc_Numpy.py
  tests/functional/ext/docparams/raise/missing_raises_doc_Sphinx.py
Due: none

Add type of docstring to ``missing_raises_doc`` functional tests (#5445)
  tests/functional/ext/docparams/raise/missing_raises_doc_Google.py
  tests/functional/ext/docparams/raise/missing_raises_doc_Numpy.py
  tests/functional/ext/docparams/raise/missing_raises_doc_Sphinx.py
Due: none

Allow disabling ``duplicate-code`` with a disable comment
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/similar.py
  tests/regrtest_data/duplicate_code/raw_strings_all/__init__.py
  tests/regrtest_data/duplicate_code/raw_strings_all/first.py
  tests/regrtest_data/duplicate_code/raw_strings_all/second.py
  tests/regrtest_data/duplicate_code/raw_strings_all/third.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_file/__init__.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_file/first.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_file/second.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_file/third.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_file_double/__init__.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_file_double/first.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_file_double/second.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_file_double/third.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_line_begin/__init__.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_line_begin/first.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_line_begin/second.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_line_disable_all/__init__.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_line_disable_all/first.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_line_disable_all/second.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_line_end/__init__.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_line_end/first.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_line_end/second.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_line_middle/__init__.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_line_middle/first.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_line_middle/second.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_scope/__init__.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_scope/first.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_scope/second.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_scope/third.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_scope_double/__init__.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_scope_double/first.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_scope_double/second.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_scope_double/third.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_scope_second_function/__init__.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_scope_second_function/first.py
  tests/regrtest_data/duplicate_code/raw_strings_disable_scope_second_function/second.py
  tests/test_self.py
  tests/test_similar.py
Due: pylint, fix-documentation

Deprecate ``is_inside_lambda`` from utils
  pylint/checkers/utils.py
  pylint/checkers/variables.py
Due: pylint

Update code example in "How to Write a Checker"
  doc/how_tos/custom_checkers.rst
Due: none

Add pylbrecht to contributors
  CONTRIBUTORS.txt
Due: none

Move changelog entry
  ChangeLog
Due: fix-documentation

Move Sphinx docstrings out of ``TestParamDocChecker``
  tests/extensions/test_check_docs.py
  tests/functional/ext/docparams/parameter/missing_param_doc_required_Sphinx.py
  tests/functional/ext/docparams/parameter/missing_param_doc_required_Sphinx.rc
  tests/functional/ext/docparams/parameter/missing_param_doc_required_Sphinx.txt
  tests/functional/ext/docparams/raise/missing_raises_doc_Sphinx.py
  tests/functional/ext/docparams/raise/missing_raises_doc_Sphinx.txt
  tests/functional/ext/docparams/return/missing_return_doc_Sphinx.py
  tests/functional/ext/docparams/return/missing_return_doc_Sphinx.txt
  tests/functional/ext/docparams/return/missing_return_doc_required_Sphinx.py
  tests/functional/ext/docparams/return/missing_return_doc_required_Sphinx.txt
Due: pylint

Code review
  pylint/checkers/variables.py
Due: pylint

Apply suggestions from code review
  pylint/checkers/variables.py
Due: pylint

Fix error
  pylint/checkers/variables.py
Due: pylint

Remove `elif` and correct indentation
  pylint/checkers/variables.py
Due: pylint

Re-add elif
  pylint/checkers/variables.py
Due: pylint

Update pylint/checkers/variables.py
  pylint/checkers/variables.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
  fix-documentation: any of: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
