Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

check-newsfragments:
  name: Check newsfragments
  entry: python3 -m script.check_newsfragments
  language: system

Fix FP for `invalid-name` on module-level constant with multiple branches (#10677)
  doc/whatsnew/fragments/10664.false_positive
  pylint/checkers/base/name_checker/checker.py
  tests/functional/d/disallowed_name.py
  tests/functional/d/disallowed_name.txt
  tests/functional/i/invalid/invalid_name/invalid_name_module_level.py
Due: pylint, check-newsfragments

Ignore unraisable exceptions on stdlib primer (#10683)
  tests/primer/test_primer_stdlib.py
Due: pylint

Fix FP for `invalid-name` on partially uninferable module-level constant
  doc/whatsnew/fragments/10652.false_positive
  pylint/checkers/base/name_checker/checker.py
  tests/functional/i/invalid/invalid_name/invalid_name_module_level.py
Due: pylint, check-newsfragments

docs(pyreverse): Add guide for UML diagram arrows
  doc/additional_tools/pyreverse/index.rst
Due: none

Add back home-assistant
  tests/primer/packages_to_prime.json
Due: none

[primer] Add --jobs=2
  pylint/testutils/_primer/primer_run_command.py
Due: pylint

Fix FP for `invalid-name` for partially uninferable module-level name (#10678)
  doc/whatsnew/fragments/10652.false_positive
  pylint/checkers/base/name_checker/checker.py
  tests/functional/i/invalid/invalid_name/invalid_name_module_level.py
Due: pylint, check-newsfragments

docs(pyreverse): Add guide for UML diagram arrows (#10682)
  doc/additional_tools/pyreverse/index.rst
Due: none

Support block-level wrong-import-position pragma suppression
  doc/whatsnew/fragments/10589.bugfix
  pylint/checkers/imports.py
  tests/functional/d/disable_wrong_import_position.py
  tests/functional/d/disable_wrong_import_position.txt
  tests/functional/w/wrong_import_position_pragma_scope.py
  tests/functional/w/wrong_import_position_pragma_scope.txt
Due: pylint, check-newsfragments

fix: support block-level wrong-import-position pragma suppression
  pylint/checkers/imports.py
Due: pylint

Bump pylint to 4.0.2, update changelog
  doc/whatsnew/4/4.0/index.rst
  doc/whatsnew/fragments/10652.false_positive
  doc/whatsnew/fragments/10664.false_positive
  doc/whatsnew/fragments/10672.false_positive
  pylint/__pkginfo__.py
  tbump.toml
Due: pylint, check-newsfragments

Fix FP for `invalid-name` with `typing.Annotated`
  doc/whatsnew/fragments/10696.false_positive
  pylint/checkers/base/name_checker/checker.py
  tests/functional/i/invalid/invalid_name/invalid_name_module_level.py
Due: pylint, check-newsfragments

Fix FP for `invalid-name` with `typing.Annotated` (#10699)
  doc/whatsnew/fragments/10696.false_positive
  pylint/checkers/base/name_checker/checker.py
  tests/functional/i/invalid/invalid_name/invalid_name_module_level.py
Due: pylint, check-newsfragments

[primer] Replace home-assistant with ansible
  tests/primer/packages_to_prime.json
Due: none

[primer] Add ansible (#10685)
  tests/primer/packages_to_prime.json
Due: none

[test] Add a regression test for #10711
  tests/functional/i/invalid/invalid_name/invalid_name_issue_10711.py
Due: none

Generalize to final typing
  tests/functional/i/invalid/invalid_name/invalid_name_issue_10711.py
  tests/functional/i/invalid/invalid_name/invalid_name_with_final_typing.py
Due: none

Add changelog
  doc/whatsnew/fragments/10711.false_positive
Due: check-newsfragments

Better naming
  tests/functional/i/invalid/invalid_name/invalid_name_with_final_typing.py
Due: none

Fix crash for consider-using-assignment-expr
  doc/whatsnew/fragments/10707.bugfix
  pylint/extensions/code_style.py
  tests/functional/ext/code_style/cs_consider_using_assignment_expr.py
Due: pylint, check-newsfragments

Fix crash when a slice object is called
  doc/whatsnew/fragments/10708.bugfix
  pylint/extensions/code_style.py
  tests/functional/ext/code_style/cs_prefer_typing_namedtuple.py
  tests/functional/ext/code_style/cs_use_math_not_float.py
Due: pylint, check-newsfragments

Fix false positive for f-string-without-interpolation
  doc/whatsnew/fragments/10702.false_positive
  pylint/checkers/strings.py
  tests/functional/f/f_string_without_interpolation_py314.py
  tests/functional/f/f_string_without_interpolation_py314.rc
Due: pylint, check-newsfragments

Some design and add doc to give an idea of the design before actual implementation
  doc/data/messages/b/bad-float-notation/bad/bad.py
  doc/data/messages/b/bad-float-notation/bad/engineering_notation.py
  doc/data/messages/b/bad-float-notation/bad/engineering_notation.rc
  doc/data/messages/b/bad-float-notation/bad/pep515.py
  doc/data/messages/b/bad-float-notation/bad/pep515.rc
  doc/data/messages/b/bad-float-notation/bad/scientific_notation.py
  doc/data/messages/b/bad-float-notation/bad/scientific_notation.rc
  doc/data/messages/b/bad-float-notation/details.rst
  doc/data/messages/b/bad-float-notation/good/engineering_notation.py
  doc/data/messages/b/bad-float-notation/good/good.py
  doc/data/messages/b/bad-float-notation/good/pep515.py
  doc/data/messages/b/bad-float-notation/good/scientific_notation.py
  doc/data/messages/b/bad-float-notation/related.rst
  doc/test_messages_documentation.py
  doc/user_guide/checkers/features.rst
  doc/user_guide/configuration/all-options.rst
  doc/user_guide/messages/messages_overview.rst
  doc/whatsnew/fragments/10425.feature
  pylint/checkers/format.py
  tests/checkers/unittest_format.py
  tests/functional/b/bad_float/bad_float_engineering_notation.py
  tests/functional/b/bad_float/bad_float_engineering_notation.rc
  tests/functional/b/bad_float/bad_float_notation_default.py
  tests/functional/b/bad_float/bad_float_notation_default.rc
  tests/functional/b/bad_float/bad_float_notation_default.txt
  tests/functional/b/bad_float/bad_float_pep515.py
  tests/functional/b/bad_float/bad_float_pep515.rc
  tests/functional/b/bad_float/bad_float_scientific_notation.py
  tests/functional/b/bad_float/bad_float_scientific_notation.rc
  tests/functional/u/use/use_standard_scientific_notation.py
  tests/functional/u/use/use_standard_scientific_notation.txt
Due: pylint, check-newsfragments

Higher default value for the threshold
  pylint/checkers/format.py
  tests/functional/b/bad_float/bad_float_engineering_notation.rc
  tests/functional/b/bad_float/bad_float_notation_default.rc
  tests/functional/b/bad_float/bad_float_pep515.rc
  tests/functional/b/bad_float/bad_float_scientific_notation.rc
Due: pylint

Handle the case where the number is just 3600 better
  pylint/checkers/format.py
  tests/checkers/unittest_format.py
Due: pylint

Do not raise on int
  pylint/checkers/format.py
  tests/functional/b/bad_float/bad_float_engineering_notation.py
  tests/functional/b/bad_float/bad_float_engineering_notation.txt
  tests/functional/b/bad_float/bad_float_notation_default.py
  tests/functional/b/bad_float/bad_float_notation_default.txt
  tests/functional/b/bad_float/bad_float_pep515.py
  tests/functional/b/bad_float/bad_float_pep515.txt
  tests/functional/b/bad_float/bad_float_scientific_notation.py
  tests/functional/b/bad_float/bad_float_scientific_notation.txt
Due: pylint

Optimize 0
  pylint/checkers/format.py
  tests/functional/b/bad_float/bad_float_notation_default.py
  tests/functional/b/bad_float/bad_float_notation_default.txt
Due: pylint

Fix the 0 case and mixed underscore and exponent case
  pylint/checkers/format.py
  tests/functional/b/bad_float/bad_float_notation_default.py
  tests/functional/b/bad_float/bad_float_notation_default.txt
  tests/functional/b/bad_float/bad_float_pep515.py
  tests/functional/b/bad_float/bad_float_scientific_notation.py
Due: pylint

Give a reason for why a notation is bad and display the float (temporarily for easier primer reading)
  pylint/checkers/format.py
  tests/functional/b/bad_float/bad_float_engineering_notation.txt
  tests/functional/b/bad_float/bad_float_notation_default.txt
  tests/functional/b/bad_float/bad_float_pep515.txt
  tests/functional/b/bad_float/bad_float_scientific_notation.txt
Due: pylint

[format] Add a check for standard scientific notation
  pylint/checkers/format.py
  tests/functional/u/use/use_standard_scientific_notation.py
  tests/functional/u/use/use_standard_scientific_notation.txt
Due: pylint

Handle time better
  pylint/checkers/format.py
  tests/checkers/unittest_format.py
  tests/functional/b/bad_float/bad_float_notation_default.py
  tests/functional/b/bad_float/bad_float_notation_default.txt
Due: pylint

Fix bad initialization of class
  pylint/checkers/format.py
Due: pylint

[refactor] Create a float formatter helper class
  pylint/checkers/format.py
  tests/checkers/unittest_format.py
Due: pylint

Fix the strict notation functional tests
  doc/data/messages/b/bad-float-notation/good/pep515.py
  pylint/checkers/format.py
  tests/functional/b/bad_float/bad_float_engineering_notation.txt
  tests/functional/b/bad_float/bad_float_notation_default.py
  tests/functional/b/bad_float/bad_float_pep515.py
  tests/functional/b/bad_float/bad_float_pep515.txt
  tests/functional/b/bad_float/bad_float_scientific_notation.txt
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst
