Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

check-newsfragments:
  name: Check newsfragments
  entry: python3 -m script.check_newsfragments
  language: system

[fix] Better approach in 'unnecessary-list-index-lookup' to avoid crashes (#10511) (#10512)
  doc/whatsnew/fragments/10510.bugfix
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/u/unnecessary/unnecessary_list_index_lookup.py
Due: pylint, check-newsfragments

Revert "Revert "Add dependency groups to pyproject.toml file (#10332)" (#10342)"
  pyproject.toml
Due: none

Apply pre-commit
  .github/copilot-instructions.md
Due: none

Re-apply "Add dependency groups to pyproject.toml file" (#10523)
  pyproject.toml
Due: none

pre-commit
  .github/copilot-instructions.md
Due: none

Add comprehensive GitHub Copilot instructions for pylint development with mandatory pre-commit (#10522)
  .github/copilot-instructions.md
Due: none

Only the regression test
  tests/functional/d/dataclass/dataclass_generic_init_subclass.py
  tests/functional/d/dataclass/dataclass_generic_init_subclass.txt
Due: none

pre-commit
  pylint/checkers/imports.py
  tests/functional/i/import_mypy_extension.py
  tests/functional/i/import_mypy_extension.rc
  tests/functional/i/import_mypy_extension.txt
Due: pylint

Sync requirements
  pyproject.toml
Due: none

Switch to mypy-dev 1.18.0a6
  .pre-commit-config.yaml
  tests/test_self.py
Due: pylint

Sync requirements (#10526)
  pyproject.toml
Due: none

Switch to mypy-dev 1.18.0a6 (#10527)
  .pre-commit-config.yaml
  tests/test_self.py
Due: pylint

Use match statement in checkers (1)
  pylint/checkers/match_statements_checker.py
  pylint/extensions/_check_docs_utils.py
  pylint/extensions/code_style.py
  pylint/extensions/for_any_all.py
  pylint/extensions/private_import.py
  pyproject.toml
Due: pylint

Revert mypy disable
  pyproject.toml
Due: none

Revert questionable tuple match
  pylint/extensions/code_style.py
Due: pylint

Use better variable names
  pylint/checkers/match_statements_checker.py
  pylint/extensions/private_import.py
Due: pylint

Remove unnecessary variable binding
  pylint/extensions/private_import.py
Due: pylint

Add back code comment
  pylint/extensions/private_import.py
Due: pylint

Use match statement in checkers (2)
  pylint/checkers/async_checker.py
  pylint/checkers/exceptions.py
  pylint/checkers/format.py
  pylint/checkers/imports.py
  pylint/checkers/lambda_expressions.py
  pylint/checkers/logging.py
  pylint/checkers/modified_iterating_checker.py
  pylint/checkers/non_ascii_names.py
  pylint/checkers/stdlib.py
  pylint/checkers/strings.py
  pylint/checkers/typecheck.py
  pylint/checkers/utils.py
  pylint/checkers/variables.py
Due: pylint

Use match statement in checkers (3)
  pylint/checkers/base/basic_checker.py
  pylint/checkers/base/basic_error_checker.py
  pylint/checkers/base/docstring_checker.py
  pylint/checkers/base/name_checker/checker.py
  pylint/checkers/classes/class_checker.py
  pylint/checkers/classes/special_methods_checker.py
  pylint/checkers/refactoring/implicit_booleaness_checker.py
  pylint/checkers/refactoring/refactoring_checker.py
Due: pylint

Add test case for skipped multi-assignments [unnecessary-lambda-assignment]
  tests/functional/u/unnecessary/unnecessary_lambda_assignment.py
Due: none

[primer] Make the primer default interpreter consistent
  .github/workflows/primer_comment.yaml
  tests/testutils/_primer/test_primer.py
Due: pylint

[primer] Do not test primers on windows either
  tests/testutils/_primer/test_primer.py
Due: pylint

[primer tests] Add a test case for a new message
  tests/testutils/_primer/fixtures/new_message/expected.txt
  tests/testutils/_primer/fixtures/new_message/main.json
  tests/testutils/_primer/fixtures/new_message/pr.json
Due: none

[primer tests] Add a test case for a removed message
  tests/testutils/_primer/fixtures/removed_message/expected.txt
  tests/testutils/_primer/fixtures/removed_message/main.json
  tests/testutils/_primer/fixtures/removed_message/pr.json
Due: none

Fix regression in unnecessary-lambda-assignment check
  pylint/checkers/lambda_expressions.py
  tests/functional/u/unnecessary/unnecessary_lambda_assignment.py
  tests/functional/u/unnecessary/unnecessary_lambda_assignment.txt
Due: pylint

Use optimized if stmt in basic_checker
  pylint/checkers/base/basic_checker.py
Due: pylint

Add pragma no cover comment
  pylint/checkers/refactoring/refactoring_checker.py
Due: pylint

Raise AssertionError for uncovered fallback case
  .coveragerc
  pylint/checkers/variables.py
Due: pylint

Raise AssertionError for uncovered fallback case
  .coveragerc
  pylint/checkers/refactoring/refactoring_checker.py
Due: pylint

Raise AssertionError for uncovered fallback case
  pylint/checkers/variables.py
Due: pylint

Raise AssertionError for uncovered fallback case
  pylint/checkers/refactoring/refactoring_checker.py
Due: pylint

Improve coverage config
  .coveragerc
Due: none

Improve coverage config (#10530)
  .coveragerc
Due: none

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst
