Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --load-plugins=pylint.extensions.docparams

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

Rename attribute
  pylint/typing.py
Due: pylint

Code review
  ChangeLog
  tests/checkers/unittest_base.py
Due: pylint, fix-documentation

Fix test
  tests/checkers/unittest_base.py
Due: pylint

Add more cases for use-implicit-booleaness-not-comparison
  tests/functional/u/use/use_implicit_booleaness_not_comparison.py
  tests/functional/u/use/use_implicit_booleaness_not_comparison.txt
Due: none

Fix checker and tests
  ChangeLog
  pylint/extensions/docparams.py
  tests/extensions/test_check_docs.py
Due: pylint, fix-documentation

Remove redunant lines and actually fix tests
  tests/extensions/test_check_docs.py
Due: pylint

Improve documentation of ``docparams`` extension and fix tests (#5095)
  pylint/extensions/docparams.rst
  tests/extensions/test_check_docs.py
Due: pylint

Add ignore-patterns, ignore-paths to pylintrc
  pylintrc
Due: none

detect duplicate-key for enum members
  ChangeLog
  pylint/checkers/base.py
Due: pylint, fix-documentation

Add name to contributors list
  CONTRIBUTORS.txt
Due: none

Add test for emit duplicate-key with Enum
  tests/functional/d/duplicate_dict_literal_key.py
  tests/functional/d/duplicate_dict_literal_key.txt
Due: none

Compare variable default args
  pylint/checkers/classes.py
  tests/functional/u/useless/useless_super_delegation.py
  tests/functional/u/useless/useless_super_delegation.txt
Due: pylint

paperwork
  CONTRIBUTORS.txt
  ChangeLog
  doc/whatsnew/2.12.rst
Due: fix-documentation

Fix message and add more cases for numpy and pandas use case
  pylint/checkers/refactoring/implicit_booleaness_checker.py
  tests/functional/u/use/use_implicit_booleaness_not_comparison.py
  tests/functional/u/use/use_implicit_booleaness_not_comparison.txt
Due: pylint

Handle more appropriate cases for pandas and numpy
  pylint/checkers/refactoring/implicit_booleaness_checker.py
  tests/functional/u/use/use_implicit_booleaness_not_comparison.py
  tests/functional/u/use/use_implicit_booleaness_not_comparison.txt
Due: pylint

Make ``undefined-variable`` flag type annotation without value assignment Closes #5140
  ChangeLog
  doc/whatsnew/2.12.rst
  pylint/checkers/variables.py
  tests/functional/u/undefined/undefined_variable.py
  tests/functional/u/undefined/undefined_variable.txt
Due: pylint, fix-documentation

Update pylint/checkers/variables.py
  pylint/checkers/variables.py
Due: pylint

Make ``undefined-variable`` flag type annotation without value assignment (#5158)
  ChangeLog
  doc/whatsnew/2.12.rst
  pylint/checkers/variables.py
  tests/functional/u/undefined/undefined_variable.py
  tests/functional/u/undefined/undefined_variable.txt
Due: pylint, fix-documentation

Fix py-version usage in typing extension tests
  tests/functional/ext/typing/typing_consider_using_alias.rc
  tests/functional/ext/typing/typing_consider_using_alias_without_future.rc
  tests/functional/ext/typing/typing_consider_using_union.rc
  tests/functional/ext/typing/typing_consider_using_union_py310.rc
  tests/functional/ext/typing/typing_consider_using_union_without_future.rc
  tests/functional/ext/typing/typing_deprecated_alias.rc
Due: none

Use py-version for alternative union syntax check
  ChangeLog
  pylint/checkers/typecheck.py
  pylint/constants.py
  tests/functional/a/alternative/alternative_union_syntax.rc
  tests/functional/a/alternative/alternative_union_syntax_error.rc
  tests/functional/a/alternative/alternative_union_syntax_py37.rc
Due: pylint, fix-documentation

Use py-version for alternative union syntax check (#5160)
  ChangeLog
  pylint/checkers/typecheck.py
  pylint/constants.py
  tests/functional/a/alternative/alternative_union_syntax.rc
  tests/functional/a/alternative/alternative_union_syntax_error.rc
  tests/functional/a/alternative/alternative_union_syntax_py37.rc
Due: pylint, fix-documentation

Fix py-version usage in typing extension tests (#5161)
  tests/functional/ext/typing/typing_consider_using_alias.rc
  tests/functional/ext/typing/typing_consider_using_alias_without_future.rc
  tests/functional/ext/typing/typing_consider_using_union.rc
  tests/functional/ext/typing/typing_consider_using_union_py310.rc
  tests/functional/ext/typing/typing_consider_using_union_without_future.rc
  tests/functional/ext/typing/typing_deprecated_alias.rc
Due: none

Consider Enums when checking for duplicate dictionary keys (#5155)
  CONTRIBUTORS.txt
  ChangeLog
  pylint/checkers/base.py
  tests/functional/d/duplicate_dict_literal_key.py
  tests/functional/d/duplicate_dict_literal_key.txt
Due: pylint, fix-documentation

Add a benchmark github action to have a graph
  .github/workflows/ci.yaml
Due: none

fix typo for async context manager
  pylint/checkers/design_analysis.py
Due: pylint

add contributor
  CONTRIBUTORS.txt
Due: none

Refactor Variable checker to use less argument in function
  pylint/checkers/variables.py
Due: pylint

From Python 3.8 onwards classes inheriting from dict are reversible
  ChangeLog
  pylint/checkers/base.py
  tests/functional/b/bad_reversed_sequence.py
  tests/functional/b/bad_reversed_sequence.txt
  tests/functional/b/bad_reversed_sequence_py37.py
  tests/functional/b/bad_reversed_sequence_py37.txt
  tests/functional/b/bad_reversed_sequence_py38.py
Due: pylint, fix-documentation

Bypass check when __bool__ is implemeneted and is not subclass of list,tuple,node
  pylint/checkers/refactoring/implicit_booleaness_checker.py
  tests/functional/u/use/use_implicit_booleaness_not_comparison.py
  tests/functional/u/use/use_implicit_booleaness_not_comparison.txt
Due: pylint

Fix tests.
  tests/functional/u/use/use_implicit_booleaness_not_comparison.txt
Due: none

Apply suggestions from code review
  tests/functional/u/use/use_implicit_booleaness_not_comparison.py
Due: none

Add a warning ``use-implicit-booleaness-not-comparison`` for comparison with collection literals (#5120)
  ChangeLog
  doc/whatsnew/2.12.rst
  pylint/checkers/base.py
  pylint/checkers/refactoring/implicit_booleaness_checker.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/strings.py
  pylint/checkers/utils.py
  pylint/extensions/emptystring.py
  tests/checkers/unittest_spelling.py
  tests/checkers/unittest_utils.py
  tests/functional/c/consider/consider_iterating_dictionary.py
  tests/functional/c/consider/consider_using_in.py
  tests/functional/c/consider/consider_using_in.txt
  tests/functional/l/literal_comparison.py
  tests/functional/l/literal_comparison.txt
  tests/functional/u/use/use_implicit_booleaness_not_comparison.py
  tests/functional/u/use/use_implicit_booleaness_not_comparison.txt
  tests/test_check_parallel.py
  tests/test_pragma_parser.py
Due: pylint, fix-documentation

Apply suggestions from code review
  tests/functional/b/bad_reversed_sequence_py37.py
  tests/functional/b/bad_reversed_sequence_py38.py
Due: none

Fix expected output in functional tests following disable
  tests/functional/b/bad_reversed_sequence_py37.py
  tests/functional/b/bad_reversed_sequence_py37.txt
  tests/functional/b/bad_reversed_sequence_py38.py
Due: none

From Python 3.8 onwards classes inheriting from dict are reversible (#5169)
  ChangeLog
  pylint/checkers/base.py
  tests/functional/b/bad_reversed_sequence.py
  tests/functional/b/bad_reversed_sequence.txt
  tests/functional/b/bad_reversed_sequence_py37.py
  tests/functional/b/bad_reversed_sequence_py37.txt
  tests/functional/b/bad_reversed_sequence_py38.py
Due: pylint, fix-documentation

Fix ``relative-beyond-top-level`` false positive
  ChangeLog
  tests/checkers/unittest_imports.py
  tests/regrtest_data/beyond_top_four/double_name/__init__.py
  tests/regrtest_data/beyond_top_four/module/__init__.py
  tests/regrtest_data/beyond_top_four/module/double_name/__init__.py
  tests/regrtest_data/beyond_top_four/module/double_name/function.py
  tests/regrtest_data/beyond_top_four/module/sub_module/__init__.py
  tests/regrtest_data/beyond_top_four/module/sub_module/sub_sub_module/__init__.py
  tests/regrtest_data/beyond_top_four/module/sub_module/sub_sub_module/main.py
  tests/regrtest_data/beyond_top_three/__init__.py
  tests/regrtest_data/beyond_top_three/a.py
  tests/regrtest_data/beyond_top_three/level1/__init__.py
  tests/regrtest_data/beyond_top_three/level1/beyond_top_three.py
  tests/regrtest_data/beyond_top_two/import_package.py
  tests/regrtest_data/beyond_top_two/namespace_package/lower_level/helper_function.py
  tests/regrtest_data/beyond_top_two/namespace_package/plugin_api.py
  tests/regrtest_data/beyond_top_two/namespace_package/top_level_function.py
Due: pylint, fix-documentation

Upgrade astroid version to 2.8.3
  requirements_test_min.txt
  setup.cfg
Due: none

pyreverse - Add project modules to sys.path (#4856)
  ChangeLog
  pylint/pyreverse/main.py
  tests/pyreverse/conftest.py
  tests/pyreverse/test_main.py
  tests/pyreverse/test_writer.py
Due: pylint, fix-documentation

Path conditions:
  pylint: any of: \.py$, but not: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
  fix-documentation: any of: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
