Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation, check-newsfragments

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

check-newsfragments:
  name: Check newsfragments
  entry: python3 -m script.check_newsfragments
  language: system

add inference and test case
  pylint/checkers/classes/class_checker.py
  tests/functional/a/assigning/assigning_non_slot.py
  tests/functional/a/assigning/assigning_non_slot.txt
  tests/functional/a/assigning/assigning_non_slot_4509.txt
Due: pylint

add PR suggestions
  pylint/checkers/classes/class_checker.py
  tests/functional/a/assigning/assigning_non_slot.py
  tests/functional/a/assigning/assigning_non_slot.txt
Due: pylint

Update doc/whatsnew/fragments/5362.feature
  doc/whatsnew/fragments/5362.feature
Due: check-newsfragments

Add `no-header` run option (#7869)
  doc/whatsnew/fragments/5362.feature
  pylint/reporters/text.py
  tests/test_self.py
Due: pylint, check-newsfragments

class attrs should not emit assigning-non-slot msg (#7987)
  doc/whatsnew/fragments/6001.false_positive
  pylint/checkers/classes/class_checker.py
  pylint/checkers/utils.py
  tests/functional/a/assigning/assigning_non_slot.py
  tests/functional/a/assigning/assigning_non_slot.txt
  tests/functional/a/assigning/assigning_non_slot_4509.txt
Due: pylint, check-newsfragments

detect attr
  pylint/checkers/utils.py
Due: pylint

work and test class
  pylint/checkers/utils.py
  tests/functional/a/abstract/abstract_method.py
Due: pylint

fix with safe_infer :)
  pylint/checkers/utils.py
Due: pylint

check type
  pylint/checkers/utils.py
Due: pylint

formatting
  pylint/checkers/utils.py
Due: pylint

order
  pylint/checkers/utils.py
Due: pylint

comment
  pylint/checkers/utils.py
Due: pylint

comment
  tests/functional/a/abstract/abstract_method.py
Due: none

update test refs
  tests/functional/a/abstract/abstract_method.txt
Due: none

fix refs
  tests/functional/a/abstract/abstract_method.txt
Due: none

fix detection
  pylint/checkers/utils.py
Due: pylint

same check as before
  pylint/checkers/utils.py
Due: pylint

Change line endings to LF
  doc/data/messages/c/consider-ternary-expression/bad.py
  doc/data/messages/c/consider-ternary-expression/pylintrc
  doc/data/messages/c/consider-using-ternary/bad.py
  doc/data/messages/d/disallowed-name/bad.py
  doc/data/messages/e/else-if-used/bad.py
  doc/data/messages/e/else-if-used/pylintrc
  doc/data/messages/i/import-error/details.rst
  doc/data/messages/i/import-self/bad.py
Due: none

Add git attributes for line ending normalization
  .gitattributes
Due: none

Also exclude 'tests/regrtest_data/' and apply renormalization
  .gitattributes
  doc/data/messages/l/logging-format-interpolation/details.rst
  doc/data/messages/l/logging-fstring-interpolation/details.rst
  doc/data/messages/u/use-a-generator/details.rst
  doc/data/messages/u/use-dict-literal/details.rst
  doc/data/messages/u/using-final-decorator-in-unsupported-version/bad.py
  doc/data/messages/u/using-final-decorator-in-unsupported-version/good.py
Due: none

Normalization of line ending with exclusion of test directories (#8007)
  .gitattributes
  doc/data/messages/c/consider-ternary-expression/bad.py
  doc/data/messages/c/consider-ternary-expression/pylintrc
  doc/data/messages/c/consider-using-ternary/bad.py
  doc/data/messages/d/disallowed-name/bad.py
  doc/data/messages/e/else-if-used/bad.py
  doc/data/messages/e/else-if-used/pylintrc
  doc/data/messages/i/import-error/details.rst
  doc/data/messages/i/import-self/bad.py
  doc/data/messages/l/logging-format-interpolation/details.rst
  doc/data/messages/l/logging-fstring-interpolation/details.rst
  doc/data/messages/u/use-a-generator/details.rst
  doc/data/messages/u/use-dict-literal/details.rst
  doc/data/messages/u/using-final-decorator-in-unsupported-version/bad.py
  doc/data/messages/u/using-final-decorator-in-unsupported-version/good.py
Due: none

Update confidence level in bad chained comparison
  pylint/extensions/bad_chained_comparison.py
  tests/functional/ext/bad_chained_comparison/bad_chained_comparison.txt
Due: pylint

Update docs
  doc/user_guide/checkers/extensions.rst
  doc/user_guide/messages/messages_overview.rst
Due: none

Add fragment for bad chained comparison
  doc/whatsnew/fragments/6559.new_check
Due: check-newsfragments

Add bad chained comparison extension
  pylint/extensions/bad_chained_comparison.py
Due: pylint

Reassign message id to bad chained comparison
  doc/user_guide/checkers/extensions.rst
  pylint/extensions/bad_chained_comparison.py
Due: pylint

Code style improvements for bad-chained-comparison
  pylint/extensions/bad_chained_comparison.py
Due: pylint

Add doc for bad chained comparison
  doc/data/messages/b/bad-chained-comparison/bad.py
  doc/data/messages/b/bad-chained-comparison/good.py
  doc/data/messages/b/bad-chained-comparison/pylintrc
  doc/data/messages/b/bad-chained-comparison/related.rst
Due: none

Add tests for bad chained comparison
  tests/functional/ext/bad_chained_comparison/bad_chained_comparison.py
  tests/functional/ext/bad_chained_comparison/bad_chained_comparison.rc
  tests/functional/ext/bad_chained_comparison/bad_chained_comparison.txt
Due: none

Make bad chained comparison a default check
  doc/user_guide/checkers/extensions.rst
  doc/user_guide/checkers/features.rst
  doc/whatsnew/fragments/6559.new_check
  pylint/checkers/bad_chained_comparison.py
Due: pylint, check-newsfragments

Improve message clarity of bad chained comparison
  doc/whatsnew/fragments/6559.new_check
  pylint/extensions/bad_chained_comparison.py
  tests/functional/ext/bad_chained_comparison/bad_chained_comparison.txt
Due: pylint, check-newsfragments

Refactor bad chained comparison to use sort
  pylint/checkers/bad_chained_comparison.py
  tests/functional/b/bad_chained_comparison.txt
Due: pylint

Rename variable for consistency in bad chained comparison
  pylint/checkers/bad_chained_comparison.py
Due: pylint

Remove redundant rc file for documentation
  doc/data/messages/b/bad-chained-comparison/pylintrc
Due: none

Move bad chained comparison functional tests to the correct dir
  tests/functional/b/bad_chained_comparison.py
  tests/functional/b/bad_chained_comparison.txt
  tests/functional/c/consider/consider_iterating_dictionary.py
  tests/functional/ext/bad_chained_comparison/bad_chained_comparison.rc
  tests/functional/ext/set_membership/use_set_membership.py
Due: none

Shorten long line length in bad chained comparisons
  pylint/checkers/bad_chained_comparison.py
Due: pylint

Change line endings from CRLF to LF
  doc/data/messages/b/bad-chained-comparison/bad.py
  doc/data/messages/b/bad-chained-comparison/good.py
  doc/whatsnew/fragments/6559.new_check
  pylint/checkers/bad_chained_comparison.py
  tests/functional/b/bad_chained_comparison.py
  tests/functional/b/bad_chained_comparison.txt
Due: pylint, check-newsfragments

Apply suggestions from code review
  pylint/checkers/bad_chained_comparison.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  fix-documentation: any of: ^(doc/whatsnew/\d+\.\d+\.rst)
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst
