Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  fix-documentation: any of: ^(doc/whatsnew/\d+\.\d+\.rst)
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

short-circuit if next method doesnt have args
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/s/stop_iteration_inside_generator.py
Due: pylint

check isinstance
  pylint/checkers/refactoring/refactoring_checker.py
Due: pylint

Update comment-hider version comment
  .github/workflows/primer_comment.yaml
Due: none

Reset cache versions
  .github/workflows/changelog.yml
  .github/workflows/checks.yaml
  .github/workflows/primer-test.yaml
  .github/workflows/primer_comment.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/primer_run_pr.yaml
  .github/workflows/tests.yaml
Due: none

Add check-latest to setup-python
  .github/workflows/changelog.yml
  .github/workflows/checks.yaml
  .github/workflows/primer-test.yaml
  .github/workflows/primer_comment.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/primer_run_pr.yaml
  .github/workflows/release.yml
  .github/workflows/tests.yaml
Due: none

Use pyproject.toml for hash
  .github/workflows/changelog.yml
  .github/workflows/checks.yaml
  .github/workflows/primer-test.yaml
  .github/workflows/tests.yaml
Due: none

Pin additional actions
  .github/workflows/primer_comment.yaml
  .github/workflows/primer_run_pr.yaml
Due: none

Misc
  .github/workflows/primer_comment.yaml
  .github/workflows/primer_run_main.yaml
Due: none

Log pylint + astroid versions
  .github/workflows/checks.yaml
  .github/workflows/tests.yaml
Due: none

Update comments
  .github/workflows/changelog.yml
  pyproject.toml
  requirements_test_min.txt
Due: none

Remove restore keys
  .github/workflows/changelog.yml
  .github/workflows/checks.yaml
  .github/workflows/primer-test.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/tests.yaml
Due: none

Add KEY_PREFIX
  .github/workflows/changelog.yml
  .github/workflows/checks.yaml
  .github/workflows/primer-test.yaml
  .github/workflows/primer_comment.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/primer_run_pr.yaml
  .github/workflows/tests.yaml
Due: none

Fix astroid error for custom ``next`` method (#7622)
  doc/whatsnew/fragments/7610.bugfix
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/s/stop_iteration_inside_generator.py
  tests/functional/s/stop_iteration_inside_generator.txt
Due: pylint, check-newsfragments

Improve Github action workflows (#7651)
  .github/workflows/changelog.yml
  .github/workflows/checks.yaml
  .github/workflows/primer-test.yaml
  .github/workflows/primer_comment.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/primer_run_pr.yaml
  .github/workflows/release.yml
  .github/workflows/tests.yaml
  pyproject.toml
  requirements_test_min.txt
Due: none

Use release version for astroid
  .github/workflows/primer_run_main.yaml
Due: none

Use better cache key
  .github/workflows/primer_comment.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/primer_run_pr.yaml
Due: none

Mirror create environment
  .github/workflows/primer_run_pr.yaml
Due: none

Update comments
  pyproject.toml
  requirements_test_min.txt
Due: none

Upgrade the documentation, fix 'magic-value-comparison' doc
  doc/data/messages/m/magic-value-comparison/bad.py
  doc/data/messages/m/magic-value-comparison/good.py
  doc/data/messages/m/magic-value-comparison/pylintrc
  doc/user_guide/checkers/extensions.rst
  doc/user_guide/checkers/features.rst
  doc/user_guide/configuration/all-options.rst
  doc/user_guide/messages/messages_overview.rst
Due: none

[flake8-bugbear] Disable false positive for variable inside loop
  pylint/checkers/format.py
  pylint/checkers/strings.py
Due: pylint

[flake8-bugbear] Fix unused variable in string and type checker
  pylint/checkers/strings.py
  pylint/checkers/typecheck.py
Due: pylint

[flake8-bugbear] Simplify line_length_warning in the formatting checker
  pylint/checkers/format.py
Due: pylint

[flake8-bugbear] Do not use a call in a function default value
  pylint/lint/caching.py
Due: pylint

[flake8-bugbear] Add 'flake8-bugbear' to the pre-commit configuration
  .pre-commit-config.yaml
  requirements_test_pre_commit.txt
Due: none

[flake8-bugbear] Do not use 'assert False' but raise 'AssertionError()'
  pylint/checkers/utils.py
  tests/test_check_parallel.py
Due: pylint

[flake8-bugbear] Disable the equivalent of 'method-cache-max-size-none'
  pylint/message/message_definition_store.py
Due: pylint

Upgrade the documentation, fix 'magic-value-comparison' doc (#7711)
  doc/data/messages/m/magic-value-comparison/bad.py
  doc/data/messages/m/magic-value-comparison/good.py
  doc/data/messages/m/magic-value-comparison/pylintrc
  doc/user_guide/checkers/extensions.rst
  doc/user_guide/checkers/features.rst
  doc/user_guide/configuration/all-options.rst
  doc/user_guide/messages/messages_overview.rst
Due: none

[doc] Add examples for wrong-spelling-in-x
  doc/data/messages/i/invalid-characters-in-docstring/details.rst
  doc/data/messages/i/invalid-characters-in-docstring/good.py
  doc/data/messages/w/wrong-spelling-in-comment/bad.py
  doc/data/messages/w/wrong-spelling-in-comment/details.rst
  doc/data/messages/w/wrong-spelling-in-comment/good.py
  doc/data/messages/w/wrong-spelling-in-comment/pylintrc
  doc/data/messages/w/wrong-spelling-in-docstring/bad.py
  doc/data/messages/w/wrong-spelling-in-docstring/details.rst
  doc/data/messages/w/wrong-spelling-in-docstring/good.py
  doc/data/messages/w/wrong-spelling-in-docstring/pylintrc
Due: none

[doc] Document some messages where the code is not the problem
  doc/data/messages/a/astroid-error/details.rst
  doc/data/messages/a/astroid-error/good.py
  doc/data/messages/c/config-parse-error/details.rst
  doc/data/messages/c/config-parse-error/good.py
  doc/data/messages/f/fatal/details.rst
  doc/data/messages/f/fatal/good.py
  doc/data/messages/m/method-check-failed/details.rst
  doc/data/messages/m/method-check-failed/good.py
  doc/data/messages/p/parse-error/details.rst
  doc/data/messages/s/syntax-error/bad.py
  doc/data/messages/s/syntax-error/good.py
Due: none

[doc] Document some messages where the code is not the problem (#7713)
  doc/data/messages/a/astroid-error/details.rst
  doc/data/messages/a/astroid-error/good.py
  doc/data/messages/c/config-parse-error/details.rst
  doc/data/messages/c/config-parse-error/good.py
  doc/data/messages/f/fatal/details.rst
  doc/data/messages/f/fatal/good.py
  doc/data/messages/m/method-check-failed/details.rst
  doc/data/messages/m/method-check-failed/good.py
  doc/data/messages/p/parse-error/details.rst
  doc/data/messages/s/syntax-error/bad.py
  doc/data/messages/s/syntax-error/good.py
Due: none

[doc] Add examples for wrong-spelling-in-x (#7712)
  doc/data/messages/i/invalid-characters-in-docstring/details.rst
  doc/data/messages/i/invalid-characters-in-docstring/good.py
  doc/data/messages/w/wrong-spelling-in-comment/bad.py
  doc/data/messages/w/wrong-spelling-in-comment/details.rst
  doc/data/messages/w/wrong-spelling-in-comment/good.py
  doc/data/messages/w/wrong-spelling-in-comment/pylintrc
  doc/data/messages/w/wrong-spelling-in-docstring/bad.py
  doc/data/messages/w/wrong-spelling-in-docstring/details.rst
  doc/data/messages/w/wrong-spelling-in-docstring/good.py
  doc/data/messages/w/wrong-spelling-in-docstring/pylintrc
Due: none

add new broad-exception-raised checker
  pylint/checkers/exceptions.py
  tests/functional/b/broad_exception_raised.py
  tests/functional/b/broad_exception_raised.txt
Due: pylint

update functional tests
  tests/functional/b/bad_exception_cause.py
  tests/functional/b/bad_exception_cause.txt
  tests/functional/b/broad_exception_raised.py
  tests/functional/c/comparison_with_callable.py
  tests/functional/ext/docparams/docparams.py
  tests/functional/ext/mccabe/mccabe.py
  tests/functional/ext/typing/typing_broken_noreturn.py
  tests/functional/ext/typing/typing_broken_noreturn_future_import.py
  tests/functional/ext/typing/typing_broken_noreturn_py372.py
  tests/functional/n/no/no_else_raise.py
  tests/functional/r/regression_02/regression_5048.py
  tests/functional/s/stop_iteration_inside_generator.py
  tests/functional/u/undefined/undefined_loop_variable.py
  tests/functional/u/unreachable.py
  tests/functional/u/unused/unused_variable.py
  tests/functional/u/used/used_before_assignment_comprehension_homonyms.py
  tests/functional/u/used/used_before_assignment_except_handler_for_try_with_return.py
Due: none

add inference
  doc/data/messages/b/broad-exception-raised/good.py
  pylint/checkers/exceptions.py
  tests/functional/b/bad_exception_cause.txt
  tests/functional/b/broad_exception_raised.txt
Due: pylint

deprecate `broad-except`
  doc/data/messages/b/broad-except/bad.py
  doc/data/messages/b/broad-exception-caught/bad.py
  doc/data/messages/b/broad-exception-caught/good.py
  pylint/checkers/exceptions.py
  tests/functional/b/broad_except.txt
  tests/functional/b/broad_exception_caught.py
  tests/functional/b/broad_exception_caught.txt
  tests/test_self.py
Due: pylint

fix `broad-exception-raised` in pylint repo
  pylint/config/option.py
  pylint/lint/parallel.py
  pylint/pyreverse/vcg_printer.py
  tests/test_check_parallel.py
Due: pylint

fix broad-exception-raised
  tests/lint/test_utils.py
Due: pylint

add docs
  doc/data/messages/b/broad-exception-raised/bad.py
  doc/data/messages/b/broad-exception-raised/good.py
  doc/whatsnew/fragments/7494.new_check
Due: check-newsfragments

update checker docs
  doc/user_guide/checkers/features.rst
  doc/user_guide/messages/messages_overview.rst
Due: none

Rename `broad-except` and new check `broad-exception-raised` (#7709)
  doc/data/messages/b/broad-except/bad.py
  doc/data/messages/b/broad-exception-caught/bad.py
  doc/data/messages/b/broad-exception-caught/good.py
  doc/data/messages/b/broad-exception-raised/bad.py
  doc/data/messages/b/broad-exception-raised/good.py
  doc/user_guide/checkers/features.rst
  doc/user_guide/messages/messages_overview.rst
  doc/whatsnew/fragments/7494.new_check
  pylint/checkers/exceptions.py
  pylint/config/option.py
  pylint/lint/parallel.py
  pylint/pyreverse/vcg_printer.py
  tests/functional/b/bad_exception_cause.py
  tests/functional/b/bad_exception_cause.txt
  tests/functional/b/broad_except.txt
  tests/functional/b/broad_exception_caught.py
  tests/functional/b/broad_exception_caught.txt
  tests/functional/b/broad_exception_raised.py
  tests/functional/b/broad_exception_raised.txt
  tests/functional/c/comparison_with_callable.py
  tests/functional/ext/docparams/docparams.py
  tests/functional/ext/mccabe/mccabe.py
  tests/functional/ext/typing/typing_broken_noreturn.py
  tests/functional/ext/typing/typing_broken_noreturn_future_import.py
  tests/functional/ext/typing/typing_broken_noreturn_py372.py
  tests/functional/n/no/no_else_raise.py
  tests/functional/r/regression_02/regression_5048.py
  tests/functional/s/stop_iteration_inside_generator.py
  tests/functional/u/undefined/undefined_loop_variable.py
  tests/functional/u/unreachable.py
  tests/functional/u/unused/unused_variable.py
  tests/functional/u/used/used_before_assignment_comprehension_homonyms.py
  tests/functional/u/used/used_before_assignment_except_handler_for_try_with_return.py
  tests/lint/test_utils.py
  tests/test_check_parallel.py
  tests/test_self.py
Due: pylint, check-newsfragments
