Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I
  - --load-plugins=pylint.extensions.docparams

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

Add test for exclusivity of id names
  tests/message/unittest_message_id_store.py
Due: pylint

Allow passing arguments when entry points are used as functions (#5613)
  ChangeLog
  doc/user_guide/run.rst
  doc/whatsnew/2.13.rst
  pylint/__init__.py
  tests/test_pylint_runners.py
Due: pylint, fix-documentation

Apply suggestions from code review
  tests/message/unittest_message_id_store.py
Due: pylint

Move some stuff around
  tests/message/unittest_message_id_store.py
Due: pylint

Allow passing arguments if ``epylint`` entry point is used as function
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/__init__.py
  pylint/epylint.py
  tests/test_pylint_runners.py
Due: pylint, fix-documentation

Make tests pass
  tests/functional/r/regression_02/regression_5479.py
  tests/functional/r/regression_02/regression_5479.txt
Due: none

Add changelog
  ChangeLog
  doc/whatsnew/2.13.rst
Due: fix-documentation

Fix import
  pylint/checkers/classes/class_checker.py
Due: pylint

Fix docstring and formatting
  tests/functional/r/regression_02/regression_5479.py
Due: none

Update test output..
  tests/functional/r/regression_02/regression_5479.txt
Due: none

Rename CI job names
  .github/workflows/ci.yaml
  .github/workflows/primer-test.yaml
Due: none

Rename ``arguments`` to ``argv`` in entry point functions
  pylint/__init__.py
  tests/test_pylint_runners.py
Due: pylint

Rename to argv
  pylint/__init__.py
  pylint/epylint.py
  tests/test_pylint_runners.py
Due: pylint

Apply suggestions from code review
  pylint/__init__.py
Due: pylint

Update pylint/__init__.py
  pylint/__init__.py
Due: pylint

Apply suggestions from code review
  pylint/__init__.py
  tests/test_pylint_runners.py
Due: pylint

Rename ``arguments`` to ``argv`` in entry point functions (#5619)
  pylint/__init__.py
  tests/test_pylint_runners.py
Due: pylint

Update .github/workflows/ci.yaml
  .github/workflows/ci.yaml
Due: none

Upgrade astroid to 2.9.1
  requirements_test_min.txt
  setup.cfg
Due: none

[regression test] Add functional test for symlinked modules
  ChangeLog
  doc/whatsnew/2.13.rst
  tests/functional/s/symlink/binding/__init__.py
  tests/functional/s/symlink/binding/symlinked_module.py
  tests/functional/s/symlink/module/__init__.py
  tests/functional/s/symlink/module/symlinked_module.py
Due: fix-documentation

Allow passing arguments if ``epylint`` entry point is used as function (#5616)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/__init__.py
  pylint/epylint.py
  tests/test_pylint_runners.py
Due: pylint, fix-documentation

Add ``future=True`` to all ``NodeNG.frame`` calls
  examples/custom.py
  pylint/checkers/base.py
  pylint/checkers/classes/class_checker.py
  pylint/checkers/format.py
  pylint/checkers/imports.py
  pylint/checkers/newstyle.py
  pylint/checkers/refactoring/not_checker.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/utils.py
  pylint/checkers/variables.py
  pylint/extensions/_check_docs_utils.py
  pylint/extensions/bad_builtin.py
  pylint/extensions/docparams.py
  pylint/pyreverse/inspector.py
  pylint/utils/utils.py
  requirements_test_min.txt
  setup.cfg
Due: pylint

Remove unnecessary checks for node attributes in ``add_message``
  pylint/lint/pylinter.py
  pylint/testutils/unittest_linter.py
  requirements_test_min.txt
  setup.cfg
Due: pylint

Add regression test for issue 5461
  ChangeLog
  doc/whatsnew/2.13.rst
  requirements_test_min.txt
  setup.cfg
  tests/functional/r/regression_02/regression_5461.py
Due: fix-documentation

Fix a typo in pylint/typing.py
  pylint/typing.py
Due: pylint

Add a regression test for pylint #73
  tests/functional/r/regression_02/regression_distutil_import_error_73.py
  tests/functional/r/regression_02/regression_distutil_import_error_73.txt
Due: none

Add regression test for issue 5461 (#5623)
  ChangeLog
  doc/whatsnew/2.13.rst
  tests/functional/r/regression_02/regression_5461.py
Due: fix-documentation

Add a regression tests for https://github.com/PyCQA/astroid/pull/1207
  tests/lint/test_pylinter.py
Due: pylint

Remove unnecessary checks for node attributes in ``add_message`` (#5622)
  pylint/lint/pylinter.py
  pylint/testutils/unittest_linter.py
Due: pylint

Add ``pydocstringformatter`` to pre-commit config
  .pre-commit-config.yaml
Due: none

Fix #5370: Emit `redefined-outer-name` when a nested except handler shadows an outer one.
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/variables.py
  tests/functional/r/redefined_except_handler.py
  tests/functional/r/redefined_except_handler.txt
Due: pylint, fix-documentation

Add regression test for #4434.
  tests/functional/r/redefined_except_handler.py
  tests/functional/r/redefined_except_handler.txt
Due: none

Path conditions:
  pylint: any of: \.py$, but not: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
  fix-documentation: any of: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
