Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

.pre-commit-config.yaml:

ci:
  skip: [pylint]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
        exclude: "tests/functional/t/trailing_whitespaces.py"
      - id: end-of-file-fixer
        exclude: "tests/functional/m/missing/missing_final_newline.py|tests/functional/t/trailing_newlines.py"
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
      - id: autoflake
        exclude: &fixtures tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/
        args:
          - --in-place
          - --remove-all-unused-imports
          - --expand-star-imports
          - --remove-duplicate-keys
          - --remove-unused-variables
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.19.4
    hooks:
      - id: pyupgrade
        args: [--py36-plus]
        exclude: *fixtures
  - repo: https://github.com/PyCQA/isort
    rev: 5.9.1
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 21.6b0
    hooks:
      - id: black
        args: [--safe, --quiet]
        exclude: *fixtures
  - repo: https://github.com/Pierre-Sassoulas/black-disable-checker/
    rev: 1.0.1
    hooks:
      - id: black-disable-checker
  - repo: https://github.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        exclude: *fixtures
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "-rn",
            "-sn",
            "--rcfile=pylintrc",
            "--load-plugins=pylint.extensions.docparams",
          ]
        # disabled plugins: pylint.extensions.mccabe
        exclude: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
      - id: fix-documentation
        name: Fix documentation
        entry: python3 -m script.fix_documentation
        language: system
        types: [text]
        files: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
  - repo: https://github.com/myint/rstcheck
    rev: "3f92957478422df87bd730abde66f089cc1ee19b"
    hooks:
      - id: rstcheck
        args: ["--ignore-roles=func,class,mod", "--report=warning"]
        types: [text] # necessary to include ChangeLog file
        files: ^(ChangeLog|doc/(.*/)*.*\.rst)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: python
        types: [python]
        args: []
        require_serial: true
        additional_dependencies: ["types-pkg_resources==0.1.3", "types-toml==0.1.3"]
        exclude: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/|bin/
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.3.2
    hooks:
      - id: prettier
        args: [--prose-wrap=always, --print-width=88]

Update .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
Due: none

Improve Issue forms (#4749)
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/FEATURE-REQUEST.yml
  .github/ISSUE_TEMPLATE/QUESTION.yml
Due: none

Remove REGR_DATA_DIR
  tests/checkers/unittest_design.py
Due: pylint

Remove spurious debug print
  pylint/checkers/design_analysis.py
Due: pylint

Move ignored-parents note to 2.10 section
  ChangeLog
Due: fix-documentation

Add ignored-parents to whatsnew
  doc/whatsnew/2.10.rst
Due: fix-documentation

Add ignore-parents functional test
  tests/functional/t/too/too_many_ancestors_ignored_parents.py
  tests/functional/t/too/too_many_ancestors_ignored_parents.rc
  tests/functional/t/too/too_many_ancestors_ignored_parents.txt
Due: none

Add comment/diagrams to functional test
  tests/functional/t/too/too_many_ancestors_ignored_parents.py
Due: none

Update line number
  tests/functional/t/too/too_many_ancestors_ignored_parents.txt
Due: none

Add unspecified-encoding checker #3826 This adds an unspecified-encoding checker that adds a warning whenever open() is called without an explicit encoding argument. This closes #3826
  CONTRIBUTORS.txt
  ChangeLog
  doc/whatsnew/2.10.rst
  pylint/checkers/stdlib.py
  tests/functional/u/unspecified_encoding_py38.py
  tests/functional/u/unspecified_encoding_py38.txt
Due: pylint, fix-documentation

Update scripts to conform to unspecified-encoding With addition of the unspecified-encoding checker calls of open() need an encoding argument. Where necessary this argument has been added.
  script/bump_changelog.py
  script/fix_documentation.py
Due: pylint

Update pylint to conform to unspecified-encoding With addition of the unspecified-encoding checker calls of open() need an encoding argument. Where necessary this argument has been added.
  pylint/checkers/similar.py
  pylint/checkers/spelling.py
  pylint/config/find_default_config_files.py
  pylint/config/option_manager_mixin.py
  pylint/lint/pylinter.py
  pylint/lint/run.py
  pylint/pyreverse/utils.py
  pylint/pyreverse/writer.py
  pylint/testutils/lint_module_test.py
Due: pylint

Add min python version requirement to test
  tests/functional/u/unspecified_encoding_py38.rc
Due: none

Parentheses aren't really necessary as and binds tighter than or
  pylint/checkers/stdlib.py
Due: pylint

Add unspecified-encoding checker #3826 (#4753)
  CONTRIBUTORS.txt
  ChangeLog
  doc/whatsnew/2.10.rst
  pylint/checkers/similar.py
  pylint/checkers/spelling.py
  pylint/checkers/stdlib.py
  pylint/config/find_default_config_files.py
  pylint/config/option_manager_mixin.py
  pylint/lint/pylinter.py
  pylint/lint/run.py
  pylint/pyreverse/utils.py
  pylint/pyreverse/writer.py
  pylint/testutils/lint_module_test.py
  script/bump_changelog.py
  script/fix_documentation.py
  tests/checkers/unittest_similar.py
  tests/functional/b/bad_open_mode_py3.py
  tests/functional/c/consider/consider_using_with.py
  tests/functional/c/consider/consider_using_with_open.py
  tests/functional/c/consider/consider_using_with_open.txt
  tests/functional/d/defined_and_used_on_same_line.py
  tests/functional/d/disabled_msgid_in_pylintrc.py
  tests/functional/n/non/non_iterator_returned.py
  tests/functional/r/redefined_argument_from_local.py
  tests/functional/r/redefined_argument_from_local.txt
  tests/functional/r/regression/regression_4612_crash_pytest_fixture.py
  tests/functional/u/unspecified_encoding_py38.py
  tests/functional/u/unspecified_encoding_py38.rc
  tests/functional/u/unspecified_encoding_py38.txt
  tests/functional/w/with_used_before_assign.py
  tests/functional/w/with_used_before_assign.txt
  tests/lint/unittest_lint.py
  tests/test_epylint.py
  tests/test_func.py
  tests/test_functional.py
  tests/test_import_graph.py
  tests/test_self.py
  tests/unittest_reporting.py
Due: pylint, fix-documentation

Move similarity changelog to 2.10
  ChangeLog
Due: fix-documentation

Performance improvment of the Similarity checker (#4565)
  ChangeLog
  doc/whatsnew/2.10.rst
  pylint/checkers/similar.py
  tests/checkers/unittest_similar.py
  tests/input/similar1
  tests/input/similar2
  tests/messages/func_w0801.txt
Due: pylint, fix-documentation

Add ignored-parents option to design checker (#4758)
  CONTRIBUTORS.txt
  ChangeLog
  doc/whatsnew/2.10.rst
  pylint/checkers/design_analysis.py
  pylintrc
  tests/checkers/unittest_design.py
  tests/functional/t/too/too_many_ancestors_ignored_parents.py
  tests/functional/t/too/too_many_ancestors_ignored_parents.rc
  tests/functional/t/too/too_many_ancestors_ignored_parents.txt
Due: pylint, fix-documentation

Omit no-member error if guarded behind if stmt
  ChangeLog
  pylint/checkers/typecheck.py
Due: pylint, fix-documentation

Add tests
  tests/functional/n/no/no_member_if_statements.py
  tests/functional/n/no/no_member_if_statements.txt
Due: none

Add entry to What's New
  doc/whatsnew/2.10.rst
Due: fix-documentation

Fix tests
  tests/functional/n/no/no_member_if_statements.py
  tests/functional/n/no/no_member_if_statements.txt
Due: none

Use `XDG_CACHE_HOME` for `PYLINTHOME` (#4661)
  CONTRIBUTORS.txt
  ChangeLog
  doc/faq.rst
  pylint/config/__init__.py
  setup.cfg
  tests/lint/unittest_lint.py
Due: pylint, fix-documentation

Similar check: Passe min_lines to recombined.
  ChangeLog
  pylint/lint/parallel.py
  tests/test_check_parallel.py
Due: pylint, fix-documentation

Omit no-member error if guarded behind if stmt (#4764)
  ChangeLog
  doc/whatsnew/2.10.rst
  pylint/checkers/typecheck.py
  tests/functional/n/no/no_member_if_statements.py
  tests/functional/n/no/no_member_if_statements.txt
Due: pylint, fix-documentation

Add ``use-list-literal`` and ``use-dict-literal`` This adds two checks for when empty lists and dicts are created using a function call instead of their literals. This closes #4365
  ChangeLog
  doc/whatsnew/2.10.rst
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/u/use/use_dict_literal.py
  tests/functional/u/use/use_dict_literal.txt
  tests/functional/u/use/use_list_literal.py
  tests/functional/u/use/use_list_literal.txt
Due: pylint, fix-documentation

Fix style issues Changelog + What's New
  ChangeLog
  doc/release.md
  doc/whatsnew/2.10.rst
  doc/whatsnew/index.rst
Due: fix-documentation

Add ``no-breakpoint`` checker This adds a checker for calls to ``breakpoint()`` or ``sys.breakpointhook()``. This closes #3692
  ChangeLog
  doc/whatsnew/2.10.rst
  pylint/checkers/stdlib.py
  tests/functional/n/no/no_breakpoint_py37.py
  tests/functional/n/no/no_breakpoint_py37.rc
  tests/functional/n/no/no_breakpoint_py37.txt
Due: pylint, fix-documentation

Fix existing code
  pylint/checkers/classes.py
  pylint/checkers/python3.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/stdlib.py
  pylint/checkers/typecheck.py
  pylint/lint/pylinter.py
  script/bump_changelog.py
Due: pylint

Extended consider-using-tuple check to cover 'in' comparisons
  ChangeLog
  doc/whatsnew/2.10.rst
  pylint/extensions/code_style.py
  tests/functional/ext/code_style/code_style_consider_using_tuple.py
  tests/functional/ext/code_style/code_style_consider_using_tuple.txt
Due: pylint, fix-documentation

Extended consider-using-tuple check to cover 'in' comparisons (#4768)
  ChangeLog
  doc/whatsnew/2.10.rst
  pylint/checkers/classes.py
  pylint/checkers/python3.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/stdlib.py
  pylint/checkers/typecheck.py
  pylint/extensions/code_style.py
  pylint/lint/pylinter.py
  script/bump_changelog.py
  tests/functional/ext/code_style/code_style_consider_using_tuple.py
  tests/functional/ext/code_style/code_style_consider_using_tuple.txt
Due: pylint, fix-documentation

Update pylint/checkers/stdlib.py
  pylint/checkers/stdlib.py
Due: pylint

Add typing to PyReverse and fix an unused-argument
  pylint/pyreverse/main.py
Due: pylint

Add modify_sys_path to __all__ in pylint API
  pylint/__init__.py
Due: pylint

Incorporate review changes
  ChangeLog
  doc/whatsnew/2.10.rst
  pylint/checkers/stdlib.py
  tests/functional/f/forgotten_debug_statement_py37.py
  tests/functional/f/forgotten_debug_statement_py37.rc
  tests/functional/f/forgotten_debug_statement_py37.txt
  tests/functional/n/no/no_breakpoint_py37.py
  tests/functional/n/no/no_breakpoint_py37.txt
Due: pylint, fix-documentation

Implement review changes
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/u/use/use_literal_dict.py
  tests/functional/u/use/use_literal_dict.txt
  tests/functional/u/use/use_literal_list.py
  tests/functional/u/use/use_literal_list.txt
Due: pylint

Fix tests based on review
  tests/functional/f/forgotten_debug_statement_py37.py
  tests/functional/f/forgotten_debug_statement_py37.txt
Due: none

Update pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/refactoring/refactoring_checker.py
Due: pylint
