Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

.pre-commit-config.yaml:

ci:
  skip: [pylint]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
        exclude: "tests/functional/t/trailing_whitespaces.py"
      - id: end-of-file-fixer
        exclude: "tests/functional/m/missing/missing_final_newline.py|tests/functional/t/trailing_newlines.py"
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
      - id: autoflake
        exclude: &fixtures tests/functional/|tests/input|tests/regrtest_data/|tests/data/
        args:
          - --in-place
          - --remove-all-unused-imports
          - --expand-star-imports
          - --remove-duplicate-keys
          - --remove-unused-variables
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.29.1
    hooks:
      - id: pyupgrade
        args: [--py36-plus]
        exclude: *fixtures
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 21.11b1
    hooks:
      - id: black
        args: [--safe, --quiet]
        exclude: *fixtures
  - repo: https://github.com/Pierre-Sassoulas/black-disable-checker/
    rev: 1.0.1
    hooks:
      - id: black-disable-checker
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies: [flake8-typing-imports==1.10.1]
        exclude: *fixtures
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "-rn",
            "-sn",
            "--rcfile=pylintrc",
            "--fail-on=I",
            "--load-plugins=pylint.extensions.docparams",
          ]
        # disabled plugins: pylint.extensions.mccabe
        exclude: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
      - id: fix-documentation
        name: Fix documentation
        entry: python3 -m script.fix_documentation
        language: system
        types: [text]
        files: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
  - repo: https://github.com/myint/rstcheck
    rev: "3f92957478422df87bd730abde66f089cc1ee19b"
    hooks:
      - id: rstcheck
        args: ["--ignore-roles=func,class,mod", "--report=warning"]
        types: [text] # necessary to include ChangeLog file
        files: ^(ChangeLog|doc/(.*/)*.*\.rst)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910-1
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: python
        types: [python]
        args: []
        require_serial: true
        additional_dependencies:
          ["platformdirs==2.2.0", "types-pkg_resources==0.1.3", "types-toml==0.1.3"]
        exclude: tests/functional/|tests/input|tests(/.*)*/data|tests/regrtest_data/|tests/data/|tests(/.*)+/conftest.py|doc/|bin/
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.4.1
    hooks:
      - id: prettier
        args: [--prose-wrap=always, --print-width=88]

isort should ignore wrong-import-order/bad.py file
  .pre-commit-config.yaml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

isort ignores ungrouped-imports/bad.py
  .pre-commit-config.yaml
Due: none

Added wrong-import-order message example (#6239)
  .pre-commit-config.yaml
  doc/data/messages/w/wrong-import-order/bad.py
  doc/data/messages/w/wrong-import-order/good.py
Due: none

Added wrong-import-position message example (#6240)
  doc/data/messages/w/wrong-import-position/bad.py
  doc/data/messages/w/wrong-import-position/good.py
Due: none

Added ungrouped-imports message example (#6238)
  .pre-commit-config.yaml
  doc/data/messages/u/ungrouped-imports/bad.py
  doc/data/messages/u/ungrouped-imports/good.py
Due: none

Rename function to clarify intent. Activate DeprecationWarning
  pylint/checkers/utils.py
Due: pylint

Fix tests
  tests/utils/unittest_ast_walker.py
Due: pylint

Fix type hint
  pylint/checkers/utils.py
Due: pylint

Don't emit `unsubscriptable-object` for statements in type-checking blocks
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/typecheck.py
Due: pylint, fix-documentation

cosmetic
  ChangeLog
  doc/whatsnew/2.14.rst
  tests/functional/r/regression_02/regression_3979.py
Due: fix-documentation

Improve `invalid-slots-object` message output (#6192)
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/classes/class_checker.py
  tests/functional/s/slots_checks.py
  tests/functional/s/slots_checks.txt
Due: pylint, fix-documentation

Suppress `unsubscriptable-object` warnings in type-checking blocks (#5720)
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/typecheck.py
  tests/functional/r/regression_02/regression_3979.py
Due: pylint, fix-documentation

Added misplaced-future message example
  .pre-commit-config.yaml
  doc/data/messages/m/misplaced-future/bad.py
  doc/data/messages/m/misplaced-future/good.py
Due: none

Added example of use-dict-literal message
  doc/data/messages/u/use-dict-literal/bad.py
  doc/data/messages/u/use-dict-literal/good.py
Due: none

Added misplaced-future message example (#6243)
  .pre-commit-config.yaml
  doc/data/messages/m/misplaced-future/bad.py
  doc/data/messages/m/misplaced-future/good.py
Due: none

Added message example for return-in-init
  doc/data/messages/r/return-in-init/bad.py
  doc/data/messages/r/return-in-init/good.py
  doc/data/messages/r/return-in-init/related.rst
Due: none

Added example of use-dict-literal message (#6244)
  doc/data/messages/u/use-dict-literal/bad.py
  doc/data/messages/u/use-dict-literal/good.py
Due: none

Update doc/data/messages/r/return-in-init/good.py
  doc/data/messages/r/return-in-init/good.py
Due: none

Added message example for return-in-init (#6245)
  doc/data/messages/r/return-in-init/bad.py
  doc/data/messages/r/return-in-init/good.py
  doc/data/messages/r/return-in-init/related.rst
Due: none

Add test coverage for sibling except handlers (#6165)
  tests/functional/u/unused/unused_variable.py
Due: none

Add TypeVars for ``BaseChecker`` subclasses and AST callbacks
  pylint/checkers/utils.py
Due: pylint

Add ``--minimal-messages-config`` option for functional tests
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/testutils/lint_module_test.py
  tests/conftest.py
Due: pylint, fix-documentation

Add test file option to exclude from --minimal-messages-config run.
  pylint/testutils/functional/test_file.py
  pylint/testutils/lint_module_test.py
  tests/testutils/data/m/minimal_messages_config.py
  tests/testutils/data/m/minimal_messages_excluded.py
  tests/testutils/data/m/minimal_messages_excluded.rc
  tests/testutils/test_functional_testutils.py
Due: pylint

Fix ``too-many-branches`` false negative
  pylint/checkers/design_analysis.py
Due: pylint

Fix ``access-member-before-definition`` false negative
  pylint/checkers/classes/class_checker.py
Due: pylint

Fix ``consider-using-min-builtin`` and ``consider-using-max-builtin`` false negatives
  pylint/checkers/refactoring/refactoring_checker.py
Due: pylint

Fix ``consider-using-with`` false negative
  pylint/checkers/refactoring/refactoring_checker.py
Due: pylint

Exclude ``deprecated-module`` tests from ``--minimal-messages-config`` run. Have to find out how the list of deprecated modules is built first.
  tests/functional/d/deprecated/deprecated_module_py310.rc
  tests/functional/d/deprecated/deprecated_module_py33.rc
  tests/functional/d/deprecated/deprecated_module_py36.rc
  tests/functional/d/deprecated/deprecated_module_py39.rc
Due: none

Added useless-return message example
  doc/data/messages/u/useless-return/bad.py
  doc/data/messages/u/useless-return/good.py
Due: none

Added missing-function-docstring message example
  doc/data/messages/m/missing-function-docstring/bad.py
  doc/data/messages/m/missing-function-docstring/good.py
Due: none

Added missing-class-docstring message example
  doc/data/messages/m/missing-class-docstring/bad.py
  doc/data/messages/m/missing-class-docstring/good.py
Due: none

Added missing-module-docstring message example
  doc/data/messages/m/missing-module-docstring/bad.py
  doc/data/messages/m/missing-module-docstring/good.py
Due: none

Added missing-module-docstring message example (#6249)
  doc/data/messages/m/missing-module-docstring/bad.py
  doc/data/messages/m/missing-module-docstring/good.py
Due: none

Added missing-class-docstring message example (#6250)
  doc/data/messages/m/missing-class-docstring/bad.py
  doc/data/messages/m/missing-class-docstring/good.py
Due: none

Added missing-function-docstring message example (#6248)
  doc/data/messages/m/missing-function-docstring/bad.py
  doc/data/messages/m/missing-function-docstring/good.py
Due: none

Added useless-return message example (#6247)
  doc/data/messages/u/useless-return/bad.py
  doc/data/messages/u/useless-return/good.py
Due: none

Added binary-op-exception message example (#6104)
  doc/data/messages/b/binary-op-exception/bad.py
  doc/data/messages/b/binary-op-exception/good.py
Due: none

Refactor ``ArgumentsManager.help``
  pylint/config/arguments_manager.py
  pylint/config/callback_actions.py
  pylint/config/config_initialization.py
  tests/config/test_deprecations.py
Due: pylint

Deprecate ``load_command_line_configuration``
  pylint/config/arguments_manager.py
  pylint/config/config_initialization.py
  tests/checkers/unittest_format.py
  tests/lint/test_pylinter.py
Due: pylint
