Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

check-newsfragments:
  name: Check newsfragments
  entry: python3 -m script.check_newsfragments
  language: system

Upgrade 'tox - docs' to match readthedoc online and for performance (#8653)
  doc/whatsnew/3/3.0/index.rst
  doc/whatsnew/3/index.rst
  tox.ini
Due: none

[use-implicit-booleaness] Merge the check for string and zero together
  pylint/checkers/refactoring/implicit_booleaness_checker.py
Due: pylint

[use-implicit-booleaness] Optimization for unknown operators
  pylint/checkers/refactoring/implicit_booleaness_checker.py
Due: pylint

[use-implicit-booleaness] Micro-optimization if some messages are disabled
  pylint/checkers/refactoring/implicit_booleaness_checker.py
Due: pylint

[use-implicit-booleaness] Remove condition that is always false (outdated typing hint?)
  pylint/checkers/refactoring/implicit_booleaness_checker.py
Due: pylint

[use-implicit-booleaness] Reinstate tests that are expected to fail
  tests/functional/u/use/use_implicit_booleaness_not_len.py
Due: none

Uniformize message and remove useless details.rst
  doc/data/messages/u/use-implicit-booleaness-not-comparison-to-string/details.rst
  doc/data/messages/u/use-implicit-booleaness-not-comparison-to-zero/details.rst
  doc/data/messages/u/use-implicit-booleaness-not-comparison/details.rst
  doc/user_guide/checkers/features.rst
  doc/whatsnew/fragments/6871.user_action
  pylint/checkers/refactoring/implicit_booleaness_checker.py
Due: pylint, check-newsfragments

Add applicability notes for `compare-to-empty-string/zero` (#8592)
  doc/user_guide/checkers/features.rst
  pylint/checkers/refactoring/implicit_booleaness_checker.py
  tests/functional/u/use/use_implicit_booleaness_not_comparison.txt
  tests/functional/u/use/use_implicit_booleaness_not_comparison_to_string.txt
  tests/functional/u/use/use_implicit_booleaness_not_comparison_to_zero.txt
Due: pylint

Switch from ' to " in use-implicit-booleaness-not-comparison
  pylint/checkers/refactoring/implicit_booleaness_checker.py
  tests/functional/u/use/use_implicit_booleaness_not_comparison.txt
Due: pylint

Add documentation for ``cyclic-import``
  doc/data/messages/c/cyclic-import/bad/bad.py
  doc/data/messages/c/cyclic-import/bad/bad2.py
  doc/data/messages/c/cyclic-import/details.rst
Due: none

[Doc] Minor fixup in launching_test.rst
  doc/development_guide/contributor_guide/tests/launching_test.rst
Due: none

[changelog] Add a changelog entry for #8632
  doc/whatsnew/fragments/8632.bugfix
Due: check-newsfragments

Bump pylint to 2.17.4, update changelog
  doc/whatsnew/2/2.17/index.rst
  doc/whatsnew/fragments/8603.bugfix
  doc/whatsnew/fragments/8613.false_positive
  doc/whatsnew/fragments/8632.bugfix
  pylint/__pkginfo__.py
  tbump.toml
  towncrier.toml
Due: pylint, check-newsfragments

Fix unittest typo.
  tests/functional/a/arguments.py
Due: none

Update unittest expected output.
  tests/functional/a/arguments.txt
Due: none

Update fragment to use `#Refs#` instead of `#Closes` since we can add a new Pylint message in a separate merge request.
  doc/whatsnew/fragments/8558.false_positive
Due: check-newsfragments

Add documentation examples.
  doc/data/messages/h/hidden-kwarg/bad.py
  doc/data/messages/h/hidden-kwarg/good.py
Due: none

Fix bug with unclear function signature.
  pylint/checkers/utils.py
  tests/functional/u/unexpected_keyword_arg.py
Due: pylint

small test improvement
  tests/functional/u/unexpected_keyword_arg.py
Due: none

Add a further functional test.
  tests/functional/h/hidden_kwarg.py
  tests/functional/h/hidden_kwarg.txt
Due: none

Primer - remove `.git` suffix from github URL.
  tests/primer/packages_to_prime.json
Due: none

Primer - remove `.git` suffix from github URL. (#8676)
  tests/primer/packages_to_prime.json
Due: none

Add some disables for ``too-many-arguments``.
  pylint/config/argument.py
Due: pylint

Fix a false negative for ``too-many-arguments`` by considering positional-only and keyword-only parameters.
  doc/whatsnew/fragments/8667.false_negative
  pylint/checkers/design_analysis.py
  tests/functional/n/non_ascii_name/non_ascii_name_pos_and_kwonly_function.py
  tests/functional/t/too/too_many_arguments.py
  tests/functional/t/too/too_many_arguments.txt
Due: pylint, check-newsfragments

Increase the default value for maximum number of function parameters from 5 to 7.
  pylint/checkers/design_analysis.py
  tests/functional/a/async_functions.txt
  tests/functional/t/too/too_many_arguments.py
  tests/functional/t/too/too_many_arguments.txt
  tests/functional/t/too/too_many_locals.py
  tests/functional/t/too/too_many_locals.txt
  tests/functional/u/unexpected_special_method_signature.py
Due: pylint

Remove unused disable from functional test.
  tests/functional/n/non_ascii_name/non_ascii_name_pos_and_kwonly_function.py
Due: none

Revert "Remove unused disable from functional test."
  tests/functional/n/non_ascii_name/non_ascii_name_pos_and_kwonly_function.py
Due: none

Revert "Increase the default value for maximum number of function parameters from 5 to 7."
  pylint/checkers/design_analysis.py
  tests/functional/a/async_functions.txt
  tests/functional/t/too/too_many_arguments.py
  tests/functional/t/too/too_many_arguments.txt
  tests/functional/t/too/too_many_locals.py
  tests/functional/t/too/too_many_locals.txt
  tests/functional/u/unexpected_special_method_signature.py
Due: pylint

Extending redefined-outer-name check to cover the case of loop variables
  pylint/checkers/variables.py
  tests/functional/r/redefined/redefined_loop_variable.py
  tests/functional/r/redefined/redefined_loop_variable.txt
Due: pylint

Adding documentation
  doc/data/messages/r/redefined-outer-name/bad.py
  doc/whatsnew/fragments/8646.new_check
Due: check-newsfragments

Work in progress
  pylint/checkers/variables.py
  pylint/testutils/lint_module_test.py
  tests/functional/r/redefined/redefined_loop_variable.py
  tests/functional/r/redefined/redefined_loop_variable.txt
Due: pylint

Work in progress
  pylint/checkers/variables.py
  tests/functional/r/redefined/redefined_loop_variable.py
  tests/functional/r/redefined/redefined_loop_variable.txt
Due: pylint

Better handling of nodes.Starred
  doc/whatsnew/fragments/8646.new_check
  pylint/checkers/variables.py
  tests/functional/r/redefined/redefined_loop_variable.py
  tests/functional/r/redefined/redefined_loop_variable.txt
Due: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst
