Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

Fix bug uncovered by unittests discovered on Windows
  pylint/lint/expand_modules.py
Due: pylint

Fix a false negative for ``abstract-method`` when an abstract class is the direct ancestor of a derived class.
  doc/data/messages/a/abstract-method/bad/abstract_method.py
  doc/data/messages/a/abstract-method/good/abstract_method.py
  doc/whatsnew/fragments/9979.false_negative
  pylint/checkers/utils.py
  tests/functional/a/abstract/abstract_method.py
  tests/functional/a/abstract/abstract_method.txt
Due: pylint, check-newsfragments

Support fixme's in docstrings (#9744)
  doc/user_guide/configuration/all-options.rst
  doc/whatsnew/fragments/9255.feature
  pylint/checkers/misc.py
  tests/functional/f/fixme.py
  tests/functional/f/fixme.txt
  tests/functional/f/fixme_docstring.py
  tests/functional/f/fixme_docstring.rc
  tests/functional/f/fixme_docstring.txt
Due: pylint, check-newsfragments

Add tests for #8192, #8893, #9642, #9689, #9815, #9941
  tests/functional/u/unnecessary/unnecessary_lambda.py
  tests/functional/u/unnecessary/unnecessary_lambda.txt
  tests/functional/u/used/used_before_assignment.py
  tests/functional/u/used/used_before_assignment.txt
  tests/functional/u/used/used_before_assignment_postponed_evaluation.py
  tests/functional/u/used/used_before_assignment_postponed_evaluation.txt
  tests/functional/u/used/used_before_assignment_py310.py
  tests/functional/u/used/used_before_assignment_py310.txt
  tests/functional/u/used/used_before_assignment_py312.py
  tests/functional/u/used/used_before_assignment_py312.txt
Due: none

Add breaking fragment
  doc/whatsnew/fragments/9255.breaking
Due: check-newsfragments

Add tests for #8192, #8893, #9642, #9689, #9815, #9941 (#9981)
  tests/functional/u/unnecessary/unnecessary_lambda.py
  tests/functional/u/unnecessary/unnecessary_lambda.txt
  tests/functional/u/used/used_before_assignment.py
  tests/functional/u/used/used_before_assignment.txt
  tests/functional/u/used/used_before_assignment_postponed_evaluation.py
  tests/functional/u/used/used_before_assignment_postponed_evaluation.txt
  tests/functional/u/used/used_before_assignment_py310.py
  tests/functional/u/used/used_before_assignment_py310.txt
  tests/functional/u/used/used_before_assignment_py312.py
  tests/functional/u/used/used_before_assignment_py312.txt
Due: none

Cut ScopeConsumer
  pylint/checkers/variables.py
Due: pylint

Cut ScopeConsumer (#9995)
  pylint/checkers/variables.py
Due: pylint

Return directly from incompatible branches in _defines_name_raises_or_returns
  pylint/checkers/variables.py
Due: pylint

Add Scope type
  pylint/checkers/variables.py
Due: pylint

Return directly from incompatible branches in _should_node_be_skipped
  pylint/checkers/variables.py
Due: pylint

Improve wording
  doc/whatsnew/fragments/9255.breaking
Due: check-newsfragments

Add breaking fragment for fixme docstring support (#9992)
  doc/whatsnew/fragments/9255.breaking
Due: check-newsfragments

Added completion files for bash, fish and zsh
  completion/.gitignore
  completion/Makefile
  completion/bash/pylint
  completion/fish/pylint.fish
  completion/pylint.yaml
  completion/update_yaml.py
  completion/zsh/_pylint
  pyproject.toml
Due: pylint

Clarify no-else-raise and no-else-return also apply to try/except
  doc/user_guide/checkers/features.rst
Due: none

Change the comments in the code
  doc/user_guide/checkers/features.rst
  pylint/checkers/refactoring/refactoring_checker.py
Due: pylint

comma instead of braces
  doc/user_guide/checkers/features.rst
  pylint/checkers/refactoring/refactoring_checker.py
Due: pylint

Clarify no-else-raise and no-else-return also apply to try/except (#10002)
  doc/user_guide/checkers/features.rst
  pylint/checkers/refactoring/refactoring_checker.py
Due: pylint

Bump astroid to 3.3.5
  pyproject.toml
  requirements_test_min.txt
Due: none

Bump astroid to 3.3.5 (#10004)
  pyproject.toml
  requirements_test_min.txt
Due: none

Raise astroid ceiling to 4.0.0-dev0
  pyproject.toml
Due: none

Fix typos
  doc/data/messages/m/missing-format-argument-key/related.rst
  doc/data/messages/t/too-few-format-args/related.rst
  doc/data/messages/t/too-many-format-args/related.rst
Due: none

Fix very strange typo
  .pre-commit-config.yaml
Due: none

Bump CI jobs to python 3.13
  .github/workflows/changelog.yml
  .github/workflows/checks.yaml
  .github/workflows/primer-test.yaml
  .github/workflows/primer_comment.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/primer_run_pr.yaml
  .github/workflows/release.yml
  .github/workflows/tests.yaml
Due: none

Bump CI jobs to python 3.13 (#10011)
  .github/workflows/changelog.yml
  .github/workflows/checks.yaml
  .github/workflows/primer-test.yaml
  .github/workflows/primer_comment.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/primer_run_pr.yaml
  .github/workflows/release.yml
  .github/workflows/tests.yaml
Due: none

[bare-except doc] Add PEP760 and discussion around it in related links
  doc/data/messages/b/bare-except/related.rst
Due: none

remove metaclass check for protected access in properties
  pylint/checkers/classes/class_checker.py
  tests/functional/p/protected_access.py
  tests/functional/p/protected_access.txt
Due: pylint

[suggestion-mode] Remove the option and always suggest
  pylint/checkers/typecheck.py
  pylint/lint/base_options.py
  pylint/utils/utils.py
Due: pylint

Add changelog
  doc/whatsnew/fragments/8893.false_negative
Due: check-newsfragments

Handle case where class is defined under TYPE_CHECKING guard
  pylint/checkers/variables.py
  tests/functional/u/used/used_before_assignment_postponed_evaluation.py
  tests/functional/u/used/used_before_assignment_postponed_evaluation.txt
  tests/functional/u/used/used_before_assignment_typing.py
  tests/functional/u/used/used_before_assignment_typing.txt
Due: pylint

Resolve false negative for type_checking guard
  pylint/checkers/variables.py
  tests/functional/u/used/used_before_assignment_scoping.py
Due: pylint

Update functional test
  tests/functional/u/used/used_before_assignment_postponed_evaluation.py
  tests/functional/u/used/used_before_assignment_postponed_evaluation.txt
Due: none

Resolve false negative for `used-before-assignment` with TYPE_CHECKING guard (#9990)
  doc/whatsnew/fragments/8893.false_negative
  pylint/checkers/variables.py
  tests/functional/u/used/used_before_assignment_postponed_evaluation.py
  tests/functional/u/used/used_before_assignment_postponed_evaluation.txt
  tests/functional/u/used/used_before_assignment_typing.py
  tests/functional/u/used/used_before_assignment_typing.txt
Due: pylint, check-newsfragments

remove metaclass check for protected access in properties (#9966)
  pylint/checkers/classes/class_checker.py
  tests/functional/p/protected_access.py
  tests/functional/p/protected_access.txt
Due: pylint

Add new check: unguarded-typing-import
  pylint/checkers/variables.py
  tests/functional/u/unguarded_typing_import.py
  tests/functional/u/unguarded_typing_import.rc
  tests/functional/u/unguarded_typing_import.txt
Due: pylint
