Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

Add nonsensical-float-arg for infinity and NaN arguments
  doc/data/messages/n/nonsensical-float-arg/bad.py
  doc/data/messages/n/nonsensical-float-arg/good.py
  doc/whatsnew/fragments/11220.feature
  pylint/checkers/__init__.py
  pylint/checkers/nonsensical_args.py
  tests/checkers/unittest_nonsensical_args.py
  tests/functional/n/non/nonsensical_float_arg.py
  tests/functional/n/non/nonsensical_float_arg.txt
Due: pylint, check-newsfragments

Update pylint/checkers/classes/class_checker.py
  pylint/checkers/classes/class_checker.py
Due: pylint

Recognize math.nan, numpy.nan and Decimal("nan") in nan-comparison
  custom_dict.txt
  doc/data/messages/n/nan-comparison/bad.py
  doc/data/messages/n/nan-comparison/good.py
  doc/user_guide/checkers/features.rst
  doc/whatsnew/fragments/11219.bugfix
  pylint/checkers/base/comparison_checker.py
  tests/functional/n/nan_comparison_check.py
  tests/functional/n/nan_comparison_check.txt
Due: pylint, check-newsfragments

Use inference for uninspectable super methods
  pylint/checkers/classes/class_checker.py
Due: pylint

Fix assignment-from-no-return false positive on trailing raise
  doc/whatsnew/fragments/11114.false_positive
  pylint/checkers/typecheck.py
  tests/functional/a/assignment/assignment_from_no_return.py
  tests/functional/a/assignment/assignment_from_no_return.txt
Due: pylint, check-newsfragments

Don't emit useless-parent-delegation for uninspectable C-level parents
  doc/whatsnew/fragments/9994.false_positive
  pylint/checkers/classes/class_checker.py
  tests/functional/u/useless/useless_parent_delegation.py
  tests/functional/u/useless/useless_parent_delegation.txt
Due: pylint, check-newsfragments

Ignore primer pragma noise caused by a new message id
  pylint/testutils/_primer/comparator.py
  tests/testutils/_primer/cases/pragma_widened_by_new_symbol/expected.txt
  tests/testutils/_primer/cases/pragma_widened_by_new_symbol/expected_comparator.json
  tests/testutils/_primer/cases/pragma_widened_by_new_symbol/main.json
  tests/testutils/_primer/cases/pragma_widened_by_new_symbol/pr.json
Due: pylint

Add changelog entry and avoid unwrapping bare unbound methods
  doc/whatsnew/fragments/11175.bugfix
  pylint/checkers/base/comparison_checker.py
  tests/functional/c/comparison_with_callable.py
Due: pylint, check-newsfragments

Detect repeated attribute chains in comparison-with-itself (#11195)
  doc/whatsnew/fragments/10713.false_negative
  pylint/checkers/base/comparison_checker.py
  tests/functional/l/logical_tautology.py
  tests/functional/l/logical_tautology.txt
Due: pylint, check-newsfragments

Ignore primer pragma noise caused by a new message id (#11221)
  pylint/testutils/_primer/comparator.py
  tests/testutils/_primer/cases/pragma_widened_by_new_symbol/expected.txt
  tests/testutils/_primer/cases/pragma_widened_by_new_symbol/expected_comparator.json
  tests/testutils/_primer/cases/pragma_widened_by_new_symbol/main.json
  tests/testutils/_primer/cases/pragma_widened_by_new_symbol/pr.json
Due: pylint

Fix a crash on calls unpacking dicts with non-string keys
  doc/whatsnew/fragments/11222.bugfix
  pylint/checkers/utils.py
  tests/functional/s/shallow_copy_environ.py
Due: pylint, check-newsfragments

Address final attribute-defined-outside-init review
  doc/whatsnew/fragments/9798.false_negative
  pylint/checkers/classes/class_checker.py
  tests/checkers/unittest_classes.py
  tests/functional/a/attribute_defined_outside_init.py
  tests/functional/a/attribute_defined_outside_init.txt
Due: pylint, check-newsfragments

Guarantee deterministic recursive file discovery
  doc/whatsnew/fragments/9943.bugfix
  pylint/lint/pylinter.py
  tests/lint/unittest_discover_files.py
Due: pylint, check-newsfragments

Fix spelling in recursive discovery comment
  pylint/lint/pylinter.py
Due: pylint

Stop invalid-name from treating TypedDict instances as classes
  doc/whatsnew/fragments/11231.false_positive
  pylint/checkers/base/name_checker/checker.py
  tests/functional/i/invalid/invalid_name.py
  tests/functional/i/invalid/invalid_name.txt
Due: pylint, check-newsfragments

Remove useless protected-access suppressions in comparison checker
  pylint/checkers/base/comparison_checker.py
Due: pylint

fix: ignore placeholder-only function bodies in duplicate-code
  doc/user_guide/configuration/all-options.rst
  doc/whatsnew/fragments/7213.false_positive
  pylint/checkers/symilar.py
  pylintrc
  tests/checkers/unittest_symilar.py
  tests/input/similar_trivial_stubs_1.py
  tests/input/similar_trivial_stubs_2.py
Due: pylint, check-newsfragments

Recreate the venv on cache miss in the primer comment workflow
  .github/workflows/primer_comment.yaml
Due: none

Recreate the venv on cache miss in the primer comment workflow (#11235)
  .github/workflows/primer_comment.yaml
Due: none

Upgrade astroid to 4.3.0
  doc/whatsnew/4/4.1/index.rst
  doc/whatsnew/fragments/10193.false_positive
  doc/whatsnew/fragments/10519.bugfix
  doc/whatsnew/fragments/10548.false_positive
  doc/whatsnew/fragments/11013.false_positive
  doc/whatsnew/fragments/3556.false_positive
  doc/whatsnew/fragments/3757.false_positive
  doc/whatsnew/fragments/6887.false_positive
  doc/whatsnew/fragments/7240.false_positive
  doc/whatsnew/fragments/7647.false_positive
  doc/whatsnew/fragments/872.bugfix
  doc/whatsnew/fragments/8746.bugfix
  doc/whatsnew/fragments/9258.false_positive
  pyproject.toml
  requirements_test_min.txt
  tests/checkers/unittest_variables.py
  tests/functional/d/disable_msg_else_block.py
  tests/functional/d/disable_msg_else_block.txt
  tests/functional/r/regression_03/regression_10519.py
  tests/functional/r/regression_03/regression_10519.rc
  tests/functional/r/regression_03/regression_11013.py
  tests/functional/r/regression_03/regression_7647.py
  tests/functional/r/regression_03/regression_8746.py
  tests/functional/r/regression_03/regression_9258.py
  tests/functional/r/regression_03/regression_9258.rc
  tests/functional/r/regression_03/regression_no_member_7240.py
  tests/regrtest_data/shadowed_module_alias/fruits/__init__.py
  tests/regrtest_data/shadowed_module_alias/fruits/basket.py
  tests/regrtest_data/shadowed_module_alias/main.py
Due: pylint, check-newsfragments

Remove regression test for #7240: not actually fixed
  doc/whatsnew/fragments/7240.false_positive
  tests/functional/r/regression_03/regression_no_member_7240.py
Due: check-newsfragments

Docs: improve assignment-from-no-return examples
  doc/data/messages/a/assignment-from-no-return/bad.py
  doc/data/messages/a/assignment-from-no-return/good.py
  doc/whatsnew/fragments/10383.other
  tests/functional/a/assignment/assignment_from_no_return_2.py
  tests/functional/a/assignment/assignment_from_no_return_2.txt
Due: check-newsfragments

Improve assignment-from-no-return hints
  pylint/checkers/typecheck.py
  tests/functional/a/assignment/assignment_from_no_return_2.txt
Due: pylint

Update pylint/checkers/typecheck.py
  pylint/checkers/typecheck.py
Due: pylint

Address review: configurable known-treacherous-functions
  doc/data/messages/a/assignment-from-no-return/good.py
  doc/user_guide/configuration/all-options.rst
  doc/whatsnew/fragments/10383.other
  pylint/checkers/typecheck.py
  tests/functional/a/assignment/assignment_from_no_return.txt
  tests/functional/a/assignment/assignment_from_no_return_2.txt
  tests/functional/a/assignment/assignment_from_no_return_3.py
  tests/functional/a/assignment/assignment_from_no_return_3.rc
  tests/functional/a/assignment/assignment_from_no_return_3.txt
Due: pylint, check-newsfragments

Address second review round
  doc/data/messages/a/assignment-from-no-return/bad.py
  doc/data/messages/a/assignment-from-no-return/bad/function_without_return.py
  doc/data/messages/a/assignment-from-no-return/bad/in_place_method.py
  doc/data/messages/a/assignment-from-no-return/good.py
  doc/data/messages/a/assignment-from-no-return/good/function_without_return.py
  doc/data/messages/a/assignment-from-no-return/good/in_place_method.py
  doc/user_guide/configuration/all-options.rst
  doc/whatsnew/fragments/10383.other
  pylint/checkers/typecheck.py
  tests/functional/a/assignment/assignment_from_no_return_3.py
  tests/functional/a/assignment/assignment_from_no_return_3.rc
Due: pylint, check-newsfragments

Add ``consider-narrowing-parameter`` check (R1738)
  doc/data/messages/c/consider-narrowing-parameter/bad.py
  doc/data/messages/c/consider-narrowing-parameter/details.rst
  doc/data/messages/c/consider-narrowing-parameter/good.py
  doc/user_guide/checkers/features.rst
  doc/user_guide/configuration/all-options.rst
  doc/user_guide/messages/messages_overview.rst
  doc/whatsnew/fragments/11236.new_check
  examples/pylintrc
  pylint/checkers/refactoring/refactoring_checker.py
  pylintrc
  tests/functional/a/access/access_to_protected_members.py
  tests/functional/c/consider/consider_narrowing_parameter.py
  tests/functional/c/consider/consider_narrowing_parameter.txt
  tests/functional/c/consider/consider_narrowing_parameter_ignored_names.py
  tests/functional/c/consider/consider_narrowing_parameter_ignored_names.rc
  tests/functional/c/consider/consider_using_enumerate.py
  tests/functional/i/inconsistent/inconsistent_returns.py
  tests/functional/l/logical_tautology.py
  tests/functional/m/misplaced_format_function.py
  tests/functional/m/monkeypatch_method.py
  tests/functional/p/protected_access.py
  tests/functional/u/unused/unused_variable.py
Due: pylint, check-newsfragments

Add 'abstractmethod' to the spelling custom dictionary
  custom_dict.txt
Due: none

Never suggest narrowing a parameter named 'self' or 'cls'
  doc/data/messages/c/consider-narrowing-parameter/details.rst
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/c/consider/consider_narrowing_parameter.py
Due: pylint

Require two attribute accesses and skip functions used as callbacks
  doc/data/messages/c/consider-narrowing-parameter/bad.py
  doc/data/messages/c/consider-narrowing-parameter/details.rst
  doc/data/messages/c/consider-narrowing-parameter/good.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylintrc
  tests/functional/a/access/access_to_protected_members.py
  tests/functional/c/consider/consider_narrowing_parameter.py
  tests/functional/c/consider/consider_narrowing_parameter.txt
  tests/functional/c/consider/consider_narrowing_parameter_ignored_names.py
  tests/functional/i/inconsistent/inconsistent_returns.py
  tests/functional/m/misplaced_format_function.py
  tests/functional/m/monkeypatch_method.py
  tests/functional/p/protected_access.py
Due: pylint

Mention MegaLinter in the pre-commit/CI installation docs
  doc/user_guide/installation/pre-commit-integration.rst
Due: none

Fix the three behavior-changing cases found by reviewing every primer hit
  doc/data/messages/c/consider-narrowing-parameter/bad.py
  doc/data/messages/c/consider-narrowing-parameter/details.rst
  doc/data/messages/c/consider-narrowing-parameter/good.py
  doc/user_guide/configuration/all-options.rst
  doc/whatsnew/fragments/11236.new_check
  examples/pylintrc
  pylint/checkers/refactoring/refactoring_checker.py
  pylintrc
  tests/functional/c/consider/consider_narrowing_parameter.py
  tests/functional/c/consider/consider_narrowing_parameter.rc
  tests/functional/c/consider/consider_narrowing_parameter.txt
  tests/functional/c/consider/consider_narrowing_parameter_default.py
  tests/functional/c/consider/consider_narrowing_parameter_default.txt
Due: pylint, check-newsfragments

Reword comments that fail the spelling check
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/c/consider/consider_narrowing_parameter.py
  tests/functional/c/consider/consider_narrowing_parameter_default.py
Due: pylint

Cover the AttributeError-handler variants in the functional tests
  tests/functional/c/consider/consider_narrowing_parameter.py
  tests/functional/c/consider/consider_narrowing_parameter.txt
  tests/functional/c/consider/consider_narrowing_parameter_py311.py
  tests/functional/c/consider/consider_narrowing_parameter_py311.rc
Due: none

Fix repeated output format file handling
  doc/whatsnew/fragments/8147.bugfix
  pylint/config/arguments_manager.py
  pylint/config/callback_actions.py
  tests/test_self.py
Due: pylint, check-newsfragments

Fix crash for non-string enum names
  .gitignore
  doc/whatsnew/fragments/11229.bugfix
  pylint/checkers/typecheck.py
  tests/functional/r/regression_03/regression_11229.py
  tests/functional/r/regression_03/regression_11229.txt
Due: pylint, check-newsfragments

fix(docparams): ignore non-exception inferences
  doc/whatsnew/fragments/11228.bugfix
  pylint/extensions/_check_docs_utils.py
  tests/extensions/test_check_docs_utils.py
Due: pylint, check-newsfragments
