Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

check-newsfragments:
  name: Check newsfragments
  entry: python3 -m script.check_newsfragments
  language: system

Emit assignment-from-no-return for builtin methods like dict.update()
  doc/whatsnew/fragments/8714.false_negative
  pylint/checkers/typecheck.py
  tests/functional/a/assignment/assignment_from_no_return_2.py
  tests/functional/a/assignment/assignment_from_no_return_2.txt
Due: pylint, check-newsfragments

Single last line
  doc/whatsnew/fragments/8714.false_negative
Due: check-newsfragments

Workaround regex limitation with closing parens
  doc/whatsnew/fragments/8714.false_negative
Due: check-newsfragments

Emit assignment-from-no-return for builtin methods like dict.update() (#8817)
  doc/whatsnew/fragments/8714.false_negative
  pylint/checkers/typecheck.py
  tests/functional/a/assignment/assignment_from_no_return_2.py
  tests/functional/a/assignment/assignment_from_no_return_2.txt
Due: pylint, check-newsfragments

Observe specific enables/disables even if followed by "all"
  doc/whatsnew/fragments/3696.breaking
  pylint/config/config_initialization.py
  tests/config/functional/toml/toml_with_mutually_exclusive_disable_enable_all.toml
  tests/config/functional/toml/toml_with_specific_disable_before_enable_all.toml
  tests/config/functional/toml/toml_with_specific_enable_before_disable_all.toml
  tests/config/test_config.py
  tests/regrtest_data/fixme.py
Due: pylint, check-newsfragments

Add skips
  tests/config/test_functional_config_loading.py
Due: pylint

Adjust existing test
  tests/test_self.py
Due: pylint

Fix cyclic import edge exclusion with `--jobs`
  pylint/checkers/imports.py
  tests/test_check_parallel.py
Due: pylint

Simplify
  pylint/config/config_initialization.py
Due: pylint

Fix cyclic-import edge exclusion with `--jobs` (#8820)
  pylint/checkers/imports.py
  tests/test_check_parallel.py
Due: pylint

Remove deprecated future argument
  examples/custom.py
  pylint/checkers/base/basic_checker.py
  pylint/checkers/base/basic_error_checker.py
  pylint/checkers/base/docstring_checker.py
  pylint/checkers/base/name_checker/checker.py
  pylint/checkers/classes/class_checker.py
  pylint/checkers/format.py
  pylint/checkers/imports.py
  pylint/checkers/newstyle.py
  pylint/checkers/refactoring/not_checker.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/typecheck.py
  pylint/checkers/utils.py
  pylint/checkers/variables.py
  pylint/extensions/_check_docs_utils.py
  pylint/extensions/bad_builtin.py
  pylint/extensions/docparams.py
  pylint/extensions/no_self_use.py
  pylint/pyreverse/inspector.py
  pylint/utils/utils.py
Due: pylint

Cope with move of `safe_infer` in astroid
  pylint/checkers/typecheck.py
Due: pylint

Upgrade to astroid 3.0.0a6
  pyproject.toml
  requirements_test_min.txt
Due: none

Pyreverse: Use empty arrows for type-checking imports
  pylint/pyreverse/diagrams.py
  pylint/pyreverse/dot_printer.py
  pylint/pyreverse/inspector.py
  pylint/pyreverse/printer.py
  pylint/pyreverse/writer.py
Due: pylint

Use dashed lines instead of empty arrows
  pylint/pyreverse/dot_printer.py
Due: pylint

Simplify branch logic
  pylint/pyreverse/diagrams.py
Due: pylint

Add mermaid writer
  pylint/pyreverse/mermaidjs_printer.py
Due: pylint

Start test
  tests/pyreverse/data/classes_type_check_imports.dot
  tests/pyreverse/data/packages_type_check_imports.dot
  tests/pyreverse/functional/class_diagrams/type_check_imports/__init__.py
  tests/pyreverse/functional/class_diagrams/type_check_imports/mod_a.py
  tests/pyreverse/functional/class_diagrams/type_check_imports/mod_b.py
  tests/pyreverse/functional/class_diagrams/type_check_imports/mod_c.py
  tests/pyreverse/functional/class_diagrams/type_check_imports/mod_d.py
  tests/pyreverse/functional/class_diagrams/type_check_imports/packages.mmd
Due: none

move test data
  tests/pyreverse/functional/package_diagrams/type_check_imports/__init__.py
  tests/pyreverse/functional/package_diagrams/type_check_imports/mod_a.py
  tests/pyreverse/functional/package_diagrams/type_check_imports/mod_b.py
  tests/pyreverse/functional/package_diagrams/type_check_imports/mod_c.py
  tests/pyreverse/functional/package_diagrams/type_check_imports/mod_d.py
  tests/pyreverse/functional/package_diagrams/type_check_imports/packages.mmd
  tests/pyreverse/test_writer.py
Due: pylint

add config fixtures
  tests/pyreverse/conftest.py
  tests/pyreverse/test_writer.py
Due: pylint

get test data from right place
  tests/pyreverse/data/classes_type_check_imports.dot
  tests/pyreverse/data/packages_type_check_imports.dot
  tests/pyreverse/functional/package_diagrams/__init__.py
  tests/pyreverse/test_writer.py
Due: pylint

Cut KeyError check
  pylint/pyreverse/diagrams.py
  tests/pyreverse/functional/package_diagrams/type_check_imports/mod_d.py
Due: pylint

Add news
  doc/whatsnew/fragments/8112.feature
Due: check-newsfragments

Add uml
  pylint/pyreverse/plantuml_printer.py
Due: pylint

Revert "Use bleeding-edge astroid"
  requirements_test_min.txt
Due: none

Bring back KeyError check
  pylint/pyreverse/diagrams.py
Due: pylint

Skip KeyError coverage
  pylint/pyreverse/diagrams.py
Due: pylint

Rename type dependency
  pylint/pyreverse/dot_printer.py
  pylint/pyreverse/mermaidjs_printer.py
  pylint/pyreverse/plantuml_printer.py
  pylint/pyreverse/printer.py
  pylint/pyreverse/writer.py
Due: pylint

Cut type_check_imports_dot_config
  tests/pyreverse/conftest.py
  tests/pyreverse/test_writer.py
Due: pylint

Exempt parents with only annotations from `invalid-enum-extension`
  doc/whatsnew/fragments/8830.false_positive
  pylint/checkers/classes/class_checker.py
  tests/functional/i/invalid/invalid_enum_extension.py
  tests/functional/i/invalid/invalid_enum_extension.txt
Due: pylint, check-newsfragments

Exempt parents with only annotations from `invalid-enum-extension` (#8834)
  doc/whatsnew/fragments/8830.false_positive
  pylint/checkers/classes/class_checker.py
  tests/functional/i/invalid/invalid_enum_extension.py
  tests/functional/i/invalid/invalid_enum_extension.txt
Due: pylint, check-newsfragments

update regression_8109.py as 'consider-using-f-string' isn't raised anymore
  tests/functional/r/regression_02/regression_8109.py
Due: none

rm regression_8109.txt
  tests/functional/r/regression_02/regression_8109.txt
Due: none

Apply hotfix for @raise_if_nothing_inferred
  pyproject.toml
  requirements_test_min.txt
Due: none

Avoid `consider-using-f-string` on modulos with brackets in template (#8720)
  doc/whatsnew/fragments/8720.bugfix
  pylint/checkers/refactoring/recommendation_checker.py
  tests/functional/c/consider/consider_using_f_string.py
  tests/functional/c/consider/consider_using_f_string.txt
  tests/functional/r/regression_02/regression_8109.py
  tests/functional/r/regression_02/regression_8109.txt
Due: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst
