Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        exclude: "tests/functional/t/trailing_whitespaces.py"
      - id: end-of-file-fixer
        exclude: "tests/functional/m/missing/missing_final_newline.py|tests/functional/t/trailing_newlines.py"
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
      - id: autoflake
        exclude: &fixtures tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/
        args:
          - --in-place
          - --remove-all-unused-imports
          - --expand-star-imports
          - --remove-duplicate-keys
          - --remove-unused-variables
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.11.0
    hooks:
      - id: pyupgrade
        args: [--py36-plus]
        exclude: *fixtures
  - repo: https://github.com/PyCQA/isort
    rev: 5.8.0
    hooks:
      - id: isort
  - repo: https://github.com/ambv/black
    rev: 20.8b1
    hooks:
      - id: black
        args: [--safe, --quiet]
        exclude: *fixtures
  - repo: https://github.com/Pierre-Sassoulas/black-disable-checker/
    rev: 1.0.0
    hooks:
      - id: black-disable-checker
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
        exclude: *fixtures
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "-rn",
            "-sn",
            "--rcfile=pylintrc",
            "--load-plugins=pylint.extensions.docparams",
          ]
        # disabled plugins: pylint.extensions.mccabe
        exclude: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
      - id: fix-documentation
        name: Fix documentation
        entry: python3 -m script.fix_documentation
        language: system
        types: [text]
        files: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.812
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: python
        types: [python]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
        additional_dependencies: []
        exclude: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/|bin/
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        args: [--prose-wrap=always, --print-width=88]

Reactivates assert
  pylint/checkers/similar.py
Due: pylint

Add github issue links
  tests/functional/r/regression/regression_3535_double_enum_inherit.py
  tests/functional/r/regression/regression_4358_unsubscriptable_enum.py
Due: none

Emit ``consider-using-with`` also if calls like ``open()`` are used without an assignment
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/pyreverse/utils.py
  tests/functional/b/bad_open_mode_py3.py
  tests/functional/b/bad_open_mode_py3.txt
  tests/functional/c/consider/consider_using_with.txt
  tests/functional/c/consider/consider_using_with_open.py
  tests/functional/c/consider/consider_using_with_open.txt
  tests/functional/s/subprocess_popen_preexec_fn.py
  tests/lint/unittest_lint.py
Due: pylint

Add changelog entry
  ChangeLog
Due: fix-documentation

Apply suggestions from code review
  doc/whatsnew/2.9.rst
  pylint/checkers/similar.py
Due: pylint, fix-documentation

Minor Changes
  pylint/checkers/similar.py
Due: pylint

Consider using with no assign (#4476)
  ChangeLog
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/pyreverse/utils.py
  tests/functional/b/bad_open_mode_py3.py
  tests/functional/b/bad_open_mode_py3.txt
  tests/functional/c/consider/consider_using_with.txt
  tests/functional/c/consider/consider_using_with_open.py
  tests/functional/c/consider/consider_using_with_open.txt
  tests/functional/s/subprocess_popen_preexec_fn.py
  tests/lint/unittest_lint.py
Due: pylint, fix-documentation

Refactor function call and improve code formatting
  pylint/checkers/classes.py
Due: pylint

Create new error arguments-renamed (#4467)
  ChangeLog
  doc/whatsnew/2.9.rst
  pylint/checkers/classes.py
  tests/functional/a/arguments_differ.py
  tests/functional/a/arguments_differ.txt
  tests/functional/a/arguments_differ_py3.py
  tests/functional/a/arguments_differ_py3.rc
  tests/functional/a/arguments_differ_py3.txt
  tests/functional/a/arguments_renamed.py
  tests/functional/a/arguments_renamed.txt
Due: pylint, fix-documentation

Add ignore_signatures to similarity checker (#4474)
  CONTRIBUTORS.txt
  ChangeLog
  doc/whatsnew/2.9.rst
  pylint/checkers/similar.py
  tests/checkers/unittest_similar.py
  tests/input/similar5
  tests/input/similar6
Due: pylint, fix-documentation

Update ChangeLog
  ChangeLog
  doc/whatsnew/2.9.rst
Due: fix-documentation

Updated PR from review
  pylint/checkers/refactoring/recommendation_checker.py
  pylint/checkers/utils.py
Due: pylint

Refactored if-else logic in consider-using-str-partition
  pylint/checkers/refactoring/recommendation_checker.py
Due: pylint

updated func tests output file
  tests/functional/c/consider/consider_using_str_partition.txt
Due: none

Changes from code review
  ChangeLog
  doc/whatsnew/2.9.rst
  pylint/checkers/refactoring/recommendation_checker.py
Due: pylint, fix-documentation

Reworked logic based on review
  ChangeLog
  doc/whatsnew/2.9.rst
  pylint/checkers/refactoring/recommendation_checker.py
  tests/functional/c/consider/consider_using_maxsplit_arg.py
  tests/functional/c/consider/consider_using_maxsplit_arg.txt
  tests/functional/c/consider/consider_using_str_partition.py
  tests/functional/c/consider/consider_using_str_partition.txt
Due: pylint, fix-documentation

Reviewed PR based on comments
  pylint/checkers/refactoring/recommendation_checker.py
Due: pylint

Edited helptext
  pylint/checkers/refactoring/recommendation_checker.py
  tests/functional/c/consider/consider_using_maxsplit_arg.txt
Due: pylint

Update tests/functional/c/consider/consider_using_maxsplit_arg.py
  tests/functional/c/consider/consider_using_maxsplit_arg.py
Due: none

Updated func test results
  tests/functional/c/consider/consider_using_maxsplit_arg.txt
Due: none

Removed redundant logic from ``consider-using-dict-items``
  pylint/checkers/refactoring/recommendation_checker.py
Due: pylint

Renamed check to use-maxsplit-arg
  ChangeLog
  doc/whatsnew/2.9.rst
  pylint/checkers/refactoring/recommendation_checker.py
  tests/functional/c/consider/consider_using_maxsplit_arg.txt
  tests/functional/u/use/use_maxsplit_arg.py
  tests/functional/u/use/use_maxsplit_arg.txt
Due: pylint, fix-documentation

Fixed false positive for methods of namedtuples instances
  ChangeLog
  doc/whatsnew/2.9.rst
  pylint/checkers/typecheck.py
  tests/functional/m/member/member_checks.py
Due: pylint, fix-documentation

Small formatting changes
  doc/whatsnew/2.9.rst
  pylint/checkers/refactoring/recommendation_checker.py
  tests/functional/u/use/use_maxsplit_arg.py
  tests/functional/u/use/use_maxsplit_arg.txt
Due: pylint, fix-documentation

Removed redundant logic from consider-using-dict-items (#4486)
  pylint/checkers/refactoring/recommendation_checker.py
Due: pylint

Fixed escaping special characters issue
  pylint/checkers/refactoring/recommendation_checker.py
  tests/functional/u/use/use_maxsplit_arg.py
  tests/functional/u/use/use_maxsplit_arg.txt
Due: pylint

Edited logic for helptext based on PR review comments
  pylint/checkers/refactoring/recommendation_checker.py
  tests/functional/u/use/use_maxsplit_arg.py
  tests/functional/u/use/use_maxsplit_arg.txt
Due: pylint

Last changes
  pylint/checkers/refactoring/recommendation_checker.py
  pylint/testutils/lint_module_test.py
Due: pylint

Implemented new check use-maxsplit-arg (#4469)
  ChangeLog
  doc/whatsnew/2.9.rst
  pylint/checkers/refactoring/recommendation_checker.py
  pylint/checkers/utils.py
  pylint/testutils/lint_module_test.py
  tests/functional/u/use/use_maxsplit_arg.py
  tests/functional/u/use/use_maxsplit_arg.txt
Due: pylint, fix-documentation

Fix errors in block disables paragraph in User Guide
  CONTRIBUTORS.txt
  ChangeLog
  doc/user_guide/message-control.rst
Due: fix-documentation

Fix errors in block disables paragraph in User Guide (#4489)
  CONTRIBUTORS.txt
  ChangeLog
  doc/user_guide/message-control.rst
Due: fix-documentation

Implemented new check ``unnecessary-dict-indexing``
  ChangeLog
  doc/whatsnew/2.9.rst
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/u/unnecessary/unnecessary_dict_indexing.py
  tests/functional/u/unnecessary/unnecessary_dict_indexing.txt
Due: pylint, fix-documentation

Fixed logic and added tests based on review
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/u/unnecessary/unnecessary_dict_indexing.py
  tests/functional/u/unnecessary/unnecessary_dict_indexing.txt
Due: pylint

Apply suggestions from code review (Doc-related)
  ChangeLog
  pylint/checkers/refactoring/refactoring_checker.py
Due: pylint, fix-documentation

Renamed check to ``unnecessary-dict-index-lookup``
  ChangeLog
  doc/whatsnew/2.9.rst
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/u/unnecessary/unnecessary_dict_index_lookup.py
  tests/functional/u/unnecessary/unnecessary_dict_index_lookup.txt
  tests/functional/u/unnecessary/unnecessary_dict_indexing.py
  tests/functional/u/unnecessary/unnecessary_dict_indexing.txt
Due: pylint, fix-documentation

resolved some formatting/code feedback
  pylint/checkers/refactoring/refactoring_checker.py
Due: pylint

Refactored _check_unnecessary_dict_indexing() to a single function
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/u/unnecessary/unnecessary_dict_index_lookup.py
  tests/functional/u/unnecessary/unnecessary_dict_index_lookup.txt
Due: pylint

Edited help text for unnecessary-dict-index-lookup
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/u/unnecessary/unnecessary_dict_index_lookup.txt
Due: pylint

Changed code from PR comments
  ChangeLog
  doc/whatsnew/2.9.rst
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/u/unnecessary/unnecessary_dict_index_lookup.py
  tests/functional/u/unnecessary/unnecessary_dict_index_lookup.txt
Due: pylint, fix-documentation

Rollback suggestion; updated func test formatting
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/u/unnecessary/unnecessary_dict_index_lookup.py
Due: pylint
