Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I
  - --load-plugins=pylint.extensions.docparams

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

Review
  pylint/checkers/classes/class_checker.py
Due: pylint

Fixed docstring
  doc/exts/pylint_messages.py
Due: none

Fix pyreverse type hints for methods returning None (#5916)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/pyreverse/utils.py
  tests/data/clientmodule_test.py
  tests/pyreverse/data/classes_No_Name.dot
  tests/pyreverse/data/classes_No_Name.html
  tests/pyreverse/data/classes_No_Name.mmd
  tests/pyreverse/data/classes_No_Name.puml
  tests/pyreverse/data/classes_No_Name.vcg
  tests/pyreverse/data/classes_colorized.dot
  tests/pyreverse/data/classes_colorized.puml
  tests/pyreverse/test_utils.py
Due: pylint, fix-documentation

C2801: New check for manual __magic__ methods
  CONTRIBUTORS.txt
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/magic_methods.py
  tests/functional/a/assigning/assigning_non_slot.py
  tests/functional/c/class_members_py30.py
  tests/functional/g/generic_alias/generic_alias_typing.py
  tests/functional/i/inner_classes.py
  tests/functional/m/manual_magic_methods.py
  tests/functional/m/manual_magic_methods.txt
  tests/functional/n/non/non_init_parent_called.py
  tests/functional/t/too/too_many_arguments.py
Due: pylint, fix-documentation

Fix #4590: `used-before-assignment` false positive for class definition in function scope
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/variables.py
  tests/functional/u/used/used_before_assignment_class_nested_under_function.py
Due: pylint, fix-documentation

Update "How to Write a Checker" docs
  doc/how_tos/custom_checkers.rst
Due: none

make init arg optional to satisfy mypy
  doc/how_tos/custom_checkers.rst
Due: none

Remove use of `.__gt__(...)` from the package :)
  pylint/checkers/base_checker.py
Due: pylint

Update doc/how_tos/custom_checkers.rst
  doc/how_tos/custom_checkers.rst
Due: none

Update "How to Write a Checker" docs (#5939)
  doc/how_tos/custom_checkers.rst
Due: none

Switch to includelist and more detailed message approach
  pylint/checkers/magic_methods.py
  tests/functional/m/manual_magic_methods.py
  tests/functional/m/manual_magic_methods.txt
Due: pylint

Add missing __magic__ methods to _SPECIAL_METHODS_PARAMS
  pylint/checkers/utils.py
Due: pylint

Add missing messages to docs
  doc/messages/messages_list.rst
Due: none

Add functional test
  tests/functional/u/unexpected_special_method_signature.py
  tests/functional/u/unexpected_special_method_signature.txt
Due: none

Add extras
  CONTRIBUTORS.txt
  ChangeLog
  doc/whatsnew/2.13.rst
Due: fix-documentation

Add print statement
  tests/functional/a/arguments_differ.py
  tests/functional/a/arguments_differ.txt
Due: none

Add missing __magic__ methods to `_SPECIAL_METHODS_PARAMS` (#5941)
  CONTRIBUTORS.txt
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/utils.py
  tests/functional/u/unexpected_special_method_signature.py
  tests/functional/u/unexpected_special_method_signature.txt
Due: pylint, fix-documentation

Fix #4590: `used-before-assignment` false positive for class definition in function scope (#5937)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/variables.py
  tests/functional/u/used/used_before_assignment_class_nested_under_function.py
Due: pylint, fix-documentation

Apply suggestions from code review
  .github/workflows/ci.yaml
  .github/workflows/primer-test.yaml
Due: none

Migrate current copyrite configuration to new format
  script/.contributors_aliases.json
Due: none

Sort the copyrite aliases alphabetically
  script/.contributors_aliases.json
Due: none

Modify escape sequences clarification
  pylint/checkers/format.py
Due: pylint

Pyreverse: better error messages for unsupported file formats
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/pyreverse/dot_printer.py
  pylint/pyreverse/main.py
  pylint/pyreverse/utils.py
  tests/pyreverse/test_main.py
Due: pylint, fix-documentation

Apply suggestions from code review.
  pylint/pyreverse/utils.py
  tests/pyreverse/test_main.py
Due: pylint

``pyreverse``: better error messages for unsupported file formats (#5951)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/pyreverse/dot_printer.py
  pylint/pyreverse/main.py
  pylint/pyreverse/utils.py
  tests/pyreverse/test_main.py
Due: pylint, fix-documentation

Sort contributors according to their number of commits
  CONTRIBUTORS.txt
Due: none

Add more aliases to the contributors.txt configuration
  script/.contributors_aliases.json
Due: none

Cleanup after finding emails and duplicates
  CONTRIBUTORS.txt
  script/.contributors_aliases.json
Due: none

Add a script to update the CONTRIBUTORS.txt
  requirements_test.txt
  script/bump_changelog.py
  script/copyright.txt
  script/create_contributor_list.py
  script/fix_documentation.py
  script/get_unused_message_id_category.py
  setup.cfg
  tbump.toml
Due: pylint

Add the email when easily available
  CONTRIBUTORS.txt
Due: none

Separate contributors without email from others
  CONTRIBUTORS.txt
Due: none

Set up system of code examples and details for message documentation (#5934)
  .pre-commit-config.yaml
  doc/conf.py
  doc/data/messages/e/empty-docstring/bad.py
  doc/data/messages/e/empty-docstring/good.py
  doc/data/messages/y/yield-inside-async-function/bad.py
  doc/data/messages/y/yield-inside-async-function/details.rst
  doc/data/messages/y/yield-inside-async-function/good.py
  doc/data/messages/y/yield-inside-async-function/related.rst
  doc/exts/pylint_messages.py
Due: none

Path conditions:
  pylint: any of: \.py$, but not: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
  fix-documentation: any of: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
