Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I
  - --load-plugins=pylint.extensions.docparams

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

Demonstrate two options for filtering internal imports
  pylint/extensions/private_import.py
Due: pylint

Introduce new 'import-private-name' extension
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/utils.py
  pylint/extensions/private_import.py
  tests/functional/ext/private_import/private_import.py
  tests/functional/ext/private_import/private_import.rc
  tests/functional/ext/private_import/private_import.txt
Due: pylint, fix-documentation

Update message id
  pylint/extensions/private_import.py
Due: pylint

Add check to prevent errors on function name processing
  pylint/extensions/private_import.py
Due: pylint

Apply suggestions from code review
  pylint/checkers/__init__.py
  pylint/checkers/non_ascii_names.py
  tests/functional/n/non_ascii_name/non_ascii_name_pos_and_kwonly_function.py
Due: pylint

Do not change original files, use simple args check
  pylint/checkers/base.py
  pylint/checkers/base_checker.py
  pylint/checkers/non_ascii_names.py
Due: pylint

fix functional test
  tests/functional/n/non_ascii_name/non_ascii_name_pos_and_kwonly_function.txt
Due: none

Remove not needed unit tests
  tests/checkers/unittest_non_ascii_name.py
  tests/functional/n/non_ascii_import/non_ascii_import.py
  tests/functional/n/non_ascii_name_class/non_ascii_name_class.py
  tests/functional/n/non_ascii_name_class/non_ascii_name_class.txt
Due: pylint

update help
  pylint/checkers/non_ascii_names.py
Due: pylint

remove confidence as parameter
  pylint/checkers/non_ascii_names.py
Due: pylint

be more explicit in error message
  pylint/checkers/non_ascii_names.py
Due: pylint

fix name
  tests/functional/n/non_ascii_import/non_ascii_name_loł.txt
Due: none

Fixed false positive for ``global-variable-not-assigned`` when the `del` statement is used
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/utils.py
  pylint/checkers/variables.py
  tests/functional/g/globals.py
  tests/functional/g/globals.txt
Due: pylint, fix-documentation

Diff generated by python test_functional.py --update-functional-output (#5660)
  tests/functional/e/.#emacs_file_lock_redefined_conf.txt
  tests/functional/ext/docparams/raise/missing_raises_doc_required_exc_inheritance.txt
Due: none

Add return type annotation
  pylint/checkers/variables.py
Due: pylint

Apply suggestions from code review
  pylint/checkers/non_ascii_names.py
  tests/checkers/unittest_non_ascii_name.py
Due: pylint

add missing human-readable type
  pylint/constants.py
Due: pylint

Don't assume direct parentage when emitting `used-before-assignment` (#5582)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/utils.py
  pylint/checkers/variables.py
  tests/functional/u/use/used_before_assignment_issue2615.py
  tests/functional/u/use/used_before_assignment_issue2615.txt
Due: pylint, fix-documentation

Update tests/functional/ext/docstyle/docstyle_first_line_empty.py
  tests/functional/ext/docstyle/docstyle_first_line_empty.py
Due: none

Update tests/functional/ext/docstyle/docstyle_quotes_ok.py
  tests/functional/ext/docstyle/docstyle_quotes_ok.py
Due: none

Update tests/functional/ext/docstyle/docstyle_quotes_bad.py
  tests/functional/ext/docstyle/docstyle_quotes_bad.py
Due: none

Delete docstyle_quotes_ok
  tests/functional/ext/docstyle/docstyle_quotes_ok.txt
Due: none

Add changelog
  ChangeLog
  doc/whatsnew/2.13.rst
Due: fix-documentation

Fix line numbers
  tests/functional/ext/docstyle/docstyle_first_line_empty.txt
  tests/functional/ext/docstyle/docstyle_quotes_bad.txt
Due: none

Fix false negative for `used-before-assignment` when an Except block intervenes between try/finally
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/variables.py
  tests/functional/c/consider/consider_using_with_open.py
  tests/functional/c/consider/consider_using_with_open.txt
  tests/functional/u/use/used_before_assignment_issue85.py
  tests/functional/u/use/used_before_assignment_issue85.txt
Due: pylint, fix-documentation

Fixed false positive for ``global-variable-not-assigned`` when the `del` statement is used (#5656)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/utils.py
  pylint/checkers/variables.py
  tests/functional/g/globals.py
  tests/functional/g/globals.txt
Due: pylint, fix-documentation

Add ``future=True`` to all ``NodeNG.frame`` calls (#5621)
  examples/custom.py
  pylint/checkers/base.py
  pylint/checkers/classes/class_checker.py
  pylint/checkers/format.py
  pylint/checkers/imports.py
  pylint/checkers/newstyle.py
  pylint/checkers/refactoring/not_checker.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/utils.py
  pylint/checkers/variables.py
  pylint/extensions/_check_docs_utils.py
  pylint/extensions/bad_builtin.py
  pylint/extensions/docparams.py
  pylint/pyreverse/inspector.py
  pylint/utils/utils.py
Due: pylint

Fix false positive for `unused-variable` for a comprehension variable matching a type annotation (#5651)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/variables.py
  tests/functional/u/undefined/undefined_variable_py38.py
  tests/functional/u/undefined/undefined_variable_py38.txt
Due: pylint, fix-documentation

Fix #5569: Fix a crash in `unused-private-member` when `type(self)` used in bound methods
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/classes/class_checker.py
  tests/functional/u/unused/unused_private_member.py
  tests/functional/u/unused/unused_private_member.txt
Due: pylint, fix-documentation

Apply suggestions from code review
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/unicode.py
Due: pylint, fix-documentation

Adopt comment from code review
  base_checker.py
  pylint/checkers/unicode.py
  tests/checkers/unittest_unicode/test_functions.py
Due: pylint

adopt new checker id, fix functional test
  pylint/checkers/unicode.py
  tests/functional/u/unicode/unicode_bidi_commenting_out.txt
  tests/functional/u/unicode/unicode_bidi_early_return.txt
  tests/functional/u/unicode/unicode_bidi_pep672.txt
Due: pylint

add missing docstring to unittest
  tests/checkers/unittest_unicode/bad_chars.py
Due: pylint

Fix remaining typing issues for ``PyLinter`` and related functions
  pylint/constants.py
  pylint/lint/pylinter.py
  pylint/utils/file_state.py
Due: pylint

Revert some changes
  pylint/lint/pylinter.py
Due: pylint

Add ``DeprecationWarning`` for non-string ``current_name`` & ``file``
  pylint/checkers/similar.py
  pylint/lint/parallel.py
  pylint/lint/pylinter.py
Due: pylint

Remove unnecessary ``try...except`` from ``frame()`` call
  pylint/checkers/classes/class_checker.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
  fix-documentation: any of: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
