Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I
  - --load-plugins=pylint.extensions.docparams

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

Apply suggestions from code review
  doc/data/messages/a/arguments-renamed/bad.py
  doc/data/messages/a/arguments-renamed/good.py
Due: none

Apply suggestions from code review
  doc/data/messages/t/too-many-arguments/bad.py
  doc/data/messages/t/too-many-arguments/good.py
Due: none

Changelog entry
  ChangeLog
  doc/whatsnew/2.14.rst
Due: fix-documentation

Apply suggestions from code review
  ChangeLog
  doc/whatsnew/2.14.rst
Due: fix-documentation

Apply suggestions from code review
  doc/data/messages/a/arguments-renamed/good.py
  doc/data/messages/t/too-many-arguments/bad.py
Due: none

Fix false-positive for unnecessary-ellipsis checker on comparisons (#6075)
  tests/functional/u/unnecessary/unnecessary_ellipsis.py
Due: none

Add documentation for messages with arguments in their name (#5962)
  doc/data/messages/a/arguments-differ/bad.py
  doc/data/messages/a/arguments-differ/details.rst
  doc/data/messages/a/arguments-differ/good.py
  doc/data/messages/a/arguments-differ/related.rst
  doc/data/messages/a/arguments-out-of-order/bad.py
  doc/data/messages/a/arguments-out-of-order/good.py
  doc/data/messages/a/arguments-renamed/bad.py
  doc/data/messages/a/arguments-renamed/good.py
  doc/data/messages/s/super-with-arguments/bad.py
  doc/data/messages/s/super-with-arguments/good.py
  doc/data/messages/t/too-many-arguments/bad.py
  doc/data/messages/t/too-many-arguments/good.py
Due: none

Use transformers instead of validators for ``Argument``
  pylint/config/argument.py
Due: pylint

Create ``_ConfigurationFileParser`` class
  pylint/config/__init__.py
  pylint/config/arguments_manager.py
  pylint/config/config_file_parser.py
  pylint/config/config_initialization.py
  pylint/config/option_manager_mixin.py
Due: pylint

Added broad-except message example
  doc/data/messages/b/broad-except/bad.py
  doc/data/messages/b/broad-except/good.py
Due: none

Added binary-op-exception message example
  doc/data/messages/b/binary-op-exception/bad.py
  doc/data/messages/b/binary-op-exception/good.py
Due: none

Added broad-except message example (#6103)
  doc/data/messages/b/broad-except/bad.py
  doc/data/messages/b/broad-except/good.py
Due: none

Add catching-non-exception message example
  doc/data/messages/c/catching-non-exception/bad.py
  doc/data/messages/c/catching-non-exception/good.py
Due: none

Added cell-var-from-loop message example
  doc/data/messages/c/cell-var-from-loop/bad.py
  doc/data/messages/c/cell-var-from-loop/good.py
Due: none

Update pylint/config/config_file_parser.py
  pylint/config/config_file_parser.py
Due: pylint

Use the ``argparse`` config handler in ``docstring_checker.py``
  pylint/checkers/base/docstring_checker.py
  pylint/config/argument.py
Due: pylint

Add catching-non-exception message example (#6105)
  doc/data/messages/c/catching-non-exception/bad.py
  doc/data/messages/c/catching-non-exception/good.py
Due: none

Create ``_ConfigurationFileParser`` class (#6055)
  pylint/config/__init__.py
  pylint/config/arguments_manager.py
  pylint/config/config_file_parser.py
  pylint/config/config_initialization.py
  pylint/config/option_manager_mixin.py
Due: pylint

Use the ``argparse`` config handler in ``class_checker.py``
  pylint/checkers/classes/class_checker.py
  pylint/config/argument.py
Due: pylint

Fix
  pylint/config/argument.py
Due: pylint

Add typing to two utility functions
  pylint/config/argument.py
  pylint/reporters/text.py
  pylint/utils/utils.py
Due: pylint

Fix crash for ``redefined-slots-in-subclass`` when the type of the slot is not a const or a string.
  ChangeLog
  pylint/checkers/classes/class_checker.py
  tests/functional/r/redefined/redefined_slots.py
Due: pylint, fix-documentation

Update redefined_slots.py
  tests/functional/r/redefined/redefined_slots.py
Due: none

Exclude dunder calls on super() from raising ``unnecessary-dunder-call``
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/dunder_methods.py
  tests/functional/u/unnecessary/unnecessary_dunder_call.py
  tests/functional/u/unnecessary/unnecessary_dunder_call.txt
Due: pylint, fix-documentation

Update doc/whatsnew/2.14.rst
  doc/whatsnew/2.14.rst
Due: fix-documentation

Update tests/functional/u/unnecessary/unnecessary_dunder_call.py
  tests/functional/u/unnecessary/unnecessary_dunder_call.py
Due: none

Factor out nested function
  pylint/checkers/variables.py
Due: pylint

add example for `too-few/many-string-args`
  doc/data/messages/t/too-few-format-args/bad.py
  doc/data/messages/t/too-few-format-args/good.py
  doc/data/messages/t/too-few-format-args/related.rst
  doc/data/messages/t/too-many-format-args/bad.py
  doc/data/messages/t/too-many-format-args/good.py
  doc/data/messages/t/too-many-format-args/related.rst
Due: none

Update bad.py
  doc/data/messages/t/too-few-format-args/bad.py
Due: none

Update bad.py
  doc/data/messages/t/too-many-format-args/bad.py
Due: none

add example for `missing-format-argument-key`
  doc/data/messages/m/missing-format-argument-key/bad.py
  doc/data/messages/m/missing-format-argument-key/good.py
  doc/data/messages/m/missing-format-argument-key/related.rst
Due: none

Add example for `missing-format-argument-key` message documentation (#6115)
  doc/data/messages/m/missing-format-argument-key/bad.py
  doc/data/messages/m/missing-format-argument-key/good.py
  doc/data/messages/m/missing-format-argument-key/related.rst
Due: none

Add example for `too-many-format-args` and `too-few-format-args` (#6114)
  doc/data/messages/t/too-few-format-args/bad.py
  doc/data/messages/t/too-few-format-args/good.py
  doc/data/messages/t/too-few-format-args/related.rst
  doc/data/messages/t/too-many-format-args/bad.py
  doc/data/messages/t/too-many-format-args/good.py
  doc/data/messages/t/too-many-format-args/related.rst
Due: none

Exclude dunder calls on super() from raising ``unnecessary-dunder-call`` (#6113)
  ChangeLog
  pylint/checkers/dunder_methods.py
  tests/functional/u/unnecessary/unnecessary_dunder_call.py
  tests/functional/u/unnecessary/unnecessary_dunder_call.txt
Due: pylint, fix-documentation

Use the `furo themes` and change default theme (#6084)
  doc/conf.py
  doc/requirements.txt
Due: none

Move changelog to 2.13.5
  ChangeLog
Due: fix-documentation

Fix E1102 / ``not-callable`` false positive for property that returns a lambda function conditionally (#6068)
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/typecheck.py
  tests/functional/n/not_callable.py
Due: pylint, fix-documentation

Add new message called duplicate-value for sets (#5928)
  ChangeLog
  doc/data/messages/d/duplicate-value/bad.py
  doc/data/messages/d/duplicate-value/good.py
  doc/whatsnew/2.14.rst
  pylint/checkers/base/basic_checker.py
  pylint/checkers/format.py
  tests/functional/d/duplicate_value.py
  tests/functional/d/duplicate_value.txt
Due: pylint, fix-documentation

Path conditions:
  pylint: any of: \.py$, but not: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
  fix-documentation: any of: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
