Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

Add an exception for `IndexError` inside `uninferable_final_decorator` (#6532)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/utils.py
  tests/functional/r/regression/regression_6531_crash_index_error.py
Due: pylint, fix-documentation

Add regression test for #6539
  ChangeLog
  doc/whatsnew/2.13.rst
  tests/functional/i/invalid/invalid_name/invalid_name_module_level.py
Due: fix-documentation

Fix a crash in `unnecessary-dict-index-lookup` when subscripting an attribute (#6579)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/u/unnecessary/unnecessary_dict_index_lookup.py
Due: pylint, fix-documentation

Bump pylint to 2.13.9, update changelog
  CONTRIBUTORS.txt
  ChangeLog
  pylint/__pkginfo__.py
  pylint/checkers/utils.py
  pylint/lint/expand_modules.py
  pylint/lint/pylinter.py
  tbump.toml
  tests/test_self.py
Due: pylint, fix-documentation

Fix false positive for `undefined-loop-variable` with `enumerate()` (#6602)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/variables.py
  tests/functional/u/undefined/undefined_loop_variable.py
Due: pylint, fix-documentation

Upgrade astroid version to 2.11.5
  requirements_test_min.txt
  setup.cfg
Due: none

Respect ignore configuration options when --recursive=y. (#6528)
  ChangeLog
  pylint/lint/expand_modules.py
  pylint/lint/pylinter.py
  tests/lint/unittest_lint.py
  tests/regrtest_data/directory/ignored_subdirectory/failing.py
  tests/test_self.py
Due: pylint, fix-documentation

Add regression test for #6497 (#6498)
  ChangeLog
  doc/whatsnew/2.13.rst
  tests/functional/n/no/no_name_in_module.py
Due: fix-documentation

Update ranges for error messages
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/base/basic_checker.py
  tests/functional/ext/docparams/raise/missing_raises_doc_Google.txt
  tests/functional/m/missing/missing_parentheses_for_call_in_test.txt
  tests/functional/u/using_constant_test.txt
Due: pylint, fix-documentation

Update What's new 2.14
  doc/whatsnew/2.14.rst
Due: fix-documentation

Fix test output
  tests/functional/ext/docparams/raise/missing_raises_doc_Google.txt
Due: none

Update ranges for error messages (#6606)
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/base/basic_checker.py
  tests/functional/ext/docparams/raise/missing_raises_doc_Google.txt
  tests/functional/m/missing/missing_parentheses_for_call_in_test.txt
  tests/functional/u/using_constant_test.txt
Due: pylint, fix-documentation

Fix no-member in type annotations with future import
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/typecheck.py
  tests/functional/g/generated_members.py
  tests/functional/g/generated_members.txt
Due: pylint, fix-documentation

Remove subscriptable_with_postponed_evaluation_enabled
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/utils.py
Due: pylint, fix-documentation

Fix no-member in type annotations with future import (#6608)
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/typecheck.py
  tests/functional/g/generated_members.py
  tests/functional/g/generated_members.txt
Due: pylint, fix-documentation

Remove utils.subscriptable_with_postponed_evaluation_enabled (#6607)
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/utils.py
Due: pylint, fix-documentation

Ignore no-member checks on Mock functions
  pylint/checkers/typecheck.py
  script/.contributors_aliases.json
  tests/functional/n/no/no_member_mocks.py
  tests/functional/n/no/no_member_mocks.txt
Due: pylint

Update Changelog
  ChangeLog
  doc/whatsnew/2.14.rst
Due: fix-documentation

Suppress useless-super-delegation on __hash__ in classes with __eq__
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/classes/class_checker.py
  tests/functional/u/useless/useless_super_delegation.py
  tests/functional/u/useless/useless_super_delegation.txt
Due: pylint, fix-documentation

Passify pre-commit Changelog checks
  ChangeLog
Due: fix-documentation

Revert "Passify pre-commit Changelog checks"
  ChangeLog
Due: fix-documentation

Changes as requested in the PR
  tests/functional/n/no/no_member_mocks.py
Due: none

Revert ChangeLog reformat
  ChangeLog
Due: fix-documentation

Extract a helper function to avoid "too many returns" pylint warning
  pylint/checkers/classes/class_checker.py
Due: pylint

[Doc] Create a contact section and cleanup the introduction
  doc/backlinks.rst
  doc/contact/contact.rst
  doc/contact/index.rst
  doc/development_guide/contribute.rst
  doc/faq.rst
  doc/index.rst
  doc/intro.rst
  doc/support.rst
Due: none

Apply suggestions from code review
  doc/contact/contact.rst
  doc/index.rst
Due: none

Add typing to `pylint.pyreverse.inspector`
  pylint/pyreverse/inspector.py
  pylint/pyreverse/writer.py
Due: pylint

Import `Callable` from `typing` to fix compatibility with Python 3.7 and 3.8
  pylint/pyreverse/inspector.py
Due: pylint

Fix return type of `interfaces` function
  pylint/pyreverse/inspector.py
Due: pylint

Remove toc for front page
  doc/faq.rst
  doc/index.rst
Due: none

Remove toc for contact
  doc/contact.rst
  doc/contact/index.rst
  doc/index.rst
Due: none

Update doc/index.rst
  doc/index.rst
Due: none

More recomendation
  doc/index.rst
Due: none

suggestion
  doc/index.rst
Due: none

Add `details.rst` & test against Python 3.7.
  doc/data/messages/c/continue-in-finally/details.rst
  doc/data/messages/c/continue-in-finally/pylintrc
Due: none

`min_pyver` is an unrecognized option: `min_pyver` -> `py-version`.
  doc/data/messages/o/overridden-final-method/pylintrc
  doc/data/messages/s/subclassed-final-class/pylintrc
Due: none

Add a mechanism for redirect
  doc/conf.py
  doc/requirements.txt
Due: none

Apply suggestions from code review
  doc/index.rst
Due: none

Upgrade cache so the requirements are properly installed
  .github/workflows/checks.yaml
Due: none

Add typing to `pylint.pyreverse.inspector` (#6614)
  pylint/pyreverse/inspector.py
  pylint/pyreverse/writer.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: tests/functional/|tests/input|tests(/\w*)*data/|doc/
  fix-documentation: any of: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
