Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  fix-documentation: any of: ^(doc/whatsnew/\d+\.\d+\.rst)
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

Apply suggestions from code review
  doc/user_guide/configuration/all-options.rst
Due: none

Add ``inconsistent-mro`` doc example
  doc/data/messages/i/inconsistent-mro/bad.py
  doc/data/messages/i/inconsistent-mro/details.rst
Due: none

Add ``docstring-first-line-empty`` doc example
  doc/data/messages/d/docstring-first-line-empty/bad.py
  doc/data/messages/d/docstring-first-line-empty/details.rst
  doc/data/messages/d/docstring-first-line-empty/pylintrc
Due: none

Add ``differing-param-doc`` doc example
  doc/data/messages/d/differing-param-doc/bad.py
  doc/data/messages/d/differing-param-doc/details.rst
  doc/data/messages/d/differing-param-doc/pylintrc
Due: none

Add ``bad-mcs-classmethod-argument`` doc example
  doc/data/messages/b/bad-mcs-classmethod-argument/bad.py
  doc/data/messages/b/bad-mcs-classmethod-argument/details.rst
  doc/data/messages/b/bad-mcs-classmethod-argument/good.py
Due: none

Add ``differing-type-doc`` doc example
  doc/data/messages/d/differing-type-doc/bad.py
  doc/data/messages/d/differing-type-doc/details.rst
  doc/data/messages/d/differing-type-doc/good.py
  doc/data/messages/d/differing-type-doc/pylintrc
Due: none

Add ``bad-mcs-method-argument`` doc example
  doc/data/messages/b/bad-mcs-method-argument/bad.py
  doc/data/messages/b/bad-mcs-method-argument/details.rst
  doc/data/messages/b/bad-mcs-method-argument/good.py
Due: none

Two tools since we don't support epylint anymore
  README.rst
Due: none

[doc] Use the real URL address of pylint's read the doc project
  .github/CONTRIBUTING.md
  README.rst
  doc/conf.py
  doc/development_guide/how_tos/custom_checkers.rst
  doc/whatsnew/2/2.9/summary.rst
  pylint/message/_deleted_message_ids.py
  pyproject.toml
  tests/functional/b/bad_option_value.txt
Due: pylint

[readme] Add 'ruff', install at the top, paragraph title to permit skimming
  README.rst
Due: none

Add some too-many-tests
  doc/data/messages/t/too-many-lines/bad.py
  doc/data/messages/t/too-many-lines/details.rst
  doc/data/messages/t/too-many-lines/pylintrc
  doc/data/messages/t/too-many-public-methods/bad.py
  doc/data/messages/t/too-many-public-methods/details.rst
  doc/data/messages/t/too-many-public-methods/pylintrc
Due: none

Change pylintrc
  doc/data/messages/t/too-many-public-methods/pylintrc
Due: none

Stage changes
  doc/data/messages/t/too-many-lines/bad.py
  doc/data/messages/t/too-many-public-methods/pylintrc
Due: none

Fix docs for too-many methods
  doc/data/messages/t/too-many-public-methods/bad.py
  doc/data/messages/t/too-many-public-methods/good.py
Due: none

Add errors for too-many-locals
  doc/data/messages/t/too-many-locals/bad.py
  doc/data/messages/t/too-many-locals/details.rst
  doc/data/messages/t/too-many-locals/good.py
  doc/data/messages/t/too-many-locals/pylintrc
Due: none

Fix code
  doc/data/messages/t/too-many-locals/good.py
Due: none

Fix code
  doc/data/messages/t/too-many-lines/bad.py
  doc/data/messages/t/too-many-lines/good.py
  doc/data/messages/t/too-many-lines/pylintrc
Due: none

Fix too-many-locals
  doc/data/messages/t/too-many-locals/bad.py
  doc/data/messages/t/too-many-locals/good.py
Due: none

Removing print(year)
  doc/data/messages/t/too-many-lines/bad.py
Due: none

Fix invalid type false positive
  pylint/checkers/typecheck.py
  tests/functional/i/isinstance_second_argument_py310.py
  tests/functional/i/isinstance_second_argument_py310.rc
  tests/functional/i/isinstance_second_argument_py310.txt
Due: pylint

Remove fp fixed in ruff
  pyproject.toml
Due: none

Update tests/test_self.py
  tests/test_self.py
Due: pylint

Fix crash when an attribute node was used inside an unary op
  doc/whatsnew/fragments/8207.bugfix
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/r/regression_02/regression_8207.py
Due: pylint, check-newsfragments

Support Implicit Namespace Packages (PEP 420)
  doc/user_guide/configuration/all-options.rst
  doc/user_guide/usage/run.rst
  doc/whatsnew/fragments/8154.feature
  examples/pylintrc
  pylint/config/argument.py
  pylint/config/option.py
  pylint/lint/__init__.py
  pylint/lint/base_options.py
  pylint/lint/expand_modules.py
  pylint/lint/parallel.py
  pylint/lint/pylinter.py
  pylint/lint/utils.py
  pylint/pyreverse/main.py
  pylint/testutils/pyreverse.py
  tests/lint/unittest_expand_modules.py
  tests/lint/unittest_lint.py
  tests/primer/packages_to_prime.json
  tests/pyreverse/conftest.py
  tests/pyreverse/functional/class_diagrams/namespaces/pep420/pep420.dot
  tests/pyreverse/functional/class_diagrams/namespaces/pep420/pep420.mmd
  tests/pyreverse/functional/class_diagrams/namespaces/pep420/pep420.puml
  tests/pyreverse/functional/class_diagrams/namespaces/pep420/pep420.py
  tests/pyreverse/functional/class_diagrams/namespaces/pep420/pep420.rc
  tests/pyreverse/test_main.py
  tests/pyreverse/test_pyreverse_functional.py
  tests/regrtest_data/pep420/basic/project/namespace/package/__init__.py
  tests/regrtest_data/pep420/wrapper/project/namespace/package/logging/__init__.py
  tests/regrtest_data/pep420/wrapper/project/namespace/package/logging/wrapper/__init__.py
  tests/test_check_parallel.py
  tests/test_deprecation.py
Due: pylint, check-newsfragments

Update pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/refactoring/refactoring_checker.py
Due: pylint

fix primer shown bug
  pylint/extensions/kwargs.py
Due: pylint

Got default kwargs for funcs but not for classdef
  pylint/extensions/kwargs.py
  tests/functional/ext/keyword/missing_keyword_arg.py
  tests/functional/ext/keyword/missing_keyword_arg.txt
Due: pylint

do not raise msg for functions with args/kwargs
  pylint/extensions/kwargs.py
  tests/functional/ext/keyword/missing_keyword_arg.py
Due: pylint

change check name
  doc/whatsnew/fragments/385.new_check
  pylint/extensions/kwargs.py
  tests/functional/ext/keyword/missing_keyword_arg.py
  tests/functional/ext/keyword/missing_keyword_arg.txt
Due: pylint, check-newsfragments

added default kwargs to class types
  pylint/extensions/kwargs.py
  tests/functional/ext/keyword/missing_keyword_arg.py
  tests/functional/ext/keyword/missing_keyword_arg.txt
Due: pylint

fix review suggestions
  doc/data/messages/c/consider-using-keyword-argument/bad.py
  doc/data/messages/c/consider-using-keyword-argument/good.py
Due: none

Apply suggestions from code review
  doc/data/messages/c/consider-using-keyword-argument/bad.py
  doc/data/messages/c/consider-using-keyword-argument/good.py
  pylint/extensions/kwargs.py
Due: pylint

add docs
  doc/data/messages/c/consider-using-keyword-argument/bad.py
  doc/data/messages/c/consider-using-keyword-argument/good.py
  doc/data/messages/c/consider-using-keyword-argument/pylintrc
  doc/user_guide/checkers/extensions.rst
  doc/user_guide/messages/messages_overview.rst
Due: none

check type
  pylint/extensions/kwargs.py
Due: pylint

handle unboundmethod
  pylint/extensions/kwargs.py
Due: pylint

new check missing-keyword-arg
  doc/whatsnew/fragments/385.new_check
  pylint/extensions/kwargs.py
  tests/functional/ext/keyword/missing_keyword_arg.py
  tests/functional/ext/keyword/missing_keyword_arg.rc
  tests/functional/ext/keyword/missing_keyword_arg.txt
Due: pylint, check-newsfragments

add test for coverage
  tests/functional/ext/keyword/missing_keyword_arg.py
Due: none

do not raise msg if slots is used
  doc/user_guide/checkers/extensions.rst
  pylint/extensions/kwargs.py
  tests/functional/ext/keyword/missing_keyword_arg.py
  tests/functional/ext/keyword/missing_keyword_arg.txt
Due: pylint

only emit one msg
  doc/data/messages/c/consider-using-keyword-argument/bad.py
  doc/user_guide/checkers/extensions.rst
  pylint/extensions/kwargs.py
  tests/functional/ext/keyword/missing_keyword_arg.py
  tests/functional/ext/keyword/missing_keyword_arg.txt
Due: pylint

Fix code
  doc/data/messages/t/too-many-lines/bad.py
  doc/data/messages/t/too-many-public-methods/bad.py
Due: none
