Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

Replace ``MSG_STATE_*`` int constants with ``MessageDisableScope`` enum
  doc/whatsnew/fragments/11018.breaking
  doc/whatsnew/fragments/11018.internal
  pylint/constants.py
  pylint/lint/message_state_handler.py
  pylint/utils/file_state.py
Due: pylint, check-newsfragments

Tighten ``confidence`` to non-nullable in the emit/filter pipeline
  doc/whatsnew/fragments/11018.internal
  pylint/checkers/base_checker.py
  pylint/lint/message_state_handler.py
  pylint/lint/pylinter.py
  pylint/message/message.py
  pylint/testutils/output_line.py
  pylint/testutils/unittest_linter.py
  tests/lint/unittest_lint.py
  tests/reporters/unittest_json_reporter.py
Due: pylint, check-newsfragments

Add preliminary support for Python 3.15
  .github/workflows/tests.yaml
  doc/whatsnew/fragments/10982.other
  pyproject.toml
  tests/functional/d/deprecated/deprecated_methods_py36.rc
  tests/functional/n/no/no_name_in_module.315.txt
  tests/functional/n/no/no_name_in_module.py
  tests/functional/u/unspecified_encoding_py38.315.txt
  tests/functional/u/unspecified_encoding_py38.py
  tests/testutils/test_functional_testutils.py
  tox.ini
Due: pylint, check-newsfragments

Tighten ``confidence`` to non-nullable across the emit/filter pipeline
  pylint/lint/pylinter.py
  pylint/testutils/unittest_linter.py
Due: pylint

Factor shared filter/emit body out of the add_message variants
  pylint/lint/pylinter.py
Due: pylint

Split the shared filter/emit helper around ``MessageLocationTuple``
  pylint/lint/pylinter.py
Due: pylint

Add ``BaseChecker.add_message_at_location`` for cross-module messages
  doc/whatsnew/fragments/10894.feature
  pylint/checkers/base_checker.py
  pylint/lint/pylinter.py
  pylint/testutils/unittest_linter.py
  tests/checkers/unittest_base_checker.py
  tests/lint/unittest_lint.py
Due: pylint, check-newsfragments

Add ``BaseChecker.add_message_at_node`` fast path
  doc/whatsnew/fragments/10894.feature
  pylint/checkers/base_checker.py
  pylint/lint/pylinter.py
  tests/checkers/unittest_base_checker.py
  tests/lint/unittest_lint.py
Due: pylint, check-newsfragments

Add new check: unguarded-typing-import
  pylint/checkers/variables.py
  tests/functional/u/unguarded_typing_import.py
  tests/functional/u/unguarded_typing_import.rc
  tests/functional/u/unguarded_typing_import.txt
Due: pylint

Resolve ``unguarded-typing-import`` lookup inside comprehensions
  pylint/checkers/variables.py
  tests/functional/u/unguarded_typing_import.py
Due: pylint

Document ``unguarded-typing-import``
  doc/data/messages/u/unguarded-typing-import/bad.py
  doc/data/messages/u/unguarded-typing-import/good.py
  doc/whatsnew/fragments/8111.new_check
Due: check-newsfragments

Register ``unguarded-typing-import`` on ``leave_module``
  pylint/checkers/variables.py
Due: pylint

Fix crash when a name resolves to a dataclass-synthesized ``__init__``
  doc/whatsnew/fragments/11023.bugfix
  pylint/checkers/variables.py
  tests/functional/r/regression_02/regression_11023.py
  tests/functional/r/regression_02/regression_11023.txt
Due: pylint, check-newsfragments

Fix crash when ``NotImplemented`` is used as an ``if`` test
  doc/whatsnew/fragments/11025.bugfix
  pylint/checkers/variables.py
  tests/functional/r/regression_02/regression_11025.py
  tests/functional/r/regression_02/regression_11025.txt
Due: pylint, check-newsfragments

[primer] Add comparator test cases for classification and rename
  tests/testutils/_primer/cases/new_messages_classified/expected.txt
  tests/testutils/_primer/cases/new_messages_classified/expected_comparator.json
  tests/testutils/_primer/cases/new_messages_classified/main.json
  tests/testutils/_primer/cases/new_messages_classified/pr.json
  tests/testutils/_primer/cases/symbol_renamed/expected.txt
  tests/testutils/_primer/cases/symbol_renamed/expected_comparator.json
  tests/testutils/_primer/cases/symbol_renamed/main.json
  tests/testutils/_primer/cases/symbol_renamed/pr.json
Due: none

Fix crash checking a metaclass attribute chain not rooted at a name
  doc/whatsnew/fragments/11030.bugfix
  pylint/checkers/variables.py
  tests/functional/u/undefined/undefined_variable_metaclass_non_name.py
Due: pylint, check-newsfragments

[primer] Add comparator test cases for classification and rename (#11029)
  tests/testutils/_primer/cases/new_messages_classified/expected.txt
  tests/testutils/_primer/cases/new_messages_classified/expected_comparator.json
  tests/testutils/_primer/cases/new_messages_classified/main.json
  tests/testutils/_primer/cases/new_messages_classified/pr.json
  tests/testutils/_primer/cases/symbol_renamed/expected.txt
  tests/testutils/_primer/cases/symbol_renamed/expected_comparator.json
  tests/testutils/_primer/cases/symbol_renamed/main.json
  tests/testutils/_primer/cases/symbol_renamed/pr.json
Due: none

Reference the pull request and astroid report in the news fragment
  doc/whatsnew/fragments/11031.bugfix
Due: check-newsfragments

[primer] Classify new messages into false-positive categories
  pylint/testutils/_primer/primer_compare_command.py
  tests/testutils/_primer/batched_cases/expected.txt
  tests/testutils/_primer/cases/confidence_changed/expected.txt
  tests/testutils/_primer/cases/line_moved/expected.txt
  tests/testutils/_primer/cases/message_changed/expected.txt
  tests/testutils/_primer/cases/message_changed/expected_truncated.txt
  tests/testutils/_primer/cases/message_changed/expected_truncated_in_details.txt
  tests/testutils/_primer/cases/message_changed_line/expected.txt
  tests/testutils/_primer/cases/mixed_changes/expected.txt
  tests/testutils/_primer/cases/multi_package/expected.txt
  tests/testutils/_primer/cases/new_message/expected.txt
  tests/testutils/_primer/cases/removed_message/expected.txt
  tests/testutils/_primer/cases/type_changed/expected.txt
  tests/testutils/_primer/cases/useless_suppression/expected.txt
  tests/testutils/_primer/test_primer.py
Due: pylint

[primer] Detect changed messages via position-based pairing
  pylint/testutils/_primer/comparator.py
  pylint/testutils/_primer/primer_compare_command.py
  tests/testutils/_primer/batched_cases/expected_comparator.json
  tests/testutils/_primer/cases/confidence_changed/expected.txt
  tests/testutils/_primer/cases/confidence_changed/expected_comparator.json
  tests/testutils/_primer/cases/line_moved/expected.txt
  tests/testutils/_primer/cases/line_moved/expected_comparator.json
  tests/testutils/_primer/cases/message_changed/expected.txt
  tests/testutils/_primer/cases/message_changed/expected_comparator.json
  tests/testutils/_primer/cases/message_changed/expected_truncated.txt
  tests/testutils/_primer/cases/message_changed/expected_truncated_in_details.txt
  tests/testutils/_primer/cases/message_changed_line/expected.txt
  tests/testutils/_primer/cases/message_changed_line/expected_comparator.json
  tests/testutils/_primer/cases/mixed_changes/expected.txt
  tests/testutils/_primer/cases/mixed_changes/expected_comparator.json
  tests/testutils/_primer/cases/mixed_changes/pr.json
  tests/testutils/_primer/cases/multi_package/expected.txt
  tests/testutils/_primer/cases/multi_package/expected_comparator.json
  tests/testutils/_primer/cases/new_message/expected_comparator.json
  tests/testutils/_primer/cases/removed_message/expected_comparator.json
  tests/testutils/_primer/cases/type_changed/expected.txt
  tests/testutils/_primer/cases/type_changed/expected_comparator.json
  tests/testutils/_primer/cases/useless_suppression/expected_comparator.json
  tests/testutils/_primer/test_comparator.py
Due: pylint

[primer] Thread ChangedMessage through message_diff and split comment helpers
  doc/whatsnew/fragments/10914.internal
  pylint/testutils/_primer/comparator.py
  pylint/testutils/_primer/primer_compare_command.py
Due: pylint, check-newsfragments

[primer] Clarify location diff wording and robustify key iteration
  pylint/testutils/_primer/comparator.py
  tests/testutils/_primer/cases/line_moved/expected.txt
  tests/testutils/_primer/cases/message_changed_line/expected.txt
  tests/testutils/_primer/cases/mixed_changes/expected.txt
  tests/testutils/_primer/cases/multi_package/expected.txt
Due: pylint

[primer] Drop the ``locally-disabled`` new false positive bucket
  doc/whatsnew/fragments/10914.internal
  pylint/testutils/_primer/primer_compare_command.py
  tests/testutils/_primer/cases/multi_package/expected.txt
  tests/testutils/_primer/cases/new_message/expected.txt
  tests/testutils/_primer/cases/new_messages_classified/expected.txt
  tests/testutils/_primer/cases/useless_suppression/expected.txt
Due: pylint, check-newsfragments

[primer] Simplify residual pairing to single-sided bucketing
  pylint/testutils/_primer/comparator.py
Due: pylint

[primer] Cover classification branches and truncation edge cases
  doc/whatsnew/fragments/10914.internal
  tests/testutils/_primer/cases/multi_package/expected_truncated_break.txt
  tests/testutils/_primer/cases/new_messages_classified/expected.txt
  tests/testutils/_primer/cases/new_messages_classified/expected_comparator.json
  tests/testutils/_primer/test_comparator.py
  tests/testutils/_primer/test_primer.py
Due: pylint, check-newsfragments

[primer] Pair symbol-renamed messages at the same location
  doc/whatsnew/fragments/10914.internal
  pylint/testutils/_primer/comparator.py
  tests/testutils/_primer/cases/symbol_renamed/expected.txt
  tests/testutils/_primer/cases/symbol_renamed/expected_comparator.json
  tests/testutils/_primer/test_comparator.py
Due: pylint, check-newsfragments

Changes to address things brought up during code review. (WIP)
  doc/whatsnew/fragments/11005.performance
  pylint/lint/pylinter.py
  tests/lint/unittest_discover_files.py
Due: pylint, check-newsfragments

Avoid crashing on empty len calls
  doc/whatsnew/fragments/11028.bugfix
  pylint/checkers/refactoring/implicit_booleaness_checker.py
  tests/functional/u/use/use_implicit_booleaness_not_len.py
Due: pylint, check-newsfragments

Fix news fragment format
  doc/whatsnew/fragments/11028.bugfix
Due: check-newsfragments

Fix crash checking a metaclass attribute chain not rooted at a name (#11031)
  doc/whatsnew/fragments/11031.bugfix
  pylint/checkers/variables.py
  tests/functional/u/undefined/undefined_variable_metaclass_non_name.py
Due: pylint, check-newsfragments

Fix false positive method-hidden for bare cached_property import
  pylint/checkers/classes/class_checker.py
  tests/functional/m/method_hidden.py
  tests/functional/m/method_hidden.txt
Due: pylint

Fix false positive method-hidden for bare cached_property import
  doc/whatsnew/fragments/11037.false_positive
Due: check-newsfragments
