Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

Add base Checker classes mirroring interfaces
  .coveragerc
  pylint/checkers/__init__.py
  pylint/checkers/base_checker.py
Due: pylint

Deprecate ``MapReduceMixin`` and implements its methods in ``BaseChecker`` (#6383)
  ChangeLog
  doc/how_tos/custom_checkers.rst
  doc/whatsnew/2.14.rst
  pylint/checkers/base_checker.py
  pylint/checkers/mapreduce_checker.py
  pylint/checkers/similar.py
  pylint/lint/parallel.py
  tests/checkers/unittest_similar.py
  tests/test_check_parallel.py
  tests/test_deprecation.py
Due: pylint, fix-documentation

Allow subclassing Checker types instead of using ``__implements__``
  pylint/checkers/base_checker.py
  pylint/checkers/strings.py
  pylint/lint/pylinter.py
Due: pylint

That "false positive" appears intentional -- reverting
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/variables.py
  tests/functional/u/undefined/undefined_variable_typing.py
Due: pylint, fix-documentation

Update pylint/checkers/strings.py
  pylint/checkers/strings.py
Due: pylint

remove a setting
  tests/functional/u/undefined/undefined_variable_typing.rc
Due: none

Fix a crash in the ``unsupported-membership-test`` checker involving tuple unpacking (#6367)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/utils.py
  tests/functional/n/none_dunder_protocols.py
  tests/functional/n/none_dunder_protocols.txt
  tests/functional/n/none_dunder_protocols_py38.py
  tests/functional/n/none_dunder_protocols_py38.rc
Due: pylint, fix-documentation

Prevent false positive `undefined-variable` for user-specified builtins given type annotations (#6392)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/variables.py
  tests/functional/u/undefined/undefined_variable_typing.py
  tests/functional/u/undefined/undefined_variable_typing.rc
Due: pylint, fix-documentation

Allow subclassing Checker types instead of using ``__implements__`` (#6393)
  pylint/checkers/base_checker.py
  pylint/checkers/strings.py
  pylint/lint/pylinter.py
Due: pylint

Subclass ``BaseRawFileChecker`` and ``BaseTokenChecker``
  examples/custom_raw.py
  pylint/checkers/format.py
  pylint/checkers/misc.py
  pylint/checkers/raw_metrics.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/similar.py
  pylint/checkers/spelling.py
  pylint/checkers/unicode.py
  pylint/extensions/check_elif.py
  pylint/extensions/empty_comment.py
  pylint/lint/pylinter.py
  tests/benchmark/test_baseline_benchmarks.py
  tests/test_check_parallel.py
Due: pylint

No longer care about ``interfaces.IAstroidChecker``
  pylint/lint/pylinter.py
Due: pylint

Migrated example missing-param-doc to type annotations
  doc/data/messages/m/missing-param-doc/bad.py
  doc/data/messages/m/missing-param-doc/good.py
Due: none

Upgrade astroid to 2.11.3
  requirements_test_min.txt
  setup.cfg
Due: none

Migrate to type annotations
  doc/data/messages/m/missing-type-doc/bad.py
  doc/data/messages/m/missing-type-doc/good.py
Due: none

Migrated to type annotations
  doc/data/messages/m/missing-return-type-doc/bad.py
  doc/data/messages/m/missing-return-type-doc/good.py
Due: none

Migrated to type annotations
  doc/data/messages/m/missing-return-doc/bad.py
  doc/data/messages/m/missing-return-doc/good.py
Due: none

Migrated to type annotations
  doc/data/messages/m/missing-raises-doc/bad.py
  doc/data/messages/m/missing-raises-doc/good.py
Due: none

Remove types in docstring
  doc/data/messages/m/missing-yield-doc/bad.py
  doc/data/messages/m/missing-yield-doc/good.py
Due: none

Migrate to type annotations
  doc/data/messages/m/missing-yield-type-doc/bad.py
  doc/data/messages/m/missing-yield-type-doc/good.py
Due: none

Added missing-yield-doc message example
  doc/data/messages/m/missing-yield-doc/bad.py
  doc/data/messages/m/missing-yield-doc/good.py
Due: none

Added details.rst
  doc/data/messages/m/missing-yield-doc/details.rst
Due: none

Added pylintrc file
  doc/data/messages/m/missing-yield-doc/pylintrc
Due: none

Added missing-type-doc message example
  doc/data/messages/m/missing-type-doc/bad.py
  doc/data/messages/m/missing-type-doc/good.py
Due: none

Update doc/data/messages/m/missing-raises-doc/good.py
  doc/data/messages/m/missing-raises-doc/good.py
Due: none

Added missing-raises-doc message example (#6341)
  doc/data/messages/m/missing-raises-doc/bad.py
  doc/data/messages/m/missing-raises-doc/good.py
Due: none

Added missing-return-doc message example (#6342)
  doc/data/messages/m/missing-return-doc/bad.py
  doc/data/messages/m/missing-return-doc/details.rst
  doc/data/messages/m/missing-return-doc/good.py
  doc/data/messages/m/missing-return-doc/pylintrc
Due: none

Added missing-return-type-doc message example (#6343)
  doc/data/messages/m/missing-return-type-doc/bad.py
  doc/data/messages/m/missing-return-type-doc/details.rst
  doc/data/messages/m/missing-return-type-doc/good.py
  doc/data/messages/m/missing-return-type-doc/pylintrc
Due: none

Upgrade astroid to 2.11.3 (#6398)
  requirements_test_min.txt
  setup.cfg
Due: none

Migrate return type to annotations in missing-yield-doc example
  doc/data/messages/m/missing-yield-doc/good.py
Due: none

Remove ``__implements__ = IReporter``
  pylint/reporters/json_reporter.py
  pylint/reporters/multi_reporter.py
  pylint/reporters/text.py
  pylint/testutils/reporter_for_tests.py
  tests/unittest_reporting.py
Due: pylint

Remove references to to-be-deprecated interfaces
  pylint/checkers/base_checker.py
  pylint/checkers/refactoring/refactoring_checker.py
Due: pylint

Deprecate ``interfaces.implements``
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/base_checker.py
  pylint/interfaces.py
  pylint/lint/pylinter.py
Due: pylint, fix-documentation

Path conditions:
  pylint: any of: \.py$, but not: tests/functional/|tests/input|tests(/\w*)*data/|doc/
  fix-documentation: any of: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
