Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

do not work in link
  doc/data/messages/u/useless-parent-delegation/related.rst
Due: none

Manual fixes to make the link consistent
  doc/whatsnew/1/1.0.rst
  doc/whatsnew/1/1.1.rst
  doc/whatsnew/1/1.2.rst
  doc/whatsnew/1/1.3.rst
  doc/whatsnew/1/1.4.rst
  doc/whatsnew/1/1.5.rst
  doc/whatsnew/1/1.6/full.rst
  doc/whatsnew/1/1.7/full.rst
  doc/whatsnew/1/1.8/full.rst
  doc/whatsnew/2/2.0/full.rst
  doc/whatsnew/2/2.0/summary.rst
  doc/whatsnew/2/2.13/full.rst
  doc/whatsnew/2/2.13/summary.rst
  doc/whatsnew/2/2.14/full.rst
  doc/whatsnew/2/2.17/index.rst
  doc/whatsnew/2/2.3/full.rst
  doc/whatsnew/2/2.9/full.rst
  doc/whatsnew/3/3.2/index.rst
  doc/whatsnew/fragments/10583.breaking
  doc/whatsnew/fragments/8736.feature
Due: check-newsfragments

[doc] Add linked references for message in old whatsnews (#10638)
  doc/whatsnew/0/0.x.rst
  doc/whatsnew/1/1.0.rst
  doc/whatsnew/1/1.1.rst
  doc/whatsnew/1/1.2.rst
  doc/whatsnew/1/1.3.rst
  doc/whatsnew/1/1.4.rst
  doc/whatsnew/1/1.5.rst
  doc/whatsnew/1/1.6/full.rst
  doc/whatsnew/1/1.7/full.rst
  doc/whatsnew/1/1.7/summary.rst
  doc/whatsnew/1/1.8/full.rst
  doc/whatsnew/1/1.8/summary.rst
  doc/whatsnew/2/2.0/full.rst
  doc/whatsnew/2/2.0/summary.rst
  doc/whatsnew/2/2.1/full.rst
  doc/whatsnew/2/2.10/full.rst
  doc/whatsnew/2/2.11/full.rst
  doc/whatsnew/2/2.13/full.rst
  doc/whatsnew/2/2.13/summary.rst
  doc/whatsnew/2/2.14/full.rst
  doc/whatsnew/2/2.15/index.rst
  doc/whatsnew/2/2.16/index.rst
  doc/whatsnew/2/2.17/index.rst
  doc/whatsnew/2/2.3/full.rst
  doc/whatsnew/2/2.4/full.rst
  doc/whatsnew/2/2.5/full.rst
  doc/whatsnew/2/2.6/full.rst
  doc/whatsnew/2/2.6/summary.rst
  doc/whatsnew/2/2.9/full.rst
  doc/whatsnew/3/3.0/index.rst
  doc/whatsnew/3/3.1/index.rst
  doc/whatsnew/3/3.2/index.rst
  doc/whatsnew/3/3.3/index.rst
  doc/whatsnew/fragments/10217.bugfix
  doc/whatsnew/fragments/10583.breaking
  doc/whatsnew/fragments/3585.breaking
  doc/whatsnew/fragments/9894.false_negative
Due: check-newsfragments

Bump pylint to 4.1.0-dev0, update changelog
  doc/development_guide/contributor_guide/release.rst
  doc/whatsnew/4/4.1/index.rst
  doc/whatsnew/4/index.rst
  pylint/__pkginfo__.py
  tbump.toml
  towncrier.toml
Due: pylint

Freeze register new messages
  pylint/lint/parallel.py
  pylint/lint/pylinter.py
Due: pylint

Make PyLinter.deregister_checkers private
  pylint/lint/parallel.py
  pylint/lint/pylinter.py
Due: pylint

Fix multiprocessing issues
  doc/whatsnew/fragments/10037.bugfix
  doc/whatsnew/fragments/10642.bugfix
  pylint/config/config_initialization.py
  pylint/lint/message_state_handler.py
  pylint/lint/parallel.py
  pylint/lint/pylinter.py
  pylint/message/message_definition_store.py
  pylint/message/message_id_store.py
  pylint/reporters/reports_handler_mix_in.py
Due: pylint, check-newsfragments

Don't de-register messages
  pylint/lint/message_state_handler.py
  pylint/lint/parallel.py
  pylint/lint/pylinter.py
  pylint/message/message_definition_store.py
  pylint/message/message_id_store.py
Due: pylint

Fix spelling
  pylint/lint/pylinter.py
  pylint/message/message_definition_store.py
  pylint/message/message_id_store.py
  pylint/reporters/reports_handler_mix_in.py
Due: pylint

Add test case
  tests/test_check_parallel.py
Due: pylint

Exclude ``__all__`` and ``__future__.annotations`` from :ref:`unused-variable`.
  doc/whatsnew/fragments/10019.false_positive
  pylint/checkers/variables.py
  tests/functional/u/unused/unused_variable_future_and_annotations.py
  tests/functional/u/unused/unused_variable_future_and_annotations.rc
Due: pylint, check-newsfragments

Update doc/whatsnew/fragments/10019.false_positive
  doc/whatsnew/fragments/10019.false_positive
Due: check-newsfragments

Fix reference in 4.0 whatsnew
  doc/whatsnew/4/4.0/index.rst
Due: none

[doc] Add a script and pre-commit hook to add ref to pylint message
  .pre-commit-config.yaml
  script/check_message_references.py
Due: pylint

Automated fix with the script
  doc/data/messages/u/useless-parent-delegation/related.rst
  doc/whatsnew/1/1.6/summary.rst
  doc/whatsnew/1/1.7/summary.rst
  doc/whatsnew/2/2.5/full.rst
  doc/whatsnew/4/4.0/index.rst
Due: none

Fix reference in 4.0 whatsnew (#10644)
  doc/whatsnew/4/4.0/index.rst
Due: none

Improve de-register reports logic
  pylint/lint/pylinter.py
  pylint/reporters/reports_handler_mix_in.py
  tests/test_check_parallel.py
Due: pylint

Remove workaround for pre-commit check with Python 3.14
  .pre-commit-config.yaml
Due: none

Remove workaround for pre-commit check with Python 3.14 (#10646)
  .pre-commit-config.yaml
Due: none

Last changes
  pylint/lint/pylinter.py
  tests/test_check_parallel.py
Due: pylint

Fix false-positive for bare-name-capture-pattern
  doc/whatsnew/fragments/10647.false_positive
  pylint/checkers/match_statements_checker.py
  tests/functional/b/bare_name_capture_pattern.py
Due: pylint, check-newsfragments

Fix two multiprocessing issues (#10642)
  doc/whatsnew/fragments/10037.bugfix
  doc/whatsnew/fragments/10642.bugfix
  pylint/config/config_initialization.py
  pylint/lint/parallel.py
  pylint/lint/pylinter.py
  pylint/reporters/reports_handler_mix_in.py
  tests/test_check_parallel.py
Due: pylint, check-newsfragments

Update news fragment
  doc/whatsnew/fragments/10647.false_positive
Due: check-newsfragments

Fix false-positive for bare-name-capture-pattern (#10648)
  doc/whatsnew/fragments/10647.false_positive
  pylint/checkers/match_statements_checker.py
  tests/functional/b/bare_name_capture_pattern.py
Due: pylint, check-newsfragments

Fix `unused-variable` false positive with `__all__` or `__future__.annotations` (#10643)
  doc/whatsnew/fragments/10019.false_positive
  pylint/checkers/variables.py
  tests/functional/u/unused/unused_variable_future_and_annotations.py
  tests/functional/u/unused/unused_variable_future_and_annotations.rc
Due: pylint, check-newsfragments

Improve conditionals
  pylint/checkers/base/name_checker/checker.py
  pylint/checkers/classes/class_checker.py
  pylint/checkers/dataclass_checker.py
  pylint/checkers/design_analysis.py
  pylint/checkers/exceptions.py
  pylint/checkers/imports.py
  pylint/checkers/refactoring/recommendation_checker.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/spelling.py
  pylint/checkers/stdlib.py
  pylint/checkers/strings.py
  pylint/checkers/typecheck.py
  pylint/checkers/variables.py
  pylint/extensions/consider_refactoring_into_while_condition.py
  pylint/extensions/mccabe.py
  pylint/extensions/private_import.py
  pylint/message/message_id_store.py
  pylint/pyreverse/utils.py
Due: pylint

Improve conditionals (#10654)
  pylint/checkers/base/name_checker/checker.py
  pylint/checkers/classes/class_checker.py
  pylint/checkers/dataclass_checker.py
  pylint/checkers/design_analysis.py
  pylint/checkers/exceptions.py
  pylint/checkers/imports.py
  pylint/checkers/refactoring/recommendation_checker.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/spelling.py
  pylint/checkers/stdlib.py
  pylint/checkers/strings.py
  pylint/checkers/typecheck.py
  pylint/checkers/variables.py
  pylint/extensions/consider_refactoring_into_while_condition.py
  pylint/extensions/mccabe.py
  pylint/extensions/private_import.py
  pylint/message/message_id_store.py
  pylint/pyreverse/utils.py
Due: pylint

Increase test coverage
  tests/functional/ext/code_style/cs_improve_conditionals.py
  tests/functional/ext/code_style/cs_improve_conditionals.txt
Due: none

Enable improve-conditionals check for pylint itself
  pylintrc
Due: none

Don't emit message for 'x < 0 or x > 100'
  pylint/extensions/code_style.py
  tests/functional/ext/code_style/cs_improve_conditionals.py
  tests/functional/ext/code_style/cs_improve_conditionals.txt
Due: pylint

Code review
  doc/data/messages/i/improve-conditionals/bad.py
  doc/data/messages/i/improve-conditionals/good.py
  doc/user_guide/checkers/extensions.rst
  doc/user_guide/configuration/all-options.rst
  pylint/extensions/code_style.py
Due: pylint

Add improve-conditionals check in the CodeStyle extension
  doc/data/messages/i/improve-conditionals/bad.py
  doc/data/messages/i/improve-conditionals/good.py
  doc/data/messages/i/improve-conditionals/pylintrc
  doc/user_guide/checkers/extensions.rst
  doc/user_guide/messages/messages_overview.rst
  doc/whatsnew/fragments/10600.new_check
  pylint/extensions/code_style.py
  tests/functional/ext/code_style/cs_improve_conditionals.py
  tests/functional/ext/code_style/cs_improve_conditionals.rc
  tests/functional/ext/code_style/cs_improve_conditionals.txt
Due: pylint, check-newsfragments

Deal with 'is not' but exclude 'is not None'
  pylint/extensions/code_style.py
  tests/functional/ext/code_style/cs_improve_conditionals.py
  tests/functional/ext/code_style/cs_improve_conditionals.txt
Due: pylint
