Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

Add new checker and bare-name-capture-pattern message (#10424)
  .pre-commit-config.yaml
  doc/data/messages/b/bare-name-capture-pattern/bad.py
  doc/data/messages/b/bare-name-capture-pattern/good.py
  doc/data/messages/b/bare-name-capture-pattern/related.rst
  doc/data/ruff.toml
  doc/user_guide/checkers/features.rst
  doc/user_guide/messages/messages_overview.rst
  doc/whatsnew/fragments/7128.new_check
  pylint/checkers/match_statements_checker.py
  tests/functional/b/bare_name_capture_pattern.py
  tests/functional/b/bare_name_capture_pattern.txt
Due: pylint, check-newsfragments

Move used_before_assignment test
  pylint/testutils/functional/find_functional_tests.py
  tests/functional/u/used/used_before_assignment_py313.py
  tests/functional/u/used/used_before_assignment_py313.rc
  tests/functional/u/used/used_before_assignment_py313.txt
Due: pylint

Add workflow_dispatch trigger [ci]
  .github/workflows/checks.yaml
  .github/workflows/tests.yaml
Due: none

Add actions permission for stale job [ci]
  .github/workflows/stale.yml
Due: none

Apply suggestions from code review
  tests/pyreverse/functional/class_diagrams/relationships/fields.mmd
Due: none

Fix pre-commit checks on Python 3.14
  .pre-commit-config.yaml
  tests/test_check_parallel.py
Due: pylint

Update fields test files
  tests/pyreverse/functional/class_diagrams/relationships/fields.dot
  tests/pyreverse/functional/class_diagrams/relationships/fields.mmd
  tests/pyreverse/functional/class_diagrams/relationships/fields.puml
Due: none

Update comprehensions test file
  tests/pyreverse/functional/class_diagrams/relationships/comprehensions.dot
  tests/pyreverse/functional/class_diagrams/relationships/comprehensions.mmd
  tests/pyreverse/functional/class_diagrams/relationships/comprehensions.puml
Due: none

Reverse arrows in attribute annotation test files aswell
  tests/pyreverse/functional/class_diagrams/annotations/attributes_annotation.dot
  tests/pyreverse/functional/class_diagrams/annotations/attributes_annotation.mmd
  tests/pyreverse/functional/class_diagrams/annotations/attributes_annotation.puml
Due: none

Reverse arrows in writer
  pylint/pyreverse/writer.py
Due: pylint

Fix tests
  pylint/testutils/functional/find_functional_tests.py
  tests/testutils/data/m/max_overflow/max_overflow_3.py
  tests/testutils/test_functional_testutils.py
Due: pylint

Switch back to upstream setup-python with PyPy fix [ci]
  .github/workflows/tests.yaml
Due: none

Additional tests for undefined-variable with PEP 695 syntax
  tests/functional/u/undefined/undefined_variable_py312.py
  tests/functional/u/undefined/undefined_variable_py312.txt
Due: none

Update find_functional_tests.py
  pylint/testutils/functional/find_functional_tests.py
Due: pylint

Additional tests for undefined-variable with PEP 695 syntax (#10502)
  tests/functional/u/undefined/undefined_variable_py312.py
  tests/functional/u/undefined/undefined_variable_py312.txt
Due: none

Switch back to upstream setup-python with PyPy fix [ci] (#10501)
  .github/workflows/tests.yaml
Due: none

Add workflow_dispatch trigger [ci] (#10498)
  .github/workflows/checks.yaml
  .github/workflows/tests.yaml
Due: none

Add actions permission for stale job [ci] (#10499)
  .github/workflows/stale.yml
Due: none

Fix pre-commit checks on Python 3.14 (#10500)
  .pre-commit-config.yaml
  tests/test_check_parallel.py
Due: pylint

Fix cache keys [ci]
  .github/workflows/tests.yaml
Due: none

Use cache restore if fail-on-cache-miss is set
  .github/workflows/checks.yaml
  .github/workflows/primer-test.yaml
  .github/workflows/tests.yaml
Due: none

[functional tests] Only count python files for the reasonably displayable limit (#10490)
  pylint/testutils/functional/find_functional_tests.py
  tests/functional/u/used/used_before_assignment_py313.py
  tests/functional/u/used/used_before_assignment_py313.rc
  tests/functional/u/used/used_before_assignment_py313.txt
  tests/testutils/data/m/max_overflow/max_overflow_3.py
  tests/testutils/test_functional_testutils.py
Due: pylint

Refactor pyreverse Association Logic (#10397)
  doc/whatsnew/fragments/9045.feature
  pylint/pyreverse/diagrams.py
  pylint/pyreverse/dot_printer.py
  pylint/pyreverse/inspector.py
  pylint/pyreverse/mermaidjs_printer.py
  pylint/pyreverse/plantuml_printer.py
  pylint/pyreverse/printer.py
  pylint/pyreverse/writer.py
  tests/pyreverse/functional/class_diagrams/aggregation/comprehensions.mmd
  tests/pyreverse/functional/class_diagrams/aggregation/comprehensions.py
  tests/pyreverse/functional/class_diagrams/aggregation/fields.mmd
  tests/pyreverse/functional/class_diagrams/aggregation/fields.py
  tests/pyreverse/functional/class_diagrams/annotations/attributes_annotation.dot
  tests/pyreverse/functional/class_diagrams/annotations/attributes_annotation.mmd
  tests/pyreverse/functional/class_diagrams/annotations/attributes_annotation.puml
  tests/pyreverse/functional/class_diagrams/attributes/duplicates_9267.mmd
  tests/pyreverse/functional/class_diagrams/attributes/duplicates_9267.py
  tests/pyreverse/functional/class_diagrams/relationships/comprehensions.dot
  tests/pyreverse/functional/class_diagrams/relationships/comprehensions.mmd
  tests/pyreverse/functional/class_diagrams/relationships/comprehensions.puml
  tests/pyreverse/functional/class_diagrams/relationships/comprehensions.py
  tests/pyreverse/functional/class_diagrams/relationships/comprehensions.rc
  tests/pyreverse/functional/class_diagrams/relationships/fields.dot
  tests/pyreverse/functional/class_diagrams/relationships/fields.mmd
  tests/pyreverse/functional/class_diagrams/relationships/fields.puml
  tests/pyreverse/functional/class_diagrams/relationships/fields.py
  tests/pyreverse/functional/class_diagrams/relationships/fields.rc
  tests/pyreverse/functional/class_diagrams/relationships_filtering/all.mmd
  tests/pyreverse/functional/class_diagrams/relationships_filtering/all.py
  tests/pyreverse/functional/class_diagrams/relationships_filtering/all.rc
  tests/pyreverse/functional/class_diagrams/relationships_filtering/other.mmd
  tests/pyreverse/functional/class_diagrams/relationships_filtering/other.py
  tests/pyreverse/functional/class_diagrams/relationships_filtering/other.rc
  tests/pyreverse/functional/class_diagrams/relationships_filtering/pub_only.mmd
  tests/pyreverse/functional/class_diagrams/relationships_filtering/pub_only.py
  tests/pyreverse/functional/class_diagrams/relationships_filtering/pub_only.rc
  tests/pyreverse/functional/class_diagrams/relationships_filtering/special.mmd
  tests/pyreverse/functional/class_diagrams/relationships_filtering/special.py
  tests/pyreverse/functional/class_diagrams/relationships_filtering/special.rc
  tests/pyreverse/test_diadefs.py
Due: pylint, check-newsfragments

Fix unreachable assertions in test_self.py callback option tests; fixed test_errors_only and test_verbose
  tests/test_self.py
Due: pylint

Fix sys.exit call count assertions
  tests/test_self.py
Due: pylint

[fix] Better approach in 'unnecessary-list-index-lookup' to avoid crashes
  doc/whatsnew/fragments/10510.bugfix
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/u/unnecessary/unnecessary_list_index_lookup.py
Due: pylint, check-newsfragments

[fix] Better approach in 'unnecessary-list-index-lookup' to avoid crashes (#10511)
  doc/whatsnew/fragments/10510.bugfix
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/u/unnecessary/unnecessary_list_index_lookup.py
Due: pylint, check-newsfragments

Use match statement in checkers (1)
  pylint/checkers/match_statements_checker.py
  pylint/extensions/_check_docs_utils.py
  pylint/extensions/code_style.py
  pylint/extensions/for_any_all.py
  pylint/extensions/private_import.py
  pyproject.toml
Due: pylint

update documentation examples of invalid-envvar-default
  doc/data/messages/i/invalid-envvar-default/bad.py
  doc/data/messages/i/invalid-envvar-default/good.py
  doc/data/messages/i/invalid-envvar-value/bad.py
  doc/data/messages/i/invalid-envvar-value/good.py
Due: none

add invalid-envvar-default check for os.environ.get; add its functional test
  pylint/checkers/stdlib.py
  tests/functional/i/invalid/invalid_envvar_value.py
  tests/functional/i/invalid/invalid_envvar_value.txt
Due: pylint

update error message to be os.environ.get and not builtins.dict
  pylint/checkers/stdlib.py
  tests/functional/i/invalid/invalid_envvar_value.txt
Due: pylint

update pyreverse diagram unittests; add news fragment
  doc/whatsnew/fragments/10507.false_negative
  tests/pyreverse/functional/class_diagrams/colorized_output/colorized.mmd
  tests/pyreverse/functional/class_diagrams/colorized_output/colorized.puml
  tests/pyreverse/functional/class_diagrams/colorized_output/custom_colors.dot
  tests/pyreverse/functional/class_diagrams/colorized_output/custom_colors.puml
Due: check-newsfragments

fix new fragment to issue number 10092
  doc/whatsnew/fragments/10092.false_negative
Due: check-newsfragments

check if os.environ.get is being cast to int or float; update unittest
  pylint/checkers/stdlib.py
  tests/functional/i/invalid/invalid_envvar_value.py
  tests/functional/i/invalid/invalid_envvar_value.txt
Due: pylint

update pyreverse functional class diagram test
  tests/pyreverse/functional/class_diagrams/colorized_output/colorized.mmd
  tests/pyreverse/functional/class_diagrams/colorized_output/colorized.puml
  tests/pyreverse/functional/class_diagrams/colorized_output/custom_colors.dot
  tests/pyreverse/functional/class_diagrams/colorized_output/custom_colors.puml
Due: none

Fixed test_verbose and test_errors_only methods
  tests/test_self.py
Due: pylint

Fix unreachable assertions in test_errors_only and test_verbose test method #10450 (#10509)
  tests/test_self.py
Due: pylint
