Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I
  - --load-plugins=pylint.extensions.docparams

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

Fix whitespaces
  pylint/extensions/_check_docs_utils.py
Due: pylint

Update pylint/checkers/utils.py
  pylint/checkers/utils.py
Due: pylint

Add test and fix conflict
  pylint/checkers/variables.py
  tests/checkers/unittest_utils.py
Due: pylint

Update pylint/extensions/_check_docs_utils.py
  pylint/extensions/_check_docs_utils.py
Due: pylint

Add docstrings
  pylint/checkers/variables.py
Due: pylint

Fix wording
  pylint/checkers/variables.py
Due: pylint

Add endLine and endColumn keys to JSONReporter (#5456)
  ChangeLog
  doc/whatsnew/2.12.rst
  pylint/reporters/json_reporter.py
  tests/unittest_reporters_json.py
  tests/unittest_reporting.py
Due: pylint, fix-documentation

Deprecate ``is_inside_lambda`` from utils (#5447)
  pylint/checkers/refactoring/recommendation_checker.py
  pylint/checkers/utils.py
  pylint/checkers/variables.py
  tests/checkers/unittest_utils.py
Due: pylint

Require ``\`` for asterisks in Sphinx-style parameter docstrings (#5464)
  ChangeLog
  pylint/extensions/_check_docs_utils.py
  pylint/reporters/text.py
  tests/functional/ext/docparams/parameter/missing_param_doc_required_Sphinx.py
  tests/functional/ext/docparams/parameter/missing_param_doc_required_Sphinx.txt
Due: pylint, fix-documentation

Add Copyrite configuration for Yu Shao
  .copyrite_aliases
Due: none

Bump pylint to 2.12.2, update changelog
  ChangeLog
  doc/whatsnew/2.12.rst
  doc/whatsnew/2.13.rst
  pylint/__pkginfo__.py
  pylint/checkers/classes.py
  pylint/checkers/design_analysis.py
  pylint/checkers/imports.py
  pylint/checkers/typecheck.py
  pylint/checkers/utils.py
  pylint/extensions/_check_docs_utils.py
  pylint/reporters/json_reporter.py
  pylint/reporters/text.py
  tbump.toml
  tests/checkers/unittest_utils.py
  tests/unittest_reporters_json.py
  tests/unittest_reporting.py
Due: pylint, fix-documentation

Upgrade the version to 2.13.0-dev0 following 2.12.2 release
  pylint/__pkginfo__.py
  tbump.toml
Due: pylint

Add mermaidjs as format output for pyreverse (#5272)
  .pre-commit-config.yaml
  ChangeLog
  doc/additional_commands/index.rst
  doc/whatsnew/2.13.rst
  pylint/pyreverse/main.py
  pylint/pyreverse/mermaidjs_printer.py
  pylint/pyreverse/printer_factory.py
  tests/pyreverse/conftest.py
  tests/pyreverse/data/classes_No_Name.html
  tests/pyreverse/data/classes_No_Name.mmd
  tests/pyreverse/data/packages_No_Name.html
  tests/pyreverse/data/packages_No_Name.mmd
  tests/pyreverse/test_writer.py
Due: pylint, fix-documentation

Move changelog entry to 2.13.0
  ChangeLog
Due: fix-documentation

Remove a constant that was never used anywhere
  pylint/testutils/constants.py
Due: pylint

Add typing to LintModuleOutputUpdate._check_output_text
  ChangeLog
  pylint/testutils/__init__.py
  pylint/testutils/functional/find_functional_tests.py
  pylint/testutils/functional/lint_module_output_update.py
  pylint/testutils/functional/test_file.py
  pylint/testutils/lint_module_test.py
  tests/functional/f/fixme.rc
  tests/functional/r/regression/regression_issue_4631.rc
  tests/functional/t/too/too_few_public_methods_excluded.rc
  tests/functional/t/too/too_many_ancestors_ignored_parents.rc
  tests/functional/t/too/too_many_statements.rc
  tests/test_functional.py
  tests/testutils/test_lint_module_output_update.py
Due: pylint, fix-documentation

Move the function go retrieve test file to pylint.testutil.functional
  pylint/testutils/functional/__init__.py
  pylint/testutils/functional/find_functional_tests.py
  tests/test_functional.py
Due: pylint

Deprecate some file in pylint/testutils and update changelog
  ChangeLog
  pylint/testutils/__init__.py
  pylint/testutils/functional/__init__.py
  pylint/testutils/functional/test_file.py
  pylint/testutils/lint_module_test.py
  tests/test_functional.py
Due: pylint, fix-documentation

Add a warning in functional test update for bad python versions
  pylint/testutils/functional/find_functional_tests.py
  pylint/testutils/functional/lint_module_output_update.py
  pylint/testutils/functional_test_file.py
  tests/testutils/test_lint_module_output_update.py
Due: pylint

Add a path argument to get_tests for functional tests
  tests/test_functional.py
Due: pylint

Move LintModuleOutputUpdate to pylint.testutil.functional
  pylint/testutils/functional/__init__.py
  pylint/testutils/functional/lint_module_output_update.py
  tests/test_functional.py
Due: pylint

Add unit tests for LintModuleOutputUpdate
  tests/testutils/test_lint_module_output_update.py
Due: pylint

Rename get_tests to get_functional_test_files_from_directory
  tests/test_functional.py
Due: pylint

Move the filter for isort 5 out of the generic function
  tests/test_functional.py
Due: pylint

fix(4716): fix false positive `unnecessary_dict_index_lookup` emitted when `del` is used (#5344)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/u/unnecessary/unnecessary_dict_index_lookup.py
  tests/functional/u/unnecessary/unnecessary_dict_index_lookup.txt
Due: pylint, fix-documentation

Update CONTRIBUTORS.txt
  CONTRIBUTORS.txt
Due: none

Docker: Python 3.10 and Alpine 3.15 (#5443)
  CONTRIBUTORS.txt
  Dockerfile
Due: none

Add typing to ``PyLinter.reporter`` (#5325)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/lint/pylinter.py
  pylint/reporters/multi_reporter.py
  tests/test_self.py
  tests/unittest_reporting.py
Due: pylint, fix-documentation

Add typing
  pylint/checkers/variables.py
Due: pylint

Add comments and treat all returns the same in _check_consumer()
  pylint/checkers/variables.py
Due: pylint

Add test using Enum._generate_next_value_()
  tests/functional/a/arguments_differ.py
  tests/functional/a/arguments_differ.txt
  tests/functional/a/arguments_differ_issue5371.py
Due: none

Fix #5371: Correctly count arguments to static methods missing @staticmethod decorator (#5412)
  ChangeLog
  pylint/checkers/classes.py
  pylint/checkers/mapreduce_checker.py
  tests/functional/a/arguments_differ.py
  tests/functional/a/arguments_differ.txt
  tests/functional/a/arguments_differ_issue5371.py
  tests/test_check_parallel.py
Due: pylint, fix-documentation

Update docstring wording
  pylint/checkers/variables.py
Due: pylint

Add TODO to remove assert
  pylint/checkers/variables.py
Due: pylint

Add tempfile.TemporaryFile to CALLS_RETURNING_CONTEXT_MANAGERS
  pylint/checkers/refactoring/refactoring_checker.py
Due: pylint

disable fixme
  pylint/checkers/variables.py
Due: pylint

Fix #3675: `safe_infer` now finds ambiguity when number of arguments differ
  ChangeLog
  pylint/checkers/utils.py
  tests/functional/t/too/too_many_function_args.py
Due: pylint, fix-documentation

Path conditions:
  pylint: any of: \.py$, but not: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
  fix-documentation: any of: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
