Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --load-plugins=pylint.extensions.docparams

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

Fix ``relative-beyond-top-level`` false positive
  ChangeLog
  tests/checkers/unittest_imports.py
  tests/regrtest_data/beyond_top_four/double_name/__init__.py
  tests/regrtest_data/beyond_top_four/module/__init__.py
  tests/regrtest_data/beyond_top_four/module/double_name/__init__.py
  tests/regrtest_data/beyond_top_four/module/double_name/function.py
  tests/regrtest_data/beyond_top_four/module/sub_module/__init__.py
  tests/regrtest_data/beyond_top_four/module/sub_module/sub_sub_module/__init__.py
  tests/regrtest_data/beyond_top_four/module/sub_module/sub_sub_module/main.py
  tests/regrtest_data/beyond_top_three/__init__.py
  tests/regrtest_data/beyond_top_three/a.py
  tests/regrtest_data/beyond_top_three/level1/__init__.py
  tests/regrtest_data/beyond_top_three/level1/beyond_top_three.py
  tests/regrtest_data/beyond_top_two/import_package.py
  tests/regrtest_data/beyond_top_two/namespace_package/lower_level/helper_function.py
  tests/regrtest_data/beyond_top_two/namespace_package/plugin_api.py
  tests/regrtest_data/beyond_top_two/namespace_package/top_level_function.py
Due: pylint, fix-documentation

Merge ``MessagesHandlerMixIn`` into ``PyLinter`` (#5136)
  pylint/checkers/misc.py
  pylint/lint/pylinter.py
  pylint/message/__init__.py
  pylint/message/message_handler_mix_in.py
  pylint/typing.py
  tests/test_regr.py
Due: pylint

Fix ``missing-function-docstring`` not checking ``__init__`` (#5147)
  ChangeLog
  pylint/checkers/base.py
  pylintrc
  tests/checkers/unittest_base.py
Due: pylint, fix-documentation

Add checker `using-final-in-unsupported-version`
  ChangeLog
  doc/whatsnew/2.12.rst
  pylint/checkers/classes.py
  pylint/checkers/unsupported_version.py
  pylint/checkers/utils.py
  tests/functional/o/overridden_final_method.py
  tests/functional/o/overridden_final_method.txt
  tests/functional/o/overridden_final_method_py38.rc
  tests/functional/o/overridden_final_method_py38.txt
  tests/functional/s/subclassed_final_class.py
  tests/functional/s/subclassed_final_class.txt
  tests/functional/s/subclassed_final_class_py38.rc
  tests/functional/s/subclassed_final_class_py38.txt
  tests/functional/u/unsupported/unsupported_version_for_final.py
  tests/functional/u/unsupported/unsupported_version_for_final.rc
  tests/functional/u/unsupported/unsupported_version_for_final.txt
Due: pylint, fix-documentation

Typo - Add comma
  tests/functional/s/subclassed_final_class.py
Due: none

Add an exception for python < 3.6.2
  setup.py
Due: pylint

Async context manager typo (#5164)
  CONTRIBUTORS.txt
  pylint/checkers/design_analysis.py
Due: pylint

Apply suggestions from code review
  setup.py
Due: pylint

Fix typing
  setup.py
Due: pylint

fix
  setup.py
Due: pylint

Test applies to Python versions less than 3.8
  tests/functional/u/unsupported/unsupported_version_for_final.rc
Due: none

Add an exception at install for python < 3.6.2 (#5171)
  setup.py
Due: pylint

Bump python_requires to >= 3.6.2
  setup.cfg
Due: none

Update documentation
  README.rst
  doc/faq.rst
Due: none

Update changelog
  ChangeLog
  doc/whatsnew/2.12.rst
Due: fix-documentation

Add default value to MessageStyle
  pylint/reporters/text.py
Due: pylint

Import typing names directly
  pylint/checkers/strings.py
  pylint/message/message_id_store.py
  pylint/testutils/lint_module_test.py
  tests/lint/test_pylinter.py
Due: pylint

Use typing.NamedTuple for MessageTest
  pylint/testutils/output_line.py
Due: pylint

Update pylintrc + requirements file
  pylintrc
  requirements_test_pre_commit.txt
Due: none

Revert "Add an exception at install for python < 3.6.2 (#5171)"
  setup.py
Due: pylint

Apply suggestions from code review
  pylint/checkers/classes.py
Due: pylint

Fix regression for ``_is_only_type_assignment`` This closes #5162
  pylint/checkers/variables.py
  tests/functional/u/undefined/undefined_variable.py
  tests/functional/u/undefined/undefined_variable.txt
Due: pylint

Remove references to `name`
  pylint/checkers/variables.py
Due: pylint

Fix asterisks parsing of ``mising-param-doc`` Closes #3733
  ChangeLog
  doc/whatsnew/2.12.rst
  pylint/extensions/_check_docs_utils.py
  pylint/extensions/docparams.py
  tests/extensions/test_check_docs.py
  tests/functional/m/missing/missing_param_doc.py
Due: pylint, fix-documentation

Fix test
  pylint/reporters/text.py
Due: pylint

Refactor Variable checker to use less argument in function (#5167)
  pylint/checkers/variables.py
Due: pylint

Fix use-implicit-booleaness-not-comparison crash
  pylint/checkers/refactoring/implicit_booleaness_checker.py
  tests/functional/u/use/use_implicit_booleaness_not_comparison.py
  tests/functional/u/use/use_implicit_booleaness_not_comparison.txt
Due: pylint

Fix typing in ImplicitBooleanessChecker.base_classes_of_node
  pylint/checkers/refactoring/implicit_booleaness_checker.py
Due: pylint

[implicit-booleaness] Add call nodes name in warnings
  pylint/checkers/refactoring/implicit_booleaness_checker.py
  tests/functional/u/use/use_implicit_booleaness_not_comparison.py
  tests/functional/u/use/use_implicit_booleaness_not_comparison.txt
Due: pylint

Better tests for assignment
  pylint/checkers/variables.py
  tests/functional/u/undefined/undefined_variable.py
  tests/functional/u/undefined/undefined_variable.txt
Due: pylint

Add test for #4021 This closes #4021
  tests/functional/u/undefined/undefined_variable_py30.py
  tests/functional/u/undefined/undefined_variable_py30.txt
Due: none

Make ``undefined-variable`` check line numbers of metaclass parameters
  ChangeLog
  doc/whatsnew/2.12.rst
  pylint/checkers/variables.py
  tests/functional/u/undefined/undefined_variable_py30.py
  tests/functional/u/undefined/undefined_variable_py30.txt
Due: pylint, fix-documentation

Assume unhandled arg types differ
  pylint/checkers/classes.py
  tests/functional/u/useless/useless_super_delegation.py
  tests/functional/u/useless/useless_super_delegation.txt
Due: pylint

Make ``used-before-assignment`` consider classes in method annotation and defaults This closes #3771
  ChangeLog
  doc/whatsnew/2.12.rst
  pylint/checkers/variables.py
  tests/functional/u/use/used_before_assignement.py
  tests/functional/u/use/used_before_assignement.txt
Due: pylint, fix-documentation

Update name and docstring
  pylint/checkers/variables.py
Due: pylint

Fix asterisks parsing of ``mising-param-doc`` (#5175)
  ChangeLog
  doc/whatsnew/2.12.rst
  pylint/extensions/_check_docs_utils.py
  pylint/extensions/docparams.py
  pylint/reporters/text.py
  tests/extensions/test_check_docs.py
  tests/functional/m/missing/missing_param_doc.py
Due: pylint, fix-documentation

Handle `annotations` import
  pylint/checkers/variables.py
  tests/functional/u/use/used_before_assignment_py37.py
  tests/functional/u/use/used_before_assignment_py37.rc
  tests/functional/u/use/used_before_assignment_py37.txt
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
  fix-documentation: any of: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
