Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

.pre-commit-config.yaml:

ci:
  skip: [pylint]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
        exclude: "tests/functional/t/trailing_whitespaces.py"
      - id: end-of-file-fixer
        exclude: "tests/functional/m/missing/missing_final_newline.py|tests/functional/t/trailing_newlines.py"
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
      - id: autoflake
        exclude: &fixtures tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/
        args:
          - --in-place
          - --remove-all-unused-imports
          - --expand-star-imports
          - --remove-duplicate-keys
          - --remove-unused-variables
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.19.4
    hooks:
      - id: pyupgrade
        args: [--py36-plus]
        exclude: *fixtures
  - repo: https://github.com/PyCQA/isort
    rev: 5.9.1
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 21.6b0
    hooks:
      - id: black
        args: [--safe, --quiet]
        exclude: *fixtures
  - repo: https://github.com/Pierre-Sassoulas/black-disable-checker/
    rev: 1.0.1
    hooks:
      - id: black-disable-checker
  - repo: https://github.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        exclude: *fixtures
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "-rn",
            "-sn",
            "--rcfile=pylintrc",
            "--load-plugins=pylint.extensions.docparams",
          ]
        # disabled plugins: pylint.extensions.mccabe
        exclude: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
      - id: fix-documentation
        name: Fix documentation
        entry: python3 -m script.fix_documentation
        language: system
        types: [text]
        files: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
  - repo: https://github.com/myint/rstcheck
    rev: "3f92957478422df87bd730abde66f089cc1ee19b"
    hooks:
      - id: rstcheck
        args: ["--ignore-roles=func,class,mod", "--report=warning"]
        types: [text] # necessary to include ChangeLog file
        files: ^(ChangeLog|doc/(.*/)*.*\.rst)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: python
        types: [python]
        args: []
        require_serial: true
        additional_dependencies: ["types-pkg_resources==0.1.3", "types-toml==0.1.3"]
        exclude: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/|bin/
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.3.2
    hooks:
      - id: prettier
        args: [--prose-wrap=always, --print-width=88]

Refactor and typing of OutputLine (#5060)
  pylint/testutils/output_line.py
  tests/testutils/test_output_line.py
Due: pylint

Refactor similar.py
  pylint/checkers/similar.py
Due: pylint

Add small bits of typing annotation
  pylint/reporters/base_reporter.py
  pylint/testutils/tokenize_str.py
  pylint/utils/pragma_parser.py
Due: pylint

Update pylint/checkers/similar.py
  pylint/checkers/similar.py
Due: pylint

Add explanation of change to _get_parents
  pylint/checkers/design_analysis.py
Due: pylint

fixup! Add regression test for #4972 hang
  tests/regrtest_data/hang/pkg4972/flask/__init__.py
  tests/regrtest_data/hang/pkg4972/string/__init__.py
  tests/test_regr.py
Due: pylint

Pretend to be Hindley-Milner for a day
  tests/test_regr.py
Due: pylint

Fix loop in too-many-ancestors when an inheritance cycle is inferred (#5062)
  pylint/checkers/design_analysis.py
  tests/regrtest_data/hang/pkg4972/__init__.py
  tests/regrtest_data/hang/pkg4972/string/__init__.py
  tests/test_regr.py
Due: pylint

Add small bits of typing annotation (#4954)
  pylint/reporters/base_reporter.py
  pylint/testutils/tokenize_str.py
  pylint/utils/pragma_parser.py
Due: pylint

Small py-version improvements (#5069)
  pylint/checkers/refactoring/recommendation_checker.py
  pylint/config/option.py
  pylint/extensions/code_style.py
  pylint/utils/utils.py
Due: pylint

Add ``no-implicit-optional`` flag to ``mypy``
  pylint/checkers/imports.py
  pylint/checkers/stdlib.py
  pylint/checkers/utils.py
  pylint/graph.py
  pylint/message/message_definition.py
  pylint/message/message_handler_mix_in.py
  setup.cfg
  tests/test_self.py
Due: pylint

Add ``no-implicit-optional`` flag to ``mypy`` (#5075)
  pylint/checkers/imports.py
  pylint/checkers/stdlib.py
  pylint/checkers/utils.py
  pylint/graph.py
  pylint/message/message_definition.py
  pylint/message/message_handler_mix_in.py
  setup.cfg
  tests/test_self.py
Due: pylint

Fix false-positive ``useless-suppression`` for ``line-too-long`` Also changes ``add_ignored_message()`` to make ``nodes`` parameter optional. Closes #4212
  ChangeLog
  pylint/checkers/format.py
  pylint/message/message_handler_mix_in.py
  tests/functional/u/useless/useless_suppression.py
Due: pylint, fix-documentation

Remove ``pytest`` marks in test_regr
  tests/test_regr.py
Due: pylint

Remove ``pytest`` marks in test_regr (#5076)
  tests/test_regr.py
Due: pylint

Fix ``invalid-name`` for overwritten base ``object`` methods
  ChangeLog
  pylint/checkers/utils.py
  tests/functional/i/invalid/invalid_name.py
  tests/functional/i/invalid/invalid_name.txt
Due: pylint, fix-documentation

pyreverse - Add project modules to sys.path
  pylint/pyreverse/main.py
Due: pylint

pyreverse - Add project modules to sys.path
  tests/pyreverse/conftest.py
Due: pylint

pyreverse - Add project modules to sys.path
  tests/pyreverse/test_writer.py
Due: pylint

pyreverse - Add project modules to sys.path
  tests/pyreverse/test_main.py
Due: pylint

Apply suggestions from code review
  pylint/pyreverse/diadefslib.py
Due: pylint

Fix ``invalid-name`` for overwritten base ``object`` methods (#5079)
  ChangeLog
  pylint/checkers/utils.py
  tests/functional/i/invalid/invalid_name.py
  tests/functional/i/invalid/invalid_name.txt
Due: pylint, fix-documentation

Fix false-positive ``useless-suppression`` for ``line-too-long`` (#5077)
  ChangeLog
  pylint/checkers/format.py
  pylint/message/message_handler_mix_in.py
  tests/functional/u/useless/useless_suppression.py
Due: pylint, fix-documentation

Fixed regex options not correctly converting to regex patterns
  ChangeLog
  pylint/utils/utils.py
Due: pylint, fix-documentation

Fixed empty ``no_docstring_rgx`` not working correctly Closes #4136
  ChangeLog
  pylint/extensions/docparams.py
  tests/extensions/test_check_docs.py
Due: pylint, fix-documentation

pyreverse - Add project modules to sys.path
  ChangeLog
Due: fix-documentation

Correctly identify parameters with no doc and add new message
  pylint/extensions/_check_docs_utils.py
  pylint/extensions/docparams.py
Due: pylint

Add functional tests for missing param doc messages
  tests/functional/m/missing/missing_param_doc.py
  tests/functional/m/missing/missing_param_doc.rc
  tests/functional/m/missing/missing_param_doc.txt
Due: none

Add missing setting to ``pylintrc``
  pylintrc
Due: none

Adjust type hint
  tests/pyreverse/test_main.py
Due: pylint

Fix empty regex options not converting to regex
  pylint/config/option.py
  pylint/utils/utils.py
  tests/extensions/test_check_docs.py
Due: pylint

Replace old messages with the new one where needed
  tests/extensions/test_check_docs.py
  tests/functional/ext/docparams.py
  tests/functional/ext/docparams.txt
  tests/functional/u/useless/useless_type_doc.py
  tests/functional/u/useless/useless_type_doc.txt
Due: pylint

WIP
  ChangeLog
  doc/whatsnew/2.11.rst
Due: fix-documentation

Move ``merge_stats`` to ``checkerstats.py``
  pylint/lint/parallel.py
  pylint/utils/__init__.py
  pylint/utils/checkerstats.py
Due: pylint
