Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

.pre-commit-config.yaml:

ci:
  skip: [pylint]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
        exclude: "tests/functional/t/trailing_whitespaces.py|tests/pyreverse/data/.*.html"
      - id: end-of-file-fixer
        exclude: "tests/functional/m/missing/missing_final_newline.py|tests/functional/t/trailing_newlines.py"
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
      - id: autoflake
        exclude: &fixtures tests/functional/|tests/input|doc/data/messages|tests(/\w*)*data/
        args:
          - --in-place
          - --remove-all-unused-imports
          - --expand-star-imports
          - --remove-duplicate-keys
          - --remove-unused-variables
  - repo: https://github.com/Pierre-Sassoulas/copyright_notice_precommit
    rev: 0.1.2
    hooks:
      - id: copyright-notice
        args: ["--notice=script/copyright.txt", "--enforce-all"]
        exclude: tests/functional/|tests/input|doc/data/messages|examples/|setup.py|tests(/\w*)*data/
        types: [python]
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.31.1
    hooks:
      - id: pyupgrade
        args: [--py36-plus]
        exclude: *fixtures
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
        exclude: doc/data/messages/(r/reimported|w/wrong-import-order|u/ungrouped-imports)/bad.py
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: [--safe, --quiet]
        exclude: *fixtures
  - repo: https://github.com/Pierre-Sassoulas/black-disable-checker
    rev: 1.0.1
    hooks:
      - id: black-disable-checker
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies: [flake8-typing-imports==1.12.0]
        exclude: *fixtures
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--rcfile=pylintrc", "--fail-on=I"]
        exclude: tests/functional/|tests/input|tests(/\w*)*data/|doc/
      - id: fix-documentation
        name: Fix documentation
        entry: python3 -m script.fix_documentation
        language: system
        types: [text]
        files: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
  - repo: https://github.com/myint/rstcheck
    rev: "3f92957478422df87bd730abde66f089cc1ee19b"
    hooks:
      - id: rstcheck
        args: ["--ignore-roles=func,class,mod", "--report=warning"]
        types: [text] # necessary to include ChangeLog file
        files: ^(ChangeLog|doc/(.*/)*.*\.rst)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.942
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: python
        types: [python]
        args: []
        require_serial: true
        additional_dependencies: ["platformdirs==2.2.0", "types-pkg_resources==0.1.3"]
        exclude: tests/functional/|tests/input|tests(/.*)+/conftest.py|doc/data/messages|tests(/\w*)*data/
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier
        args: [--prose-wrap=always, --print-width=88]
        exclude: tests(/\w*)*data/
  - repo: https://github.com/DanielNoord/pydocstringformatter
    rev: v0.5.3
    hooks:
      - id: pydocstringformatter
        exclude: *fixtures
        args: ["--split-summary-body", "--max-summary-lines=2"]
        files: "pylint"

Make ``linter`` non-optional for ``BaseChecker`` (#6188)
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/base_checker.py
  pylint/checkers/stdlib.py
  tests/checkers/unittest_base_checker.py
  tests/message/conftest.py
  tests/message/unittest_message_definition.py
  tests/message/unittest_message_definition_store.py
Due: pylint, fix-documentation

Update pylint/extensions/typing.py
  pylint/extensions/typing.py
Due: pylint

Handle missing keys in option dictionaries
  pylint/config/utils.py
  tests/config/test_deprecations.py
  tests/config/unittest_config.py
  tests/lint/unittest_expand_modules.py
  tests/regrtest_data/dummy_plugin/dummy_plugin.py
Due: pylint

Add test
  pylint/config/options_provider_mixin.py
  tests/pyreverse/test_main.py
Due: pylint

Add changelog
  ChangeLog
  doc/whatsnew/2.14.rst
Due: fix-documentation

Refactor ``ArgumentsManager.help``
  pylint/config/arguments_manager.py
  pylint/config/callback_actions.py
  pylint/config/config_initialization.py
  tests/config/test_deprecations.py
Due: pylint

Deprecate ``load_command_line_configuration``
  pylint/config/arguments_manager.py
  pylint/config/config_initialization.py
  tests/checkers/unittest_format.py
  tests/lint/test_pylinter.py
Due: pylint

Update TODOs and add changelog entry about ``ArgumentsManager``
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/config/arguments_manager.py
Due: pylint, fix-documentation

Remove the ``future_option_parsing`` keyword
  pylint/checkers/async.py
  pylint/checkers/base/docstring_checker.py
  pylint/checkers/base_checker.py
  pylint/checkers/classes/class_checker.py
  pylint/checkers/design_analysis.py
  pylint/checkers/exceptions.py
  pylint/checkers/format.py
  pylint/checkers/imports.py
  pylint/checkers/logging.py
  pylint/checkers/misc.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/similar.py
  pylint/checkers/spelling.py
  pylint/checkers/strings.py
  pylint/checkers/typecheck.py
  pylint/config/exceptions.py
  pylint/extensions/bad_builtin.py
  pylint/extensions/broad_try_clause.py
  pylint/extensions/code_style.py
  pylint/extensions/docparams.py
  pylint/extensions/mccabe.py
  pylint/extensions/typing.py
  pylint/lint/pylinter.py
Due: pylint

Fix lint
  pylint/checkers/raw_metrics.py
Due: pylint

Fix regression
  pylint/pyreverse/main.py
  tests/pyreverse/test_main.py
Due: pylint

Remove the ``future_option_parsing`` keyword (#6253)
  pylint/checkers/async.py
  pylint/checkers/base/docstring_checker.py
  pylint/checkers/base_checker.py
  pylint/checkers/classes/class_checker.py
  pylint/checkers/design_analysis.py
  pylint/checkers/exceptions.py
  pylint/checkers/format.py
  pylint/checkers/imports.py
  pylint/checkers/logging.py
  pylint/checkers/misc.py
  pylint/checkers/raw_metrics.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/similar.py
  pylint/checkers/spelling.py
  pylint/checkers/strings.py
  pylint/checkers/typecheck.py
  pylint/config/exceptions.py
  pylint/extensions/bad_builtin.py
  pylint/extensions/broad_try_clause.py
  pylint/extensions/code_style.py
  pylint/extensions/docparams.py
  pylint/extensions/mccabe.py
  pylint/extensions/typing.py
  pylint/lint/pylinter.py
Due: pylint

Copy all ``OptionsProvideMixIn`` methods to ``ArgumentsProvider``
  pylint/checkers/base_checker.py
  pylint/config/arguments_provider.py
Due: pylint

Require python ``3.7.2+`` (#5921)
  .github/workflows/tests.yaml
  ChangeLog
  README.rst
  doc/development_guide/testing.rst
  doc/faq.rst
  doc/whatsnew/2.14.rst
  pylint/checkers/non_ascii_names.py
  pylint/constants.py
  pylint/extensions/typing.py
  requirements_test.txt
  setup.cfg
  tests/functional/d/deprecated/deprecated_method_getmoduleinfo.py
  tests/functional/d/deprecated/deprecated_method_getmoduleinfo.rc
  tests/functional/d/deprecated/deprecated_method_getmoduleinfo.txt
  tests/functional/d/deprecated/deprecated_module_py3.rc
  tests/functional/i/inconsistent/inconsistent_returns_noreturn.rc
  tests/functional/i/inherit_non_class.py
  tests/functional/i/inherit_non_class.txt
  tox.ini
Due: pylint, fix-documentation

Fix test
  tests/test_regr.py
Due: pylint

Set ``pyupgrade`` to ``--py37-plus``
  .pre-commit-config.yaml
  tests/config/unittest_config.py
  tests/test_self.py
Due: pylint

Copy all ``OptionsProvideMixIn`` methods to ``ArgumentsProvider`` (#6257)
  pylint/checkers/base_checker.py
  pylint/config/arguments_provider.py
  tests/test_regr.py
Due: pylint

Remove ``OptionsProviderMixIn`` from ``BaseChecker``
  pylint/checkers/base_checker.py
  pylint/config/arguments_manager.py
  pylint/config/arguments_provider.py
  tests/test_regr.py
Due: pylint

Use ``namespace`` in two more checkers
  pylint/checkers/base/name_checker/checker.py
  pylint/checkers/variables.py
  pylint/config/utils.py
Due: pylint

Added no-else-break message example
  doc/data/messages/n/no-else-break/bad.py
  doc/data/messages/n/no-else-break/good.py
Due: none

Added no-else-continue message example
  doc/data/messages/n/no-else-continue/bad.py
  doc/data/messages/n/no-else-continue/good.py
Due: none

Added no-else-return message example
  doc/data/messages/n/no-else-return/bad.py
  doc/data/messages/n/no-else-return/good.py
Due: none

Added no-else-raise message example
  doc/data/messages/n/no-else-raise/bad.py
  doc/data/messages/n/no-else-raise/good.py
Due: none

Added no-else-raise message example (#6264)
  doc/data/messages/n/no-else-raise/bad.py
  doc/data/messages/n/no-else-raise/good.py
Due: none

Added no-else-return message example (#6265)
  doc/data/messages/n/no-else-return/bad.py
  doc/data/messages/n/no-else-return/good.py
Due: none

Number of small refactors in ``argparse`` code
  pylint/config/arguments_manager.py
  pylint/config/config_initialization.py
  pylint/lint/pylinter.py
  pylint/typing.py
Due: pylint

Apply suggestions from code review
  pylint/typing.py
Due: pylint

Number of small refactors in ``argparse`` code (#6266)
  pylint/config/arguments_manager.py
  pylint/config/config_initialization.py
  pylint/lint/pylinter.py
  pylint/typing.py
Due: pylint

Create ``_OutputFormatAction``
  pylint/config/callback_actions.py
  pylint/lint/pylinter.py
  pylint/testutils/decorator.py
  pylint/typing.py
Due: pylint

Create ``_OutputFormatAction`` (#6267)
  pylint/config/callback_actions.py
  pylint/lint/pylinter.py
  pylint/testutils/decorator.py
  pylint/typing.py
Due: pylint

Remove removed messages from the tests
  pylint/constants.py
  tests/functional/d/disabled_msgid_in_pylintrc.rc
  tests/functional/n/name/name_styles.rc
  tests/functional/o/old_division_floats.py
  tests/functional/o/old_division_floats.rc
  tests/functional/o/old_division_manually.py
  tests/functional/o/old_division_manually.rc
Due: pylint

Add ``_DisableAction`` and ``_EnableAction``
  pylint/config/callback_actions.py
Due: pylint

Fix handling of rich types in ``ini`` and ``toml`` files
  pylint/config/config_file_parser.py
  pylint/config/utils.py
Due: pylint

Oops
  pylint/constants.py
Due: pylint
