Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

.pre-commit-config.yaml:

ci:
  skip: [pylint]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
        exclude: "tests/functional/t/trailing_whitespaces.py"
      - id: end-of-file-fixer
        exclude: "tests/functional/m/missing/missing_final_newline.py|tests/functional/t/trailing_newlines.py"
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
      - id: autoflake
        exclude: &fixtures tests/functional/|tests/input|tests/regrtest_data/|tests/data/
        args:
          - --in-place
          - --remove-all-unused-imports
          - --expand-star-imports
          - --remove-duplicate-keys
          - --remove-unused-variables
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.29.1
    hooks:
      - id: pyupgrade
        args: [--py36-plus]
        exclude: *fixtures
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 21.11b1
    hooks:
      - id: black
        args: [--safe, --quiet]
        exclude: *fixtures
  - repo: https://github.com/Pierre-Sassoulas/black-disable-checker/
    rev: 1.0.1
    hooks:
      - id: black-disable-checker
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies: [flake8-typing-imports==1.10.1]
        exclude: *fixtures
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "-rn",
            "-sn",
            "--rcfile=pylintrc",
            "--fail-on=I",
            "--load-plugins=pylint.extensions.docparams",
          ]
        # disabled plugins: pylint.extensions.mccabe
        exclude: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
      - id: fix-documentation
        name: Fix documentation
        entry: python3 -m script.fix_documentation
        language: system
        types: [text]
        files: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
  - repo: https://github.com/myint/rstcheck
    rev: "3f92957478422df87bd730abde66f089cc1ee19b"
    hooks:
      - id: rstcheck
        args: ["--ignore-roles=func,class,mod", "--report=warning"]
        types: [text] # necessary to include ChangeLog file
        files: ^(ChangeLog|doc/(.*/)*.*\.rst)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910-1
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: python
        types: [python]
        args: []
        require_serial: true
        additional_dependencies:
          ["platformdirs==2.2.0", "types-pkg_resources==0.1.3", "types-toml==0.1.3"]
        exclude: tests/functional/|tests/input|tests(/.*)*/data|tests/regrtest_data/|tests/data/|tests(/.*)+/conftest.py|doc/|bin/
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.4.1
    hooks:
      - id: prettier
        args: [--prose-wrap=always, --print-width=88]

Move tests from ``TestConfusingConsecutiveElifChecker`` to functional tests (#5517)
  tests/extensions/test_confusing_elif.py
  tests/functional/ext/confusing_elif/confusing_elif.py
  tests/functional/ext/confusing_elif/confusing_elif.txt
Due: pylint

Allow checking of `end_col_offset` and `end_lineno` in unittests
  pylint/testutils/output_line.py
  pylint/testutils/unittest_linter.py
Due: pylint

Allow checking of `col_offset` in unittests
  pylint/testutils/unittest_linter.py
Due: pylint

Add location attributes to messages of ``TestTypeChecker``
  tests/checkers/unittest_typecheck.py
Due: pylint

Fix ``TestMultiNamingStyle``
  tests/checkers/unittest_base.py
Due: pylint

Allow checking of `lineno` in unittests
  pylint/testutils/unittest_linter.py
Due: pylint

Update tests for ``TestImportsChecker``
  tests/checkers/unittest_imports.py
Due: pylint

Update tests for ``TestVariablesChecker``
  tests/checkers/unittest_variables.py
Due: pylint

Fix message checking on < 3.8
  pylint/testutils/checker_test_case.py
Due: pylint

Add location params to ``TestMessage``'s of ``TestDeprecatedChecker``
  tests/checkers/unittest_deprecated.py
Due: pylint

Add location params to ``TestMessage``'s of ``TestTypeCheckerOnDecorators``
  tests/checkers/unittest_typecheck.py
Due: pylint

Add changelog and ``DeprecationWarning``
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/testutils/checker_test_case.py
Due: pylint, fix-documentation

Fix assertion message
  pylint/testutils/checker_test_case.py
Due: pylint

Produce a score of 0 for fatal errors
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/lint/pylinter.py
  pylint/lint/run.py
  tests/test_self.py
Due: pylint, fix-documentation

Use Daniel's improvement suggestions
  ChangeLog
  pylint/checkers/ellipsis_checker.py
  tests/functional/u/unnecessary/unnecessary_ellipsis.py
  tests/functional/u/unnecessary/unnecessary_ellipsis.txt
Due: pylint, fix-documentation

Changelog -> One line
  ChangeLog
Due: fix-documentation

Fix false-positive 'used-before-assignment' for assignments in except blocks following try blocks that return (#5506)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/variables.py
  tests/functional/u/use/used_before_assignment_except_handler_for_try_with_return.py
  tests/functional/u/use/used_before_assignment_except_handler_for_try_with_return.txt
Due: pylint, fix-documentation

Fix in evaluation expression instead
  ChangeLog
  doc/faq.rst
  doc/whatsnew/2.13.rst
  examples/pylintrc
  pylint/lint/pylinter.py
  pylintrc
Due: pylint, fix-documentation

Update functional tests with examples of `typing.overload` code
  pylint/checkers/ellipsis_checker.py
  tests/functional/u/unnecessary/unnecessary_ellipsis.py
  tests/functional/u/unnecessary/unnecessary_ellipsis.txt
Due: pylint

Add additional test cases used-before-assignment with try-except
  tests/functional/u/use/used_before_assignment_except_handler_for_try_with_return.py
  tests/functional/u/use/used_before_assignment_except_handler_for_try_with_return.txt
Due: none

Add ``future=True`` to all ``NodeNG.statement()`` calls
  pylint/checkers/base.py
  pylint/checkers/classes.py
  pylint/checkers/format.py
  pylint/checkers/typecheck.py
  pylint/checkers/utils.py
  pylint/checkers/variables.py
  tests/functional/r/regression_02/regression_node_statement.py
Due: pylint

New checker - Detect use of unnecessary ellipsis (#5470)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/ellipsis_checker.py
  tests/functional/c/class_members.py
  tests/functional/s/statement_without_effect.py
  tests/functional/t/too/too_few_public_methods_excluded.py
  tests/functional/u/unnecessary/unnecessary_ellipsis.py
  tests/functional/u/unnecessary/unnecessary_ellipsis.txt
Due: pylint, fix-documentation

Potentially fix bugs?
  pylint/checkers/typecheck.py
Due: pylint

Update pylint/checkers/format.py
  pylint/checkers/format.py
Due: pylint

Check `node` location attributes in unittests and update tests (#5383)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/testutils/checker_test_case.py
  pylint/testutils/output_line.py
  pylint/testutils/unittest_linter.py
  tests/checkers/unittest_base.py
  tests/checkers/unittest_deprecated.py
  tests/checkers/unittest_imports.py
  tests/checkers/unittest_typecheck.py
  tests/checkers/unittest_variables.py
Due: pylint, fix-documentation

Add Confidences in pylint.interfaces API
  pylint/interfaces.py
Due: pylint

Fix typo in pylint/interfaces.py
  pylint/interfaces.py
Due: pylint

Update typing of reporter attributes in ``PyLinter``
  pylint/lint/pylinter.py
  pylint/reporters/base_reporter.py
Due: pylint

Modify the description of HIGH confidence for accuracy
  pylint/interfaces.py
Due: pylint

Fix the typing of pylint.interfaces.implements
  pylint/interfaces.py
Due: pylint

Use assert
  pylint/lint/pylinter.py
Due: pylint

Fix #3675: `safe_infer()` finds ambiguity among function definitions when number of arguments differ (#5409)
  ChangeLog
  pylint/checkers/utils.py
  tests/functional/c/consider/consider_using_with.py
  tests/functional/c/consider/consider_using_with.txt
  tests/functional/t/too/too_many_function_args.py
Due: pylint, fix-documentation

Move types
  pylint/extensions/_check_docs_utils.py
Due: pylint

Update tests/functional/ext/docparams/raise/missing_raises_doc_exc_inheritance.py
  tests/functional/ext/docparams/raise/missing_raises_doc_exc_inheritance.py
Due: none

Add empty line
  pylint/extensions/docparams.py
Due: pylint

exc
  .vscode/settings.json
  pylint/extensions/_check_docs_utils.py
Due: pylint
