Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

Remove explicit default values from overloads (#6447)
  pylint/epylint.py
  pylint/reporters/text.py
  pylint/utils/utils.py
Due: pylint

Add typing to ``BaseChecker`` ``msgs`` and ``reports`` (#6456)
  pylint/checkers/base_checker.py
  pylint/checkers/classes/class_checker.py
  pylint/checkers/design_analysis.py
  pylint/checkers/exceptions.py
  pylint/checkers/format.py
  pylint/checkers/imports.py
  pylint/checkers/logging.py
  pylint/checkers/newstyle.py
  pylint/checkers/similar.py
  pylint/checkers/strings.py
  pylint/checkers/typecheck.py
  pylint/checkers/variables.py
  pylint/lint/pylinter.py
  pylint/lint/report_functions.py
  pylint/reporters/reports_handler_mix_in.py
  pylint/typing.py
  tests/config/unittest_config.py
  tests/lint/unittest_expand_modules.py
Due: pylint

Add documentation examples of consider-using-f-string
  doc/data/messages/c/consider-using-f-string/bad.py
  doc/data/messages/c/consider-using-f-string/good.py
Due: none

Add further typing to ``BaseChecker``
  pylint/checkers/base_checker.py
Due: pylint

Use a ``TypedDict`` for the keys in message definitions
  pylint/typing.py
Due: pylint

Finish typing of ``BaseChecker``
  pylint/checkers/base_checker.py
Due: pylint

Fix all lint errors in 'pylint/__pkginfo__.py' using default conf
  pylint/__pkginfo__.py
  tests/test_self.py
Due: pylint

Use an empty pylintrc for tests using project's pylintrc implicitely
  pylint/testutils/_run.py
  tests/benchmark/test_baseline_benchmarks.py
  tests/checkers/unittest_refactoring.py
  tests/config/test_argparse_config.py
  tests/config/test_config.py
  tests/conftest.py
  tests/data/empty_pylintrc
  tests/lint/test_utils.py
  tests/lint/unittest_lint.py
  tests/message/unittest_message_id_store.py
  tests/primer/test_primer_stdlib.py
  tests/profile/test_profile_against_externals.py
  tests/test_self.py
  tests/test_similar.py
Due: pylint

[spelling] Remove remaining typoes detected by the spelling checker
  .pyenchant_pylint_custom_dict.txt
  ChangeLog
  doc/user_guide/ide-integration.rst
  elisp/pylint-flymake.el
  examples/custom.py
  pylint/checkers/dunder_methods.py
  pylint/checkers/non_ascii_names.py
  pylint/checkers/similar.py
  pylint/checkers/strings.py
  pylint/checkers/typecheck.py
  pylint/checkers/unicode.py
  pylint/checkers/utils.py
  pylint/checkers/variables.py
  pylint/config/arguments_manager.py
  pylint/epylint.py
  pylint/extensions/private_import.py
  pylint/lint/pylinter.py
  pylint/pyreverse/diadefslib.py
  pylint/pyreverse/utils.py
  pylint/pyreverse/vcg_printer.py
  pylint/reporters/text.py
  tests/checkers/unittest_variables.py
  tests/functional/i/iterable_context.py
  tests/functional/u/unnecessary/unnecessary_dunder_call.py
  tests/functional/u/unused/unused_private_member.py
  tests/pyreverse/test_main.py
  tests/test_check_parallel.py
  tests/test_functional.py
  tests/test_regr.py
  tests/test_self.py
Due: pylint, fix-documentation

[spelling] Fix all ie / eg => i.e. / e.g.
  ChangeLog
  examples/custom.py
  pylint/checkers/strings.py
  pylint/checkers/variables.py
  tests/functional/u/unused/unused_argument.py
Due: pylint, fix-documentation

[spelling] Fix a typo in 'ending'
  pylint/testutils/configuration_test.py
Due: pylint

[spelling] ANSI is an accronym and should be capitalized
  pylint/reporters/text.py
Due: pylint

[spelling] Capitalize emacs where it makes sense
  CONTRIBUTORS.txt
  ChangeLog
  doc/whatsnew/2.13.rst
  elisp/startup
  pylint/epylint.py
  pylint/lint/base_options.py
  pylint/utils/utils.py
  tests/functional/e/.#emacs_file_lock.py
  tests/functional/e/.#emacs_file_lock_by_conf.py
Due: pylint, fix-documentation

[spelling] Add a configuration for the spelling checker
  .pyenchant_pylint_custom_dict.txt
  pylintrc
Due: none

Add typing to 'check_for_concatenated_strings' in StringChecker
  pylint/checkers/strings.py
Due: pylint

Add further typing to ``BaseChecker`` (#6461)
  pylint/checkers/base_checker.py
  pylint/typing.py
Due: pylint

Only run spelling checks in CI with manual hook
  .github/workflows/checks.yaml
  .pre-commit-config.yaml
  pylintrc
Due: none

Remove some words from custom dictionary and update spelling
  .pyenchant_pylint_custom_dict.txt
  pylint/checkers/base/basic_checker.py
  pylint/checkers/base/name_checker/naming_style.py
  pylint/checkers/format.py
  pylint/checkers/mapreduce_checker.py
  pylint/checkers/misc.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/similar.py
  pylint/checkers/spelling.py
  pylint/checkers/strings.py
  pylint/checkers/typecheck.py
  pylint/config/exceptions.py
  pylint/config/utils.py
  pylint/epylint.py
  pylint/extensions/docparams.py
  pylint/extensions/redefined_variable_type.py
  pylint/graph.py
  pylint/lint/pylinter.py
  pylint/lint/run.py
  pylint/pyreverse/inspector.py
  pylint/testutils/decorator.py
  pylint/testutils/functional/find_functional_tests.py
  tests/checkers/unittest_spelling.py
  tests/lint/unittest_lint.py
  tests/test_check_parallel.py
  tests/test_self.py
Due: pylint

Add some extra examples, and a details.rst to explain it
  doc/data/messages/c/consider-using-f-string/bad.py
  doc/data/messages/c/consider-using-f-string/details.rst
  doc/data/messages/c/consider-using-f-string/good.py
Due: none

Update doc/data/messages/c/consider-using-f-string/details.rst
  doc/data/messages/c/consider-using-f-string/details.rst
Due: none

Add documentation examples of consider-using-f-string (#6460)
  doc/data/messages/c/consider-using-f-string/bad.py
  doc/data/messages/c/consider-using-f-string/details.rst
  doc/data/messages/c/consider-using-f-string/good.py
Due: none

Add details
  doc/data/messages/m/logging-format-interpolation/details.rst
  doc/data/messages/m/logging-fstring-interpolation/details.rst
Due: none

Apply suggestions from code review
  doc/data/messages/m/logging-format-interpolation/related.rst
  doc/data/messages/m/logging-fstring-interpolation/related.rst
Due: none

Move files from m/ to l/
  doc/data/messages/l/logging-format-interpolation/bad.py
  doc/data/messages/l/logging-format-interpolation/details.rst
  doc/data/messages/l/logging-format-interpolation/good.py
  doc/data/messages/l/logging-format-interpolation/related.rst
  doc/data/messages/l/logging-fstring-interpolation/bad.py
  doc/data/messages/l/logging-fstring-interpolation/details.rst
  doc/data/messages/l/logging-fstring-interpolation/good.py
  doc/data/messages/l/logging-fstring-interpolation/related.rst
Due: none

Add an assertion to check that the structure is correct
  doc/test_messages_documentation.py
Due: none

Added logging-fstring-interpolation and logging-format-interpolation message examples' (#6404)
  doc/data/messages/l/logging-format-interpolation/bad.py
  doc/data/messages/l/logging-format-interpolation/details.rst
  doc/data/messages/l/logging-format-interpolation/good.py
  doc/data/messages/l/logging-format-interpolation/related.rst
  doc/data/messages/l/logging-fstring-interpolation/bad.py
  doc/data/messages/l/logging-fstring-interpolation/details.rst
  doc/data/messages/l/logging-fstring-interpolation/good.py
  doc/data/messages/l/logging-fstring-interpolation/related.rst
Due: none

whatsnew changelog
  doc/whatsnew/2.13.rst
Due: fix-documentation

Avoid reporting superfluous-parens after an ``is not`` operator (#6451)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/format.py
  tests/functional/s/superfluous_parens.py
Due: pylint, fix-documentation

Fix typos in profiling document
  doc/development_guide/profiling.rst
Due: none

Path conditions:
  pylint: any of: \.py$, but not: tests/functional/|tests/input|tests(/\w*)*data/|doc/
  fix-documentation: any of: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
