Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

Split float precision concerns out of bad-number-notation
  doc/data/messages/b/bad-float-precision/bad.py
  doc/data/messages/b/bad-float-precision/details.rst
  doc/data/messages/b/bad-float-precision/good.py
  doc/data/messages/b/bad-number-notation/details.rst
  doc/user_guide/checkers/features.rst
  doc/user_guide/messages/messages_overview.rst
  doc/whatsnew/fragments/10425.feature
  pylint/checkers/format.py
  tests/functional/b/bad_float/bad_float_precision.py
  tests/functional/b/bad_float/bad_float_precision.txt
  tests/functional/b/bad_number/bad_number_notation_default.py
  tests/functional/b/bad_number/bad_number_notation_default.txt
  tests/functional/b/bad_number/bad_number_pep515.py
  tests/functional/b/bad_number/bad_number_pep515.txt
Due: pylint, check-newsfragments

Preserve and optionally force PEP 515 grouping in mantissa suggestions
  doc/user_guide/configuration/all-options.rst
  doc/whatsnew/fragments/10425.feature
  pylint/checkers/format.py
  tests/functional/b/bad_float/bad_float_precision.py
  tests/functional/b/bad_float/bad_float_precision.txt
  tests/functional/b/bad_number/bad_number_multi_eng_under.txt
  tests/functional/b/bad_number/bad_number_multi_sci_eng.txt
  tests/functional/b/bad_number/bad_number_multi_sci_under.txt
  tests/functional/b/bad_number/bad_number_notation_default.txt
  tests/functional/b/bad_number/bad_number_suggest_mantissa_underscore.py
  tests/functional/b/bad_number/bad_number_suggest_mantissa_underscore.rc
  tests/functional/b/bad_number/bad_number_suggest_mantissa_underscore.txt
Due: pylint, check-newsfragments

Accept multi-style number-notation-style as a CSV list
  doc/user_guide/configuration/all-options.rst
  pylint/checkers/format.py
  tests/checkers/unittest_format.py
  tests/functional/b/bad_number/bad_number_multi_eng_under.py
  tests/functional/b/bad_number/bad_number_multi_eng_under.rc
  tests/functional/b/bad_number/bad_number_multi_eng_under.txt
  tests/functional/b/bad_number/bad_number_multi_sci_eng.py
  tests/functional/b/bad_number/bad_number_multi_sci_eng.rc
  tests/functional/b/bad_number/bad_number_multi_sci_eng.txt
  tests/functional/b/bad_number/bad_number_multi_sci_under.py
  tests/functional/b/bad_number/bad_number_multi_sci_under.rc
  tests/functional/b/bad_number/bad_number_multi_sci_under.txt
Due: pylint

Suggest PEP 515 grouping for integers and flag unconventional zeros
  custom_dict.txt
  doc/data/messages/b/bad-number-notation/details.rst
  doc/user_guide/configuration/all-options.rst
  pylint/checkers/format.py
  tests/checkers/unittest_format.py
  tests/functional/b/bad_number/bad_number_binary_notation.py
  tests/functional/b/bad_number/bad_number_binary_notation.txt
  tests/functional/b/bad_number/bad_number_hex_notation.py
  tests/functional/b/bad_number/bad_number_hex_notation.txt
  tests/functional/b/bad_number/bad_number_notation_default.py
  tests/functional/b/bad_number/bad_number_notation_default.txt
  tests/functional/b/bad_number/bad_number_octal_notation.py
  tests/functional/b/bad_number/bad_number_octal_notation.txt
  tests/functional/b/bad_number/bad_number_pep515.py
  tests/functional/b/bad_number/bad_number_pep515.txt
  tests/functional/b/bad_number/bad_number_suggest_int_underscore.py
  tests/functional/b/bad_number/bad_number_suggest_int_underscore.rc
  tests/functional/b/bad_number/bad_number_suggest_int_underscore.txt
Due: pylint

Detect overflow and underflow, and split the check into branch handlers
  pylint/checkers/format.py
  tests/functional/b/bad_number/bad_number_engineering_notation.txt
  tests/functional/b/bad_number/bad_number_notation_default.py
  tests/functional/b/bad_number/bad_number_notation_default.txt
  tests/functional/b/bad_number/bad_number_pep515.py
  tests/functional/b/bad_number/bad_number_pep515.txt
  tests/functional/b/bad_number/bad_number_scientific_notation.txt
  tests/functional/b/bad_number/bad_number_suggest_int_underscore.txt
Due: pylint

Let bad-integer-notation leave recognizable integers alone
  doc/data/messages/b/bad-integer-notation/details.rst
  doc/user_guide/configuration/all-options.rst
  doc/whatsnew/fragments/10425.feature
  pylint/checkers/format.py
  tests/checkers/unittest_format.py
  tests/functional/b/bad_integer/bad_integer_notation.py
  tests/functional/b/bad_integer/bad_integer_notation.txt
  tests/functional/b/bad_integer/bad_integer_notation_ignored.py
  tests/functional/b/bad_integer/bad_integer_notation_ignored.rc
  tests/functional/b/bad_integer/bad_integer_notation_ignored.txt
Due: pylint, check-newsfragments

Simplify import-self false-positive fix for #3748
  ansible_urls.py
  pylint/checkers/imports.py
Due: pylint

Fix false positive on used deeply-dotted sibling submodule imports
  pylint/checkers/variables.py
  tests/functional/u/unused/unused_import_sibling_dotted_submodule.py
  tests/functional/u/unused/unused_import_sibling_dotted_submodule.txt
Due: pylint

Fix bare annotations hiding unbound names in exception paths
  doc/whatsnew/fragments/10847.false_negative
  pylint/checkers/variables.py
  tests/functional/u/used/used_before_assignment_type_annotations.py
  tests/functional/u/used/used_before_assignment_type_annotations.txt
Due: pylint, check-newsfragments

Fix a crash in the ``using-final-decorator-in-unsupported-version`` check when ``import final`` is used.
  doc/whatsnew/fragments/11521.bugfix
  pylint/checkers/classes/class_checker.py
  pylint/checkers/unsupported_version.py
  pylint/checkers/utils.py
  tests/functional/o/overridden_final_method_import_error.py
  tests/functional/u/unsupported/unsupported_version_for_final_import_error.py
Due: pylint, check-newsfragments

``mypy`` fixes.
  pylint/checkers/classes/class_checker.py
  pylint/checkers/unsupported_version.py
Due: pylint

Ask once whether a node refers to a member of a module
  doc/whatsnew/fragments/11294.internal
  doc/whatsnew/fragments/11294.other
  pylint/checkers/utils.py
  pylint/checkers/variables.py
  tests/checkers/unittest_utils.py
Due: pylint, check-newsfragments

Move ``REVERSED_COMPS`` to ``pylint.checkers.utils``
  pylint/checkers/utils.py
  pylint/extensions/comparison_placement.py
Due: pylint

Recognize version guards however sys.version_info is spelled
  doc/whatsnew/fragments/11293.false_positive
  pylint/checkers/utils.py
  tests/checkers/unittest_utils.py
  tests/functional/d/deprecated/deprecated_class_sys_guard.py
  tests/functional/d/deprecated/deprecated_class_sys_guard.txt
  tests/functional/i/import_error.py
  tests/functional/i/import_error.txt
  tests/functional/n/no/no_name_in_module.py
  tests/functional/n/no/no_name_in_module.txt
  tests/functional/u/ungrouped_imports.py
  tests/functional/u/ungrouped_imports.txt
Due: pylint, check-newsfragments

Add a ``useless-version-check`` message, disabled by default
  doc/data/messages/u/useless-version-check/bad.py
  doc/data/messages/u/useless-version-check/details.rst
  doc/data/messages/u/useless-version-check/good.py
  doc/data/messages/u/useless-version-check/pylintrc
  doc/whatsnew/fragments/7803.feature
  pylint/checkers/unsupported_version.py
  tests/functional/u/useless/useless_version_check.py
  tests/functional/u/useless/useless_version_check.rc
  tests/functional/u/useless/useless_version_check.txt
Due: pylint, check-newsfragments

Fix used-before-assignment false positive for tuple targets in multi-item with
  doc/whatsnew/fragments/7545.false_positive
  pylint/checkers/utils.py
  tests/functional/u/used/used_before_assignment_with_items.py
  tests/functional/u/used/used_before_assignment_with_items.txt
Due: pylint, check-newsfragments

Fix CI: remove newly-detected unused import and cover new branches
  tests/functional/u/unused/unused_import_sibling_dotted_submodule.py
  tests/functional/u/unused/unused_import_sibling_dotted_submodule.txt
  tests/test_check_parallel.py
Due: pylint

Fix TypeError crash on metaclass with lineno-less name binding (#11511) (#11512)
  doc/whatsnew/fragments/11511.bugfix
  pylint/checkers/variables.py
  tests/functional/m/metaclass_lineno_none.py
Due: pylint, check-newsfragments

Update doc/whatsnew/fragments/11510.bugfix
  doc/whatsnew/fragments/11510.bugfix
Due: check-newsfragments

remvoe changelog
  doc/whatsnew/fragments/10609.internal
Due: check-newsfragments

Revert "Tighten ``confidence`` to non-nullable in the emit/filter pipeline"
  doc/whatsnew/fragments/11530.bugfix
  pylint/checkers/base_checker.py
  pylint/lint/message_state_handler.py
  pylint/lint/pylinter.py
  pylint/message/message.py
  pylint/testutils/output_line.py
  pylint/testutils/unittest_linter.py
  tests/lint/unittest_lint.py
  tests/reporters/unittest_json_reporter.py
Due: pylint, check-newsfragments

Deprecate passing confidence=None explicitly
  doc/whatsnew/fragments/11530.bugfix
  pylint/checkers/base_checker.py
  pylint/interfaces.py
  pylint/lint/pylinter.py
  pylint/message/message.py
  pylint/testutils/unittest_linter.py
  tests/lint/unittest_lint.py
  tests/reporters/unittest_json_reporter.py
  tests/testutils/test_checker_test_case.py
Due: pylint, check-newsfragments

Fix crash on TypeVar used as context manager in a with statement (#11510) (#11515)
  doc/whatsnew/fragments/11510.bugfix
  pylint/checkers/typecheck.py
  tests/functional/n/not_context_manager_typevar.py
  tests/functional/n/not_context_manager_typevar.rc
  tests/functional/n/not_context_manager_typevar.txt
Due: pylint, check-newsfragments

Use `is_typing_member` to determine if a `typing.final` decorator is being used. (#11526)
  doc/whatsnew/fragments/11521.bugfix
  pylint/checkers/classes/class_checker.py
  pylint/checkers/unsupported_version.py
  pylint/checkers/utils.py
  tests/functional/o/overridden_final_method_import_error.py
  tests/functional/u/unsupported/unsupported_version_for_final_import_error.py
Due: pylint, check-newsfragments

Revert confidence non nullable 11530 (#11532)
  doc/whatsnew/fragments/11530.bugfix
  pylint/checkers/base_checker.py
  pylint/interfaces.py
  pylint/lint/message_state_handler.py
  pylint/lint/pylinter.py
  pylint/message/message.py
  pylint/testutils/output_line.py
  pylint/testutils/unittest_linter.py
  tests/lint/unittest_lint.py
  tests/testutils/test_checker_test_case.py
Due: pylint, check-newsfragments

Bump pylint to 4.1.2, update changelog
  doc/whatsnew/4/4.1/index.rst
  doc/whatsnew/fragments/11491.bugfix
  doc/whatsnew/fragments/11492.bugfix
  doc/whatsnew/fragments/11510.bugfix
  doc/whatsnew/fragments/11511.bugfix
  doc/whatsnew/fragments/11521.bugfix
  doc/whatsnew/fragments/11530.bugfix
  doc/whatsnew/fragments/2621.false_positive
  pylint/__pkginfo__.py
  tbump.toml
  towncrier.toml
Due: pylint, check-newsfragments

Bump pylint to 4.1.2, update changelog (#11536)
  doc/whatsnew/4/4.1/index.rst
  doc/whatsnew/fragments/11491.bugfix
  doc/whatsnew/fragments/11492.bugfix
  doc/whatsnew/fragments/11510.bugfix
  doc/whatsnew/fragments/11511.bugfix
  doc/whatsnew/fragments/11521.bugfix
  doc/whatsnew/fragments/11530.bugfix
  doc/whatsnew/fragments/2621.false_positive
  pylint/__pkginfo__.py
  tbump.toml
  towncrier.toml
Due: pylint, check-newsfragments

Fix invalid-name for __main__ modules in naming presets
  doc/whatsnew/fragments/10442.false_positive
  pylint/checkers/base/name_checker/naming_style.py
  tests/checkers/base/unittest_name_preset.py
Due: pylint, check-newsfragments

Align helper type annotations with handled AST values
  doc/whatsnew/fragments/11524.internal
  pylint/checkers/strings.py
  pylint/checkers/utils.py
  pylint/config/arguments_provider.py
  pylint/pyreverse/inspector.py
  pylint/pyreverse/utils.py
  tests/checkers/unittest_utils.py
  tests/pyreverse/test_inspector.py
  tests/pyreverse/test_utils.py
Due: pylint, check-newsfragments

Respect boolean values for flags in configuration files
  doc/whatsnew/fragments/8460.bugfix
  pylint/config/argument.py
  pylint/config/arguments_manager.py
  tests/config/test_config.py
Due: pylint, check-newsfragments

Format integer statistics with diff_string in table_lines_from_stats
  doc/whatsnew/fragments/11520.bugfix
  pylint/checkers/__init__.py
  tests/checkers/unittest_table_lines_from_stats.py
Due: pylint, check-newsfragments

Fix false positive unnecessary-ellipsis for Protocol methods inside TYPE_CHECKING
  doc/whatsnew/fragments/11459.bugfix
  pylint/checkers/ellipsis_checker.py
  tests/functional/u/unnecessary/unnecessary_ellipsis.py
  tests/functional/u/unnecessary/unnecessary_ellipsis.txt
Due: pylint, check-newsfragments

Reword fragment for users, parametrize table_lines_from_stats tests
  doc/whatsnew/fragments/11520.bugfix
  pylint/checkers/__init__.py
  tests/checkers/unittest_table_lines_from_stats.py
Due: pylint, check-newsfragments

Fix unnecessary-negation false positive for set subclasses (#11513)
  doc/whatsnew/fragments/11513.false_positive
  pylint/checkers/refactoring/not_checker.py
  tests/functional/u/unnecessary/unnecessary_negation.py
Due: pylint, check-newsfragments
