Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --load-plugins=pylint.extensions.docparams

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

Upgrade the version to 2.12.1-dev0 following 2.12.0 release
  pylint/__pkginfo__.py
  tbump.toml
Due: pylint

Add Copyrite configuration for Nick Pesce
  .copyrite_aliases
Due: none

Activate and fix existing use-set-for-membership checks
  pylint/checkers/base.py
  pylint/checkers/classes.py
  pylint/checkers/format.py
  pylint/checkers/imports.py
  pylint/checkers/refactoring/implicit_booleaness_checker.py
  pylint/checkers/refactoring/recommendation_checker.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/similar.py
  pylint/checkers/stdlib.py
  pylint/checkers/strings.py
  pylint/checkers/typecheck.py
  pylint/checkers/utils.py
  pylint/checkers/variables.py
  pylint/config/option.py
  pylint/config/options_provider_mixin.py
  pylint/extensions/typing.py
  pylint/graph.py
  pylint/lint/pylinter.py
  pylint/utils/pragma_parser.py
  pylintrc
Due: pylint

Add flake8-typing-import to the pre-commit configuration
  .pre-commit-config.yaml
  ChangeLog
  requirements_test_pre_commit.txt
  setup.cfg
Due: fix-documentation

Small fix following 2.12.0 latest changes merge
  ChangeLog
  doc/faq.rst
Due: fix-documentation

Activate and fix existing use-set-for-membership checks (#5379)
  pylint/checkers/base.py
  pylint/checkers/classes.py
  pylint/checkers/format.py
  pylint/checkers/imports.py
  pylint/checkers/refactoring/implicit_booleaness_checker.py
  pylint/checkers/refactoring/recommendation_checker.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/similar.py
  pylint/checkers/stdlib.py
  pylint/checkers/strings.py
  pylint/checkers/typecheck.py
  pylint/checkers/utils.py
  pylint/checkers/variables.py
  pylint/config/option.py
  pylint/config/options_provider_mixin.py
  pylint/extensions/typing.py
  pylint/graph.py
  pylint/lint/pylinter.py
  pylint/utils/pragma_parser.py
  pylintrc
Due: pylint

Add ``flake8-typing-import`` to the pre-commit configuration (#5070)
  .pre-commit-config.yaml
  ChangeLog
  requirements_test_pre_commit.txt
  setup.cfg
Due: fix-documentation

Require Python 3.6.2 (#5068)
  ChangeLog
  README.rst
  doc/faq.rst
  doc/whatsnew/2.13.rst
  pylint/checkers/strings.py
  pylint/message/message_id_store.py
  pylint/reporters/text.py
  pylint/testutils/lint_module_test.py
  pylintrc
  requirements_test_pre_commit.txt
  setup.py
  tests/lint/test_pylinter.py
Due: pylint, fix-documentation

Bump pylint to 2.12.1, update changelog
  ChangeLog
  pylint/__pkginfo__.py
  pylint/checkers/strings.py
  pylint/reporters/text.py
  tbump.toml
Due: pylint, fix-documentation

Upgrade the version to 2.12.2-dev0 following 2.12.1 release
  pylint/__pkginfo__.py
  tbump.toml
Due: pylint

Make ``unused-import`` check all ancestors for typing guards (#5316)
  pylint/checkers/variables.py
  tests/functional/u/unused/unused_import.py
Due: pylint

Move ``TestVariablesChecker`` to functional tests
  tests/checkers/unittest_classes.py
  tests/functional/a/access/access_member_before_definition.py
  tests/functional/a/access/access_member_before_definition.txt
  tests/functional/m/method_hidden.py
  tests/functional/m/method_hidden.txt
  tests/functional/n/non/non_parent_init_called.py
  tests/functional/p/protected_access.py
  tests/functional/p/protected_access.rc
  tests/functional/p/protected_access.txt
  tests/functional/p/protected_access_special_methods_off.py
  tests/functional/p/protected_access_special_methods_off.rc
  tests/functional/p/protected_access_special_methods_off.txt
  tests/functional/p/protected_access_special_methods_on.py
  tests/functional/p/protected_access_special_methods_on.rc
  tests/functional/p/protected_access_special_methods_on.txt
  tests/functional/s/super/super_init_not_called.py
Due: pylint

Move ``TestVariablesChecker`` to functional tests (#5400)
  tests/checkers/unittest_classes.py
  tests/functional/a/access/access_member_before_definition.py
  tests/functional/a/access/access_member_before_definition.txt
  tests/functional/m/method_hidden.py
  tests/functional/m/method_hidden.txt
  tests/functional/n/non/non_parent_init_called.py
  tests/functional/p/protected_access.py
  tests/functional/p/protected_access.rc
  tests/functional/p/protected_access.txt
  tests/functional/p/protected_access_special_methods_off.py
  tests/functional/p/protected_access_special_methods_off.rc
  tests/functional/p/protected_access_special_methods_off.txt
  tests/functional/p/protected_access_special_methods_on.py
  tests/functional/p/protected_access_special_methods_on.rc
  tests/functional/p/protected_access_special_methods_on.txt
  tests/functional/s/super/super_init_not_called.py
Due: pylint

Move ``TestDocstring`` to functional tests
  tests/checkers/unittest_base.py
  tests/functional/e/empty_docstring.py
  tests/functional/e/empty_docstring.rc
  tests/functional/e/empty_docstring.txt
  tests/functional/m/missing/missing_class_docstring.py
  tests/functional/m/missing/missing_class_docstring.txt
  tests/functional/m/missing/missing_function_docstring.py
  tests/functional/m/missing/missing_function_docstring.rc
  tests/functional/m/missing/missing_function_docstring.txt
  tests/functional/m/missing/missing_function_docstring_min_length.py
  tests/functional/m/missing/missing_function_docstring_min_length.rc
  tests/functional/m/missing/missing_function_docstring_min_length.txt
  tests/functional/m/missing/missing_function_docstring_rgx.py
  tests/functional/m/missing/missing_function_docstring_rgx.rc
  tests/functional/m/missing/missing_function_docstring_rgx.txt
  tests/functional/m/missing/missing_module_docstring.py
  tests/functional/m/missing/missing_module_docstring.txt
  tests/functional/m/missing/missing_module_docstring_empty.py
Due: pylint

Apply suggestions from code review
  pylint/checkers/variables.py
Due: pylint

De-dent an else statement
  pylint/checkers/variables.py
Due: pylint

Move ``TestDocstring`` to functional tests (#5404)
  tests/checkers/unittest_base.py
  tests/functional/e/empty_docstring.py
  tests/functional/e/empty_docstring.rc
  tests/functional/e/empty_docstring.txt
  tests/functional/m/missing/missing_class_docstring.py
  tests/functional/m/missing/missing_class_docstring.txt
  tests/functional/m/missing/missing_function_docstring.py
  tests/functional/m/missing/missing_function_docstring.rc
  tests/functional/m/missing/missing_function_docstring.txt
  tests/functional/m/missing/missing_function_docstring_min_length.py
  tests/functional/m/missing/missing_function_docstring_min_length.rc
  tests/functional/m/missing/missing_function_docstring_min_length.txt
  tests/functional/m/missing/missing_function_docstring_rgx.py
  tests/functional/m/missing/missing_function_docstring_rgx.rc
  tests/functional/m/missing/missing_function_docstring_rgx.txt
  tests/functional/m/missing/missing_module_docstring.py
  tests/functional/m/missing/missing_module_docstring.txt
  tests/functional/m/missing/missing_module_docstring_empty.py
Due: pylint

Update pylint/checkers/variables.py
  pylint/checkers/variables.py
Due: pylint

Fix paranthesis
  pylint/checkers/variables.py
Due: pylint

Add another test
  tests/extensions/test_check_raise_docs.py
Due: pylint

Refactor ``_is_type_checking_import`` of ``unused-import``
  ChangeLog
  pylint/checkers/variables.py
Due: pylint, fix-documentation

Update documentation of ``max_pyver`` test option
  doc/development_guide/testing.rst
Due: none

Update ChangeLog
  ChangeLog
Due: fix-documentation

Update doc/development_guide/testing.rst
  doc/development_guide/testing.rst
Due: none

Refactor ``_is_type_checking_import`` of ``unused-import`` (#5410)
  ChangeLog
  pylint/checkers/variables.py
Due: pylint, fix-documentation

Fix #5371: Correctly count arguments to static methods missing @staticmethod decorator
  ChangeLog
  pylint/checkers/classes.py
  tests/functional/a/arguments_differ.py
  tests/functional/a/arguments_differ.txt
Due: pylint, fix-documentation

Implementations of MapReduceMixin.reduce_map_data were actually not classmethods
  pylint/checkers/mapreduce_checker.py
  tests/test_check_parallel.py
Due: pylint

fix import order
  tests/test_check_parallel.py
Due: pylint

Update documentation of ``max_pyver`` test option (#5411)
  doc/development_guide/testing.rst
Due: none

Add changelog entry
  ChangeLog
  doc/whatsnew/2.13.rst
Due: fix-documentation

Move methods
  pylint/checkers/variables.py
Due: pylint

Fix `check_messages`
  pylint/checkers/variables.py
Due: pylint

Update description of ``ignore-paths``
  ChangeLog
  examples/pylintrc
Due: fix-documentation

Path conditions:
  pylint: any of: \.py$, but not: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
  fix-documentation: any of: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
