Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

Escape special symbols and newlines in messages. (#9164)
  doc/whatsnew/fragments/7874.bugfix
  pylint/extensions/magic_value.py
  tests/functional/ext/magic_value_comparison/magic_value_comparison.py
  tests/functional/ext/magic_value_comparison/magic_value_comparison.txt
Due: pylint, check-newsfragments

fix: exempt `TypedDict` from `typing_extensions`
  pylint/checkers/design_analysis.py
Due: pylint

fix unnecessary-comprehension provides incorrect suggestion
  doc/user_guide/checkers/features.rst
  pylint/checkers/refactoring/refactoring_checker.py
Due: pylint

Fixes duplicate-code check with ignore-imports (#9147)
  doc/whatsnew/fragments/8914.bugfix
  pylint/checkers/similar.py
  tests/checkers/unittest_similar.py
  tests/regrtest_data/duplicate_code/ignore_conditional_imports/__init__.py
  tests/regrtest_data/duplicate_code/ignore_conditional_imports/file_one.py
  tests/regrtest_data/duplicate_code/ignore_conditional_imports/file_two.py
  tests/test_similar.py
Due: pylint, check-newsfragments

Bump pylint to 3.0.2, update changelog
  doc/whatsnew/3/3.0/index.rst
  doc/whatsnew/fragments/7874.bugfix
  doc/whatsnew/fragments/8524.bugfix
  doc/whatsnew/fragments/8914.bugfix
  doc/whatsnew/fragments/9110.false_positive
  doc/whatsnew/fragments/9113.bugfix
  pylint/__pkginfo__.py
  tbump.toml
  towncrier.toml
Due: pylint, check-newsfragments

Bump pylint to 3.0.2, update changelog
  doc/whatsnew/3/3.0/index.rst
  doc/whatsnew/fragments/7874.bugfix
  doc/whatsnew/fragments/8524.bugfix
  doc/whatsnew/fragments/8914.bugfix
  doc/whatsnew/fragments/9110.false_positive
  doc/whatsnew/fragments/9113.bugfix
Due: check-newsfragments

fix: exempt `TypedDict` from `typing_extensions` (#9167)
  pylint/checkers/design_analysis.py
Due: pylint

add method visit_trystar to exceptions.py
  pylint/checkers/exceptions.py
Due: pylint

replace content of visit_trystar with call to visit_try to avoid replicated code
  pylint/checkers/exceptions.py
Due: pylint

add logic in basic_checker.py to detect try-except* and not issue pointless-statement message on try-clause body
  pylint/checkers/base/basic_checker.py
Due: pylint

adjust the logic of issue-4500
  doc/user_guide/checkers/features.rst
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/u/unnecessary/unnecessary_comprehension.txt
Due: pylint

update functional testing for broad-exception-caught to include try-except*
  tests/functional/b/broad_exception_caught.py
  tests/functional/b/broad_exception_caught.txt
Due: none

update functional testing for broad-exception-raised to include try-except*
  tests/functional/b/broad_exception_raised.py
  tests/functional/b/broad_exception_raised.txt
Due: none

Fix ``undefined-variable`` etc for Python 3.12 generic type syntax
  doc/whatsnew/fragments/9193.false_positive
  pylint/checkers/variables.py
  tests/functional/u/undefined/undefined_variable_py312.py
  tests/functional/u/undefined/undefined_variable_py312.rc
Due: pylint, check-newsfragments

Prevent `invalid-name` for PEP 695 nodes
  pylint/checkers/base/name_checker/checker.py
Due: pylint

fixup! Fix ``undefined-variable``
  pylint/checkers/variables.py
Due: pylint

Use qname
  pylint/checkers/deprecated.py
Due: pylint

added documentation for fix
  doc/whatsnew/fragments/8827.false_negative
Due: check-newsfragments

shared: True
  pylint/checkers/deprecated.py
Due: pylint

Add further 3.12 deprecations
  pylint/checkers/stdlib.py
Due: pylint

Add news
  doc/whatsnew/fragments/8855.new_check
Due: check-newsfragments

update logic in basic_checker.py
  pylint/checkers/base/basic_checker.py
Due: pylint

Add functional test
  tests/functional/d/deprecated/deprecated_attribute_py312.py
  tests/functional/d/deprecated/deprecated_attribute_py312.rc
Due: none

Fix tests
  tests/checkers/unittest_deprecated.py
  tests/functional/d/deprecated/deprecated_attribute_py312.txt
Due: pylint

Document message with examples
  doc/data/messages/d/deprecated-attribute/bad.py
  doc/data/messages/d/deprecated-attribute/details.rst
  doc/data/messages/d/deprecated-attribute/good.py
  doc/data/messages/d/deprecated-class/details.rst
  doc/data/messages/d/deprecated-decorator/details.rst
  doc/data/messages/d/deprecated-method/details.rst
  doc/data/messages/d/deprecated-module/details.rst
Due: none

Update pylint/checkers/base/basic_checker.py
  pylint/checkers/base/basic_checker.py
Due: pylint

Update bad.py
  doc/data/messages/d/deprecated-attribute/bad.py
Due: none

Bump Python to 3.12 on remaining CI jobs
  .github/workflows/checks.yaml
Due: none

Revert "Bump Python to 3.12 on remaining CI jobs"
  .github/workflows/checks.yaml
Due: none

Add further deprecated items
  pylint/checkers/stdlib.py
Due: pylint

Update example
  doc/data/messages/d/deprecated-attribute/bad.py
  doc/data/messages/d/deprecated-attribute/good.py
Due: none

Remove code not essential to pass test
  pylint/checkers/variables.py
Due: pylint

Add deprecated-attribute to overview table
  doc/user_guide/messages/messages_overview.rst
Due: none

Fix `undefined-variable` etc for Python 3.12 generic type syntax (#9195)
  doc/whatsnew/fragments/9193.false_positive
  pylint/checkers/variables.py
  tests/functional/u/undefined/undefined_variable_py312.py
  tests/functional/u/undefined/undefined_variable_py312.rc
Due: pylint, check-newsfragments
