Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

Deprecate ``BaseChecker.config``
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/config/arguments_manager.py
  pylint/config/arguments_provider.py
  pylint/lint/pylinter.py
  tests/test_func.py
  tests/test_functional.py
  tests/test_regr.py
Due: pylint, fix-documentation

Update tests/test_func.py
  tests/test_func.py
Due: pylint

update changelogs with new checker
  ChangeLog
  doc/whatsnew/2.14.rst
Due: fix-documentation

fix wrong issue number in Changelog
  ChangeLog
  doc/whatsnew/2.14.rst
Due: fix-documentation

Fix test
  tests/test_regr.py
Due: pylint

Deprecate ``BaseChecker.config`` (#6278)
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/config/arguments_manager.py
  pylint/config/arguments_provider.py
  pylint/lint/pylinter.py
  tests/test_func.py
  tests/test_functional.py
  tests/test_regr.py
Due: pylint, fix-documentation

Use ``namespace`` in ``--generate-rcfile`` and deprecate it
  ChangeLog
  doc/Makefile
  doc/whatsnew/2.14.rst
  pylint/config/arguments_manager.py
  pylint/config/callback_actions.py
  pylint/lint/run.py
  tests/test_self.py
Due: pylint, fix-documentation

Fix
  pylint/config/arguments_manager.py
Due: pylint

remove the new lint from the functional tests
  tests/functional/c/consider/consider_merging_isinstance.py
  tests/functional/i/invalid/invalid_getnewargs/invalid_getnewargs_returned.py
Due: none

use symbolic name, not mysterious code
  tests/functional/c/consider/consider_merging_isinstance.py
Due: none

correct number of args for built-in "help"
  pylint/checkers/base/basic_checker.py
Due: pylint

confidence=HIGH
  pylint/checkers/base/basic_checker.py
Due: pylint

add good.py and bad.py for docs
  doc/data/messages/i/incorrect-number-of-parameters/bad.py
  doc/data/messages/i/incorrect-number-of-parameters/good.py
Due: none

first stab at making functional test for new lint
  tests/functional/i/incorrect_number_of_parameters.py
  tests/functional/i/incorrect_number_of_parameters.txt
Due: none

the test actually passes, yay
  tests/functional/i/incorrect_number_of_parameters.py
  tests/functional/i/incorrect_number_of_parameters.txt
Due: none

Do not use ``config`` in ``option_value``
  pylint/config/arguments_provider.py
Due: pylint

Remove deprecation
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/config/callback_actions.py
  pylint/lint/run.py
Due: pylint, fix-documentation

Do not use ``config`` in ``option_value`` (#6283)
  pylint/config/arguments_provider.py
Due: pylint

Update optdicts in ``pyreverse`` (#6209)
  pylint/config/options_provider_mixin.py
  pylint/pyreverse/main.py
  tests/pyreverse/test_main.py
Due: pylint

Apply suggestions from code review
  ChangeLog
  doc/whatsnew/2.14.rst
Due: fix-documentation

Fix?
  doc/data/messages/c/cache-max-size-none/bad.py
Due: none

Let ``UnittestLinter`` subclass ``PyLinter``
  pylint/testutils/unittest_linter.py
Due: pylint

Update docs
  doc/tutorial.rst
Due: none

Move the example generation to a script we actually use
  tbump.toml
Due: none

Update tbump.toml
  tbump.toml
Due: none

Fix assertion, why is this failing in CI?
  tests/test_self.py
Due: pylint

Use ``namespace`` in ``--generate-rcfile`` (#6282)
  doc/Makefile
  pylint/config/arguments_manager.py
  pylint/config/callback_actions.py
  tbump.toml
  tests/test_self.py
Due: pylint

Update doc/whatsnew/2.14.rst
  doc/whatsnew/2.14.rst
Due: fix-documentation

Remove the ``optparse`` section from ``set_config``
  pylint/testutils/decorator.py
Due: pylint

Move general options to ``PyLinter`` from individual checkers
  pylint/checkers/imports.py
  pylint/checkers/typecheck.py
  pylint/lint/pylinter.py
Due: pylint

Update broken and redirected links across the project
  .github/ISSUE_TEMPLATE/QUESTION.yml
  .github/ISSUE_TEMPLATE/config.yml
  ChangeLog
  doc/backlinks.rst
  doc/conf.py
  doc/development_guide/contribute.rst
  doc/development_guide/testing.rst
  doc/faq.rst
  doc/how_tos/custom_checkers.rst
  doc/intro.rst
  doc/tutorial.rst
  doc/user_guide/ide-integration.rst
  doc/user_guide/options.rst
  doc/whatsnew/1.6.rst
  doc/whatsnew/1.7.rst
  doc/whatsnew/1.8.rst
  doc/whatsnew/2.0.rst
  doc/whatsnew/2.13.rst
  doc/whatsnew/2.6.rst
  doc/whatsnew/2.9.rst
  pylint/checkers/non_ascii_names.py
  pylint/checkers/stdlib.py
  pylint/checkers/unicode.py
  pylint/extensions/docparams.rst
  setup.cfg
Due: pylint, fix-documentation

Don't use deprecated python version config for readthedocs
  .readthedocs.yaml
Due: none

Update Sphinx makefiles with options used on readthedocs
  doc/Makefile
  doc/make.bat
Due: none

Add CI check for building of documentation and linkcheck
  .github/workflows/checks.yaml
Due: none

Update pylint/testutils/decorator.py
  pylint/testutils/decorator.py
Due: pylint

Remove the ``optparse`` section from ``set_config`` (#6289)
  pylint/testutils/decorator.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: tests/functional/|tests/input|tests(/\w*)*data/|doc/
  fix-documentation: any of: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
