Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

check-newsfragments:
  name: Check newsfragments
  entry: python3 -m script.check_newsfragments
  language: system

Ignore more stdlib classes with complex ancestry
  pylint/checkers/design_analysis.py
Due: pylint

Fix a false positive for ``unused-variable`` when there is an import in a ``if TYPE_CHECKING:`` block and ``allow-global-unused-variables`` is set to ``no`` in the configuration. (#8713)
  doc/whatsnew/fragments/8696.false_positive
  pylint/checkers/variables.py
  tests/functional/u/unused/unused_global_variable2.py
  tests/functional/u/unused/unused_global_variable2.txt
Due: pylint, check-newsfragments

Skip `regression_5408.py` test on Python 3.8
  tests/functional/r/regression_02/regression_5408.rc
Due: none

Add dummy args to empty Dict instantiation
  pylint/checkers/typecheck.py
Due: pylint

Upgrade astroid to 3.0.0a4
  pylint/checkers/modified_iterating_checker.py
  pyproject.toml
  requirements_test_min.txt
Due: pylint

Skip `regression_5408.py` test on PyPy
  tests/functional/r/regression_02/regression_5408.rc
Due: none

Skip `regression_5408.py` test on PyPy (#8745)
  tests/functional/r/regression_02/regression_5408.rc
Due: none

fix(inconsistent-return-statement): Allow inspection of method defintions when checking if returns `NoReturn`
  pylint/checkers/refactoring/refactoring_checker.py
Due: pylint

test(inconsistent-return-statements): Add a test for BoundMethod NoReturn
  tests/functional/i/inconsistent/inconsistent_returns_noreturn.py
  tests/functional/i/inconsistent/inconsistent_returns_noreturn.txt
Due: none

chore: Add whatnew fragment
  doc/whatsnew/fragments/8747.false_positive
Due: check-newsfragments

Add regression test for #8554 (#8682)
  doc/whatsnew/fragments/8554.bugfix
  tests/functional/i/invalid/invalid_unary_operand_type.py
Due: check-newsfragments

Bump astroid to 2.15.5
  pyproject.toml
  requirements_test_min.txt
Due: none

test(inconsistent-return-statements): Document false negative when function signature claims NoReturn but body returns
  tests/functional/i/inconsistent/inconsistent_returns_noreturn.py
  tests/functional/i/inconsistent/inconsistent_returns_noreturn.txt
Due: none

Support `duplicate-code` message with `--jobs`
  doc/whatsnew/fragments/374.bugfix
  pylint/checkers/similar.py
  pylint/lint/parallel.py
  tests/test_self.py
  tests/test_similar.py
Due: pylint, check-newsfragments

Ignore cached_property in method-hidden check (#8753)
  pylint/checkers/classes/class_checker.py
  tests/functional/m/method_hidden.py
  tests/functional/m/method_hidden.txt
Due: pylint

Support `duplicate-code` message with `--jobs` (#8757)
  doc/whatsnew/fragments/374.bugfix
  pylint/checkers/similar.py
  pylint/lint/parallel.py
  tests/test_self.py
  tests/test_similar.py
Due: pylint, check-newsfragments

check if decorator.expr is nodes.Name
  pylint/checkers/classes/class_checker.py
Due: pylint

Change the import method during testing for operation confirmation
  tests/functional/m/method_hidden.py
Due: none

Check module name using lookup method
  pylint/checkers/classes/class_checker.py
  tests/functional/m/method_hidden.py
  tests/functional/m/method_hidden.txt
Due: pylint

test(inconsistent-return-statements): Let test stand for itself and don't document as false negative
  tests/functional/i/inconsistent/inconsistent_returns_noreturn.py
Due: none

test(inconsistent-return-statements): Reword test name + docstring
  tests/functional/i/inconsistent/inconsistent_returns_noreturn.py
Due: none

Fix false positive `inconsistent-return-statement` for method marked `NoReturn` (#8750)
  doc/whatsnew/fragments/8747.false_positive
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/i/inconsistent/inconsistent_returns_noreturn.py
  tests/functional/i/inconsistent/inconsistent_returns_noreturn.txt
Due: pylint, check-newsfragments

Add CITATION.cff
  CITATION.cff
Due: none

Add news fragment 8760.other
  doc/whatsnew/fragments/8760.other
Due: check-newsfragments

Update title field
  CITATION.cff
Due: none

docparams extension considers type comments as type documentation.
  doc/whatsnew/fragments/6287.bugfix
  pylint/extensions/_check_docs_utils.py
  pylint/extensions/docparams.py
  tests/functional/ext/docparams/missing_param_doc.py
  tests/functional/ext/docparams/missing_param_doc_py38.py
  tests/functional/ext/docparams/missing_param_doc_py38.rc
  tests/functional/ext/docparams/parameter/missing_param_doc_required_Google.py
  tests/functional/ext/docparams/parameter/missing_param_doc_required_Google.txt
  tests/functional/ext/docparams/parameter/missing_param_doc_required_Numpy.py
  tests/functional/ext/docparams/parameter/missing_param_doc_required_Numpy.txt
  tests/functional/ext/docparams/parameter/missing_param_doc_required_Sphinx.py
  tests/functional/ext/docparams/parameter/missing_param_doc_required_Sphinx.txt
Due: pylint, check-newsfragments

docparams extension considers type comments as type documentation. (#6288)
  doc/whatsnew/fragments/6287.bugfix
  pylint/extensions/_check_docs_utils.py
  pylint/extensions/docparams.py
  tests/functional/ext/docparams/missing_param_doc.py
  tests/functional/ext/docparams/missing_param_doc_py38.py
  tests/functional/ext/docparams/missing_param_doc_py38.rc
  tests/functional/ext/docparams/parameter/missing_param_doc_required_Google.py
  tests/functional/ext/docparams/parameter/missing_param_doc_required_Google.txt
  tests/functional/ext/docparams/parameter/missing_param_doc_required_Numpy.py
  tests/functional/ext/docparams/parameter/missing_param_doc_required_Numpy.txt
  tests/functional/ext/docparams/parameter/missing_param_doc_required_Sphinx.py
  tests/functional/ext/docparams/parameter/missing_param_doc_required_Sphinx.txt
Due: pylint, check-newsfragments

Upgrade astroid to 3.0.0a5
  pyproject.toml
  requirements_test_min.txt
Due: none

Fix variable names and use qname
  pylint/checkers/classes/class_checker.py
Due: pylint

Fix variable name
  pylint/checkers/classes/class_checker.py
Due: pylint

Upgrade astroid to 3.0.0a5 (#8770)
  pyproject.toml
  requirements_test_min.txt
Due: none

Add test code that satisfies the conditional branch
  tests/functional/m/method_hidden.py
  tests/functional/m/method_hidden.txt
Due: none

add news fragments for issue #8753
  doc/whatsnew/fragments/8753.bugfix
Due: check-newsfragments

Add `__init__` files to message test dirs
  doc/data/messages/d/duplicate-code/bad/__init__.py
  doc/data/messages/d/duplicate-code/good/__init__.py
  doc/data/messages/n/non-ascii-file-name/bad/__init__.py
  doc/data/messages/n/non-ascii-file-name/good/__init__.py
Due: none

Add `__init__` files to message test dirs (#8772)
  doc/data/messages/d/duplicate-code/bad/__init__.py
  doc/data/messages/d/duplicate-code/good/__init__.py
  doc/data/messages/n/non-ascii-file-name/bad/__init__.py
  doc/data/messages/n/non-ascii-file-name/good/__init__.py
Due: none

Fix false positive `unspecified-encoding` when using kwargs
  doc/whatsnew/fragments/8719.false_positive
  pylint/checkers/stdlib.py
  pylint/checkers/utils.py
  tests/functional/b/bad_open_mode.txt
  tests/functional/u/unspecified_encoding_py38.py
  tests/functional/u/unspecified_encoding_py38.txt
Due: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst
