Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

Fix a false positive for ``no-member`` when accessing a no-value attribute that is annotated in a class body.
  doc/whatsnew/fragments/8759.false_positive
  pylint/checkers/typecheck.py
  tests/functional/n/no/no_member_augassign.py
  tests/functional/n/no/no_member_augassign.txt
Due: pylint, check-newsfragments

Make an exception for AugAssign nodes to avoid false negatives.
  pylint/checkers/typecheck.py
  tests/functional/n/no/no_member_augassign.py
  tests/functional/n/no/no_member_augassign.txt
Due: pylint

Pyreverse: print package import stats (#8974)
  doc/whatsnew/fragments/8973.user_action
  pylint/pyreverse/inspector.py
  pylint/pyreverse/main.py
  pylint/pyreverse/writer.py
  tests/pyreverse/conftest.py
  tests/pyreverse/test_main.py
Due: pylint, check-newsfragments

Add tests for existing Pyreverse bugs (#8983)
  pylint/pyreverse/diagrams.py
  tests/pyreverse/functional/class_diagrams/annotations/line_breaks.dot
  tests/pyreverse/functional/class_diagrams/annotations/line_breaks.mmd
  tests/pyreverse/functional/class_diagrams/annotations/line_breaks.puml
  tests/pyreverse/functional/class_diagrams/annotations/line_breaks.py
  tests/pyreverse/functional/class_diagrams/annotations/line_breaks.rc
  tests/pyreverse/functional/class_diagrams/attributes/duplicates.mmd
  tests/pyreverse/functional/class_diagrams/attributes/duplicates.py
Due: pylint

Elaborate line break test
  tests/pyreverse/functional/class_diagrams/annotations/line_breaks.dot
  tests/pyreverse/functional/class_diagrams/annotations/line_breaks.mmd
  tests/pyreverse/functional/class_diagrams/annotations/line_breaks.puml
  tests/pyreverse/functional/class_diagrams/annotations/line_breaks.py
Due: none

Fix Pyreverse line break bug
  doc/whatsnew/fragments/8671.bugfix
  pylint/pyreverse/dot_printer.py
  tests/pyreverse/functional/class_diagrams/annotations/line_breaks.dot
Due: pylint, check-newsfragments

[cell-var-from-loop] Remove foo/bar from the example
  doc/data/messages/c/cell-var-from-loop/bad.py
  doc/data/messages/c/cell-var-from-loop/good.py
Due: none

[access-member-before-definition] Remove foo/bar in documentation
  doc/data/messages/a/access-member-before-definition/bad.py
  doc/data/messages/a/access-member-before-definition/good.py
Due: none

[abstract-method] Separate the two examples in doc
  doc/data/messages/a/abstract-method/bad/abstract_method.py
  doc/data/messages/a/abstract-method/bad/function_raising_not_implemented_error.py
  doc/data/messages/a/abstract-method/good/abstract_method.py
  doc/data/messages/a/abstract-method/good/function_raising_not_implemented_error.py
Due: none

[arguments-differ] Use multi-examples possibilities from the new template
  doc/data/messages/a/arguments-differ/bad.py
  doc/data/messages/a/arguments-differ/good.py
  doc/data/messages/a/arguments-differ/good/add_option_in_base_class.py
  doc/data/messages/a/arguments-differ/good/default_value.py
  doc/data/messages/a/arguments-differ/good/no_inheritance.py
Due: none

[bad-open-mode] Remove Foo/bar examples from doc
  doc/data/messages/b/bad-open-mode/bad.py
  doc/data/messages/b/bad-open-mode/good.py
Due: none

[use-dict-literal] Separate examples, remove foo/bar
  doc/data/messages/u/use-dict-literal/bad.py
  doc/data/messages/u/use-dict-literal/bad/empty_dict.py
  doc/data/messages/u/use-dict-literal/bad/init_dict_from_another.py
  doc/data/messages/u/use-dict-literal/bad/init_with_keyword.py
  doc/data/messages/u/use-dict-literal/good.py
  doc/data/messages/u/use-dict-literal/good/empty_dict.py
  doc/data/messages/u/use-dict-literal/good/init_dict_from_another.py
  doc/data/messages/u/use-dict-literal/good/init_with_litteral.py
Due: none

Add another example for W0640: cell-var-from-loop
  doc/data/messages/c/cell-var-from-loop/good/functools.partial.py
  doc/data/messages/c/cell-var-from-loop/good/new_function.py
Due: none

[doc test helper] Better representation of issues for multiple good files
  doc/test_messages_documentation.py
Due: none

[mixed-line-endings] Create the initial documentation
  .gitattributes
  doc/data/messages/m/mixed-line-endings/bad.py
  doc/data/messages/m/mixed-line-endings/details.rst
  doc/data/messages/m/mixed-line-endings/good.py
  doc/data/messages/m/mixed-line-endings/good/full_crlf.py
  doc/data/messages/m/mixed-line-endings/good/full_lf.py
  doc/data/messages/m/mixed-line-endings/related.rst
  doc/data/messages/u/unexpected-line-ending-format/bad.py
  doc/data/messages/u/unexpected-line-ending-format/good.py
Due: none

Fix Pyreverse line break bug (#8988)
  doc/whatsnew/fragments/8671.bugfix
  pylint/pyreverse/dot_printer.py
  tests/pyreverse/functional/class_diagrams/annotations/line_breaks.dot
  tests/pyreverse/functional/class_diagrams/annotations/line_breaks.mmd
  tests/pyreverse/functional/class_diagrams/annotations/line_breaks.puml
  tests/pyreverse/functional/class_diagrams/annotations/line_breaks.py
Due: pylint, check-newsfragments

[bad-plugin-value] Initial documentation
  doc/data/messages/b/bad-plugin-value/details.rst
  doc/data/messages/b/bad-plugin-value/good.py
Due: none

[raw-checker-failed] Create the initial documentation
  doc/data/messages/r/raw-checker-failed/details.rst
  doc/data/messages/r/raw-checker-failed/good.py
Due: none

[unrecognized-option] Initial documentation
  doc/data/messages/u/unrecognized-option/details.rst
  doc/data/messages/u/unrecognized-option/good.py
Due: none

[relative-beyond-top-level] Create the initial documentation
  doc/data/messages/r/relative-beyond-top-level/bad.py
  doc/data/messages/r/relative-beyond-top-level/details.rst
  doc/data/messages/r/relative-beyond-top-level/good.py
  doc/data/messages/r/relative-beyond-top-level/good/absolute_import.py
  doc/data/messages/r/relative-beyond-top-level/good/fix_the_relative_import.py
  doc/data/messages/r/relative-beyond-top-level/related.rst
Due: none

[mixed-line-endings] Create the initial documentation (#8994)
  .gitattributes
  doc/data/messages/m/mixed-line-endings/bad.py
  doc/data/messages/m/mixed-line-endings/details.rst
  doc/data/messages/m/mixed-line-endings/good.py
  doc/data/messages/m/mixed-line-endings/good/full_crlf.py
  doc/data/messages/m/mixed-line-endings/good/full_lf.py
  doc/data/messages/m/mixed-line-endings/related.rst
  doc/data/messages/u/unexpected-line-ending-format/bad.py
  doc/data/messages/u/unexpected-line-ending-format/good.py
Due: none

Fixed type'o in variable name variables.py
  pylint/checkers/variables.py
Due: pylint

fix doc
  doc/data/messages/c/cell-var-from-loop/good/functools.partial.py
Due: none

fix with black
  doc/data/messages/c/cell-var-from-loop/good/functools.partial.py
Due: none

Fix false positive when testing for-loops for unbalanced unpacking (W0644) (#8892)
  doc/whatsnew/fragments/8156.false_positive
  pylint/checkers/variables.py
  tests/functional/u/unbalanced/unbalanced_dict_unpacking.py
  tests/functional/u/unbalanced/unbalanced_dict_unpacking.txt
Due: pylint, check-newsfragments

Small spelling changes
  doc/data/messages/r/relative-beyond-top-level/details.rst
Due: none

[relative-beyond-top-level] Create the initial documentation (#8993)
  doc/data/messages/r/relative-beyond-top-level/bad.py
  doc/data/messages/r/relative-beyond-top-level/details.rst
  doc/data/messages/r/relative-beyond-top-level/good.py
  doc/data/messages/r/relative-beyond-top-level/good/absolute_import.py
  doc/data/messages/r/relative-beyond-top-level/good/fix_the_relative_import.py
  doc/data/messages/r/relative-beyond-top-level/related.rst
Due: none

Spelling changes
  doc/data/messages/b/bad-plugin-value/details.rst
  doc/data/messages/r/raw-checker-failed/details.rst
  doc/data/messages/u/unrecognized-option/details.rst
Due: none

[doc] Document some internal pylint errors and configuration/option error (#8992)
  doc/data/messages/b/bad-plugin-value/details.rst
  doc/data/messages/b/bad-plugin-value/good.py
  doc/data/messages/r/raw-checker-failed/details.rst
  doc/data/messages/r/raw-checker-failed/good.py
  doc/data/messages/u/unrecognized-option/details.rst
  doc/data/messages/u/unrecognized-option/good.py
Due: none

Better examples for W0640 (cell-var-from-loop)
  doc/data/messages/c/cell-var-from-loop/bad.py
  doc/data/messages/c/cell-var-from-loop/good/functools.partial.py
  doc/data/messages/c/cell-var-from-loop/good/new_function.py
Due: none

Fix: not enough humour
  doc/data/messages/c/cell-var-from-loop/bad.py
  doc/data/messages/c/cell-var-from-loop/good/functools.partial.py
  doc/data/messages/c/cell-var-from-loop/good/new_function.py
Due: none

fix: wrong example output
  doc/data/messages/c/cell-var-from-loop/bad.py
  doc/data/messages/c/cell-var-from-loop/good/functools.partial.py
  doc/data/messages/c/cell-var-from-loop/good/new_function.py
Due: none

Fix a typo
  doc/data/messages/c/cell-var-from-loop/good/functools.partial.py
Due: none

Revert "[doc test helper] Better representation of issues for multiple good files"
  doc/test_messages_documentation.py
Due: none
