Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

Update doc/faq.rst
  doc/faq.rst
Due: none

Update doc/whatsnew/fragments/8934.other.rst
  doc/whatsnew/fragments/8934.other.rst
Due: check-newsfragments

remove fragment
  doc/whatsnew/fragments/8934.other.rst
Due: check-newsfragments

Add docs FAQ entry on domain name distinctions (`pylint dot org` vs pylint.readthedocs.io) (#10177)
  doc/faq.rst
Due: none

Remove overengineered ProgressReporter heirarchy.
  pylint/lint/pylinter.py
  pylint/reporters/progress_reporters.py
Due: pylint

noqa the pylint warning
  pylint/config/config_initialization.py
Due: pylint

Only instantiate `ProgressReporter` once
  pylint/lint/pylinter.py
  pylint/reporters/progress_reporters.py
  tests/test_check_parallel.py
Due: pylint

Issue 1554: add progress reporting (#10178)
  pylint/config/config_initialization.py
  pylint/lint/pylinter.py
  pylint/reporters/progress_reporters.py
  tests/test_check_parallel.py
  tests/test_self.py
Due: pylint

Move --max-depth option to option group "Filtering and Scope"
  doc/additional_tools/pyreverse/configuration.rst
  pylint/pyreverse/main.py
Due: pylint

Add --max-depth option to control diagram complexity (#10077)
  doc/additional_tools/pyreverse/configuration.rst
  doc/whatsnew/fragments/10077.feature
  pylint/pyreverse/main.py
  pylint/pyreverse/writer.py
  pylint/testutils/pyreverse.py
  pylintrc
  tests/pyreverse/conftest.py
  tests/pyreverse/data/classes_depth_limited_0.dot
  tests/pyreverse/data/classes_depth_limited_1.dot
  tests/pyreverse/data/packages_depth_limited_0.dot
  tests/pyreverse/data/packages_depth_limited_1.dot
  tests/pyreverse/test_writer.py
Due: pylint, check-newsfragments

Remove current depth filtering logic
  pylint/pyreverse/writer.py
Due: pylint

add depth filtering logic to diadefslib
  pylint/pyreverse/diadefslib.py
Due: pylint

add comments
  pylint/pyreverse/diadefslib.py
Due: pylint

add type ignore comment for max_depth return value
  pylint/pyreverse/diadefslib.py
Due: pylint

Remove tests for legacy depth filtering logic
  tests/pyreverse/test_writer.py
Due: pylint

Add fixtures for a mocked node and DiaDefGenerator
  tests/pyreverse/test_diadefs.py
Due: pylint

Add tests for _should_include_by_depth
  tests/pyreverse/test_diadefs.py
Due: pylint

[style] Fix typo detected by new version of codespell
  pylint/checkers/exceptions.py
  pylint/checkers/variables.py
  pylint/extensions/overlapping_exceptions.py
  tests/functional/ext/no_self_use/no_self_use.py
Due: pylint

[isort] Permit to use isort 6
  doc/whatsnew/fragments/10203.bugfix
  pyproject.toml
Due: check-newsfragments

[isort] Permit to use isort 6 (#10204)
  doc/whatsnew/fragments/10203.bugfix
  pyproject.toml
Due: check-newsfragments

Bump pylint to 3.3.4, update changelog
  .pre-commit-config.yaml
  CONTRIBUTORS.txt
  doc/whatsnew/3/3.3/index.rst
  doc/whatsnew/fragments/10073.bugfix
  doc/whatsnew/fragments/10103.bugfix
  doc/whatsnew/fragments/10203.bugfix
  examples/pylintrc
  examples/pyproject.toml
  pylint/__pkginfo__.py
  tbump.toml
  towncrier.toml
Due: pylint, check-newsfragments

Fix a false positive for ``invalid-getnewargs-ex-returned`` when the tuple or dict has been assigned to a name.
  doc/whatsnew/fragments/10208.false_positive
  pylint/checkers/classes/special_methods_checker.py
  tests/functional/i/invalid/invalid_getnewargs/invalid_getnewargs_ex_returned.py
  tests/functional/i/invalid/invalid_getnewargs/invalid_getnewargs_ex_returned.txt
Due: pylint, check-newsfragments

Apply suggestions from code review
  pylint/pyreverse/diadefslib.py
  tests/pyreverse/test_diadefs.py
Due: pylint

Fix a false positive for ``invalid-getnewargs-ex-returned`` when the tuple or dict has been assigned to a name. (#10209)
  doc/whatsnew/fragments/10208.false_positive
  pylint/checkers/classes/special_methods_checker.py
  tests/functional/i/invalid/invalid_getnewargs/invalid_getnewargs_ex_returned.py
  tests/functional/i/invalid/invalid_getnewargs/invalid_getnewargs_ex_returned.txt
Due: pylint, check-newsfragments

undeprecate getopt
  pylint/checkers/imports.py
Due: pylint

Treat exclusive assignments as "constants"
  pylint/checkers/base/name_checker/checker.py
  tests/functional/i/invalid/invalid_name/invalid_name_module_level.py
  tests/functional/u/unnecessary/unnecessary_pass.py
  tests/functional/w/wrong_import_order.txt
Due: pylint

Add news
  doc/whatsnew/fragments/10213.false_positive
Due: check-newsfragments

fix issue no
  doc/whatsnew/fragments/10211.false_positive
Due: check-newsfragments

Fix bizarre failure
  pylint/checkers/utils.py
Due: pylint

Undeprecate getopt (#10213)
  doc/whatsnew/fragments/10211.false_positive
  pylint/checkers/imports.py
Due: pylint, check-newsfragments

also undeprecate optparse
  pylint/checkers/imports.py
Due: pylint

add to news fragment
  doc/whatsnew/fragments/10211.false_positive
Due: check-newsfragments

Add igetattr to wordlist
  custom_dict.txt
Due: none
