Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I
  - --load-plugins=pylint.extensions.docparams

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

[refactor] Create a file for the BasicErrorChecker in pylint.checker.base
  pylint/checkers/base/__init__.py
  pylint/checkers/base/basic_error_checker.py
Due: pylint

[refactor] Create a file for the PassChecker in pylint.checker.base
  pylint/checkers/base/__init__.py
  pylint/checkers/base/pass_checker.py
Due: pylint

[refactor] Create a package in order to be able to burst base.py
  pylint/checkers/base/__init__.py
  tests/checkers/base/unittest_base.py
Due: pylint

[refactor] Create files for comparison checker in pylint.checker.base
  pylint/checkers/base/__init__.py
  pylint/checkers/base/comparison_checker.py
Due: pylint

[refactor] Create a package for the NameChecker in pylint.checker.base
  pylint/checkers/base/__init__.py
  pylint/checkers/base/name_checker/__init__.py
  pylint/checkers/base/name_checker/checker.py
  pylint/checkers/base/name_checker/naming_style.py
  tests/checkers/base/unittest_base.py
  tests/checkers/base/unittest_multi_naming_style.py
  tests/checkers/base/unittest_name_preset.py
Due: pylint

[refactor] Create a file for the DocstringChecker in pylint.checker.base
  pylint/checkers/base/__init__.py
  pylint/checkers/base/docstring_checker.py
Due: pylint

[refactor] Create a file for _BasicChecker in pylint.checkers
  pylint/checkers/base/__init__.py
  pylint/checkers/base/basic_checker.py
Due: pylint

[refactor] Create a file for the BasicChecker in pylint.checker.base
  pylint/checkers/base/__init__.py
  pylint/checkers/base/basic_checker.py
Due: pylint

[cleanup] Remove unused code in pylint.checker.base following refactor
  pylint/checkers/base/__init__.py
  pylint/checkers/base/basic_checker.py
Due: pylint

Bump pylint to 2.13.0, update changelog
  ChangeLog
  doc/release.md
  doc/whatsnew/2.13.rst
  pylint/__pkginfo__.py
  tbump.toml
Due: pylint, fix-documentation

Upgrade the version to 2.14.0-dev0 following 2.13.0 release
  doc/whatsnew/2.14.rst
  doc/whatsnew/index.rst
  pylint/__pkginfo__.py
  tbump.toml
Due: pylint, fix-documentation

Add code examples
  doc/data/messages/p/potential-index-error/bad.py
  doc/data/messages/p/potential-index-error/good.py
Due: none

Oops
  doc/data/messages/p/potential-index-error/good.py
Due: none

Changes
  pylint/checkers/variables.py
Due: pylint

Update confidence
  pylint/checkers/variables.py
  tests/functional/p/potential_index_error.txt
Due: pylint

Fix `unused-argument` false positive for nonlocals
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/variables.py
  tests/functional/u/unused/unused_argument_py3.py
  tests/functional/u/unused/unused_name_from_wildcard_import.py
  tests/functional/u/unused/unused_name_from_wildcard_import.txt
Due: pylint, fix-documentation

Fix #1555: Fix false negative for `no-member` when assigning instance attribute to itself
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/typecheck.py
  tests/functional/n/no/no_member_assign_same_line.py
  tests/functional/n/no/no_member_assign_same_line.txt
Due: pylint, fix-documentation

Fix nonlocal in try block regression for `used-before-assignment`
  ChangeLog
  pylint/checkers/variables.py
  tests/functional/u/used/used_before_assignment_issue4761.py
  tests/functional/u/used/used_before_assignment_issue4761.txt
Due: pylint, fix-documentation

Fix false positive for `superfluous-parens` for `return (a or b) in iterable`
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/format.py
  tests/functional/s/superfluous_parens.py
Due: pylint, fix-documentation

Don't emit `raising-bad-type` when there is ambiguity
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/exceptions.py
  tests/functional/i/invalid/invalid_exceptions/invalid_exceptions_raised.py
Due: pylint, fix-documentation

Fix #1555: Fix false negative for `no-member` when assigning instance attribute to itself (#5544)
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/typecheck.py
  tests/functional/n/no/no_member_assign_same_line.py
  tests/functional/n/no/no_member_assign_same_line.txt
Due: pylint, fix-documentation

Add ``potential-index-error`` checker (#5552)
  ChangeLog
  doc/data/messages/p/potential-index-error/bad.py
  doc/data/messages/p/potential-index-error/good.py
  doc/whatsnew/2.14.rst
  pylint/checkers/variables.py
  tests/functional/p/potential_index_error.py
  tests/functional/p/potential_index_error.txt
Due: pylint, fix-documentation

Update configuration of pre-commit hooks and tools
  .pre-commit-config.yaml
  doc/conf.py
  doc/exts/pylint_extensions.py
  doc/exts/pylint_features.py
  pylintrc
  setup.cfg
Due: none

Fix nonlocal in try block regression for `used-before-assignment` (#5966)
  ChangeLog
  pylint/checkers/variables.py
  tests/functional/u/used/used_before_assignment_issue4761.py
  tests/functional/u/used/used_before_assignment_issue4761.txt
Due: pylint, fix-documentation

Move the changelog to 2.13.1
  ChangeLog
  doc/whatsnew/2.13.rst
  doc/whatsnew/2.14.rst
Due: fix-documentation

Don't emit `raising-bad-type` when there is ambiguity (#5968)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/exceptions.py
  tests/functional/i/invalid/invalid_exceptions/invalid_exceptions_raised.py
Due: pylint, fix-documentation

Move the changelog to 2.13.1
  doc/whatsnew/2.13.rst
Due: fix-documentation

Fix false positive for `unused-argument` where nested function uses parent argument as a `nonlocal` (#5906)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/variables.py
  tests/functional/u/unused/unused_argument_py3.py
  tests/functional/u/unused/unused_name_from_wildcard_import.py
  tests/functional/u/unused/unused_name_from_wildcard_import.txt
Due: pylint, fix-documentation

Path conditions:
  pylint: any of: \.py$, but not: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
  fix-documentation: any of: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
