Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

Added a news fragment
  doc/whatsnew/fragments/10077.feature.rst
Due: check-newsfragments

Add tests for should_show_node method
  tests/pyreverse/test_writer.py
Due: pylint

Update tests/pyreverse/test_writer.py
  tests/pyreverse/test_writer.py
Due: pylint

Try to increase test coverage
  tests/pyreverse/data/packages_depth_limited.dot
  tests/pyreverse/test_writer.py
Due: pylint

Respect docstring-min-length in docparams extension
  pylint/extensions/docparams.py
Due: pylint

Changelog for docparams extension docstring-min-length fix
  doc/whatsnew/fragments/10104.false_negative
Due: check-newsfragments

Functional tests for docparams extension docstring-min-length fix
  tests/functional/ext/docparams/raise/missing_raises_doc_required_min_length.py
  tests/functional/ext/docparams/raise/missing_raises_doc_required_min_length.rc
  tests/functional/ext/docparams/return/missing_return_doc_required_min_length.py
  tests/functional/ext/docparams/return/missing_return_doc_required_min_length.rc
  tests/functional/ext/docparams/yield/missing_yield_doc_required_min_length.py
  tests/functional/ext/docparams/yield/missing_yield_doc_required_min_length.rc
Due: none

Fix existing issue with mypy
  pylint/testutils/functional/lint_module_output_update.py
Due: pylint

Extend doc for redefined-builtin
  doc/data/messages/r/redefined-builtin/details.rst
Due: none

Add functional test
  tests/functional/r/redefined/redefined_builtin_allowed.py
  tests/functional/r/redefined/redefined_builtin_allowed.rc
  tests/functional/r/redefined/redefined_builtin_allowed.txt
Due: none

Use internal reference
  doc/data/messages/r/redefined-builtin/details.rst
Due: none

Extend documentation for `redefined-builtin` (#10167)
  doc/data/messages/r/redefined-builtin/details.rst
  tests/functional/r/redefined/redefined_builtin_allowed.py
  tests/functional/r/redefined/redefined_builtin_allowed.rc
  tests/functional/r/redefined/redefined_builtin_allowed.txt
Due: none

Update writer to only show modules below max depth setting
  pylint/pyreverse/writer.py
Due: pylint

Add command line option to limit depth
  pylint/pyreverse/main.py
Due: pylint

Fix typo in docstring
  pylint/pyreverse/writer.py
Due: pylint

Remove file extension
  doc/whatsnew/fragments/10077.feature
Due: check-newsfragments

Update docstring for the should_show_node function
  pylint/pyreverse/writer.py
Due: pylint

Update PyreverseConfig in testutils
  pylint/testutils/pyreverse.py
Due: pylint

Improve depth logic for classes
  pylint/pyreverse/writer.py
Due: pylint

Update docs
  doc/additional_tools/pyreverse/configuration.rst
Due: none

Refactor test_depth_limited_write to set max depth in default config
  tests/pyreverse/test_writer.py
Due: pylint

Use proper fixtures to setup depth limited tests
  tests/pyreverse/conftest.py
  tests/pyreverse/data/packages_depth_limited.dot
  tests/pyreverse/test_writer.py
Due: pylint

Also assert class diagram
  tests/pyreverse/data/classes_depth_limited.dot
  tests/pyreverse/test_writer.py
Due: pylint

Remove old test files
  tests/pyreverse/data/classes_depth_limited.dot
  tests/pyreverse/data/packages_depth_limited.dot
Due: none

Test writer with multiple depth limits
  tests/pyreverse/data/classes_depth_limited_0.dot
  tests/pyreverse/data/classes_depth_limited_1.dot
  tests/pyreverse/data/packages_depth_limited_0.dot
  tests/pyreverse/data/packages_depth_limited_1.dot
  tests/pyreverse/test_writer.py
Due: pylint

Add subpkg and MyClass to spelling ignore list
  pylintrc
Due: none

Make the diff easier to read in pylint/lint/run.py
  pylint/lint/run.py
Due: pylint

Add extra cgroup tests
  tests/test_pylint_runners.py
Due: pylint

Calculate linter.config.jobs in cgroupsv2 environments. Fixes #10103
  custom_dict.txt
  doc/whatsnew/fragments/10103.bugfix
  pylint/lint/run.py
  tests/test_pylint_runners.py
Due: pylint, check-newsfragments

Calculate linter.config.jobs in cgroupsv2 environments (#10089)
  custom_dict.txt
  doc/whatsnew/fragments/10103.bugfix
  pylint/lint/run.py
  tests/test_pylint_runners.py
Due: pylint, check-newsfragments
