Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        exclude: "tests/functional/t/trailing_whitespaces.py"
      - id: end-of-file-fixer
        exclude: "tests/functional/m/missing/missing_final_newline.py|tests/functional/t/trailing_newlines.py"
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
      - id: autoflake
        exclude: &fixtures tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/
        args:
          - --in-place
          - --remove-all-unused-imports
          - --expand-star-imports
          - --remove-duplicate-keys
          - --remove-unused-variables
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.11.0
    hooks:
      - id: pyupgrade
        args: [--py36-plus]
        exclude: *fixtures
  - repo: https://github.com/PyCQA/isort
    rev: 5.8.0
    hooks:
      - id: isort
  - repo: https://github.com/ambv/black
    rev: 20.8b1
    hooks:
      - id: black
        args: [--safe, --quiet]
        exclude: *fixtures
  - repo: https://github.com/Pierre-Sassoulas/black-disable-checker/
    rev: 1.0.0
    hooks:
      - id: black-disable-checker
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
        exclude: *fixtures
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "-rn",
            "-sn",
            "--rcfile=pylintrc",
            "--load-plugins=pylint.extensions.docparams",
          ]
        # disabled plugins: pylint.extensions.mccabe
        exclude: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
      - id: fix-documentation
        name: Fix documentation
        entry: python3 -m script.fix_documentation
        language: system
        types: [text]
        files: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.812
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: python
        types: [python]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
        additional_dependencies: []
        exclude: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/|bin/
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        args: [--prose-wrap=always, --print-width=88]

Add tbump script for bumbing version
  doc/release.md
  requirements_test.txt
  script/bump_changelog.py
  tbump.toml
Due: pylint

Add alias for bots in copyrite aliases
  .copyrite_aliases
Due: none

Migration from setuptools_scm to tbump
  ChangeLog
  pylint/__pkginfo__.py
  setup.cfg
  setup.py
Due: pylint, fix-documentation

Fix update a functional test with no expected output
  tests/test_functional.py
Due: pylint

No crash on bad plugin provided in configuration file
  ChangeLog
  pylint/lint/pylinter.py
  pylint/message/message_handler_mix_in.py
  pylint/reporters/text.py
  tests/functional/d/decorator_unused.txt
  tests/functional/p/plugin_does_not_exists.py
  tests/functional/p/plugin_does_not_exists.rc
  tests/functional/p/plugin_does_not_exists.txt
Due: pylint, fix-documentation

Add a test for too-many-statements when modified by configuration
  tests/functional/t/too/too_many_statements.py
  tests/functional/t/too/too_many_statements.rc
  tests/functional/t/too/too_many_statements.txt
Due: none

Better recognize property decorators
  ChangeLog
  pylint/checkers/utils.py
  tests/functional/c/cached_property.py
  tests/functional/c/cached_property.rc
  tests/functional/c/cached_property.txt
Due: pylint, fix-documentation

Revert change + just add 'cached_property'
  pylint/checkers/utils.py
Due: pylint

Update changelog
  ChangeLog
Due: fix-documentation

Recognize cached_property as property (#4594)
  ChangeLog
  pylint/checkers/utils.py
  tests/functional/c/cached_property.py
  tests/functional/c/cached_property.rc
  tests/functional/c/cached_property.txt
Due: pylint, fix-documentation

Takes into account Pierre-Sassoulas remarks
  pylint/checkers/similar.py
Due: pylint

Formatting according to black
  pylint/checkers/similar.py
Due: pylint

Fixing a non space white character
  tests/checkers/unittest_similar.py
  tests/input/similar2
Due: pylint

remove disable
  tests/functional/r/redefined_argument_from_local.py
Due: none

Remove docs and code associated with the removed W0623 (redefine-in-handler) checker (#4543)
  CONTRIBUTORS.txt
  pylint/checkers/base.py
  pylint/checkers/utils.py
  pylint/checkers/variables.py
  tests/functional/r/redefined_argument_from_local.py
Due: pylint

Takes into accound the remarks of cdce8p
  pylint/checkers/similar.py
Due: pylint

Add type annotations to pyreverse dot files
  pylint/pyreverse/diagrams.py
  pylint/pyreverse/inspector.py
  pylint/pyreverse/utils.py
  pylint/pyreverse/writer.py
  tests/unittest_pyreverse_writer.py
Due: pylint

Refactoring of pyreverse tests - extract common fixtures and functions, move to own directory
  .pre-commit-config.yaml
  pylint/testutils/pyreverse.py
  tests/pyreverse/conftest.py
  tests/pyreverse/data/__init__.py
  tests/pyreverse/data/ascript
  tests/pyreverse/data/classes_No_Name.dot
  tests/pyreverse/data/classes_colorized.dot
  tests/pyreverse/data/classes_plantuml.puml
  tests/pyreverse/data/classes_puml_colorized.puml
  tests/pyreverse/data/classes_vcg.vcg
  tests/pyreverse/data/clientmodule_test.py
  tests/pyreverse/data/packages_No_Name.dot
  tests/pyreverse/data/packages_colorized.dot
  tests/pyreverse/data/packages_plantuml.puml
  tests/pyreverse/data/packages_puml_colorized.puml
  tests/pyreverse/data/packages_vcg.vcg
  tests/pyreverse/data/suppliermodule_test.py
  tests/pyreverse/test_diadefs.py
  tests/pyreverse/test_inspector.py
  tests/pyreverse/test_writer.py
  tests/unittest_pyreverse_writer.py
Due: pylint

Exclude all 'data' subdirectories under 'tests' for pre-commit hooks
  .pre-commit-config.yaml
  tests/pyreverse/data/ascript
  tests/pyreverse/data/clientmodule_test.py
  tests/test_self.py
Due: pylint

Move test file back to where it belongs
  tests/data/ascript
Due: none

Update additional mypy pre-commit dependencies
  .pre-commit-config.yaml
Due: none

Fix reverted requirements update
  requirements_test.txt
Due: none

Update isort dependency
  requirements_test_pre_commit.txt
Due: none

Exclude 'data' subdirectories under test, as they may contain deliberately 'wrong' code. Check top level ``conftest.py`` but ignore remaining ones, as this raises mypy errors for duplicate modules.
  .pre-commit-config.yaml
Due: none

Upgrade astroid to 2.6.0
  ChangeLog
  requirements_test_min.txt
  setup.cfg
Due: fix-documentation

Upgrade astroid to 2.6.0 (#4602)
  ChangeLog
  requirements_test_min.txt
  setup.cfg
Due: fix-documentation

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Add code analysis provided by GitHub(#4605)
  .github/workflows/codeql-analysis.yml
Due: none

Fix a crash when a test function is decorated with ``@pytest.fixture``
  ChangeLog
  pylint/checkers/utils.py
  tests/functional/r/regression/regression_4612_crash_pytest_fixture.py
Due: pylint, fix-documentation

Fix a crash when a test function is decorated with ``@pytest.fixture`` (#4613)
  ChangeLog
  pylint/checkers/utils.py
  tests/functional/r/regression/regression_4612_crash_pytest_fixture.py
Due: pylint, fix-documentation

Add regression tests for issue #2913
  tests/functional/r/regression/regression_2913.py
  tests/functional/r/regression/regression_2913.txt
Due: none

Add a '__repr__' function in Docstring
  pylint/extensions/_check_docs_utils.py
Due: pylint

Fix useless-type-doc false positive when args exist in the docstring
  pylint/extensions/_check_docs_utils.py
  pylint/extensions/docparams.py
  tests/functional/u/useless/useless_type_doc.py
  tests/functional/u/useless/useless_type_doc.rc
Due: pylint

Make a smarter check to avoid 'useless-type-doc' false positive
  ChangeLog
  doc/whatsnew/2.9.rst
  pylint/extensions/_check_docs_utils.py
  pylint/extensions/docparams.py
  tests/extensions/test_check_docs.py
  tests/functional/u/useless/useless_type_doc.py
  tests/functional/u/useless/useless_type_doc.txt
Due: pylint, fix-documentation
