Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

check-newsfragments:
  name: Check newsfragments
  entry: python3 -m script.check_newsfragments
  language: system

Use pathlib glob for file filter
  pylint/testutils/functional/test_file.py
Due: pylint

Allow different test output for different Python versions
  pylint/testutils/functional/test_file.py
  tests/functional/ext/typing/unnecessary_default_type_args.313.txt
  tests/functional/ext/typing/unnecessary_default_type_args.py
  tests/functional/ext/typing/unnecessary_default_type_args.rc
  tests/functional/ext/typing/unnecessary_default_type_args_py313.py
  tests/functional/ext/typing/unnecessary_default_type_args_py313.rc
Due: pylint

Improve documentation
  doc/development_guide/contributor_guide/tests/writing_test.rst
Due: none

Introduce composition
  pylint/pyreverse/diagrams.py
  pylint/pyreverse/inspector.py
  pylint/pyreverse/printer.py
  pylint/pyreverse/writer.py
Due: pylint

Update all the printers to emit the right arrow types
  pylint/pyreverse/dot_printer.py
  pylint/pyreverse/mermaidjs_printer.py
  pylint/pyreverse/plantuml_printer.py
Due: pylint

Fix windows tests
  tests/testutils/test_functional_testutils.py
Due: pylint

Update docstring
  pylint/pyreverse/inspector.py
Due: pylint

Remove type annotations from test output
  tests/pyreverse/functional/class_diagrams/aggregation/fields.mmd
Due: none

Avoid processing duplicate relationships
  pylint/pyreverse/diagrams.py
Due: pylint

Update expected files again -> defaults to association
  tests/pyreverse/functional/class_diagrams/aggregation/fields.mmd
  tests/pyreverse/functional/class_diagrams/aggregation/fields.py
Due: none

change arrowhead for dot language for association relationsships
  pylint/pyreverse/dot_printer.py
Due: pylint

updated diagrams.py file
  doc/whatsnew/fragments/10373.bugfix
  pylint/pyreverse/diagrams.py
Due: pylint, check-newsfragments

added tests
  doc/whatsnew/fragments/10373.bugfix
  tests/functional/t/test_aggregation_filtering.py
  tests/functional/t/test_aggregation_filtering.txt
Due: check-newsfragments

updated tests
  tests/pyreverse/functional/class_diagrams/aggregation/test_aggregation_filtering.mmd
  tests/pyreverse/functional/class_diagrams/aggregation/test_aggregation_filtering.py
Due: none

added test cases
  tests/pyreverse/functional/class_diagrams/aggregation/test_aggregation_filtering.mmd
  tests/pyreverse/functional/class_diagrams/aggregation/test_aggregation_filtering.py
  tests/pyreverse/functional/class_diagrams/aggregation_filtering/all.mmd
  tests/pyreverse/functional/class_diagrams/aggregation_filtering/all.py
  tests/pyreverse/functional/class_diagrams/aggregation_filtering/all.rc
  tests/pyreverse/functional/class_diagrams/aggregation_filtering/other.mmd
  tests/pyreverse/functional/class_diagrams/aggregation_filtering/other.py
  tests/pyreverse/functional/class_diagrams/aggregation_filtering/other.rc
  tests/pyreverse/functional/class_diagrams/aggregation_filtering/pub_only.mmd
  tests/pyreverse/functional/class_diagrams/aggregation_filtering/pub_only.py
  tests/pyreverse/functional/class_diagrams/aggregation_filtering/pub_only.rc
  tests/pyreverse/functional/class_diagrams/aggregation_filtering/special.mmd
  tests/pyreverse/functional/class_diagrams/aggregation_filtering/special.py
  tests/pyreverse/functional/class_diagrams/aggregation_filtering/special.rc
Due: none

Fix Pyreverse: Aggregations aren't filtered according to filter mode (PUB_ONLY, etc.) (#10379)
  doc/whatsnew/fragments/10373.bugfix
  pylint/pyreverse/diagrams.py
  tests/pyreverse/functional/class_diagrams/aggregation_filtering/all.mmd
  tests/pyreverse/functional/class_diagrams/aggregation_filtering/all.py
  tests/pyreverse/functional/class_diagrams/aggregation_filtering/all.rc
  tests/pyreverse/functional/class_diagrams/aggregation_filtering/other.mmd
  tests/pyreverse/functional/class_diagrams/aggregation_filtering/other.py
  tests/pyreverse/functional/class_diagrams/aggregation_filtering/other.rc
  tests/pyreverse/functional/class_diagrams/aggregation_filtering/pub_only.mmd
  tests/pyreverse/functional/class_diagrams/aggregation_filtering/pub_only.py
  tests/pyreverse/functional/class_diagrams/aggregation_filtering/pub_only.rc
  tests/pyreverse/functional/class_diagrams/aggregation_filtering/special.mmd
  tests/pyreverse/functional/class_diagrams/aggregation_filtering/special.py
  tests/pyreverse/functional/class_diagrams/aggregation_filtering/special.rc
Due: pylint, check-newsfragments

Escape characters in mermaid viewer
  pylint/pyreverse/mermaidjs_printer.py
Due: pylint

Update test files
  tests/pyreverse/functional/class_diagrams/aggregation_filtering/all.mmd
  tests/pyreverse/functional/class_diagrams/aggregation_filtering/other.mmd
  tests/pyreverse/functional/class_diagrams/aggregation_filtering/special.mmd
Due: none

Add news fragement
  doc/whatsnew/fragments/10402.bugfix
Due: check-newsfragments

Respect docstring-min-length in docparams extension
  pylint/extensions/docparams.py
Due: pylint

Functional tests for docparams extension docstring-min-length fix
  pylint/extensions/docparams.py
  tests/functional/ext/docparams/raise/missing_raises_doc_required_min_length.py
  tests/functional/ext/docparams/raise/missing_raises_doc_required_min_length.rc
  tests/functional/ext/docparams/return/missing_return_doc_required_min_length.py
  tests/functional/ext/docparams/return/missing_return_doc_required_min_length.rc
  tests/functional/ext/docparams/yield/missing_yield_doc_required_min_length.py
  tests/functional/ext/docparams/yield/missing_yield_doc_required_min_length.rc
Due: pylint

Changelog for docparams extension docstring-min-length fix
  doc/whatsnew/fragments/10104.false_negative
Due: check-newsfragments

Functional tests for docparams extension docstring-min-length fix
  tests/functional/ext/docparams/raise/missing_raises_doc_required_min_length.py
  tests/functional/ext/docparams/raise/missing_raises_doc_required_min_length.rc
  tests/functional/ext/docparams/yield/missing_yield_doc_required_min_length.py
  tests/functional/ext/docparams/yield/missing_yield_doc_required_min_length.rc
Due: none

Changelog for docparams extension docstring-min-length fix
  doc/whatsnew/fragments/10104.false_positive
Due: check-newsfragments

Apply suggestions from code review
  doc/whatsnew/fragments/10402.bugfix
  pylint/pyreverse/mermaidjs_printer.py
Due: pylint, check-newsfragments

Add return type mismatch check for overridden methods
  pylint/checkers/classes/class_checker.py
Due: pylint

Add a test case for this
  tests/functional/i/invalid/invalid_overridden_method.py
  tests/functional/i/invalid/invalid_overridden_method.txt
Due: none

Adjust tests that only ran on 3.9
  tests/functional/a/alternative/alternative_union_syntax_error.py
  tests/functional/a/alternative/alternative_union_syntax_error.rc
  tests/functional/d/deprecated/deprecated_class_py33.py
  tests/functional/d/deprecated/deprecated_class_py33.rc
  tests/functional/d/deprecated/deprecated_class_py33.txt
  tests/functional/d/deprecated/deprecated_methods_py39.rc
  tests/functional/d/deprecated/deprecated_module_py39.rc
  tests/functional/d/deprecated/deprecated_module_py39_earlier_pyversion.rc
  tests/functional/i/iterable_context_asyncio.rc
  tests/functional/r/regression/regression_4439.py
  tests/functional/r/regression/regression_4439.rc
  tests/functional/r/regression/regression_4439.txt
  tests/functional/w/wrong_exception_operation_py37.py
  tests/functional/w/wrong_exception_operation_py37.rc
  tests/functional/w/wrong_exception_operation_py37.txt
Due: none

Remove PY310_PLUS constant
  pylint/checkers/typecheck.py
  pylint/constants.py
Due: pylint

Remove version guards from typing imports
  pylint/config/_pylint_config/utils.py
  pylint/extensions/code_style.py
Due: pylint

Drop support for Python 3.9
  .github/workflows/primer-test.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/primer_run_pr.yaml
  .github/workflows/tests.yaml
  README.rst
  doc/whatsnew/fragments/10405.other
  pylintrc
  pyproject.toml
  tests/primer/packages_to_prime.json
  tox.ini
Due: check-newsfragments

Remove min_pyver=3.10
  tests/functional/a/alternative/alternative_union_syntax.rc
  tests/functional/a/alternative/alternative_union_syntax_regession_8119.rc
  tests/functional/d/dataclass/dataclass_kw_only.rc
  tests/functional/d/dataclass/dataclass_parameter.rc
  tests/functional/ext/typing/redundant_typehint_argument_py310.rc
  tests/functional/ext/typing/typing_consider_using_union_py310.rc
  tests/functional/i/isinstance_second_argument_py310.rc
  tests/functional/p/pattern_matching.rc
  tests/functional/s/super/super_init_not_called_extensions_py310.rc
  tests/functional/t/type/typealias_naming_style_default.rc
  tests/functional/t/type/typealias_naming_style_rgx.rc
  tests/functional/u/unpacking/unpacking_non_sequence_py310.rc
  tests/functional/u/unused/unused_name_in_string_literal_type_annotation_py310.rc
  tests/functional/u/used/used_before_assignment_py310.rc
  tests/functional/w/wrong_exception_operation.rc
Due: none

Update functional test output
  tests/functional/a/alternative/alternative_union_syntax_error.txt
  tests/functional/d/deprecated/deprecated_methods_py39.py
  tests/functional/d/deprecated/deprecated_methods_py39.rc
  tests/functional/d/deprecated/deprecated_methods_py39.txt
  tests/functional/d/deprecated/deprecated_module_py39.py
  tests/functional/d/deprecated/deprecated_module_py39.txt
  tests/functional/d/deprecated/deprecated_module_py39_earlier_pyversion.py
  tests/functional/d/deprecated/deprecated_module_py39_earlier_pyversion.txt
Due: none

Replace zip() with itertools.pairwise()
  pylint/checkers/base/basic_checker.py
Due: pylint

Allow different test output for different Python versions (#10382)
  doc/development_guide/contributor_guide/tests/writing_test.rst
  doc/whatsnew/fragments/10382.internal
  pylint/testutils/functional/test_file.py
  tests/functional/ext/typing/unnecessary_default_type_args.313.txt
  tests/functional/ext/typing/unnecessary_default_type_args.py
  tests/functional/ext/typing/unnecessary_default_type_args.rc
  tests/functional/ext/typing/unnecessary_default_type_args_py313.py
  tests/functional/ext/typing/unnecessary_default_type_args_py313.rc
  tests/testutils/test_functional_testutils.py
Due: pylint, check-newsfragments

Configure ruff for python 3.10
  pyproject.toml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Ignore UP038
  pyproject.toml
Due: none

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst
