Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

check-newsfragments:
  name: Check newsfragments
  entry: python3 -m script.check_newsfragments
  language: system

Extra arg for "method" (self) and "classmethod" (cls)
  pylint/checkers/design_analysis.py
Due: pylint

Update comments in test file
  tests/pyreverse/functional/class_diagrams/aggregation/fields.py
Due: none

rename test folders for better clarity
  tests/pyreverse/functional/class_diagrams/associations/comprehensions.mmd
  tests/pyreverse/functional/class_diagrams/associations/comprehensions.py
  tests/pyreverse/functional/class_diagrams/associations/fields.mmd
  tests/pyreverse/functional/class_diagrams/associations/fields.py
  tests/pyreverse/functional/class_diagrams/associations_filtering/all.mmd
  tests/pyreverse/functional/class_diagrams/associations_filtering/all.py
  tests/pyreverse/functional/class_diagrams/associations_filtering/all.rc
  tests/pyreverse/functional/class_diagrams/associations_filtering/other.mmd
  tests/pyreverse/functional/class_diagrams/associations_filtering/other.py
  tests/pyreverse/functional/class_diagrams/associations_filtering/other.rc
  tests/pyreverse/functional/class_diagrams/associations_filtering/pub_only.mmd
  tests/pyreverse/functional/class_diagrams/associations_filtering/pub_only.py
  tests/pyreverse/functional/class_diagrams/associations_filtering/pub_only.rc
  tests/pyreverse/functional/class_diagrams/associations_filtering/special.mmd
  tests/pyreverse/functional/class_diagrams/associations_filtering/special.py
  tests/pyreverse/functional/class_diagrams/associations_filtering/special.rc
Due: none

Update relationship extraction to avoid duplicate entries
  pylint/pyreverse/diagrams.py
Due: pylint

Correctly infer the node type for Composition
  pylint/pyreverse/inspector.py
Due: pylint

Update the functional test for comprehensions aswell
  tests/pyreverse/functional/class_diagrams/associations/comprehensions.mmd
  tests/pyreverse/functional/class_diagrams/associations/comprehensions.py
Due: none

Instead of checking not call node check for name node ==> more explicit
  pylint/pyreverse/inspector.py
Due: pylint

Remove redundant checks in AggregationHandler
  pylint/pyreverse/inspector.py
Due: pylint

Add todo note because infering type in Aggregation comprehensions is unreliable for now
  pylint/pyreverse/inspector.py
  tests/pyreverse/functional/class_diagrams/associations/comprehensions.mmd
  tests/pyreverse/functional/class_diagrams/associations/comprehensions.py
Due: pylint

Fix order so that tests pass
  tests/pyreverse/functional/class_diagrams/associations/comprehensions.mmd
Due: none

Update the functional test files for attribute annotation, because now pyreverse correctly extracts Dummy as Association
  tests/pyreverse/functional/class_diagrams/annotations/attributes_annotation.dot
  tests/pyreverse/functional/class_diagrams/annotations/attributes_annotation.mmd
  tests/pyreverse/functional/class_diagrams/annotations/attributes_annotation.puml
Due: none

Use the new utility function for the other handlers aswell
  pylint/pyreverse/inspector.py
Due: pylint

Fix regression that did not correctly detect Composition in fields.py
  pylint/pyreverse/inspector.py
Due: pylint

Revert functional test for comprehension ==> this now works with new util functions
  tests/pyreverse/functional/class_diagrams/associations/comprehensions.mmd
  tests/pyreverse/functional/class_diagrams/associations/comprehensions.py
Due: none

Add correct arrow type for dot printer
  pylint/pyreverse/dot_printer.py
  tests/pyreverse/functional/class_diagrams/annotations/attributes_annotation.dot
Due: pylint

Update functional tests to include all file formats
  tests/pyreverse/functional/class_diagrams/associations/comprehensions.dot
  tests/pyreverse/functional/class_diagrams/associations/comprehensions.puml
  tests/pyreverse/functional/class_diagrams/associations/comprehensions.rc
  tests/pyreverse/functional/class_diagrams/associations/fields.dot
  tests/pyreverse/functional/class_diagrams/associations/fields.mmd
  tests/pyreverse/functional/class_diagrams/associations/fields.puml
  tests/pyreverse/functional/class_diagrams/associations/fields.py
  tests/pyreverse/functional/class_diagrams/associations/fields.rc
Due: none

Fix diadefs tests (DoNothing now is correctly detected as Composition instead of assoiciation)
  tests/pyreverse/test_diadefs.py
Due: pylint

colorize configured fail-on symbols red inverse
  pylint/config/config_initialization.py
  pylint/lint/pylinter.py
  pylint/reporters/text.py
Due: pylint

Remove TODO since this now works
  pylint/pyreverse/inspector.py
Due: pylint

Rename functional test files to relationships for better clarity
  tests/pyreverse/functional/class_diagrams/relationships/comprehensions.dot
  tests/pyreverse/functional/class_diagrams/relationships/comprehensions.mmd
  tests/pyreverse/functional/class_diagrams/relationships/comprehensions.puml
  tests/pyreverse/functional/class_diagrams/relationships/comprehensions.py
  tests/pyreverse/functional/class_diagrams/relationships/comprehensions.rc
  tests/pyreverse/functional/class_diagrams/relationships/fields.dot
  tests/pyreverse/functional/class_diagrams/relationships/fields.mmd
  tests/pyreverse/functional/class_diagrams/relationships/fields.puml
  tests/pyreverse/functional/class_diagrams/relationships/fields.py
  tests/pyreverse/functional/class_diagrams/relationships/fields.rc
  tests/pyreverse/functional/class_diagrams/relationships_filtering/all.mmd
  tests/pyreverse/functional/class_diagrams/relationships_filtering/all.py
  tests/pyreverse/functional/class_diagrams/relationships_filtering/all.rc
  tests/pyreverse/functional/class_diagrams/relationships_filtering/other.mmd
  tests/pyreverse/functional/class_diagrams/relationships_filtering/other.py
  tests/pyreverse/functional/class_diagrams/relationships_filtering/other.rc
  tests/pyreverse/functional/class_diagrams/relationships_filtering/pub_only.mmd
  tests/pyreverse/functional/class_diagrams/relationships_filtering/pub_only.py
  tests/pyreverse/functional/class_diagrams/relationships_filtering/pub_only.rc
  tests/pyreverse/functional/class_diagrams/relationships_filtering/special.mmd
  tests/pyreverse/functional/class_diagrams/relationships_filtering/special.py
  tests/pyreverse/functional/class_diagrams/relationships_filtering/special.rc
Due: none

rename to compositionshandler for better clarity
  pylint/pyreverse/inspector.py
Due: pylint

Rename association-related classes to relationship aswell for improved clarity
  pylint/pyreverse/inspector.py
Due: pylint

add whatsnew fragment
  doc/whatsnew/fragments/9898.feature.rst
Due: check-newsfragments

Try to fix the failing tests by processing instance attributes and class level attributes separate
  pylint/pyreverse/inspector.py
Due: pylint

Fix diadefs_test again (cls_member is now also correctly identified as composition instead of association)
  tests/pyreverse/test_diadefs.py
Due: pylint

Also consider composition when when filtering for --no-standalone ==> fixes last failing test
  pylint/pyreverse/writer.py
Due: pylint

remove .rst extension from whatsnew fragment
  doc/whatsnew/fragments/9898.feature
Due: check-newsfragments

fix mypy typing findings
  pylint/lint/pylinter.py
  pylint/reporters/text.py
Due: pylint

fix whatsnew fragment
  doc/whatsnew/fragments/9898.feature
Due: check-newsfragments

Add newsfragment
  doc/whatsnew/fragments/9045.feature
Due: check-newsfragments

Improve return type check
  pylint/checkers/classes/class_checker.py
Due: pylint

Add functional tests
  tests/pyreverse/functional/class_diagrams/attributes/duplicates_9267.mmd
  tests/pyreverse/functional/class_diagrams/attributes/duplicates_9267.py
Due: none

Update newsfragement
  doc/whatsnew/fragments/9045.feature
Due: check-newsfragments

Refactor return type compatibility check in class methods to now also correctly handle Any as a Return type
  pylint/checkers/classes/class_checker.py
Due: pylint

Add newsfragment
  doc/whatsnew/fragments/10351.false_negative
Due: check-newsfragments

Update comments in test case
  tests/functional/i/invalid/invalid_overridden_method.py
  tests/functional/i/invalid/invalid_overridden_method.txt
Due: none

Try to increase test coverage
  tests/functional/i/invalid/invalid_overridden_method.py
  tests/functional/i/invalid/invalid_overridden_method.txt
Due: none

Add a new fragment (#8675)
  doc/whatsnew/fragments/8675.false_negative
Due: check-newsfragments

Fix max_positional_arguments, fix tests
  pylint/checkers/design_analysis.py
  tests/functional/t/too/too_many_positional_arguments.py
  tests/functional/t/too/too_many_positional_arguments.txt
Due: pylint

Fix FiveArgumentMethods class name
  tests/functional/t/too/too_many_positional_arguments.py
  tests/functional/t/too/too_many_positional_arguments.txt
Due: none

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst
