Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --load-plugins=pylint.extensions.docparams

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

Bump pyupgrade to v2.19.1
  .pre-commit-config.yaml
Due: none

Improve traceback for pytest runs
  pylint/testutils/lint_module_test.py
  tests/test_functional.py
Due: pylint

Bump pyupgrade to v2.19.1 (#4547)
  .pre-commit-config.yaml
Due: none

Upgrade to astroid 2.5.8
  requirements_test_min.txt
  setup.cfg
Due: none

Add documentation in order to prevent error in the future
  requirements_test_pre_commit.txt
  setup.cfg
Due: none

Add regression test for Pattern Matching 3.10
  ChangeLog
  tests/functional/p/pattern_matching.py
  tests/functional/p/pattern_matching.rc
Due: fix-documentation

Add regression test for Pattern Matching 3.10 (#4550)
  ChangeLog
  tests/functional/p/pattern_matching.py
  tests/functional/p/pattern_matching.rc
Due: fix-documentation

Adds some enumerations into LineType enum class
  pylint/checkers/similar.py
Due: pylint

Reworking docstrings
  pylint/checkers/similar.py
Due: pylint

Replaces min_common local variable with the corresponding member variable
  pylint/checkers/similar.py
Due: pylint

Adds docstring
  pylint/checkers/similar.py
Due: pylint

Docstring starting lines should have type DOC too
  pylint/checkers/similar.py
Due: pylint

Uses attribute node instead of index to be clearer
  tests/checkers/unittest_similar.py
Due: pylint

Adds details in module docstring
  pylint/checkers/similar.py
Due: pylint

Empty lines that were comments before being stripped are considered as equal
  pylint/checkers/similar.py
Due: pylint

Rework the help message do distinguish the options
  pylint/checkers/similar.py
Due: pylint

Adds a full line of comments in the test and adapts the expected results
  tests/checkers/unittest_similar.py
  tests/input/similar1
  tests/input/similar2
Due: pylint

ignore-docstrings by default is True and so all docstrings (differents or identicals) are considered identicals
  tests/messages/func_w0801.txt
Due: none

Pylint over itself
  pylint/checkers/similar.py
Due: pylint

Formatting
  pylint/checkers/similar.py
Due: pylint

Updated pyver requirements to 3.7 for await_outside_async
  tests/functional/a/await_outside_async.rc
Due: none

Implemented new checker ``await-outside-async``
  ChangeLog
  doc/whatsnew/2.9.rst
  pylint/checkers/typecheck.py
  tests/functional/a/await_outside_async.py
  tests/functional/a/await_outside_async.rc
  tests/functional/a/await_outside_async.txt
Due: pylint, fix-documentation

Updated logic and testcases
  pylint/checkers/typecheck.py
  tests/functional/a/await_outside_async.py
Due: pylint

In case of multiprocessing reports options
  pylint/checkers/similar.py
Due: pylint

Changed code base on PR feedback
  ChangeLog
  pylint/checkers/typecheck.py
  tests/functional/a/await_outside_async.py
  tests/functional/a/await_outside_async.txt
Due: pylint, fix-documentation

Added additional test cases
  tests/functional/a/await_outside_async.py
  tests/functional/a/await_outside_async.txt
Due: none

Small changes
  tests/functional/a/await_outside_async.py
  tests/functional/a/await_outside_async.txt
Due: none

Implemented new checker await-outside-async (#4514)
  ChangeLog
  doc/whatsnew/2.9.rst
  pylint/checkers/typecheck.py
  tests/functional/a/await_outside_async.py
  tests/functional/a/await_outside_async.rc
  tests/functional/a/await_outside_async.txt
Due: pylint, fix-documentation

Clarify documentation typing extension
  ChangeLog
  pylint/extensions/typing.py
Due: pylint, fix-documentation

Update explanation
  pylint/extensions/typing.py
Due: pylint

Add new checker consider-using-tuple-iterator
  ChangeLog
  doc/whatsnew/2.9.rst
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/c/consider/consider_using_tuple_iterator.py
  tests/functional/c/consider/consider_using_tuple_iterator.txt
Due: pylint, fix-documentation

Fix existing tests
  tests/extensions/data/broad_try_clause.py
  tests/functional/b/bad_indentation.py
  tests/functional/c/consider/consider_join.py
  tests/functional/c/consider/consider_using_dict_comprehension.py
  tests/functional/l/len_checks.py
  tests/functional/r/recursion/recursion_error_crash_2683.py
  tests/functional/r/redefined_argument_from_local.py
  tests/functional/r/reused_outer_loop_variable.py
  tests/functional/r/reused_outer_loop_variable_py3.py
  tests/functional/u/undefined/undefined_loop_variable.py
  tests/functional/u/undefined/undefined_variable.py
  tests/functional/u/unused/unused_typing_imports.py
  tests/functional/u/use/used_before_assignment_issue1081.py
Due: none

Fix existing code
  pylint/checkers/classes.py
  pylint/checkers/format.py
  pylint/checkers/python3.py
  pylint/checkers/refactoring/len_checker.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/extensions/_check_docs_utils.py
  tests/checkers/unittest_strings.py
  tests/extensions/test_check_raise_docs.py
  tests/lint/unittest_lint.py
  tests/test_import_graph.py
  tests/test_self.py
  tests/unittest_pyreverse_diadefs.py
Due: pylint

Change to consider-using-tuple
  ChangeLog
  doc/whatsnew/2.9.rst
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/c/consider/consider_using_tuple.py
  tests/functional/c/consider/consider_using_tuple.txt
  tests/functional/c/consider/consider_using_tuple_iterator.txt
  tests/functional/u/undefined/undefined_loop_variable.py
Due: pylint, fix-documentation

Move to new extension CodeStyleChecker
  ChangeLog
  doc/whatsnew/2.9.rst
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/extensions/code_style.py
  pylintrc
  tests/functional/ext/code_style/consider_using_tuple.py
  tests/functional/ext/code_style/consider_using_tuple.rc
  tests/functional/ext/code_style/consider_using_tuple.txt
Due: pylint, fix-documentation

Path conditions:
  pylint: any of: \.py$, but not: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
  fix-documentation: any of: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
