Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

Skip deployment for backport job
  .github/workflows/backport.yml
Due: none

Skip deployment for backport job (#10931)
  .github/workflows/backport.yml
Due: none

Fix extra blank lines and duplicate </details> in primer comment
  pylint/testutils/_primer/primer_compare_command.py
  tests/testutils/_primer/batched_cases/expected.txt
  tests/testutils/_primer/cases/message_changed/expected.txt
  tests/testutils/_primer/cases/new_message/expected.txt
  tests/testutils/_primer/cases/removed_message/expected.txt
Due: pylint

test: cover all _messages_match mismatch branches for 100% patch coverage
  tests/testutils/test_checker_test_case.py
Due: pylint

Fix unclosed <details> tag when primer comment is truncated mid-block
  pylint/testutils/_primer/primer_compare_command.py
  tests/testutils/_primer/cases/message_changed/expected_truncated_in_details.txt
  tests/testutils/_primer/test_primer.py
Due: pylint

Improve primer diff rendering and add test fixtures
  pylint/testutils/_primer/comparator.py
  pylint/testutils/_primer/primer_compare_command.py
  tests/testutils/_primer/fixtures/batched/expected_comparator.json
  tests/testutils/_primer/fixtures/line_moved/expected.txt
  tests/testutils/_primer/fixtures/message_changed/expected_comparator.json
  tests/testutils/_primer/fixtures/message_changed/expected_truncated_in_details.txt
  tests/testutils/_primer/fixtures/message_changed_line/expected.txt
  tests/testutils/_primer/fixtures/message_changed_line/expected_comparator.json
  tests/testutils/_primer/fixtures/mixed_changes/expected.txt
  tests/testutils/_primer/fixtures/mixed_changes/expected_comparator.json
  tests/testutils/_primer/fixtures/mixed_changes/main.json
  tests/testutils/_primer/fixtures/mixed_changes/pr.json
  tests/testutils/_primer/fixtures/new_message/expected.txt
  tests/testutils/_primer/fixtures/new_message/expected_comparator.json
  tests/testutils/_primer/fixtures/removed_message/expected.txt
  tests/testutils/_primer/fixtures/removed_message/expected_comparator.json
  tests/testutils/_primer/fixtures/type_changed/expected.txt
  tests/testutils/_primer/fixtures/type_changed/expected_comparator.json
  tests/testutils/_primer/fixtures/type_changed/main.json
  tests/testutils/_primer/fixtures/type_changed/pr.json
Due: pylint

[test] Update test_enable_message_block for astroid block_range change
  tests/lint/unittest_lint.py
Due: pylint

Add backticks
  doc/whatsnew/fragments/8675.false_positive
Due: check-newsfragments

Fix pre-commit
  doc/whatsnew/fragments/9864.false_positive
Due: check-newsfragments

Fix treatment of "self" arg for too-many-arguments message (#10885)
  doc/whatsnew/fragments/8675.false_positive
  pylint/checkers/design_analysis.py
  pylint/config/argument.py
  tests/functional/a/async_functions.txt
  tests/functional/t/too/too_many_positional_arguments.py
  tests/functional/t/too/too_many_positional_arguments.txt
Due: pylint, check-newsfragments

Add the option to iterate_file_descriptions with augmented sys_path
  pylint/lint/pylinter.py
Due: pylint

Augment syspath before loading plugins
  pylint/lint/parallel.py
Due: pylint

Add regression tests that invoke pylint via subprocess
  tests/test_self.py
Due: pylint

Add newsfragment
  doc/whatsnew/fragments/10794.false_positive
Due: check-newsfragments

In parallel branch expand files with augmented syspath first before iterating in parallel
  pylint/lint/pylinter.py
Due: pylint

Apply suggestions from code review
  tests/test_self.py
Due: pylint

Fix tests
  tests/test_self.py
Due: pylint

Split _iterate_file_descrs into 2 functions to allow iterating on already expanded modules
  pylint/lint/pylinter.py
Due: pylint

Augment the syspath when iterating file descriptions in parallel path
  pylint/lint/pylinter.py
Due: pylint

Refactor check flow to build FileItems before parallel decision
  pylint/lint/pylinter.py
Due: pylint

Limit the scope of augmented_sys_path to avoid issues with forkserver in Python 3.14
  pylint/lint/pylinter.py
Due: pylint

Clean up comments
  pylint/lint/pylinter.py
Due: pylint

feat(dict-init-mutate): include suggested dict literal in message
  pylint/extensions/dict_init_mutate.py
  tests/functional/ext/dict_init_mutate.txt
Due: pylint

docs: add towncrier fragment for #7819
  doc/whatsnew/fragments/7819.feature
Due: check-newsfragments

fix: add Closes #7819 to changelog fragment and issue test case
  doc/whatsnew/fragments/7819.feature
  tests/functional/ext/dict_init_mutate.py
  tests/functional/ext/dict_init_mutate.txt
Due: check-newsfragments

Update the numbering and add back the todo
  pylint/lint/pylinter.py
Due: pylint

fixing false positives and errors
  pylint/checkers/looping_iterator_checker.py
  tests/functional/l/looping_iterator.py
  tests/functional/l/looping_iterator.txt
Due: pylint

test: add attribute-access dict comprehension test case from #7819
  tests/functional/ext/dict_init_mutate.py
  tests/functional/ext/dict_init_mutate.txt
Due: none

fix: truncate large dict suggestions to 5 items in dict-init-mutate
  pylint/extensions/dict_init_mutate.py
  tests/functional/ext/dict_init_mutate.py
  tests/functional/ext/dict_init_mutate.txt
Due: pylint

Expand use-implicit-booleaness-not-len to catch len(x) == 0 and > 0
  pylint/checkers/refactoring/implicit_booleaness_checker.py
  tests/functional/u/use/use_implicit_booleaness_not_len.py
  tests/functional/u/use/use_implicit_booleaness_not_len.txt
Due: pylint

adding more concrete examples for documentation and fixing linting and precheck issues
  doc/data/messages/l/looping-through-iterator/bad.py
  doc/data/messages/l/looping-through-iterator/good.py
  pylint/checkers/looping_iterator_checker.py
Due: pylint

fixing spelling in documentation
  doc/user_guide/checkers/features.rst
Due: none

Address maintainer feedback from Pierre-Sassoulas
  doc/whatsnew/fragments/9598.internal
  pylint/testutils/checker_test_case.py
  tests/testutils/test_checker_test_case.py
Due: pylint, check-newsfragments

Fix no-else-raise lint warning in assertDoesNotAddMessages
  pylint/testutils/checker_test_case.py
Due: pylint

Less LLM comments, skeleton of raise match assertion
  tests/testutils/test_checker_test_case.py
Due: pylint

Fix augmented sys.path handling for parallel namespace-package checks (#10929)
  doc/whatsnew/fragments/10794.false_positive
  pylint/lint/parallel.py
  pylint/lint/pylinter.py
  tests/test_self.py
Due: pylint, check-newsfragments
