Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation, check-newsfragments

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

check-newsfragments:
  name: Check newsfragments
  entry: python3 -m script.check_newsfragments
  language: system

Add version option to pyreverse
  doc/whatsnew/fragments/7851.feature
  pylint/pyreverse/main.py
  tests/pyreverse/test_main.py
Due: pylint, check-newsfragments

Add ``--version`` option to pyreverse (#8257)
  doc/whatsnew/fragments/7851.feature
  pylint/pyreverse/main.py
  tests/pyreverse/test_main.py
Due: pylint, check-newsfragments

use property-decorators for no-name
  doc/user_guide/configuration/all-options.rst
  doc/whatsnew/fragments/1127.false_positive
  pylint/checkers/base/name_checker/checker.py
  pylint/checkers/typecheck.py
  pylint/checkers/utils.py
  pylint/lint/base_options.py
  tests/functional/n/no/no_member_property_decorator.py
  tests/functional/n/no/no_member_property_decorator.rc
Due: pylint, check-newsfragments

update docs and code according to review
  doc/data/messages/i/invalid-name/details.rst
  doc/data/messages/n/no-member/details.rst
  doc/user_guide/configuration/all-options.rst
  doc/whatsnew/fragments/1127.false_positive
  doc/whatsnew/fragments/1127.feature
  pylint/checkers/base/name_checker/checker.py
  pylint/checkers/utils.py
  pylint/lint/base_options.py
Due: pylint, check-newsfragments

remove breakpoint()
  pylint/checkers/base/name_checker/checker.py
Due: pylint

update from review
  doc/data/messages/i/invalid-name/details.rst
  doc/user_guide/configuration/all-options.rst
  pylint/checkers/base/name_checker/checker.py
  pylint/checkers/utils.py
  pylint/lint/base_options.py
  tests/functional/n/no/no_member_property_decorator.py
Due: pylint

update 2.2.16 index
  doc/whatsnew/2/2.16/index.rst
Due: none

Cut extra quotes
  tests/functional/ext/typing/redundant_typehint_argument.py
  tests/functional/ext/typing/redundant_typehint_argument_py310.py
Due: none

Add version check
  pylint/checkers/typecheck.py
Due: pylint

Add comment
  tests/functional/u/undefined/undefined_variable_py38.py
Due: none

Update functional output
  tests/functional/u/undefined/undefined_variable_py38.txt
Due: none

Fix FP for used-before-assignment with assignment expressions in containers (#8253)
  doc/whatsnew/fragments/8252.false_positive
  pylint/checkers/variables.py
  tests/functional/u/undefined/undefined_variable_py38.py
  tests/functional/u/undefined/undefined_variable_py38.txt
Due: pylint, check-newsfragments

[typing] Use __future__ annotations where possible
  doc/exts/pylint_messages.py
  doc/test_messages_documentation.py
  examples/custom.py
  examples/custom_raw.py
  pylint/checkers/classes/class_checker.py
Due: pylint

[typing] Use __future__ annotations where possible (#8264)
  doc/exts/pylint_messages.py
  doc/test_messages_documentation.py
  examples/custom.py
  examples/custom_raw.py
  pylint/checkers/classes/class_checker.py
Due: pylint

doc unexpected-line-ending-format
  .gitattributes
  doc/data/messages/u/unexpected-line-ending-format/bad.py
  doc/data/messages/u/unexpected-line-ending-format/details.rst
  doc/data/messages/u/unexpected-line-ending-format/good.py
  doc/data/messages/u/unexpected-line-ending-format/pylintrc
  doc/data/messages/u/unexpected-line-ending-format/related.rst
Due: none

Define PY310_PLUS in constants
  pylint/checkers/typecheck.py
  pylint/constants.py
Due: pylint

Stage code
  doc/data/messages/i/invalid-character-carriage-return/bad.py
  doc/data/messages/i/invalid-character-carriage-return/details.rst
  doc/data/messages/i/invalid-character-carriage-return/good.py
Due: none

Fixing error
  doc/data/messages/i/invalid-character-carriage-return/good.py
Due: none

Doc for 'unexpected-line-ending-format' (#8255)
  .gitattributes
  doc/data/messages/u/unexpected-line-ending-format/bad.py
  doc/data/messages/u/unexpected-line-ending-format/details.rst
  doc/data/messages/u/unexpected-line-ending-format/good.py
  doc/data/messages/u/unexpected-line-ending-format/pylintrc
  doc/data/messages/u/unexpected-line-ending-format/related.rst
Due: none

Add error for duplicate-string-formatting-argument
  doc/data/messages/d/duplicate-string-formatting-argument/bad.py
  doc/data/messages/d/duplicate-string-formatting-argument/details.rst
  doc/data/messages/d/duplicate-string-formatting-argument/good.py
Due: none

Removing unnecessary pylint errors
  doc/data/messages/i/invalid-character-carriage-return/bad.py
Due: none

Adding disable = back
  doc/data/messages/i/invalid-character-carriage-return/bad.py
Due: none

Add regression test for #8109
  tests/functional/r/regression_02/regression_8109.py
  tests/functional/r/regression_02/regression_8109.txt
Due: none

Upgrade astroid to 2.14.2
  pyproject.toml
  requirements_test_min.txt
Due: none

Adding bidirectional unicode
  doc/data/messages/b/bidirectional-unicode/bad.py
  doc/data/messages/b/bidirectional-unicode/details.rst
  doc/data/messages/b/bidirectional-unicode/good.py
Due: none

Apply suggestions from code review
  doc/data/messages/d/duplicate-string-formatting-argument/bad.py
  doc/data/messages/d/duplicate-string-formatting-argument/good.py
Due: none

Add documentation for duplicate-string-formatting-argument and bidirectional-unicode (#8269)
  doc/data/messages/b/bidirectional-unicode/bad.py
  doc/data/messages/b/bidirectional-unicode/details.rst
  doc/data/messages/b/bidirectional-unicode/good.py
  doc/data/messages/d/duplicate-string-formatting-argument/bad.py
  doc/data/messages/d/duplicate-string-formatting-argument/details.rst
  doc/data/messages/d/duplicate-string-formatting-argument/good.py
Due: none

Removing unnecessary string
  doc/data/messages/d/duplicate-string-formatting-argument/good.py
Due: none

Fix ``duplicate-string-formatting-argument`` comment mistakenly left in good.py (#8270)
  doc/data/messages/d/duplicate-string-formatting-argument/good.py
Due: none

Bump pylint to 2.16.2, update changelog
  doc/whatsnew/2/2.16/index.rst
  doc/whatsnew/fragments/7574.false_positive
  doc/whatsnew/fragments/7851.feature
  doc/whatsnew/fragments/8125.bugfix
  doc/whatsnew/fragments/8148.bugfix
  doc/whatsnew/fragments/8168.bugfix
  doc/whatsnew/fragments/8207.bugfix
  doc/whatsnew/fragments/8252.false_positive
  pylint/__pkginfo__.py
  tbump.toml
  towncrier.toml
Due: pylint, check-newsfragments

pre'commit
  .pre-commit-config.yaml
Due: none

Bump pylint to 2.16.2, update changelog (#8276)
  doc/whatsnew/2/2.16/index.rst
  doc/whatsnew/fragments/7574.false_positive
  doc/whatsnew/fragments/7851.feature
  doc/whatsnew/fragments/8125.bugfix
  doc/whatsnew/fragments/8148.bugfix
  doc/whatsnew/fragments/8168.bugfix
  doc/whatsnew/fragments/8207.bugfix
  doc/whatsnew/fragments/8252.false_positive
  pylint/__pkginfo__.py
  tbump.toml
  towncrier.toml
Due: pylint, check-newsfragments

Add consier-alternative-union-syntax and consider-using-namedtuple-or-dataclass
  doc/data/messages/c/consider-alternative-union-syntax/bad.py
  doc/data/messages/c/consider-alternative-union-syntax/details.rst
  doc/data/messages/c/consider-alternative-union-syntax/good.py
  doc/data/messages/c/consider-alternative-union-syntax/pylintrc
  doc/data/messages/c/consider-using-namedtuple-or-dataclass/bad.py
  doc/data/messages/c/consider-using-namedtuple-or-dataclass/details.rst
  doc/data/messages/c/consider-using-namedtuple-or-dataclass/good.py
  doc/data/messages/c/consider-using-namedtuple-or-dataclass/pylintrc
Due: none

Fix consider-using-alias bad
  doc/data/messages/c/consider-using-alias/bad.py
  doc/data/messages/c/consider-using-alias/pylintrc
Due: none

Add some changes
  doc/data/messages/c/consider-using-alias/bad.py
  doc/data/messages/c/consider-using-alias/good.py
  doc/data/messages/c/consider-using-namedtuple-or-dataclass/bad.py
  doc/data/messages/c/consider-using-namedtuple-or-dataclass/good.py
Due: none

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  fix-documentation: any of: ^(doc/whatsnew/\d+\.\d+\.rst)
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst
