Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

update changelogs with new checker
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/deprecated.py
  pylint/checkers/imports.py
  tests/functional/d/deprecated/deprecated_module_py3.txt
  tests/functional/d/deprecated/deprecated_module_py310.txt
  tests/functional/d/deprecated/deprecated_module_py33.txt
  tests/functional/d/deprecated/deprecated_module_py36.txt
  tests/functional/d/deprecated/deprecated_module_py39.txt
  tests/functional/d/deprecated/deprecated_module_py39_earlier_pyversion.txt
  tests/functional/d/deprecated/deprecated_module_py4.txt
  tests/functional/d/deprecated/deprecated_module_redundant.txt
  tests/functional/d/deprecated/deprecated_module_uninstalled.txt
  tests/functional/d/deprecated/deprecated_relative_import/dot_relative_import.txt
  tests/functional/d/deprecated/deprecated_relative_import/subpackage/dot_dot_relative_import.txt
Due: pylint, fix-documentation

Improve wording on W0402 message (#6387)
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/deprecated.py
  pylint/checkers/imports.py
  tests/functional/d/deprecated/deprecated_module_py3.txt
  tests/functional/d/deprecated/deprecated_module_py310.txt
  tests/functional/d/deprecated/deprecated_module_py33.txt
  tests/functional/d/deprecated/deprecated_module_py36.txt
  tests/functional/d/deprecated/deprecated_module_py39.txt
  tests/functional/d/deprecated/deprecated_module_py39_earlier_pyversion.txt
  tests/functional/d/deprecated/deprecated_module_py4.txt
  tests/functional/d/deprecated/deprecated_module_redundant.txt
  tests/functional/d/deprecated/deprecated_module_uninstalled.txt
  tests/functional/d/deprecated/deprecated_relative_import/dot_relative_import.txt
  tests/functional/d/deprecated/deprecated_relative_import/subpackage/dot_dot_relative_import.txt
Due: pylint, fix-documentation

Remove references to to-be-deprecated interfaces
  pylint/checkers/base_checker.py
  pylint/checkers/refactoring/refactoring_checker.py
Due: pylint

Deprecate ``interfaces.implements``
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/base_checker.py
  pylint/interfaces.py
  pylint/lint/pylinter.py
Due: pylint, fix-documentation

Add more deprecations from stdlib
  pylint/checkers/imports.py
  pylint/checkers/stdlib.py
Due: pylint

Added logging-format-interpolation message example
  doc/data/messages/m/logging-format-interpolation/bad.py
  doc/data/messages/m/logging-format-interpolation/good.py
  doc/data/messages/m/logging-format-interpolation/related.rst
Due: none

Added logging-fstring-interpolation message example
  doc/data/messages/m/logging-fstring-interpolation/bad.py
  doc/data/messages/m/logging-fstring-interpolation/good.py
  doc/data/messages/m/logging-fstring-interpolation/related.rst
Due: none

Fix failing unittest
  doc/data/messages/m/logging-format-interpolation/bad.py
  doc/data/messages/m/logging-fstring-interpolation/bad.py
Due: none

Added missing-yield-type-doc message example (#6345)
  doc/data/messages/m/missing-yield-type-doc/bad.py
  doc/data/messages/m/missing-yield-type-doc/details.rst
  doc/data/messages/m/missing-yield-type-doc/good.py
  doc/data/messages/m/missing-yield-type-doc/pylintrc
Due: none

Migrate return type to annotations in missing-yield-doc example (#6400)
  doc/data/messages/m/missing-yield-doc/good.py
Due: none

Handle asterisks better in Sphinx and Google style docstrings
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/extensions/_check_docs_utils.py
  pylint/extensions/docparams.py
  tests/functional/ext/docparams/parameter/missing_param_doc_required_Google.py
  tests/functional/ext/docparams/parameter/missing_param_doc_required_Google.txt
  tests/functional/ext/docparams/parameter/missing_param_doc_required_Numpy.py
  tests/functional/ext/docparams/parameter/missing_param_doc_required_Sphinx.py
  tests/functional/ext/docparams/parameter/missing_param_doc_required_Sphinx.txt
Due: pylint, fix-documentation

Suppress ``useless-super-delegation`` if return type changed (#5822) (#6141)
  pylint/checkers/classes/class_checker.py
  tests/functional/u/useless/useless_super_delegation_py35.py
  tests/functional/u/useless/useless_super_delegation_py35.txt
Due: pylint

Fix `AstroidError` in similarity checker with imports/signatures ignored (#6357)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/similar.py
  tests/test_similar.py
Due: pylint, fix-documentation

Don't add namespace packages to ``sys.path``
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/lint/utils.py
  test_namespace_pkg/existing/__init__.py
  test_namespace_pkg/something_else/__init__.py
  tests/lint/unittest_lint.py
Due: pylint, fix-documentation

Fix a crash in the ``unsupported-membership-test`` checker involving tuple unpacking (#6367)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/utils.py
  tests/functional/n/none_dunder_protocols.py
  tests/functional/n/none_dunder_protocols.txt
  tests/functional/n/none_dunder_protocols_py38.py
  tests/functional/n/none_dunder_protocols_py38.rc
Due: pylint, fix-documentation

Prevent false positive `undefined-variable` for user-specified builtins given type annotations (#6392)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/variables.py
  tests/functional/u/undefined/undefined_variable_typing.py
  tests/functional/u/undefined/undefined_variable_typing.rc
Due: pylint, fix-documentation

Upgrade astroid to 2.11.3 (#6398)
  requirements_test_min.txt
  setup.cfg
Due: none

Update pylint/lint/utils.py
  pylint/lint/utils.py
Due: pylint

Bump pylint to 2.13.6, update changelog
  CONTRIBUTORS.txt
  ChangeLog
  pylint/__pkginfo__.py
  tbump.toml
Due: pylint, fix-documentation

Fix 'object has no attribute additional_builtins'
  ChangeLog
  doc/release.md
  pylint/checkers/variables.py
Due: pylint, fix-documentation

Fix 'object has no attribute additional_builtins' (#6410)
  ChangeLog
  doc/release.md
  pylint/checkers/variables.py
Due: pylint, fix-documentation

Bump pylint to 2.13.7, update changelog
  ChangeLog
  pylint/__pkginfo__.py
  tbump.toml
Due: pylint, fix-documentation

Deprecate all interfaces
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/base_checker.py
  pylint/interfaces.py
  pylint/lint/pylinter.py
  pylint/reporters/base_reporter.py
  tests/test_deprecation.py
Due: pylint, fix-documentation

Add more pragma's
  pylint/lint/pylinter.py
Due: pylint

Update pylint/checkers/base_checker.py
  pylint/checkers/base_checker.py
Due: pylint

Update pylint/lint/pylinter.py
  pylint/lint/pylinter.py
Due: pylint

Deprecate all interfaces in 'pylint.interfaces' (#6412)
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/base_checker.py
  pylint/interfaces.py
  pylint/lint/pylinter.py
  pylint/reporters/base_reporter.py
  tests/test_deprecation.py
Due: pylint, fix-documentation

Add link to the list of all options
  doc/faq.rst
Due: none

Fix crash when open is called with an integer mode
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/stdlib.py
  tests/functional/u/unspecified_encoding_py38.py
  tests/functional/u/unspecified_encoding_py38.txt
Due: pylint, fix-documentation

Fix typing for python 3.7+
  pylint/checkers/typecheck.py
Due: pylint

[docs] Fix wrong indentation and links
  doc/faq.rst
  doc/messages/messages_list.rst
Due: none

Add examples of config file content to FAQ (#6195)
  doc/faq.rst
  doc/messages/messages_list.rst
Due: none

Migrate from 'check_messages' to 'only_required_for_messages'
  pylint/checkers/async.py
  pylint/checkers/base/basic_checker.py
  pylint/checkers/base/basic_error_checker.py
  pylint/checkers/base/comparison_checker.py
  pylint/checkers/base/docstring_checker.py
  pylint/checkers/base/name_checker/checker.py
  pylint/checkers/base/pass_checker.py
  pylint/checkers/classes/class_checker.py
  pylint/checkers/deprecated.py
  pylint/checkers/design_analysis.py
  pylint/checkers/ellipsis_checker.py
  pylint/checkers/exceptions.py
  pylint/checkers/format.py
  pylint/checkers/modified_iterating_checker.py
  pylint/checkers/newstyle.py
  pylint/checkers/non_ascii_names.py
  pylint/checkers/spelling.py
  pylint/checkers/stdlib.py
  pylint/checkers/strings.py
  pylint/checkers/threading_checker.py
  pylint/checkers/typecheck.py
  pylint/checkers/unsupported_version.py
  pylint/checkers/variables.py
  pylint/extensions/bad_builtin.py
  tests/lint/unittest_lint.py
Due: pylint

Apply suggestions from code review
  ChangeLog
  doc/whatsnew/2.14.rst
Due: fix-documentation

Remove ``assign-to-new-keyword``
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/base/name_checker/checker.py
  pylint/constants.py
  tests/functional/a/assign_to_new_keyword.py
  tests/functional/a/assign_to_new_keyword.rc
  tests/functional/a/assign_to_new_keyword.txt
Due: pylint, fix-documentation

Remove ``assign-to-new-keyword`` (#6421)
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/base/name_checker/checker.py
  pylint/constants.py
  tests/functional/a/assign_to_new_keyword.py
  tests/functional/a/assign_to_new_keyword.rc
  tests/functional/a/assign_to_new_keyword.txt
Due: pylint, fix-documentation

Fix crash when open is called with an integer mode (#6415)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/stdlib.py
  tests/functional/u/unspecified_encoding_py38.py
  tests/functional/u/unspecified_encoding_py38.txt
Due: pylint, fix-documentation

Add typing to ``PyLinter.check_astroid_module``
  pylint/lint/pylinter.py
Due: pylint

Add typing to ``pylint/config/__init__.py``
  pylint/config/__init__.py
  pylint/lint/pylinter.py
  pylint/reporters/base_reporter.py
  pylint/reporters/multi_reporter.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: tests/functional/|tests/input|tests(/\w*)*data/|doc/
  fix-documentation: any of: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
