Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

Upgrade feature.rst with new doc
  doc/user_guide/checkers/features.rst
Due: none

missing whitespace
  doc/user_guide/checkers/features.rst
Due: none

Fix false positive for ``unnecessary-lambda``. (#9149)
  doc/whatsnew/fragments/9148.false_positive
  pylint/checkers/base/basic_checker.py
  tests/functional/u/unnecessary/unnecessary_lambda.py
Due: pylint, check-newsfragments

Add `deprecated-attribute` message and upgrade data for 3.12 (#8857)
  doc/data/messages/d/deprecated-attribute/bad.py
  doc/data/messages/d/deprecated-attribute/details.rst
  doc/data/messages/d/deprecated-attribute/good.py
  doc/data/messages/d/deprecated-class/details.rst
  doc/data/messages/d/deprecated-decorator/details.rst
  doc/data/messages/d/deprecated-method/details.rst
  doc/data/messages/d/deprecated-module/details.rst
  doc/user_guide/checkers/features.rst
  doc/user_guide/messages/messages_overview.rst
  doc/whatsnew/fragments/8855.new_check
  pylint/checkers/deprecated.py
  pylint/checkers/stdlib.py
  tests/checkers/unittest_deprecated.py
  tests/functional/d/deprecated/deprecated_attribute_py312.py
  tests/functional/d/deprecated/deprecated_attribute_py312.rc
  tests/functional/d/deprecated/deprecated_attribute_py312.txt
  tests/pyreverse/functional/class_diagrams/colorized_output/colorized.puml
  tests/pyreverse/functional/class_diagrams/colorized_output/custom_colors.dot
  tests/pyreverse/functional/class_diagrams/colorized_output/custom_colors.puml
Due: pylint, check-newsfragments

[doc plugin] Fix 'extension does not declare if it is safe for parallel reading'
  doc/exts/pylint_messages.py
  doc/exts/pylint_options.py
Due: none

[doc] Add caution about fail-on on informational messages
  doc/exts/pylint_messages.py
Due: none

[todos] Fix the todos version and the warnings' text
  pylint/checkers/similar.py
  pylint/checkers/variables.py
  pylint/config/callback_actions.py
  pylint/config/config_initialization.py
  pylint/testutils/functional/test_file.py
  pylint/utils/utils.py
  tests/test_check_parallel.py
Due: pylint

[todos] Fix the todos version and the warnings' text (#9202)
  pylint/checkers/similar.py
  pylint/checkers/variables.py
  pylint/config/callback_actions.py
  pylint/config/config_initialization.py
  pylint/testutils/functional/test_file.py
  pylint/utils/utils.py
  tests/test_check_parallel.py
Due: pylint

[governance] Upgrade governance for pylint plugin maintainers
  doc/development_guide/contributor_guide/governance.rst
Due: none

Make plugin maintainer triager in pylint main
  doc/development_guide/contributor_guide/governance.rst
Due: none

[bugfix] Find files with ./ as input with a __init__.py file
  doc/whatsnew/fragments/9210.bugfix
  pylint/lint/expand_modules.py
  tests/lint/unittest_expand_modules.py
Due: pylint, check-newsfragments

Fix mypy type
  tests/lint/unittest_expand_modules.py
Due: pylint

fix pylint
  tests/lint/unittest_expand_modules.py
Due: pylint

[governance] Upgrade governance for pylint plugin maintainers (#9206)
  doc/development_guide/contributor_guide/governance.rst
Due: none

separate try and try* tests for broad_exception_raised/caught to be able to specify only testing try* for Python 3.11 and higher
  tests/functional/b/broad_exception/broad_exception_caught.py
  tests/functional/b/broad_exception/broad_exception_caught.rc
  tests/functional/b/broad_exception/broad_exception_caught.txt
  tests/functional/b/broad_exception/broad_exception_caught_trystar.py
  tests/functional/b/broad_exception/broad_exception_caught_trystar.rc
  tests/functional/b/broad_exception/broad_exception_caught_trystar.txt
  tests/functional/b/broad_exception/broad_exception_raised.py
  tests/functional/b/broad_exception/broad_exception_raised.rc
  tests/functional/b/broad_exception/broad_exception_raised.txt
  tests/functional/b/broad_exception/broad_exception_raised_trystar.py
  tests/functional/b/broad_exception/broad_exception_raised_trystar.rc
  tests/functional/b/broad_exception/broad_exception_raised_trystar.txt
  tests/functional/b/broad_exception_caught.rc
  tests/functional/b/broad_exception_raised.rc
Due: none

add visit_trystar to functional test files for class diagrams to address testing failures
  tests/pyreverse/functional/class_diagrams/colorized_output/colorized.puml
  tests/pyreverse/functional/class_diagrams/colorized_output/custom_colors.dot
  tests/pyreverse/functional/class_diagrams/colorized_output/custom_colors.puml
Due: none

update release notes with towncrier
  .idea/workspace.xml
  doc/whatsnew/3/3.1/index.rst
Due: none

Delete .idea
  .idea/workspace.xml
Due: none

create news fragment using correct command
  doc/whatsnew/3/3.1/index.rst
  doc/whatsnew/fragments/8935.other
Due: check-newsfragments

remove previous changes from index.rst file
  doc/whatsnew/3/3.1/index.rst
Due: none

Update index.rst
  doc/whatsnew/3/3.1/index.rst
Due: none

Update 8935.other
  doc/whatsnew/fragments/8935.other
Due: check-newsfragments

Print statistics how many files were checked in verbose (#9122)
  doc/whatsnew/fragments/8935.other
  pylint/lint/pylinter.py
  pylint/lint/run.py
  tests/test_self.py
Due: pylint, check-newsfragments

[doc] Add a changelog for #9167
  doc/whatsnew/fragments/9167.false_positive
Due: check-newsfragments

fix custom_colors.dot that was messed up during previous merge
  tests/pyreverse/functional/class_diagrams/colorized_output/custom_colors.dot
Due: none

[doc] Add a changelog for #9167 (#9227)
  doc/whatsnew/fragments/9167.false_positive
Due: check-newsfragments

Extend exception-related checks to `except*` (#9197)
  doc/whatsnew/fragments/8827.false_negative
  pylint/checkers/base/basic_checker.py
  pylint/checkers/exceptions.py
  tests/functional/b/broad_exception/broad_exception_caught.py
  tests/functional/b/broad_exception/broad_exception_caught.rc
  tests/functional/b/broad_exception/broad_exception_caught.txt
  tests/functional/b/broad_exception/broad_exception_caught_trystar.py
  tests/functional/b/broad_exception/broad_exception_caught_trystar.rc
  tests/functional/b/broad_exception/broad_exception_caught_trystar.txt
  tests/functional/b/broad_exception/broad_exception_raised.py
  tests/functional/b/broad_exception/broad_exception_raised.rc
  tests/functional/b/broad_exception/broad_exception_raised.txt
  tests/functional/b/broad_exception/broad_exception_raised_trystar.py
  tests/functional/b/broad_exception/broad_exception_raised_trystar.rc
  tests/functional/b/broad_exception/broad_exception_raised_trystar.txt
  tests/functional/b/broad_exception_caught.rc
  tests/functional/b/broad_exception_caught.txt
  tests/functional/b/broad_exception_raised.rc
  tests/functional/b/broad_exception_raised.txt
  tests/pyreverse/functional/class_diagrams/colorized_output/colorized.puml
  tests/pyreverse/functional/class_diagrams/colorized_output/custom_colors.dot
  tests/pyreverse/functional/class_diagrams/colorized_output/custom_colors.puml
Due: pylint, check-newsfragments

Add tests
  pylint/checkers/base/name_checker/checker.py
  tests/functional/t/type/__init__.py
  tests/functional/t/type/typealias_naming_style_default.py
  tests/functional/t/type/typealias_naming_style_default.rc
  tests/functional/t/type/typealias_naming_style_default.txt
  tests/functional/t/type/typealias_naming_style_py312.py
  tests/functional/t/type/typealias_naming_style_py312.rc
  tests/functional/t/type/typealias_naming_style_py312.txt
  tests/functional/t/type/typealias_naming_style_rgx.py
  tests/functional/t/type/typealias_naming_style_rgx.rc
  tests/functional/t/type/typealias_naming_style_rgx.txt
  tests/functional/t/type/typedDict.py
  tests/functional/t/type/typevar_double_variance.py
  tests/functional/t/type/typevar_double_variance.txt
  tests/functional/t/type/typevar_name_incorrect_variance.py
  tests/functional/t/type/typevar_name_incorrect_variance.txt
  tests/functional/t/type/typevar_name_mismatch.py
  tests/functional/t/type/typevar_name_mismatch.txt
  tests/functional/t/type/typevar_naming_style_default.py
  tests/functional/t/type/typevar_naming_style_default.txt
  tests/functional/t/type/typevar_naming_style_py312.py
  tests/functional/t/type/typevar_naming_style_py312.rc
  tests/functional/t/type/typevar_naming_style_py312.txt
  tests/functional/t/type/typevar_naming_style_rgx.py
  tests/functional/t/type/typevar_naming_style_rgx.rc
  tests/functional/t/type/typevar_naming_style_rgx.txt
Due: pylint

Add news
  doc/whatsnew/fragments/9196.feature
Due: check-newsfragments

backticks
  doc/whatsnew/fragments/9196.feature
Due: check-newsfragments

Remove unused type ignore
  pylint/checkers/base_checker.py
Due: pylint

Support for resolving external toml files
  doc/user_guide/usage/run.rst
  doc/whatsnew/fragments/9228.feature
  pylint/config/find_default_config_files.py
  tests/config/test_find_default_config_files.py
Due: pylint, check-newsfragments

added testcase and changelog fragment
  doc/whatsnew/fragments/9172.false_positive
  tests/functional/u/unnecessary/unnecessary_comprehension.py
  tests/functional/u/unnecessary/unnecessary_comprehension.txt
Due: check-newsfragments

fixed typo
  doc/whatsnew/fragments/9172.false_positive
Due: check-newsfragments
