Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation, check-newsfragments

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

check-newsfragments:
  name: Check newsfragments
  entry: python3 -m script.check_newsfragments
  language: system

Fix code
  tests/extensions/test_private_import.py
Due: pylint

Fix code
  pylint/checkers/classes/special_methods_checker.py
  pylint/checkers/design_analysis.py
  pylint/checkers/method_args.py
  pylint/testutils/pyreverse.py
Due: pylint

Add changes
  pylint/checkers/modified_iterating_checker.py
  pylint/checkers/stdlib.py
  pylint/config/arguments_manager.py
  pylint/config/arguments_provider.py
  pylint/epylint.py
  pylint/extensions/for_any_all.py
  tests/message/unittest_message_definition_store.py
Due: pylint

Test fixing regex
  pylint/extensions/overlapping_exceptions.py
  pylint/pyreverse/dot_printer.py
Due: pylint

Fix code
  pylint/lint/message_state_handler.py
Due: pylint

Testing fixes
  examples/deprecation_checker.py
  pylint/message/message.py
  pylint/reporters/text.py
  tests/config/test_config.py
  tests/lint/unittest_lint.py
Due: pylint

Cancel previous tests when pushing to PRs
  .github/workflows/codeql-analysis.yml
  .github/workflows/tests.yaml
Due: none

Stage changes
  pylint/lint/base_options.py
  pylint/testutils/reporter_for_tests.py
  tests/checkers/base/unittest_multi_naming_style.py
  tests/checkers/unittest_imports.py
  tests/checkers/unittest_spelling.py
  tests/conftest.py
  tests/lint/unittest_lint.py
  tests/primer/test_primer_stdlib.py
  tests/pyreverse/test_main.py
  tests/test_self.py
Due: pylint

Test final changes
  pylint/checkers/base_checker.py
  pylint/checkers/refactoring/refactoring_checker.py
  tests/test_func.py
Due: pylint

Remove tests for flake8100
  .github/workflows/checks.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/primer-test.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/tests.yaml
Due: none

Move string over
  tests/test_self.py
Due: pylint

Try using slashes
  tests/test_self.py
Due: pylint

Update doc/conf.py
  doc/conf.py
Due: none

Update pylint/checkers/base_checker.py
  pylint/checkers/base_checker.py
Due: pylint

Update pylint/checkers/classes/class_checker.py
  pylint/checkers/classes/class_checker.py
Due: pylint

Fix invalid type false positive (#8206)
  doc/whatsnew/fragments/8205.false_positive
  pylint/checkers/typecheck.py
  pylint/constants.py
  tests/functional/d/dataclass/dataclass_typecheck.txt
  tests/functional/ext/typing/redundant_typehint_argument.py
  tests/functional/i/isinstance_second_argument.txt
  tests/functional/i/isinstance_second_argument_py310.py
  tests/functional/i/isinstance_second_argument_py310.rc
  tests/functional/i/isinstance_second_argument_py310.txt
Due: pylint, check-newsfragments

Fix deprecation warning from astroid 2.15.0
  pylint/checkers/imports.py
  pylint/checkers/typecheck.py
  pylint/pyreverse/inspector.py
  pylint/pyreverse/writer.py
Due: pylint

Upgrade astroid to 2.15.0
  doc/whatsnew/fragments/8387.feature
  pyproject.toml
  requirements_test_min.txt
Due: check-newsfragments

Update doc/whatsnew/fragments/8387.feature
  doc/whatsnew/fragments/8387.feature
Due: check-newsfragments

Update pylint/pyreverse/inspector.py
  pylint/pyreverse/inspector.py
Due: pylint

Try to fix code
  tests/test_self.py
Due: pylint

Move back to normal
  tests/test_self.py
Due: pylint

Fix invalid type false positive (#8206) (#8386)
  doc/whatsnew/fragments/8205.false_positive
  pylint/checkers/typecheck.py
  pylint/constants.py
  tests/functional/d/dataclass/dataclass_typecheck.txt
  tests/functional/ext/typing/redundant_typehint_argument.py
  tests/functional/i/isinstance_second_argument.txt
  tests/functional/i/isinstance_second_argument_py310.py
  tests/functional/i/isinstance_second_argument_py310.rc
  tests/functional/i/isinstance_second_argument_py310.txt
Due: pylint, check-newsfragments

Bump pylint to 2.16.4, update changelog
  doc/whatsnew/2/2.16/index.rst
  doc/whatsnew/fragments/8205.false_positive
  pylint/__pkginfo__.py
  tbump.toml
  towncrier.toml
Due: pylint, check-newsfragments

Bump pylint to 2.16.4, update changelog (#8389)
  doc/whatsnew/2/2.16/index.rst
  doc/whatsnew/fragments/8205.false_positive
  pylint/__pkginfo__.py
  tbump.toml
  towncrier.toml
Due: pylint, check-newsfragments

Switch to normal
  pylint/checkers/refactoring/refactoring_checker.py
Due: pylint

Add types to empty_comment.py (Having issue with msgs)
  pylint/extensions/empty_comment.py
Due: pylint

Adding Python 3.7 EOL date
  tests/test_self.py
Due: pylint

Upgrade to astroid 2.15.0 (#8387)
  doc/whatsnew/fragments/8387.feature
  pylint/checkers/imports.py
  pylint/checkers/typecheck.py
  pylint/pyreverse/inspector.py
  pylint/pyreverse/writer.py
  pyproject.toml
  requirements_test_min.txt
Due: pylint, check-newsfragments

Use UninferableBase instead of Uninferable
  pylint/checkers/async.py
  pylint/checkers/base/basic_checker.py
  pylint/checkers/classes/class_checker.py
  pylint/checkers/classes/special_methods_checker.py
  pylint/checkers/dunder_methods.py
  pylint/checkers/exceptions.py
  pylint/checkers/refactoring/implicit_booleaness_checker.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/stdlib.py
  pylint/checkers/strings.py
  pylint/checkers/typecheck.py
  pylint/checkers/utils.py
  pylint/checkers/variables.py
  pylint/extensions/_check_docs_utils.py
  pylint/extensions/overlapping_exceptions.py
  pylint/pyreverse/diagrams.py
  pylint/pyreverse/inspector.py
Due: pylint

Add regression test for #5288
  doc/whatsnew/fragments/5288.false_positive
  tests/functional/u/unpacking/unpacking_non_sequence_py310.py
  tests/functional/u/unpacking/unpacking_non_sequence_py310.rc
Due: check-newsfragments

Add regression test for #5288 (#8385)
  doc/whatsnew/fragments/5288.false_positive
  tests/functional/u/unpacking/unpacking_non_sequence_py310.py
  tests/functional/u/unpacking/unpacking_non_sequence_py310.rc
Due: check-newsfragments

Bump pylint to 2.17.0, update changelog
  CONTRIBUTORS.txt
  doc/user_guide/checkers/features.rst
  doc/user_guide/configuration/all-options.rst
  doc/user_guide/messages/messages_overview.rst
  doc/whatsnew/2/2.17/index.rst
  doc/whatsnew/fragments/5073.other
  doc/whatsnew/fragments/5288.false_positive
  doc/whatsnew/fragments/6559.new_check
  doc/whatsnew/fragments/6738.feature
  doc/whatsnew/fragments/7081.feature
  doc/whatsnew/fragments/7343.feature
  doc/whatsnew/fragments/7574.false_positive
  doc/whatsnew/fragments/7851.feature
  doc/whatsnew/fragments/7957.feature
  doc/whatsnew/fragments/8102.new_check
  doc/whatsnew/fragments/8125.bugfix
  doc/whatsnew/fragments/8148.bugfix
  doc/whatsnew/fragments/8154.feature
  doc/whatsnew/fragments/8161.bugfix
  doc/whatsnew/fragments/8168.bugfix
  doc/whatsnew/fragments/8185.false_negative
  doc/whatsnew/fragments/8205.false_positive
  doc/whatsnew/fragments/8207.bugfix
  doc/whatsnew/fragments/8252.false_positive
  doc/whatsnew/fragments/8280.false_negative
  doc/whatsnew/fragments/8290.feature
  doc/whatsnew/fragments/8307.bugfix
  doc/whatsnew/fragments/8310.feature
  doc/whatsnew/fragments/8329.other
  doc/whatsnew/fragments/8370.false_positive
  doc/whatsnew/fragments/8387.feature
  examples/pylintrc
  examples/pyproject.toml
  pylint/__pkginfo__.py
  script/.contributors_aliases.json
  tbump.toml
Due: pylint, check-newsfragments

fix broken whitespace
  doc/user_guide/checkers/features.rst
  pylint/checkers/refactoring/refactoring_checker.py
Due: pylint

more broken whitespaces
  doc/user_guide/checkers/features.rst
  pylint/checkers/unicode.py
Due: pylint

Bump pylint to 2.17.0, update changelog (#8395)
  CONTRIBUTORS.txt
  doc/user_guide/checkers/features.rst
  doc/user_guide/configuration/all-options.rst
  doc/user_guide/messages/messages_overview.rst
  doc/whatsnew/2/2.17/index.rst
  doc/whatsnew/fragments/5073.other
  doc/whatsnew/fragments/5288.false_positive
  doc/whatsnew/fragments/6559.new_check
  doc/whatsnew/fragments/6738.feature
  doc/whatsnew/fragments/7081.feature
  doc/whatsnew/fragments/7343.feature
  doc/whatsnew/fragments/7574.false_positive
  doc/whatsnew/fragments/7851.feature
  doc/whatsnew/fragments/7957.feature
  doc/whatsnew/fragments/8102.new_check
  doc/whatsnew/fragments/8125.bugfix
  doc/whatsnew/fragments/8148.bugfix
  doc/whatsnew/fragments/8154.feature
  doc/whatsnew/fragments/8161.bugfix
  doc/whatsnew/fragments/8168.bugfix
  doc/whatsnew/fragments/8185.false_negative
  doc/whatsnew/fragments/8205.false_positive
  doc/whatsnew/fragments/8207.bugfix
  doc/whatsnew/fragments/8252.false_positive
  doc/whatsnew/fragments/8280.false_negative
  doc/whatsnew/fragments/8290.feature
  doc/whatsnew/fragments/8307.bugfix
  doc/whatsnew/fragments/8310.feature
  doc/whatsnew/fragments/8329.other
  doc/whatsnew/fragments/8370.false_positive
  doc/whatsnew/fragments/8387.feature
  examples/pylintrc
  examples/pyproject.toml
  pylint/__pkginfo__.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/unicode.py
  script/.contributors_aliases.json
  tbump.toml
Due: pylint, check-newsfragments

Proper release date and summary for 2.17.0
  doc/whatsnew/2/2.17/index.rst
Due: none

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  fix-documentation: any of: ^(doc/whatsnew/\d+\.\d+\.rst)
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst
