Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

correct expected output for some tests
  tests/functional/ext/comparison_placement/misplaced_comparison_constant.txt
  tests/functional/i/import_outside_toplevel.txt
  tests/functional/u/use/use_implicit_booleaness_not_len.txt
  tests/functional/u/using_constant_test.txt
Due: none

Disable new tests on PYPY
  tests/functional/u/unnecessary/unnecessary_direct_lambda_call.rc
Due: none

disable invalid-name lint for comparison_of_constants check
  tests/functional/c/comparison_of_constants.py
Due: none

Small formatting and typing changes
  pylint/checkers/lambda_expressions.py
  tests/functional/a/assignment/assignment_expression.py
  tests/functional/a/assignment/assignment_expression.txt
  tests/functional/u/unnecessary/unnecessary_direct_lambda_call.py
  tests/functional/u/unnecessary/unnecessary_lambda_assignment.py
  tests/functional/y/yield_from_outside_func.py
  tests/functional/y/yield_from_outside_func.txt
  tests/functional/y/yield_outside_func.py
  tests/functional/y/yield_outside_func.txt
Due: pylint

spaces before comments
  tests/functional/c/comparison_of_constants.py
  tests/functional/u/useless/useless_else_on_loop.py
Due: none

spaces before comments
  doc/data/messages/c/comparison-of-constants/bad.py
Due: none

Add regression test for #6497
  ChangeLog
  doc/whatsnew/2.13.rst
  tests/functional/n/no/no_name_in_module.py
Due: fix-documentation

Add numpy to test requirements
  requirements_test.txt
Due: none

Initial pass at fixing #5138
  pylint/checkers/typecheck.py
  tests/functional/e/enum_self_defined_member_5138.py
  tests/functional/e/enum_self_defined_member_5138.txt
Due: pylint

Add support for members defined in __init__
  pylint/checkers/typecheck.py
  tests/functional/e/enum_self_defined_member_5138.py
  tests/functional/e/enum_self_defined_member_5138.txt
Due: pylint

Documentation fix
  CONTRIBUTORS.txt
  ChangeLog
  doc/whatsnew/2.14.rst
Due: fix-documentation

Fixups after review
  pylint/checkers/typecheck.py
  tests/functional/e/enum_self_defined_member_5138.py
  tests/functional/e/enum_self_defined_member_5138.txt
Due: pylint

enum: cope with Instance as well as ClassDef
  pylint/checkers/typecheck.py
  tests/functional/e/enum_self_defined_member_5138.py
  tests/functional/e/enum_self_defined_member_5138.txt
Due: pylint

Remove false positive on annotated assignment
  pylint/checkers/typecheck.py
  tests/functional/e/enum_self_defined_member_5138.py
Due: pylint

Fixups after review 2
  pylint/checkers/typecheck.py
  tests/functional/e/enum_self_defined_member_5138.py
  tests/functional/e/enum_self_defined_member_5138.txt
Due: pylint

Fixups after review 2.5
  pylint/checkers/typecheck.py
Due: pylint

Try harder to find Enum class definition
  pylint/checkers/typecheck.py
Due: pylint

Last fixes
  pylint/checkers/base/comparison_checker.py
  tests/functional/a/assert_on_tuple.py
  tests/functional/c/comparison_of_constants.txt
  tests/functional/l/literal_comparison.txt
  tests/functional/l/logical_tautology.py
  tests/functional/l/logical_tautology.txt
  tests/functional/u/use/use_implicit_booleaness_not_len.txt
  tests/functional/u/using_constant_test.txt
Due: pylint

Enum: Add support for self-defined members (#5847)
  CONTRIBUTORS.txt
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/typecheck.py
  tests/functional/e/enum_self_defined_member_5138.py
  tests/functional/e/enum_self_defined_member_5138.txt
Due: pylint, fix-documentation

Add `comparison-of-constants` checker (#6413)
  ChangeLog
  doc/data/messages/c/comparison-of-constants/bad.py
  doc/data/messages/c/comparison-of-constants/good.py
  doc/whatsnew/2.14.rst
  pylint/checkers/base/comparison_checker.py
  tests/functional/a/access/access_to_protected_members.py
  tests/functional/a/assert_on_tuple.py
  tests/functional/c/comparison_of_constants.py
  tests/functional/c/comparison_of_constants.txt
  tests/functional/c/comparison_with_callable.py
  tests/functional/c/consider/consider_using_get.py
  tests/functional/c/consider/consider_using_in.py
  tests/functional/d/deprecated/deprecated_methods_py38.py
  tests/functional/e/excess_escapes.py
  tests/functional/ext/check_elif/check_elif.py
  tests/functional/ext/comparison_placement/misplaced_comparison_constant.py
  tests/functional/ext/comparison_placement/misplaced_comparison_constant.txt
  tests/functional/i/import_outside_toplevel.py
  tests/functional/i/import_outside_toplevel.txt
  tests/functional/l/literal_comparison.py
  tests/functional/l/literal_comparison.txt
  tests/functional/l/logical_tautology.py
  tests/functional/l/logical_tautology.txt
  tests/functional/m/membership_protocol.py
  tests/functional/m/misplaced_bare_raise.py
  tests/functional/m/misplaced_bare_raise.txt
  tests/functional/n/nan_comparison_check.py
  tests/functional/s/singleton_comparison.py
  tests/functional/s/superfluous_parens.py
  tests/functional/t/too/too_many_boolean_expressions.py
  tests/functional/u/unnecessary/unnecessary_ellipsis.py
  tests/functional/u/unnecessary/unnecessary_not.py
  tests/functional/u/use/use_implicit_booleaness_not_len.py
  tests/functional/u/use/use_implicit_booleaness_not_len.txt
  tests/functional/u/useless/useless_else_on_loop.py
  tests/functional/u/using_constant_test.py
  tests/functional/u/using_constant_test.txt
Due: pylint, fix-documentation

Fix test
  tests/config/functional/setup_cfg/issue_4272/option_in_wrong_section.2.out
  tests/config/functional/setup_cfg/issue_4272/option_in_wrong_section.cfg
  tests/config/functional/setup_cfg/issue_4272/option_in_wrong_section.result.json
Due: none

Spelling
  tests/config/functional/setup_cfg/issue_4272/option_in_wrong_section.cfg
Due: none

Fixes
  pylint/config/config_file_parser.py
  tests/config/functional/setup_cfg/deprecate_master/setup.0.out
  tests/config/functional/setup_cfg/deprecate_master/setup.cfg
  tests/config/functional/setup_cfg/deprecate_master/setup.result.json
  tests/config/functional/setup_cfg/do_not_read_other_tools_configuration/setup.result.json
  tests/config/functional/setup_cfg/issue_4371/identical_option_from_another_tool.json
  tests/config/functional/setup_cfg/issue_4371/identical_option_from_another_tool.result.json
Due: pylint

Change in test
  tests/config/functional/setup_cfg/do_not_read_other_tools_configuration/setup.cfg
Due: none

Rename to setup.cfg
  tests/config/functional/setup_cfg/identical_name_in_flake8/setup.cfg
  tests/config/functional/setup_cfg/identical_name_in_flake8/setup.result.json
Due: none

Fix AstCallbackMethod typing
  pylint/checkers/utils.py
  pylint/typing.py
  tests/checkers/unittest_utils.py
  tests/utils/unittest_ast_walker.py
Due: pylint

Allow not yet published extensions links in ``linkcheck``
  doc/conf.py
Due: none

Change default values of ``ignore-imports`` and ``ignore-signatures``
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/similar.py
Due: pylint, fix-documentation

Fix AstCallbackMethod typing (#6445)
  pylint/checkers/utils.py
  pylint/typing.py
  tests/checkers/unittest_utils.py
  tests/utils/unittest_ast_walker.py
Due: pylint

Remove duplicate message definitions
  pylint/checkers/imports.py
  pylint/checkers/stdlib.py
Due: pylint

Change config values of ``ignore-imports`` and ``ignore-signatures``
  pylintrc
  tests/test_similar.py
Due: pylint

Move AstCallback
  pylint/typing.py
  pylint/utils/ast_walker.py
Due: pylint

Create NoSelfUseChecker extension
  pylint/checkers/classes/class_checker.py
  pylint/extensions/no_self_use.py
Due: pylint

Changelog entry
  ChangeLog
  doc/whatsnew/2.14.rst
Due: fix-documentation

Move no-self-use test cases
  tests/functional/ext/no_self_use/no_self_use.py
  tests/functional/ext/no_self_use/no_self_use.rc
  tests/functional/ext/no_self_use/no_self_use.txt
  tests/functional/ext/no_self_use/no_self_use_py3.py
  tests/functional/ext/no_self_use/no_self_use_py3.rc
Due: none

Fix tests
  tests/functional/n/no/no_name_in_module.py
  tests/functional/n/no/no_name_in_module.txt
  tests/functional/p/protocol_classes.py
  tests/functional/p/protocol_classes.txt
Due: none

Fix ``AstCallback`` typing
  pylint/typing.py
  pylint/utils/ast_walker.py
Due: pylint

Remove no-self-use references
  pylint/checkers/base_checker.py
  pylint/checkers/deprecated.py
  pylint/extensions/_check_docs_utils.py
  pylint/extensions/typing.py
  tests/test_check_parallel.py
  tests/test_pragma_parser.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: tests/functional/|tests/input|tests(/\w*)*data/|doc/
  fix-documentation: any of: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
