Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

Address review: isinstance guard + locals.get instead of try/except
  pylint/checkers/classes/class_checker.py
Due: pylint

Allow digits in ParamSpec and TypeVarTuple names for invalid-name check (#11090)
  doc/whatsnew/fragments/11090.bugfix
  pylint/checkers/base/name_checker/checker.py
  tests/functional/t/type/typevar_naming_style_default.py
Due: pylint, check-newsfragments

Fix star-needs-assignment-target false positive on PEP 798 comprehensions
  doc/whatsnew/fragments/10982.false_positive
  pylint/checkers/base/basic_error_checker.py
  tests/functional/s/star/star_needs_assignment_target_py315.py
  tests/functional/s/star/star_needs_assignment_target_py315.rc
  tests/functional/u/unused/unused_import_lazy_py315.py
  tests/functional/u/unused/unused_import_lazy_py315.rc
  tests/functional/u/unused/unused_import_lazy_py315.txt
Due: pylint, check-newsfragments

Fix expected output line numbers after test additions
  tests/functional/t/type/typevar_naming_style_default.311.txt
  tests/functional/t/type/typevar_naming_style_default.txt
Due: none

Drop redundant isinstance guard — call site already checks
  pylint/checkers/classes/class_checker.py
Due: pylint

Fix crash when enum member inference fails (#11086)
  doc/whatsnew/fragments/11069.bugfix
  pylint/checkers/classes/class_checker.py
  tests/regrtest_data/enum_members_inference_crash.py
Due: pylint, check-newsfragments

Allow digits in ParamSpec and TypeVarTuple names for invalid-name check (#11091)
  doc/whatsnew/fragments/11090.bugfix
  pylint/checkers/base/name_checker/checker.py
  tests/functional/t/type/typevar_naming_style_default.311.txt
  tests/functional/t/type/typevar_naming_style_default.py
  tests/functional/t/type/typevar_naming_style_default.txt
Due: pylint, check-newsfragments

fix: show fail-under threshold violation in terminal output
  pylint/lint/pylinter.py
Due: pylint

Handle arbitrary nesting depth in looping-through-iterator
  pylint/checkers/looping_iterator_checker.py
  tests/functional/l/looping_iterator.py
  tests/functional/l/looping_iterator.txt
Due: pylint

Detect user generators and more iterator-producing builtins
  pylint/checkers/looping_iterator_checker.py
  tests/functional/l/looping_iterator.py
  tests/functional/l/looping_iterator.txt
Due: pylint

corrections & add update tests
  doc/data/messages/m/missing-param-type-annotation/details.rst
  doc/data/messages/m/missing-return-type-annotation/details.rst
  doc/whatsnew/fragments/3853.new_check
  pylint/extensions/type_annotations.py
  tests/functional/ext/type_annotations/type_annotations.py
  tests/functional/ext/type_annotations/type_annotations.rc
  tests/functional/ext/type_annotations/type_annotations.txt
  tests/regrtest_data/type_annotations.py
  tests/test_self.py
Due: pylint, check-newsfragments

pylint
  pylint/extensions/type_annotations.py
Due: pylint

fix documentation
  doc/user_guide/checkers/extensions.rst
  doc/user_guide/messages/messages_overview.rst
Due: none

Fix TypeVarTuple base crash
  doc/whatsnew/fragments/11057.bugfix
  pylint/checkers/classes/class_checker.py
  pylint/checkers/design_analysis.py
  pylint/checkers/utils.py
  tests/functional/i/inherit_non_class_py312.py
  tests/functional/i/inherit_non_class_py312.rc
  tests/functional/i/inherit_non_class_py312.txt
Due: pylint, check-newsfragments

Fix a crash in bad-open-mode when the mode is NotImplemented
  doc/whatsnew/fragments/11099.bugfix
  pylint/checkers/stdlib.py
  tests/functional/b/bad_open_mode.py
  tests/functional/b/bad_open_mode.txt
Due: pylint, check-newsfragments

Fix a crash in not-async-context-manager when the manager has no name
  doc/whatsnew/fragments/11102.bugfix
  pylint/checkers/async_checker.py
  tests/functional/n/not_async_context_manager.py
  tests/functional/n/not_async_context_manager.txt
Due: pylint, check-newsfragments

Add AGENTS.md: prefer isinstance over getattr/hasattr in checkers
  AGENTS.md
Due: none

Address review: use isinstance and cover the sync not-context-manager
  doc/whatsnew/fragments/11102.bugfix
  pylint/checkers/async_checker.py
  pylint/checkers/typecheck.py
  tests/functional/n/not_context_manager.py
  tests/functional/n/not_context_manager.txt
Due: pylint, check-newsfragments

Restore functional test output wrongly reverted in release commit
  tests/functional/d/deprecated/deprecated_decorators.txt
  tests/functional/m/method_cache_max_size_none.txt
  tests/functional/n/non_ascii_name/non_ascii_name_decorator.txt
  tests/functional/o/overridden_final_method_regression.txt
  tests/functional/r/regression_02/regression_10334.txt
  tests/functional/s/singledispatch/singledispatch_method.txt
  tests/functional/s/singledispatch/singledispatchmethod_function.txt
  tests/functional/u/undefined/undefined_variable.txt
  tests/functional/u/unsupported/unsupported_version_for_final.txt
  tests/functional/u/unsupported/unsupported_version_for_posonly_args.txt
  tests/functional/u/unused/unused_argument.txt
Due: none

Doc: warn to install pinned astroid before running tbump
  doc/development_guide/contributor_guide/release.rst
Due: none

Bump pylint to 4.0.6, update changelog (#11105)
  CONTRIBUTORS.txt
  doc/development_guide/contributor_guide/release.rst
  doc/whatsnew/4/4.0/index.rst
  doc/whatsnew/fragments/10099.bugfix
  doc/whatsnew/fragments/10665.false_positive
  doc/whatsnew/fragments/10823.false_positive
  doc/whatsnew/fragments/10890.false_positive
  doc/whatsnew/fragments/10892.bugfix
  doc/whatsnew/fragments/10960.false_positive
  doc/whatsnew/fragments/10980.false_positive
  doc/whatsnew/fragments/11020.bugfix
  doc/whatsnew/fragments/11022.bugfix
  doc/whatsnew/fragments/11023.bugfix
  doc/whatsnew/fragments/11025.bugfix
  doc/whatsnew/fragments/11028.bugfix
  doc/whatsnew/fragments/11031.bugfix
  doc/whatsnew/fragments/11032.false_positive
  doc/whatsnew/fragments/11037.false_positive
  doc/whatsnew/fragments/11056.bugfix
  doc/whatsnew/fragments/11059.bugfix
  doc/whatsnew/fragments/11069.bugfix
  doc/whatsnew/fragments/11070.bugfix
  doc/whatsnew/fragments/11071.bugfix
  doc/whatsnew/fragments/11090.bugfix
  doc/whatsnew/fragments/3443.performance
  doc/whatsnew/fragments/6663.false_positive
  doc/whatsnew/fragments/8256.bugfix
  doc/whatsnew/fragments/8499.false_positive
  doc/whatsnew/fragments/8675.false_positive
  doc/whatsnew/fragments/9833.false_positive
  pylint/__pkginfo__.py
  script/.contributors_aliases.json
  tbump.toml
  tests/functional/f/function_redefined_private_function.txt
  tests/functional/t/type/typealias_assign_subscript_target.txt
Due: pylint, check-newsfragments

Use an allow list of name-bearing nodes for the context-manager message
  pylint/checkers/async_checker.py
  pylint/checkers/typecheck.py
Due: pylint

Apply suggestions from code review
  pylint/checkers/async_checker.py
Due: pylint

Mirror the Lambda allow-list entry to the sync not-context-manager site
  pylint/checkers/typecheck.py
Due: pylint

Fix a crash in not--context-manager when the manager has no name (#11103)
  doc/whatsnew/fragments/11102.bugfix
  pylint/checkers/async_checker.py
  pylint/checkers/typecheck.py
  tests/functional/n/not_async_context_manager.py
  tests/functional/n/not_async_context_manager.txt
  tests/functional/n/not_context_manager.py
  tests/functional/n/not_context_manager.txt
Due: pylint, check-newsfragments

Fix a crash in bad-open-mode when the mode is NotImplemented (#11100)
  doc/whatsnew/fragments/11099.bugfix
  pylint/checkers/stdlib.py
  tests/functional/b/bad_open_mode.py
  tests/functional/b/bad_open_mode.txt
Due: pylint, check-newsfragments

Fix TypeVarTuple base crash
  doc/whatsnew/fragments/11057.bugfix
  pylint/checkers/classes/class_checker.py
  pylint/checkers/design_analysis.py
  pylint/checkers/utils.py
  tests/checkers/unittest_utils.py
  tests/functional/i/inherit_non_class_py312.py
  tests/functional/i/inherit_non_class_py312.rc
  tests/functional/i/inherit_non_class_py312.txt
Due: pylint, check-newsfragments

Add AGENTS.md: prefer isinstance over getattr/hasattr in checkers (#11104)
  AGENTS.md
Due: none

Fix crash in logging checker on non-UTF-8 bytes format string
  doc/whatsnew/fragments/10813.bugfix
  pylint/checkers/logging.py
  tests/functional/l/logging/logging_bytes_format_string.py
  tests/functional/l/logging/logging_bytes_format_string.txt
Due: pylint, check-newsfragments

Fix pep695 use-before-assignment. Fixes #11115
  doc/whatsnew/fragments/11115.false_positive
  pylint/checkers/variables.py
  tests/functional/u/used/used_before_assignment_py312.py
Due: pylint, check-newsfragments

Exclude primer testcase from beeing reformatted by prettier
  .pre-commit-config.yaml
Due: none

First shot at a pyreverse primer implementation based on the existing primer
  pylint/testutils/_primer/pyreverse_primer.py
  pylint/testutils/_primer/pyreverse_primer_command.py
  pylint/testutils/_primer/pyreverse_primer_compare_command.py
  pylint/testutils/_primer/pyreverse_primer_run_command.py
  pylint/testutils/_primer/pyreverse_primer_target.py
Due: pylint

Add primer + config
  tests/primer/pyreverse_primer.py
  tests/primer/pyreverse_targets_to_prime.json
Due: pylint

Take over gh actions from pylint primer for now
  .github/workflows/pyreverse_primer_comment.yaml
  .github/workflows/pyreverse_primer_run_main.yaml
  .github/workflows/pyreverse_primer_run_pr.yaml
Due: none
