Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --load-plugins=pylint.extensions.docparams

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

Add changelog
  ChangeLog
  doc/whatsnew/2.12.rst
Due: fix-documentation

Fix test
  tests/checkers/unittest_base.py
Due: pylint

Retry test
  tests/checkers/unittest_base.py
Due: pylint

Really not having my day with these tests
  tests/checkers/unittest_base.py
Due: pylint

Code review
  pylint/reporters/text.py
Due: pylint

Code review
  pylint/reporters/text.py
  tests/unittest_reporting.py
Due: pylint

Third try is a charm?
  tests/checkers/unittest_base.py
Due: pylint

Fix mistake with regex
  pylint/reporters/text.py
  tests/unittest_reporting.py
Due: pylint

Move the overwrite
  pylint/reporters/text.py
Due: pylint

Add warning
  pylint/reporters/text.py
  tests/unittest_reporting.py
Due: pylint

Consistency in functional tests for extension's name
  tests/functional/ext/check_elif/check_elif.py
  tests/functional/ext/check_elif/check_elif.rc
  tests/functional/ext/check_elif/check_elif.txt
  tests/functional/ext/comparetozero/comparetozero.py
  tests/functional/ext/comparetozero/comparetozero.rc
  tests/functional/ext/comparetozero/comparetozero.txt
  tests/functional/ext/docstyle/docstyle.py
  tests/functional/ext/docstyle/docstyle.rc
  tests/functional/ext/docstyle/docstyle.txt
  tests/functional/ext/redefined_variable_type/redefined_variable_type.txt
  tests/functional/ext/set_membership/use_set_membership.py
  tests/functional/ext/set_membership/use_set_membership.rc
  tests/functional/ext/set_membership/use_set_membership.txt
  tests/functional/ext/typing/consider_using_alias.py
  tests/functional/ext/typing/consider_using_alias.rc
  tests/functional/ext/typing/consider_using_alias.txt
  tests/functional/ext/typing/consider_using_alias_without_future.py
  tests/functional/ext/typing/consider_using_alias_without_future.rc
  tests/functional/ext/typing/consider_using_alias_without_future.txt
  tests/functional/ext/typing/consider_using_union.py
  tests/functional/ext/typing/consider_using_union.rc
  tests/functional/ext/typing/consider_using_union.txt
  tests/functional/ext/typing/consider_using_union_py310.py
  tests/functional/ext/typing/consider_using_union_py310.rc
  tests/functional/ext/typing/consider_using_union_py310.txt
  tests/functional/ext/typing/consider_using_union_without_future.py
  tests/functional/ext/typing/consider_using_union_without_future.rc
  tests/functional/ext/typing/consider_using_union_without_future.txt
  tests/functional/ext/typing/deprecated_alias.py
  tests/functional/ext/typing/deprecated_alias.rc
  tests/functional/ext/typing/deprecated_alias.txt
Due: none

Add regression tests for if in fstring comprehension
  pylint/extensions/check_elif.py
  tests/functional/ext/check_elif/check_elif.py
  tests/functional/ext/check_elif/check_elif.txt
Due: pylint

Add a test case that make the hot fix fail
  pylint/extensions/check_elif.py
  tests/functional/ext/check_elif/check_elif.py
  tests/functional/ext/check_elif/check_elif.txt
Due: pylint

Update CI and docs for 3.8+
  .github/workflows/ci.yaml
  ChangeLog
  doc/development_guide/contribute.rst
  doc/whatsnew/2.12.rst
Due: fix-documentation

Apply suggestions from code review
  tests/unittest_reporting.py
Due: pylint

Revert change
  pylint/lint/run.py
Due: pylint

Update ignore
  pylint/lint/run.py
Due: pylint

Fix
  pylint/lint/run.py
Due: pylint

Update pylint/reporters/text.py
  pylint/reporters/text.py
Due: pylint

Apply suggestions from code review
  ChangeLog
  doc/whatsnew/2.12.rst
Due: fix-documentation

Remove disable for else-if-used in pylint/checkers/classes.py
  pylint/checkers/classes.py
Due: pylint

Better functional tests for elif_check
  tests/functional/ext/check_elif/check_elif.py
  tests/functional/ext/check_elif/check_elif.txt
Due: none

Fix crash for badly counted ifs by using the lineno of the node
  pylint/extensions/check_elif.py
Due: pylint

Add a guard for python 3.6 and 3.7
  pylint/extensions/check_elif.py
Due: pylint

Fix typo in pylintrc for useless-suppression (#5303)
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  ChangeLog
  doc/development_guide/contribute.rst
  doc/whatsnew/2.12.rst
  pylint/checkers/exceptions.py
  pylint/checkers/format.py
  pylint/checkers/similar.py
  pylint/checkers/utils.py
  pylint/checkers/variables.py
  pylint/config/option.py
  pylint/extensions/overlapping_exceptions.py
  pylint/lint/pylinter.py
  pylint/lint/run.py
  pylint/reporters/text.py
  pylint/testutils/lint_module_test.py
  pylint/testutils/reporter_for_tests.py
  pylint/testutils/unittest_linter.py
  pylint/utils/file_state.py
  pylint/utils/utils.py
  pylintrc
  tests/benchmark/test_baseline_benchmarks.py
  tests/checkers/unittest_design.py
  tests/checkers/unittest_format.py
  tests/config/unittest_config.py
  tests/conftest.py
  tests/lint/unittest_lint.py
  tests/profile/test_profile_against_externals.py
  tests/pyreverse/test_diagrams.py
  tests/regrtest_data/unused_variable.py
  tests/test_func.py
  tests/unittest_reporting.py
Due: pylint, fix-documentation

Smaller more compact functional tests
  tests/functional/ext/check_elif/check_elif.py
  tests/functional/ext/check_elif/check_elif.txt
Due: none

Add Changelog
  ChangeLog
Due: fix-documentation

Revert changes to ``JSONReporter``
  ChangeLog
  doc/whatsnew/2.12.rst
  pylint/reporters/json_reporter.py
  tests/unittest_reporters_json.py
  tests/unittest_reporting.py
Due: pylint, fix-documentation

Make parallel checker use ``MessageLocationTuple`` for ``Message``
  pylint/lint/parallel.py
Due: pylint

Make parallel checker use ``MessageLocationTuple`` for ``Message`` (#5381)
  pylint/lint/parallel.py
Due: pylint

Update ChangeLog
  ChangeLog
Due: fix-documentation

Specify the confidence of the message
  pylint/extensions/check_elif.py
Due: pylint

Clearer algorithm following review
  pylint/extensions/check_elif.py
Due: pylint

Copy the psycopg code a little more cleverly
  tests/functional/ext/check_elif/check_elif.py
  tests/functional/ext/check_elif/check_elif.txt
Due: none

Fix a crash on psycopg2 for elif used (#5369)
  ChangeLog
  pylint/checkers/classes.py
  pylint/extensions/check_elif.py
  tests/functional/ext/check_elif/check_elif.py
  tests/functional/ext/check_elif/check_elif.txt
Due: pylint, fix-documentation

Path conditions:
  pylint: any of: \.py$, but not: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
  fix-documentation: any of: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
