Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

check-newsfragments:
  name: Check newsfragments
  entry: python3 -m script.check_newsfragments
  language: system

Fixing inconsistent hashing issue in `BaseChecker` causing some reports not being exported.
  doc/whatsnew/fragments/9001.bugfix
  pylint/checkers/base_checker.py
  tests/checkers/unittest_base_checker.py
Due: pylint, check-newsfragments

Better example for W0640: cell-var-from-loop (#8960)
  doc/data/messages/c/cell-var-from-loop/bad.py
  doc/data/messages/c/cell-var-from-loop/good.py
  doc/data/messages/c/cell-var-from-loop/good/functools.partial.py
  doc/data/messages/c/cell-var-from-loop/good/new_function.py
Due: none

[primer] Fix conf following coverage's changes
  .github/workflows/primer-test.yaml
  .github/workflows/primer_comment.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/primer_run_pr.yaml
  .github/workflows/tests.yaml
  tests/primer/packages_to_prime.json
Due: none

[primer] Better error message when the local directory are dirty
  pylint/testutils/_primer/package_to_lint.py
Due: pylint

Fix duplicate fields
  doc/whatsnew/fragments/8189.bugfix
  pylint/pyreverse/diagrams.py
  tests/pyreverse/functional/class_diagrams/attributes/duplicates.mmd
  tests/pyreverse/functional/class_diagrams/attributes/duplicates.py
Due: pylint, check-newsfragments

Add tests for existing Pyreverse bugs (#8983)
  pylint/pyreverse/diagrams.py
  tests/pyreverse/functional/class_diagrams/annotations/line_breaks.dot
  tests/pyreverse/functional/class_diagrams/annotations/line_breaks.mmd
  tests/pyreverse/functional/class_diagrams/annotations/line_breaks.puml
  tests/pyreverse/functional/class_diagrams/annotations/line_breaks.py
  tests/pyreverse/functional/class_diagrams/annotations/line_breaks.rc
  tests/pyreverse/functional/class_diagrams/attributes/duplicates.mmd
  tests/pyreverse/functional/class_diagrams/attributes/duplicates.py
Due: pylint

[arguments-differ] Fix the list of solution in details.rst
  doc/data/messages/a/arguments-differ/details.rst
Due: none

[bad-str-strip-call] Use the new template with multiple files
  doc/data/messages/b/bad-str-strip-call/bad/hello_world.py
  doc/data/messages/b/bad-str-strip-call/bad/remove_abc_from_both_side.py
  doc/data/messages/b/bad-str-strip-call/good/hello_world.py
  doc/data/messages/b/bad-str-strip-call/good/remove_abc_from_both_side.py
Due: none

Remove old_names
  pylint/checkers/deprecated.py
Due: pylint

Remove Container
  tests/checkers/unittest_deprecated.py
Due: pylint

[logging-format-interpolation] Direct link to the stackoverflow answer
  doc/data/messages/l/logging-format-interpolation/related.rst
  doc/data/messages/l/logging-fstring-interpolation/related.rst
  doc/data/messages/l/logging-not-lazy/related.rst
Due: none

[consider-using-with] Use the template allowing multiple files
  doc/data/messages/c/consider-using-with/bad/close.py
  doc/data/messages/c/consider-using-with/bad/not_even_close.py
  doc/data/messages/c/consider-using-with/good.py
Due: none

[consider-using-any-or-all] Use the template allowing multiple files
  doc/data/messages/c/consider-using-any-or-all/bad/all_even.py
  doc/data/messages/c/consider-using-any-or-all/bad/any_even.py
  doc/data/messages/c/consider-using-any-or-all/good.py
  doc/data/messages/c/consider-using-any-or-all/good/all_even.py
  doc/data/messages/c/consider-using-any-or-all/good/any_even.py
Due: none

Fix comment
  tests/pyreverse/functional/class_diagrams/attributes/duplicates.py
Due: none

Use better variable names
  pylint/pyreverse/diagrams.py
Due: pylint

Still better variable names
  pylint/pyreverse/diagrams.py
Due: pylint

Add a real example
  doc/data/messages/d/deprecated-argument/bad.py
  doc/data/messages/d/deprecated-argument/details.rst
  doc/data/messages/d/deprecated-argument/good.py
  doc/data/messages/d/deprecated-argument/pylintrc
Due: none

[deprecated-argument] Create the initial documentation
  doc/data/messages/d/deprecated-argument/details.rst
  doc/data/messages/d/deprecated-argument/good.py
Due: none

Fix duplicate fields Pyreverse bug (#9004)
  doc/whatsnew/fragments/8189.bugfix
  pylint/pyreverse/diagrams.py
  tests/pyreverse/functional/class_diagrams/attributes/duplicates.mmd
  tests/pyreverse/functional/class_diagrams/attributes/duplicates.py
Due: pylint, check-newsfragments

Fix Pyreverse duplicate annotations
  doc/whatsnew/fragments/8888.bugfix
  pylint/pyreverse/diagrams.py
  tests/pyreverse/functional/class_diagrams/attributes/duplicates.mmd
  tests/pyreverse/functional/class_diagrams/attributes/duplicates.py
Due: pylint, check-newsfragments

Add alternative optional bug test cases
  tests/pyreverse/functional/class_diagrams/annotations/attributes_annotation.dot
  tests/pyreverse/functional/class_diagrams/annotations/attributes_annotation.mmd
  tests/pyreverse/functional/class_diagrams/annotations/attributes_annotation.puml
  tests/pyreverse/functional/class_diagrams/annotations/attributes_annotation.py
Due: none

Fix Pyreverse optional annotation bug
  doc/whatsnew/fragments/9014.bugfix
  pylint/pyreverse/utils.py
  tests/pyreverse/functional/class_diagrams/annotations/attributes_annotation.dot
  tests/pyreverse/functional/class_diagrams/annotations/attributes_annotation.mmd
  tests/pyreverse/functional/class_diagrams/annotations/attributes_annotation.puml
Due: pylint, check-newsfragments

[deprecated-argument] Create the initial documentation (#8995)
  doc/data/messages/d/deprecated-argument/bad.py
  doc/data/messages/d/deprecated-argument/details.rst
  doc/data/messages/d/deprecated-argument/good.py
  doc/data/messages/d/deprecated-argument/pylintrc
Due: none

Fix type error
  pylint/pyreverse/utils.py
Due: pylint

Fix Pyreverse duplicate annotations (#9012)
  doc/whatsnew/fragments/8888.bugfix
  pylint/pyreverse/diagrams.py
  tests/pyreverse/functional/class_diagrams/attributes/duplicates.mmd
  tests/pyreverse/functional/class_diagrams/attributes/duplicates.py
Due: pylint, check-newsfragments

Fix Pyreverse optional annotation bug (#9016)
  doc/whatsnew/fragments/9014.bugfix
  pylint/pyreverse/utils.py
  tests/pyreverse/functional/class_diagrams/annotations/attributes_annotation.dot
  tests/pyreverse/functional/class_diagrams/annotations/attributes_annotation.mmd
  tests/pyreverse/functional/class_diagrams/annotations/attributes_annotation.puml
  tests/pyreverse/functional/class_diagrams/annotations/attributes_annotation.py
Due: pylint, check-newsfragments

[doc tests] Refactor of the assertion for doc tests
  doc/test_messages_documentation.py
Due: none

[doc tests] Handle multiple files fail in good/ directory
  doc/test_messages_documentation.py
Due: none

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst
