Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

Fix FP for `unexpected-keyword-arg` with ambiguous constructors (#9785)
  doc/whatsnew/fragments/9672.false_positive
  pylint/checkers/typecheck.py
  pylint/checkers/utils.py
  tests/functional/u/unexpected_keyword_arg.py
  tests/functional/u/unexpected_keyword_arg.txt
Due: pylint, check-newsfragments

Handle assert_never() when imported from typing_extensions (#9782)
  doc/whatsnew/fragments/9780.false_positive
  pylint/checkers/variables.py
  tests/functional/u/used/used_before_assignment_py311.py
  tests/functional/u/used/used_before_assignment_py311.rc
Due: pylint, check-newsfragments

Handle assert_never() when imported from typing_extensions (#9782) (#9790)
  doc/whatsnew/fragments/9780.false_positive
  pylint/checkers/variables.py
  tests/functional/u/used/used_before_assignment_py311.py
  tests/functional/u/used/used_before_assignment_py311.rc
Due: pylint, check-newsfragments

Add unsupported version checks for major 3.11 and 3.12 features
  doc/data/messages/u/using-exception-groups-in-unsupported-version/bad.py
  doc/data/messages/u/using-exception-groups-in-unsupported-version/details.rst
  doc/data/messages/u/using-exception-groups-in-unsupported-version/good.py
  doc/data/messages/u/using-exception-groups-in-unsupported-version/pylintrc
  doc/data/messages/u/using-generic-type-syntax-in-unsupported-version/bad.py
  doc/data/messages/u/using-generic-type-syntax-in-unsupported-version/details.rst
  doc/data/messages/u/using-generic-type-syntax-in-unsupported-version/good.py
  doc/data/messages/u/using-generic-type-syntax-in-unsupported-version/pylintrc
  doc/whatsnew/fragments/9791.new_check
  pylint/checkers/unsupported_version.py
Due: pylint, check-newsfragments

fixup: add expected msgs
  doc/data/messages/u/using-exception-groups-in-unsupported-version/bad.py
  doc/data/messages/u/using-generic-type-syntax-in-unsupported-version/bad.py
Due: none

fixup: message descriptions
  pylint/checkers/unsupported_version.py
Due: pylint

fixup: msg description
  pylint/checkers/unsupported_version.py
Due: pylint

Bump DEFAULT_PYTHON checks.yaml to 3.12
  .github/workflows/checks.yaml
Due: none

Bump CACHE_VERSION in checks.yaml
  .github/workflows/checks.yaml
Due: none

Remove constant
  pylint/constants.py
  pylint/lint/message_state_handler.py
  pylint/lint/run.py
Due: pylint

Expect syntax-error
  doc/data/messages/a/anomalous-backslash-in-string/bad.py
  doc/data/messages/a/anomalous-unicode-escape-in-string/bad.py
Due: none

Update msg overview
  doc/user_guide/messages/messages_overview.rst
Due: none

Build docs
  doc/user_guide/checkers/features.rst
Due: none

Update tests/functional/ext/docparams/missing_param_doc.py
  tests/functional/ext/docparams/missing_param_doc.py
Due: none

Fix a false positive for ``missing-param-doc`` (#9740)
  doc/whatsnew/fragments/9739.false_positive
  pylint/extensions/docparams.py
  tests/functional/ext/docparams/missing_param_doc.py
  tests/functional/ext/docparams/missing_param_doc.txt
Due: pylint, check-newsfragments

Fix test
  tests/functional/i/inconsistent/inconsistent_returns_noreturn.py
  tests/functional/i/inconsistent/inconsistent_returns_noreturn.rc
  tests/functional/i/inconsistent/inconsistent_returns_noreturn.txt
Due: none

Update TODO statement
  pylint/checkers/variables.py
Due: pylint

Add additional test case
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/i/inconsistent/inconsistent_returns_noreturn.py
  tests/functional/i/inconsistent/inconsistent_returns_noreturn.txt
Due: pylint

Remove experimental changes
  pylint/checkers/refactoring/refactoring_checker.py
Due: pylint

Add disable, fix constant
  tests/functional/i/inconsistent/inconsistent_returns_noreturn.py
Due: none

Handle ambiguous inference
  pylint/checkers/refactoring/refactoring_checker.py
Due: pylint

Give preference to `--never-returning-functions` in `inconsistent-return-statements` check (#9591)
  doc/whatsnew/fragments/7565.false_negative
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/variables.py
  tests/functional/i/inconsistent/inconsistent_returns_noreturn.py
  tests/functional/i/inconsistent/inconsistent_returns_noreturn.rc
  tests/functional/i/inconsistent/inconsistent_returns_noreturn.txt
Due: pylint, check-newsfragments

Add functional tests
  doc/data/messages/u/using-generic-type-syntax-in-unsupported-version/bad.py
  doc/data/messages/u/using-generic-type-syntax-in-unsupported-version/good.py
  tests/functional/u/unsupported/unsupported_version_for_exception_group.py
  tests/functional/u/unsupported/unsupported_version_for_exception_group.rc
  tests/functional/u/unsupported/unsupported_version_for_exception_group.txt
  tests/functional/u/unsupported/unsupported_version_for_generic_type_syntax.py
  tests/functional/u/unsupported/unsupported_version_for_generic_type_syntax.rc
  tests/functional/u/unsupported/unsupported_version_for_generic_type_syntax.txt
Due: none

Update details.rst
  doc/data/messages/a/anomalous-backslash-in-string/details.rst
Due: none

Add coverage
  tests/functional/u/unsupported/unsupported_version_for_exception_group.py
  tests/functional/u/unsupported/unsupported_version_for_exception_group.txt
  tests/functional/u/unsupported/unsupported_version_for_generic_type_syntax.py
  tests/functional/u/unsupported/unsupported_version_for_generic_type_syntax.txt
Due: none

Add unsupported version checks for major 3.11 and 3.12 features (#9792)
  .github/workflows/checks.yaml
  doc/data/messages/a/anomalous-backslash-in-string/bad.py
  doc/data/messages/a/anomalous-backslash-in-string/details.rst
  doc/data/messages/a/anomalous-unicode-escape-in-string/bad.py
  doc/data/messages/u/using-exception-groups-in-unsupported-version/bad.py
  doc/data/messages/u/using-exception-groups-in-unsupported-version/details.rst
  doc/data/messages/u/using-exception-groups-in-unsupported-version/good.py
  doc/data/messages/u/using-exception-groups-in-unsupported-version/pylintrc
  doc/data/messages/u/using-generic-type-syntax-in-unsupported-version/bad.py
  doc/data/messages/u/using-generic-type-syntax-in-unsupported-version/details.rst
  doc/data/messages/u/using-generic-type-syntax-in-unsupported-version/good.py
  doc/data/messages/u/using-generic-type-syntax-in-unsupported-version/pylintrc
  doc/user_guide/checkers/features.rst
  doc/user_guide/messages/messages_overview.rst
  doc/whatsnew/fragments/9791.new_check
  pylint/checkers/unsupported_version.py
  tests/functional/u/unsupported/unsupported_version_for_exception_group.py
  tests/functional/u/unsupported/unsupported_version_for_exception_group.rc
  tests/functional/u/unsupported/unsupported_version_for_exception_group.txt
  tests/functional/u/unsupported/unsupported_version_for_generic_type_syntax.py
  tests/functional/u/unsupported/unsupported_version_for_generic_type_syntax.rc
  tests/functional/u/unsupported/unsupported_version_for_generic_type_syntax.txt
Due: pylint, check-newsfragments

Fix consider-using-min-max-builtin
  doc/whatsnew/fragments/9800.false_negative
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/c/consider/consider_using_min_max_builtin.txt
Due: pylint, check-newsfragments

Fix consider-using-min-max-builtin (#9802)
  doc/whatsnew/fragments/9800.false_negative
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/c/consider/consider_using_min_max_builtin.txt
Due: pylint, check-newsfragments

[pyreverse] updated docs for filter-mode
  pylint/pyreverse/main.py
Due: pylint

Add towncrier fragment
  doc/whatsnew/fragments/9805.other
Due: check-newsfragments

Update setuptools to >=71.0.1
  pyproject.toml
  requirements_test_min.txt
Due: none

Remove version restriction
  requirements_test_min.txt
Due: none

Fix test
  tests/functional/r/recursion/recursion_error_3159.py
Due: none

Bump astroid to 3.2.4
  pyproject.toml
  requirements_test_min.txt
Due: none

Fix a crash when a subclass extends `__slots__`
  doc/whatsnew/fragments/9814.bugfix
  pylint/checkers/classes/class_checker.py
  tests/functional/s/slots_checks.py
Due: pylint, check-newsfragments
