Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  fix-documentation: any of: ^(doc/whatsnew/\d+\.\d+\.rst)
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

update while-used doc (#7974)
  pylint/extensions/while_used.py
Due: pylint

Fix `used-before-assignment` if conditional imports guarded again when used (#7980)
  doc/whatsnew/fragments/7979.false_positive
  pylint/checkers/variables.py
  tests/functional/u/used/used_before_assignment_typing.py
  tests/functional/u/used/used_before_assignment_typing.txt
Due: pylint, check-newsfragments

handle recursive starr nodes
  pylint/checkers/refactoring/recommendation_checker.py
  pylint/checkers/utils.py
  tests/functional/u/use/use_sequence_for_iteration.py
Due: pylint

Fix `use-sequence-for-iteration` when unpacking a set with `*` (#7975)
  doc/whatsnew/fragments/5788.false_positive
  pylint/checkers/refactoring/recommendation_checker.py
  pylint/checkers/utils.py
  tests/functional/ext/code_style/cs_consider_using_tuple.py
  tests/functional/ext/code_style/cs_consider_using_tuple.txt
  tests/functional/u/use/use_sequence_for_iteration.py
  tests/functional/u/use/use_sequence_for_iteration.txt
Due: pylint, check-newsfragments

Fix `use-sequence-for-iteration` when unpacking a set with `*` (#7975) (#7988)
  doc/whatsnew/fragments/5788.false_positive
  pylint/checkers/refactoring/recommendation_checker.py
  pylint/checkers/utils.py
  tests/functional/ext/code_style/cs_consider_using_tuple.py
  tests/functional/ext/code_style/cs_consider_using_tuple.txt
  tests/functional/u/use/use_sequence_for_iteration.py
  tests/functional/u/use/use_sequence_for_iteration.txt
Due: pylint, check-newsfragments

[pre-commit] Upgrade to black 23.1a1 with 2023's formatting (#7965)
  .pre-commit-config.yaml
  examples/custom_raw.py
  pylint/checkers/base/basic_error_checker.py
  pylint/checkers/base_checker.py
  pylint/checkers/classes/class_checker.py
  pylint/checkers/classes/special_methods_checker.py
  pylint/checkers/misc.py
  pylint/checkers/refactoring/recommendation_checker.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/spelling.py
  pylint/checkers/threading_checker.py
  pylint/checkers/unicode.py
  pylint/checkers/variables.py
  pylint/epylint.py
  pylint/extensions/bad_builtin.py
  pylint/extensions/code_style.py
  pylint/extensions/consider_ternary_expression.py
  pylint/extensions/empty_comment.py
  pylint/extensions/eq_without_hash.py
  pylint/extensions/for_any_all.py
  pylint/extensions/no_self_use.py
  pylint/extensions/private_import.py
  pylint/extensions/redefined_loop_name.py
  pylint/extensions/set_membership.py
  pylint/extensions/while_used.py
  pylint/lint/message_state_handler.py
  pylint/pyreverse/diagrams.py
  requirements_test_pre_commit.txt
  tests/checkers/unittest_deprecated.py
  tests/checkers/unittest_design.py
  tests/checkers/unittest_imports.py
  tests/checkers/unittest_variables.py
  tests/lint/unittest_lint.py
  tests/test_deprecation.py
Due: pylint

Update doc/whatsnew/fragments/5636.bugfix
  doc/whatsnew/fragments/5636.bugfix
Due: check-newsfragments

fix changelog
  doc/whatsnew/fragments/5636.bugfix
Due: check-newsfragments

Fixes custom braces in user-provided msg-template. (#7976)
  doc/whatsnew/fragments/5636.bugfix
  pylint/reporters/text.py
  tests/reporters/unittest_reporting.py
Due: pylint, check-newsfragments

Add the ``files`` option
  doc/whatsnew/fragments/5701.other
  pylint/config/config_initialization.py
  pylint/lint/base_options.py
  pylint/lint/run.py
  tests/config/unittest_config.py
Due: pylint, check-newsfragments

Use codecov instead of coveralls for coverage reporting
  .github/workflows/tests.yaml
  README.rst
  codecov.yml
  requirements_test.txt
Due: none

Fixes custom braces in user-provided msg-template. (#7976) (#7993)
  doc/whatsnew/fragments/5636.bugfix
  pylint/reporters/text.py
  tests/reporters/unittest_reporting.py
Due: pylint, check-newsfragments

Cover missing line in dict-init-mutate test
  tests/functional/ext/dict_init_mutate.py
Due: none

Cover missing line in dict-init-mutate test (#7994)
  tests/functional/ext/dict_init_mutate.py
Due: none

Cover missing consider-using-namedtuple-or-dataclass line
  tests/functional/ext/code_style/cs_consider_using_namedtuple_or_dataclass.py
  tests/functional/ext/code_style/cs_consider_using_namedtuple_or_dataclass.txt
Due: none

Cover missing private-import line
  tests/functional/ext/private_import/private_import.py
  tests/functional/ext/private_import/private_import.txt
Due: none

Cover missing consider-ternary-expression lines
  tests/functional/ext/consider_ternary_expression/consider_ternary_expression.py
  tests/functional/ext/consider_ternary_expression/consider_ternary_expression.rc
Due: none

Cover docparam line and cut unreachable lines
  pylint/extensions/docparams.py
  tests/functional/ext/docparams/docparams.py
Due: pylint

[chore] Upgrade the generated documentation
  doc/user_guide/checkers/extensions.rst
Due: none

[consider-using-sys-exit] Better rationale and added confidence
  doc/user_guide/checkers/features.rst
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/c/consider/consider_using_sys_exit.txt
Due: pylint

Cut assertions
  pylint/extensions/docparams.py
Due: pylint

Add comment
  tests/functional/ext/code_style/cs_consider_using_namedtuple_or_dataclass.py
  tests/functional/ext/code_style/cs_consider_using_namedtuple_or_dataclass.txt
Due: none

Move disables to test file
  tests/functional/ext/consider_ternary_expression/consider_ternary_expression.py
  tests/functional/ext/consider_ternary_expression/consider_ternary_expression.rc
  tests/functional/ext/consider_ternary_expression/consider_ternary_expression.txt
Due: none

Add another comment
  tests/functional/ext/docparams/docparams.py
Due: none

Update test output
  tests/functional/ext/code_style/cs_consider_using_namedtuple_or_dataclass.txt
  tests/functional/ext/consider_ternary_expression/consider_ternary_expression.txt
Due: none

Comments
  tests/functional/ext/consider_ternary_expression/consider_ternary_expression.py
  tests/functional/ext/docparams/docparams.py
Due: none

Update again
  tests/functional/ext/consider_ternary_expression/consider_ternary_expression.txt
Due: none

Cover more lines (#7996)
  pylint/extensions/docparams.py
  tests/functional/ext/code_style/cs_consider_using_namedtuple_or_dataclass.py
  tests/functional/ext/code_style/cs_consider_using_namedtuple_or_dataclass.txt
  tests/functional/ext/consider_ternary_expression/consider_ternary_expression.py
  tests/functional/ext/consider_ternary_expression/consider_ternary_expression.rc
  tests/functional/ext/consider_ternary_expression/consider_ternary_expression.txt
  tests/functional/ext/docparams/docparams.py
  tests/functional/ext/private_import/private_import.py
  tests/functional/ext/private_import/private_import.txt
Due: pylint

Don't show fully covered files
  .coveragerc
Due: none

remove if msg.module check
  pylint/reporters/text.py
Due: pylint

replace no-header option with no header reporter
  doc/user_guide/configuration/all-options.rst
  doc/whatsnew/fragments/5362.feature
  pylint/lint/base_options.py
  pylint/reporters/text.py
  tests/test_self.py
Due: pylint, check-newsfragments

add new option --no-header
  doc/user_guide/configuration/all-options.rst
  doc/whatsnew/fragments/5362.feature
  pylint/lint/base_options.py
  pylint/reporters/text.py
  tests/test_self.py
Due: pylint, check-newsfragments

fix is class attr
  pylint/checkers/classes/class_checker.py
  pylint/checkers/utils.py
  tests/functional/a/assigning/assigning_non_slot.py
  tests/functional/a/assigning/assigning_non_slot.txt
Due: pylint

class attrs should not emit assigning-non-slot msg
  doc/whatsnew/fragments/6001.false_positive
  pylint/checkers/classes/class_checker.py
  tests/functional/a/assigning/assigning_non_slot.py
  tests/functional/a/assigning/assigning_non_slot.txt
Due: pylint, check-newsfragments
