Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

feat(dict-init-mutate): include suggested dict literal in message (#10935)
  doc/whatsnew/fragments/7819.feature
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/utils.py
  pylint/extensions/dict_init_mutate.py
  tests/functional/ext/dict_init_mutate.py
  tests/functional/ext/dict_init_mutate.txt
Due: pylint, check-newsfragments

[primer] Add blank line after <details> tag for proper markdown rendering (#10948)
  pylint/testutils/_primer/primer_compare_command.py
  tests/testutils/_primer/batched_cases/expected.txt
  tests/testutils/_primer/cases/line_moved/expected.txt
  tests/testutils/_primer/cases/message_changed/expected.txt
  tests/testutils/_primer/cases/message_changed/expected_truncated.txt
  tests/testutils/_primer/cases/message_changed/expected_truncated_in_details.txt
  tests/testutils/_primer/cases/message_changed_line/expected.txt
  tests/testutils/_primer/cases/mixed_changes/expected.txt
  tests/testutils/_primer/cases/new_message/expected.txt
  tests/testutils/_primer/cases/removed_message/expected.txt
  tests/testutils/_primer/cases/type_changed/expected.txt
  tests/testutils/_primer/cases/useless_suppression/expected.txt
Due: pylint

adding minor changes
  pylint/checkers/looping_iterator_checker.py
Due: pylint

[test] Add primer test cases for suboptimal diff scenarios (#10946)
  tests/testutils/_primer/cases/line_moved/expected.txt
  tests/testutils/_primer/cases/line_moved/expected_comparator.json
  tests/testutils/_primer/cases/line_moved/main.json
  tests/testutils/_primer/cases/line_moved/pr.json
  tests/testutils/_primer/cases/message_changed_line/expected.txt
  tests/testutils/_primer/cases/message_changed_line/expected_comparator.json
  tests/testutils/_primer/cases/message_changed_line/main.json
  tests/testutils/_primer/cases/message_changed_line/pr.json
  tests/testutils/_primer/cases/mixed_changes/expected.txt
  tests/testutils/_primer/cases/mixed_changes/expected_comparator.json
  tests/testutils/_primer/cases/mixed_changes/main.json
  tests/testutils/_primer/cases/mixed_changes/pr.json
  tests/testutils/_primer/cases/type_changed/expected.txt
  tests/testutils/_primer/cases/type_changed/expected_comparator.json
  tests/testutils/_primer/cases/type_changed/main.json
  tests/testutils/_primer/cases/type_changed/pr.json
  tests/testutils/_primer/cases/useless_suppression/expected.txt
  tests/testutils/_primer/cases/useless_suppression/expected_comparator.json
  tests/testutils/_primer/cases/useless_suppression/main.json
  tests/testutils/_primer/cases/useless_suppression/pr.json
Due: none

[doc] Upgrade Read the Docs build image to Ubuntu 24.04/Python 3.13 (#10945)
  .readthedocs.yaml
Due: none

[primer] Switch from JSONReporter to JSON2Reporter
  pylint/testutils/_primer/comparator.py
  pylint/testutils/_primer/primer_command.py
  pylint/testutils/_primer/primer_run_command.py
  tests/testutils/_primer/batched_cases/main_batch1.json
  tests/testutils/_primer/cases/confidence_changed/expected.txt
  tests/testutils/_primer/cases/confidence_changed/expected_comparator.json
  tests/testutils/_primer/cases/confidence_changed/main.json
  tests/testutils/_primer/cases/confidence_changed/pr.json
  tests/testutils/_primer/cases/line_moved/main.json
  tests/testutils/_primer/cases/line_moved/pr.json
  tests/testutils/_primer/cases/message_changed/main.json
  tests/testutils/_primer/cases/message_changed/pr.json
  tests/testutils/_primer/cases/message_changed_line/main.json
  tests/testutils/_primer/cases/message_changed_line/pr.json
  tests/testutils/_primer/cases/mixed_changes/main.json
  tests/testutils/_primer/cases/mixed_changes/pr.json
  tests/testutils/_primer/cases/new_message/pr.json
  tests/testutils/_primer/cases/no_change/main.json
  tests/testutils/_primer/cases/no_change/pr.json
  tests/testutils/_primer/cases/removed_message/main.json
  tests/testutils/_primer/cases/removed_message/pr.json
  tests/testutils/_primer/cases/type_changed/main.json
  tests/testutils/_primer/cases/type_changed/pr.json
  tests/testutils/_primer/cases/useless_suppression/pr.json
Due: pylint

adding minor changes
  doc/data/messages/l/looping-through-iterator/bad.py
  pylint/checkers/looping_iterator_checker.py
Due: pylint

[primer] Use realistic package structure in both_empty fixture
  tests/testutils/_primer/cases/both_empty/main.json
  tests/testutils/_primer/cases/both_empty/pr.json
Due: none

moving comment to outside of if
  pylint/checkers/looping_iterator_checker.py
Due: pylint

feat: expand use-implicit-booleaness-not-len to catch len comparisons to 0
  pylint/checkers/refactoring/implicit_booleaness_checker.py
  tests/functional/u/use/use_implicit_booleaness_not_len.py
  tests/functional/u/use/use_implicit_booleaness_not_len.txt
Due: pylint

Use client-id
  .github/workflows/backport.yml
Due: none

Fix for issue #10969 - Pylint skipping similarly named project directory.
  doc/whatsnew/fragments/10969.bugfix
  pylint/lint/pylinter.py
Due: pylint, check-newsfragments

[primer] Cover multi-package truncation edge cases
  tests/testutils/_primer/cases/multi_package/expected_truncated_break.txt
  tests/testutils/_primer/test_primer.py
Due: pylint

[primer] Refactor ``Comparator.__iter__`` return type and split helpers
  pylint/testutils/_primer/comparator.py
  pylint/testutils/_primer/primer_compare_command.py
Due: pylint

Exclude primer testcase from beeing reformatted by prettier
  .pre-commit-config.yaml
Due: none

First shot at a pyreverse primer implementation based on the existing primer
  pylint/testutils/_primer/pyreverse_primer.py
  pylint/testutils/_primer/pyreverse_primer_command.py
  pylint/testutils/_primer/pyreverse_primer_compare_command.py
  pylint/testutils/_primer/pyreverse_primer_run_command.py
  pylint/testutils/_primer/pyreverse_primer_target.py
Due: pylint

Make testcases more realistic in terms of diagram size
  tests/testutils/_primer/pyreverse_cases/changed/expected_comment.md
  tests/testutils/_primer/pyreverse_cases/changed/main_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/changed/pr_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/method_removed/expected_comment.md
  tests/testutils/_primer/pyreverse_cases/method_removed/main_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/method_removed/pr_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/multi_target_mixed/expected_comment.md
  tests/testutils/_primer/pyreverse_cases/multi_target_mixed/main_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/multi_target_mixed/main_functiondef.mmd
  tests/testutils/_primer/pyreverse_cases/multi_target_mixed/pr_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/multi_target_mixed/pr_functiondef.mmd
  tests/testutils/_primer/pyreverse_cases/multiple_targets/expected_comment.md
  tests/testutils/_primer/pyreverse_cases/multiple_targets/expected_comment_truncated.md
  tests/testutils/_primer/pyreverse_cases/multiple_targets/main_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/multiple_targets/main_functiondef.mmd
  tests/testutils/_primer/pyreverse_cases/multiple_targets/pr_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/multiple_targets/pr_functiondef.mmd
  tests/testutils/_primer/pyreverse_cases/no_change/main_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/no_change/pr_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/relationship_added/expected_comment.md
  tests/testutils/_primer/pyreverse_cases/relationship_added/main_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/relationship_added/pr_classdef.mmd
Due: none

Add unit tests for the expected output of the primer
  tests/testutils/_primer/pyreverse_cases/changed/expected.md
  tests/testutils/_primer/pyreverse_cases/changed/main.json
  tests/testutils/_primer/pyreverse_cases/changed/pr.json
  tests/testutils/_primer/pyreverse_cases/multiple_targets/expected.md
  tests/testutils/_primer/pyreverse_cases/multiple_targets/expected_truncated.md
  tests/testutils/_primer/pyreverse_cases/multiple_targets/main.json
  tests/testutils/_primer/pyreverse_cases/multiple_targets/pr.json
  tests/testutils/_primer/pyreverse_cases/no_change/expected.md
  tests/testutils/_primer/pyreverse_cases/no_change/main.json
  tests/testutils/_primer/pyreverse_cases/no_change/pr.json
  tests/testutils/_primer/test_pyreverse_primer.py
Due: pylint

Add primer + config
  tests/primer/pyreverse_primer.py
  tests/primer/pyreverse_targets_to_prime.json
Due: pylint

Rename testfiles
  tests/testutils/_primer/pyreverse_cases/changed/expected_comment.md
  tests/testutils/_primer/pyreverse_cases/method_removed/expected_comment.md
  tests/testutils/_primer/pyreverse_cases/multi_target_mixed/expected_comment.md
  tests/testutils/_primer/pyreverse_cases/multiple_targets/expected_comment.md
  tests/testutils/_primer/pyreverse_cases/multiple_targets/expected_comment_truncated.md
  tests/testutils/_primer/pyreverse_cases/no_change/expected_comment.md
  tests/testutils/_primer/pyreverse_cases/relationship_added/expected_comment.md
  tests/testutils/_primer/test_pyreverse_primer.py
Due: pylint

Take over gh actions from pylint primer for now
  .github/workflows/pyreverse_primer_comment.yaml
  .github/workflows/pyreverse_primer_run_main.yaml
  .github/workflows/pyreverse_primer_run_pr.yaml
Due: none

Fix mypy
  tests/testutils/_primer/test_pyreverse_primer.py
Due: pylint

testfiles directly readable as mermaid files instead of json
  tests/testutils/_primer/pyreverse_cases/changed/main.json
  tests/testutils/_primer/pyreverse_cases/changed/main_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/changed/pr.json
  tests/testutils/_primer/pyreverse_cases/changed/pr_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/method_removed/main_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/method_removed/pr_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/multi_target_mixed/main_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/multi_target_mixed/main_functiondef.mmd
  tests/testutils/_primer/pyreverse_cases/multi_target_mixed/pr_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/multi_target_mixed/pr_functiondef.mmd
  tests/testutils/_primer/pyreverse_cases/multiple_targets/main.json
  tests/testutils/_primer/pyreverse_cases/multiple_targets/main_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/multiple_targets/main_functiondef.mmd
  tests/testutils/_primer/pyreverse_cases/multiple_targets/pr.json
  tests/testutils/_primer/pyreverse_cases/multiple_targets/pr_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/multiple_targets/pr_functiondef.mmd
  tests/testutils/_primer/pyreverse_cases/no_change/main.json
  tests/testutils/_primer/pyreverse_cases/no_change/main_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/no_change/pr.json
  tests/testutils/_primer/pyreverse_cases/no_change/pr_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/relationship_added/main_classdef.mmd
  tests/testutils/_primer/pyreverse_cases/relationship_added/pr_classdef.mmd
  tests/testutils/_primer/test_pyreverse_primer.py
Due: pylint

Clarify diagram source
  pylint/testutils/_primer/pyreverse_primer_compare_command.py
  tests/testutils/_primer/pyreverse_cases/changed/expected_comment.md
  tests/testutils/_primer/pyreverse_cases/method_removed/expected_comment.md
  tests/testutils/_primer/pyreverse_cases/multi_target_mixed/expected_comment.md
  tests/testutils/_primer/pyreverse_cases/multiple_targets/expected_comment.md
  tests/testutils/_primer/pyreverse_cases/relationship_added/expected_comment.md
Due: pylint

Add test folder
  tests/.pyreverse_primer_tests/.gitkeep
Due: none

Make ordering deterministic
  pylint/testutils/_primer/pyreverse_primer_compare_command.py
Due: pylint

Fix inconsistent `used-before-assignment` for partial bindings
  doc/whatsnew/fragments/9879.false_positive
  pylint/checkers/variables.py
  tests/functional/r/regression_02/regression_9879.py
  tests/functional/r/regression_02/regression_9879.txt
  tests/functional/u/used/used_before_assignment_typing.314.txt
  tests/functional/u/used/used_before_assignment_typing.py
  tests/functional/u/used/used_before_assignment_typing.txt
Due: pylint, check-newsfragments

[tests] Cover ``files`` option via the config testing framework
  pylint/testutils/configuration_test.py
  tests/config/functional/ini/pylintrc_with_files.ini
  tests/config/functional/toml/toml_with_files.toml
  tests/config/test_config.py
Due: pylint

Add the ``files`` option
  doc/whatsnew/fragments/5701.other
  pylint/config/config_initialization.py
  pylint/lint/base_options.py
  pylint/lint/run.py
  tests/config/test_config.py
Due: pylint, check-newsfragments

[cleanup] Remove behavior that is in argparse already
  pylint/config/arguments_manager.py
Due: pylint

Make 'pylint' equivalent to 'pylint .'
  doc/whatsnew/fragments/5701.breaking
  pylint/lint/pylinter.py
  pylint/lint/run.py
  tests/test_self.py
Due: pylint, check-newsfragments

[mccabe] Vendor mccabe to reduce supply chain risks
  doc/whatsnew/fragments/10551.internal
  pylint/extensions/mccabe.py
  pyproject.toml
Due: pylint, check-newsfragments

[mccabe] Re-implement with graph-based E-N+2 algorithm
  doc/whatsnew/fragments/10551.internal
  pylint/extensions/mccabe.py
  tests/functional/ext/mccabe/mccabe.py
  tests/functional/ext/mccabe/mccabe.txt
Due: pylint, check-newsfragments

[mccabe] Add tests for full coverage and fix spelling
  doc/user_guide/configuration/all-options.rst
  pylint/extensions/mccabe.py
  tests/functional/ext/mccabe/mccabe.py
  tests/functional/ext/mccabe/mccabe.txt
Due: pylint

[mccabe] Optimize visitor (dispatch table, __slots__, inlining, node keys)
  pylint/extensions/mccabe.py
Due: pylint

Fix false positive for bad-dunder-name on __suppress_context__
  doc/whatsnew/fragments/10960.false_positive
  pylint/constants.py
  tests/functional/ext/bad_dunder/bad_dunder_name.py
Due: pylint, check-newsfragments
