Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I
  - --load-plugins=pylint.extensions.docparams

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

Update pylint/checkers/stdlib.py
  pylint/checkers/stdlib.py
Due: pylint

Update tests
  pylint/checkers/stdlib.py
  tests/functional/l/lru_cache_decorating_method.txt
Due: pylint

Make ``lru-cache-decorating-method`` look for ``maxsize`` argument (#5791)
  pylint/checkers/stdlib.py
  tests/functional/l/lru_cache_decorating_method.py
  tests/functional/l/lru_cache_decorating_method.txt
Due: pylint

Fix #5112: Prevent `used-before-assignment` if named expr found first in container
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/variables.py
  tests/functional/u/undefined/undefined_variable_py38.py
  tests/functional/u/undefined/undefined_variable_py38.txt
Due: pylint, fix-documentation

Add scope to cache key
  pylint/checkers/typecheck.py
Due: pylint

Add no-member caching unit tests
  tests/checkers/unittest_typecheck.py
Due: pylint

Refactor cache key generation to own function and check for valid key
  pylint/checkers/typecheck.py
Due: pylint

Add provisional ChangeLog message
  ChangeLog
Due: fix-documentation

Add test
  tests/functional/u/undefined/undefined_variable_py38.py
Due: none

Update output
  tests/functional/u/undefined/undefined_variable_py38.txt
Due: none

Simplify return
  pylint/checkers/variables.py
Due: pylint

Prevent cache key clashes from name matches
  pylint/checkers/typecheck.py
  tests/checkers/unittest_typecheck.py
Due: pylint

Limit the number of jobs in tests
  tests/test_check_parallel.py
Due: pylint

Don't assume test runners have more than 2 cores available
  tests/test_check_parallel.py
Due: pylint

Fix `used-before-assignment` false positive for except handler names shared by comprehension test
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/variables.py
  tests/functional/u/used/used_before_assignment_issue626.py
Due: pylint, fix-documentation

Fix `used-before-assignment` false positive for except handler names shared by comprehension test (#5818)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/variables.py
  tests/functional/u/used/used_before_assignment_issue626.py
Due: pylint, fix-documentation

Fix example code
  pylint/checkers/variables.py
Due: pylint

Fix #5112: Prevent `used-before-assignment` if named expression found first in container (#5812)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/variables.py
  tests/functional/u/undefined/undefined_variable_py38.py
  tests/functional/u/undefined/undefined_variable_py38.txt
Due: pylint, fix-documentation

Add note on how to share the badge for pylint
  README.rst
Due: none

Update CONTRIBUTORS.txt
  CONTRIBUTORS.txt
Due: none

Update README.rst
  README.rst
Due: none

use yellow-green instead of green
  README.rst
Due: none

Add note on how to share the badge for pylint (#5820)
  CONTRIBUTORS.txt
  README.rst
Due: none

Add ``typevar-name-missing-variance`` checker
  CONTRIBUTORS.txt
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/base.py
  tests/functional/g/generic_alias/generic_alias_side_effects.py
  tests/functional/r/regression/regression_2443_duplicate_bases.py
  tests/functional/t/typevar_name_missing_variance.py
  tests/functional/t/typevar_name_missing_variance.txt
Due: pylint, fix-documentation

Fix coverage
  pylint/checkers/base.py
  tests/functional/t/typevar_name_missing_variance.py
  tests/functional/t/typevar_name_missing_variance.txt
Due: pylint

Remove unnecessary check
  pylint/checkers/base.py
Due: pylint

Don't assume runners have more than 2 cores available for benchmarking
  tests/benchmark/test_baseline_benchmarks.py
Due: pylint

Revert "Increase timeouts (#5755)"
  .github/workflows/ci.yaml
  .github/workflows/primer-test.yaml
Due: none

Update .github/workflows/ci.yaml
  .github/workflows/ci.yaml
Due: none

Back to 5
  .github/workflows/ci.yaml
Due: none

Path conditions:
  pylint: any of: \.py$, but not: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
  fix-documentation: any of: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
