Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

[testutil] Add proper test for the functional tests helpers
  pylint/testutils/lint_module_test.py
  pylint/testutils/output_line.py
  tests/testutils/data/functional/broken_output_ok_test/exec_used.py
  tests/testutils/data/functional/broken_output_ok_test/exec_used.txt
  tests/testutils/data/functional/broken_output_wrong_test/exec_used.py
  tests/testutils/data/functional/broken_output_wrong_test/exec_used.txt
  tests/testutils/data/functional/no_output_ok_test/exec_used.py
  tests/testutils/data/functional/no_output_wrong_test/exec_used.py
  tests/testutils/data/functional/ok_output_ok_test/exec_used.py
  tests/testutils/data/functional/ok_output_ok_test/exec_used.txt
  tests/testutils/data/functional/ok_output_wrong_test/exec_used.py
  tests/testutils/data/functional/ok_output_wrong_test/exec_used.txt
  tests/testutils/data/functional/wrong_output_ok_test/exec_used.py
  tests/testutils/data/functional/wrong_output_ok_test/exec_used.txt
  tests/testutils/data/functional/wrong_output_wrong_test/exec_used.py
  tests/testutils/data/functional/wrong_output_wrong_test/exec_used.txt
  tests/testutils/test_functional_testutils.py
  tests/testutils/test_lint_module_output_update.py
  tests/testutils/test_output_line.py
Due: pylint

[functional tests] Display all violations for disorganized directories
  pylint/testutils/functional/find_functional_tests.py
  tests/testutils/test_functional_testutils.py
Due: pylint

[testutil] Display all the crowded functional test dir at once
  pylint/testutils/functional/find_functional_tests.py
Due: pylint

[testutil] Display recursive call for crowded functional test dir
  pylint/testutils/functional/find_functional_tests.py
  tests/testutils/data/m/max_overflow/max_overflow_1.py
  tests/testutils/data/m/max_overflow/max_overflow_2.py
  tests/testutils/data/m/max_overflow/max_overflow_3.py
  tests/testutils/test_functional_testutils.py
Due: pylint

[testutil] Do not count files with leading underscores
  pylint/testutils/functional/find_functional_tests.py
  tests/testutils/test_functional_testutils.py
  tests/testutils/test_lint_module_output_update.py
Due: pylint

[testutil] Remove unused variable from find_functional_tests
  pylint/testutils/functional/find_functional_tests.py
Due: pylint

[refactor] Separate assertion from setup in functional test's test
  tests/testutils/test_lint_module_output_update.py
Due: pylint

[testutil] Fix the algorithm for functional test discovery
  pylint/testutils/functional/find_functional_tests.py
  tests/functional/r/regression_02/regression_property_slots_2439.py
  tests/testutils/data/u/_no_issue_here/_incredibly_bold_mischief.py
  tests/testutils/test_functional_testutils.py
Due: pylint

[deprecation] Make 'OutputLine' require a fixed number of args
  doc/whatsnew/fragments/8474.internal
  pylint/testutils/output_line.py
  tests/testutils/test_output_line.py
Due: pylint, check-newsfragments

Fix `unnecessary-lambda` false positive for lambdas using its parameters in their body (#8498)
  doc/whatsnew/fragments/8496.false_positive
  pylint/checkers/base/basic_checker.py
  tests/functional/u/unnecessary/unnecessary_lambda.py
  tests/functional/u/unnecessary/unnecessary_lambda.txt
Due: pylint, check-newsfragments

[deprecation] Make 'OutputLine' require a fixed number of args (#8474)
  doc/whatsnew/fragments/8474.internal
  pylint/testutils/output_line.py
  tests/testutils/test_output_line.py
Due: pylint, check-newsfragments

Update 8485.false_positive
  doc/whatsnew/fragments/8485.false_positive
Due: check-newsfragments

Allow integers in TypeAlias names (#8488)
  doc/data/messages/i/invalid-name/details.rst
  doc/whatsnew/fragments/8485.false_positive
  pylint/checkers/base/name_checker/checker.py
  tests/functional/t/typealias_naming_style_default.py
  tests/functional/t/typealias_naming_style_default.txt
Due: pylint, check-newsfragments

Fix news fragment after incorrect auto-merge
  doc/whatsnew/fragments/8485.false_positive
Due: check-newsfragments

[crash template] Add <details> tag and current headers for clearer result
  pylint/lint/utils.py
Due: pylint

[crash template] Link to blank issue so it's possible to copy paste
  pylint/lint/utils.py
  tests/lint/test_utils.py
Due: pylint

upgrade pyproject.toml
  pyproject.toml
Due: none

Apply suggested changes from reviews
  pylint/checkers/variables.py
Due: pylint

Add ``Skip news :mute:`` to dependabot labels
  .github/dependabot.yml
Due: none

Update codecov token link
  README.rst
Due: none

Upgrade cache version because primer now fetch pylint-dev/astroid
  .github/workflows/primer-test.yaml
  .github/workflows/primer_comment.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/primer_run_pr.yaml
  .github/workflows/tests.yaml
Due: none

[doc] Create a variable for the contributors description
  doc/conf.py
Due: none

[cleanup] Upgrade more doc following the PyCQA migration
  README.rst
  doc/contact.rst
  doc/development_guide/contributor_guide/contribute.rst
  doc/development_guide/contributor_guide/tests/install.rst
  doc/development_guide/contributor_guide/tests/launching_test.rst
  doc/development_guide/contributor_guide/tests/writing_test.rst
  doc/development_guide/how_tos/transform_plugins.rst
  doc/whatsnew/2/2.1/full.rst
  doc/whatsnew/2/2.13/full.rst
  doc/whatsnew/2/2.13/summary.rst
  doc/whatsnew/2/2.3/full.rst
  doc/whatsnew/2/2.9/full.rst
  pylint/checkers/utils.py
  pylint/checkers/variables.py
  pyproject.toml
  script/check_newsfragments.py
  tests/functional/a/assigning/assigning_non_slot_4509.py
  tests/functional/d/dataclass/dataclass_typecheck.py
  tests/functional/r/recursion/recursion_error_crash_astroid_623.py
  tests/functional/r/regression_02/regression_5030.py
  tests/functional/r/regression_02/regression_5048.py
  tests/functional/r/regression_02/regression_distutil_import_error_73.py
  tests/functional/r/regression_02/regression_enum_1734.py
  tests/functional/s/super/super_checks.py
  tests/functional/t/typing_generic.py
  tests/functional/u/unused/unused_variable.py
  tests/primer/packages_to_prime.json
  tests/testutils/_primer/fixtures/message_changed/expected.txt
  tests/testutils/_primer/fixtures/message_changed/expected_truncated.txt
  tests/testutils/_primer/fixtures/message_changed/main.json
  tests/testutils/_primer/fixtures/message_changed/pr.json
  tests/testutils/_primer/fixtures/no_change/main.json
  tests/testutils/_primer/fixtures/no_change/pr.json
Due: pylint

Add rstripping for "/" characters
  pylint/pyreverse/writer.py
Due: pylint

Add towncrier fragment
  doc/whatsnew/fragments/8504.bugfix
Due: check-newsfragments

Apply Precommit corrections
  doc/whatsnew/fragments/8504.bugfix
Due: check-newsfragments
