Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        exclude: "tests/functional/t/trailing_whitespaces.py"
      - id: end-of-file-fixer
        exclude: "tests/functional/m/missing/missing_final_newline.py|tests/functional/t/trailing_newlines.py"
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
      - id: autoflake
        exclude: &fixtures tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/
        args:
          - --in-place
          - --remove-all-unused-imports
          - --expand-star-imports
          - --remove-duplicate-keys
          - --remove-unused-variables
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.11.0
    hooks:
      - id: pyupgrade
        args: [--py36-plus]
        exclude: *fixtures
  - repo: https://github.com/PyCQA/isort
    rev: 5.8.0
    hooks:
      - id: isort
  - repo: https://github.com/ambv/black
    rev: 20.8b1
    hooks:
      - id: black
        args: [--safe, --quiet]
        exclude: *fixtures
  - repo: https://github.com/Pierre-Sassoulas/black-disable-checker/
    rev: 1.0.0
    hooks:
      - id: black-disable-checker
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
        exclude: *fixtures
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "-rn",
            "-sn",
            "--rcfile=pylintrc",
            "--load-plugins=pylint.extensions.docparams",
          ]
        # disabled plugins: pylint.extensions.mccabe
        exclude: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
      - id: fix-documentation
        name: Fix documentation
        entry: python3 -m script.fix_documentation
        language: system
        types: [text]
        files: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.812
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: python
        types: [python]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
        additional_dependencies: []
        exclude: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/|bin/
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        args: [--prose-wrap=always, --print-width=88]

Add security.md for Tidelift coordinated disclosure plan
  .github/SECURITY.md
Due: none

Add security.md for Tidelift coordinated disclosure plan (#4493)
  .github/SECURITY.md
Due: none

Fixed functest output
  tests/functional/u/unnecessary/unnecessary_dict_index_lookup.txt
Due: none

Small update
  tests/functional/u/unnecessary/unnecessary_dict_index_lookup.py
Due: none

Implemented new check unnecessary-dict-index-lookup (#4485)
  ChangeLog
  doc/whatsnew/2.9.rst
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/u/unnecessary/unnecessary_dict_index_lookup.py
  tests/functional/u/unnecessary/unnecessary_dict_index_lookup.txt
Due: pylint, fix-documentation

Implemented new check ``use-from-import``
  ChangeLog
  doc/whatsnew/2.9.rst
  pylint/checkers/imports.py
  tests/functional/i/import_aliasing.py
  tests/functional/i/import_aliasing.txt
  tests/functional/u/useless/useless-import-alias.txt
Due: pylint, fix-documentation

Incorporated suggestions from PR review
  ChangeLog
  doc/whatsnew/2.9.rst
  pylint/checkers/imports.py
  tests/extensions/test_empty_comment.py
  tests/functional/i/import_aliasing.py
  tests/functional/i/import_aliasing.txt
Due: pylint, fix-documentation

Changed name of checker to ``consider-using-from-import``
  ChangeLog
  doc/whatsnew/2.9.rst
  pylint/checkers/imports.py
  tests/functional/i/import_aliasing.py
  tests/functional/i/import_aliasing.txt
Due: pylint, fix-documentation

Small update
  ChangeLog
  doc/whatsnew/2.9.rst
  pylint/checkers/imports.py
Due: pylint, fix-documentation

Implemented new check consider-using-from-import (#4491)
  ChangeLog
  doc/whatsnew/2.9.rst
  pylint/checkers/imports.py
  tests/extensions/test_empty_comment.py
  tests/functional/i/import_aliasing.py
  tests/functional/i/import_aliasing.txt
  tests/functional/u/useless/useless-import-alias.txt
Due: pylint, fix-documentation

implement MultiReporter
  pylint/reporters/__init__.py
  pylint/reporters/multi_reporter.py
Due: pylint

add tests for new output-format
  tests/unittest_reporting.py
Due: pylint

implement ,-separated output-format with :outputs
  pylint/lint/pylinter.py
Due: pylint

add docs, changelog, whatsnew, contributor entry
  CONTRIBUTORS.txt
  ChangeLog
  doc/user_guide/output.rst
  doc/whatsnew/2.9.rst
Due: fix-documentation

properly escape paths for json output test
  tests/unittest_reporting.py
Due: pylint

improve MultiReporter coverage
  tests/unittest_reporting.py
Due: pylint

add a bunch of type hints
  pylint/lint/pylinter.py
  pylint/reporters/multi_reporter.py
Due: pylint

explicitly close the files for pypy delayed gc
  tests/unittest_reporting.py
Due: pylint

cover the FQN name class format loading code
  tests/unittest_reporting.py
Due: pylint

fix split for windows paths containing semicolons
  pylint/lint/pylinter.py
Due: pylint

make MultiReporter.path_strip_prefix readonly
  pylint/reporters/multi_reporter.py
Due: pylint

fix minor test nitpicks
  tests/unittest_reporting.py
Due: pylint

enable newline translation in tests for windows
  tests/unittest_reporting.py
Due: pylint

Add regression tests of inference of implicit None return
  tests/functional/r/regression/regression_implicit_none_with_no_return.py
  tests/functional/r/regression/regression_implicit_none_with_no_return.txt
Due: none

WIP: automatically color package diagrams in pyreverse
  pylint/pyreverse/writer.py
  tests/data/packages_No_Name.dot
Due: pylint

Update tox.ini
  tox.ini
Due: none

Update pre-commit-config
  .pre-commit-config.yaml
Due: none

Changes after pyupgrade update
  pylint/checkers/python3.py
  pylint/checkers/similar.py
  pylint/config/man_help_formatter.py
  pylint/lint/report_functions.py
  pylint/message/message_definition.py
  pylint/reporters/ureports/text_writer.py
  tests/unittest_pyreverse_diadefs.py
Due: pylint

Update tests to return size from __len__
  tests/functional/a/abstract/abstract_class_instantiated_py3.py
  tests/functional/a/abstract/abstract_method_py3.py
  tests/functional/n/no/no_self_use.py
Due: none

Add command line options ``--colorized`` and ``-max-color-depth``. Distinguish modules and packages.
  pylint/pyreverse/main.py
  pylint/pyreverse/writer.py
Due: pylint

Update doc/whatsnew/2.9.rst
  doc/whatsnew/2.9.rst
Due: fix-documentation

Multiple `output-format` support (#4492)
  CONTRIBUTORS.txt
  ChangeLog
  doc/user_guide/output.rst
  doc/whatsnew/2.9.rst
  pylint/lint/pylinter.py
  pylint/reporters/__init__.py
  pylint/reporters/multi_reporter.py
  tests/unittest_reporting.py
Due: pylint, fix-documentation

Add list literal check to using-constant-test.
  CONTRIBUTORS.txt
  ChangeLog
  doc/whatsnew/2.9.rst
  pylint/checkers/base.py
  tests/functional/u/use/using_constant_test.py
  tests/functional/u/use/using_constant_test.txt
Due: pylint, fix-documentation

Add list literal check to using-constant-test. (#4502)
  CONTRIBUTORS.txt
  ChangeLog
  doc/whatsnew/2.9.rst
  pylint/checkers/base.py
  tests/functional/u/use/using_constant_test.py
  tests/functional/u/use/using_constant_test.txt
Due: pylint, fix-documentation

Implemented ``unused-protected-member`` checker
  ChangeLog
  doc/whatsnew/2.9.rst
  pylint/checkers/classes.py
  tests/functional/u/unused/unused_protected_member.py
  tests/functional/u/unused/unused_protected_member.txt
Due: pylint, fix-documentation

Added pylint disable for functional tests
  tests/functional/a/access/access_attr_before_def_false_positive.py
  tests/functional/a/access/access_member_before_definition.py
  tests/functional/a/access/access_to_protected_members.py
  tests/functional/a/arguments_differ.py
  tests/functional/a/assigning_non_slot.py
  tests/functional/c/class_attributes.py
  tests/functional/c/classes_protected_member_access.py
  tests/functional/m/member/member_checks.py
  tests/functional/m/member/member_checks_hints.py
  tests/functional/m/member/member_checks_no_hints.py
  tests/functional/m/metaclass_attr_access.py
  tests/functional/m/method_hidden.py
  tests/functional/m/missing/missing_docstring.py
  tests/functional/m/missing/missing_kwoa_py3.py
  tests/functional/n/name/name_styles.py
  tests/functional/n/no/no_classmethod_decorator.py
  tests/functional/n/no/no_staticmethod_decorator.py
  tests/functional/r/recursion/recursion_error_2861.py
  tests/functional/s/self/self_cls_assignment.py
  tests/functional/s/slots_checks.py
  tests/functional/t/too/too_few_public_methods.py
  tests/functional/t/too/too_many_instance_attributes.py
  tests/functional/t/too/too_many_public_methods.py
Due: none

Fixed breaking testcases
  tests/checkers/unittest_classes.py
  tests/extensions/data/redefined.py
Due: pylint

Implemented ``unused-private-member`` checker
  ChangeLog
  doc/whatsnew/2.9.rst
  pylint/checkers/classes.py
  tests/functional/a/arguments_differ.py
  tests/functional/m/member/member_checks.py
  tests/functional/n/name/name_styles.py
  tests/functional/s/slots_checks.py
  tests/functional/u/unused/unused_private_member.py
  tests/functional/u/unused/unused_private_member.txt
Due: pylint, fix-documentation

Added more checks to ensure that private members are in the same class
  pylint/checkers/classes.py
  tests/functional/u/unused/unused_private_member.py
  tests/functional/u/unused/unused_private_member.txt
Due: pylint

Fixed failing unit tests
  tests/checkers/unittest_classes.py
Due: pylint
