Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

Enable github output format for CI
  .pre-commit-config.yaml
Due: none

Fixing typos in too-many-branches example
  doc/data/messages/t/too-many-branches/good.py
Due: none

Fixing typos in too-many-branches example (#9486)
  doc/data/messages/t/too-many-branches/good.py
Due: none

Apply corrections
  .pre-commit-config.yaml
  doc/whatsnew/fragments/9443.feature
  pylint/reporters/text.py
Due: pylint, check-newsfragments

Add GitHub reporter (#9484)
  .pre-commit-config.yaml
  doc/whatsnew/fragments/9443.feature
  pylint/reporters/text.py
  tests/test_self.py
Due: pylint, check-newsfragments

Cleanup tests
  tests/test_self.py
Due: pylint

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Fix useless-return false negatives
  doc/whatsnew/fragments/9449.false_negative
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/i/inconsistent/inconsistent_returns.py
  tests/functional/u/used/used_before_assignment_else_return.py
  tests/functional/u/useless/useless_return.py
  tests/functional/u/useless/useless_return.txt
Due: pylint, check-newsfragments

Remove useless return statement
  pylint/checkers/imports.py
Due: pylint

Add more useless-return tests
  tests/functional/u/useless/useless_return.py
Due: none

Handle 'fail-under' as a string
  pylint/lint/base_options.py
  pylint/lint/run.py
Due: pylint

add negative test case for decorated usage of contextmanager
  tests/functional/c/contextmanager_generator_missing_cleanup.py
Due: none

rework checker to use simpler logic from utils.safe_infer
  pylint/checkers/base/function_checker.py
Due: pylint

reword feature fragment, explain purpose more in depth
  doc/whatsnew/fragments/2832.feature
Due: check-newsfragments

fix comment in good examples
  doc/data/messages/c/contextmanager-generator-missing-cleanup/good.py
Due: none

use inference to check for handler of GeneratorExit
  pylint/checkers/base/function_checker.py
Due: pylint

don't raise for contextmanagers that handle base Exception or bare Exception
  pylint/checkers/base/function_checker.py
  tests/functional/c/contextmanager_generator_missing_cleanup.py
Due: pylint

Added new feature for request timeout plugin
  pylint/extensions/requests_timeout_plugin.py
Due: pylint

fixed he issues
  pylint/extensions/requests_timeout_plugin.py
Due: pylint

fixed issue
  pylint/extensions/requests_timeout_plugin.py
Due: pylint

issue fix
  pylint/extensions/requests_timeout_plugin.py
Due: pylint

moved the file to missing timeout folder
  doc/data/messages/m/missing-timeout/requests_timeout_plugin.py
Due: none

change methods_args.py
  pylint/checkers/method_args.py
Due: pylint

file deleted
  pylint/extensions/requests_timeout_plugin.py
Due: pylint

added in the missing timeout
  doc/data/messages/m/missing-timeout/timeout.py
Due: none

added some changes
  pylint/checkers/method_args.py
Due: pylint

checkers.utils.is_sys_guard: understands six.PY2 or six.PY3
  doc/whatsnew/fragments/3501.feature
  pylint/checkers/utils.py
  tests/checkers/unittest_utils.py
Due: pylint, check-newsfragments

Reverse confidence order
  pylint/checkers/variables.py
  tests/functional/u/undefined/undefined_variable.txt
  tests/functional/u/undefined/undefined_variable_py38.txt
  tests/functional/u/used/used_before_assignment.txt
  tests/functional/u/used/used_before_assignment_except_handler_for_try_with_return.txt
  tests/functional/u/used/used_before_assignment_issue2615.txt
  tests/functional/u/used/used_before_assignment_postponed_evaluation.txt
  tests/functional/u/used/used_before_assignment_scoping.txt
  tests/functional/u/used/used_before_assignment_typing.txt
Due: pylint

First stab at distinguishing new message
  pylint/checkers/variables.py
  pylintrc
  tests/functional/u/used/used_before_assignment.py
  tests/functional/u/used/used_before_assignment.txt
  tests/functional/u/used/used_before_assignment_issue1081.py
  tests/functional/u/used/used_before_assignment_issue1081.txt
  tests/functional/u/used/used_before_assignment_typing.py
  tests/functional/u/used/used_before_assignment_typing.txt
Due: pylint

Initialize `tocheck` variable
  tests/test_func.py
Due: pylint

Add good/bad
  doc/data/messages/p/possibly-used-before-assignment/bad.py
  doc/data/messages/p/possibly-used-before-assignment/good.py
Due: none

Reclassify changelog as new check
  doc/whatsnew/fragments/1727.false_negative
  doc/whatsnew/fragments/1727.new_check
Due: check-newsfragments

Move details.rst
  doc/data/messages/p/possibly-used-before-assignment/details.rst
Due: none

Add expected msg
  doc/data/messages/p/possibly-used-before-assignment/bad.py
Due: none

Update docs
  doc/user_guide/checkers/features.rst
  doc/user_guide/messages/messages_overview.rst
Due: none

Fix "function never returning" computation
  doc/whatsnew/fragments/7565.false_positive
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/i/inconsistent/inconsistent_returns_noreturn.py
  tests/functional/i/inconsistent/inconsistent_returns_noreturn.rc
  tests/functional/i/inconsistent/inconsistent_returns_noreturn.txt
Due: pylint, check-newsfragments
