Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  fix-documentation: any of: ^(doc/whatsnew/\d+\.\d+\.rst)
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

Brevity: shorten more variable names
  pylint/checkers/classes/class_checker.py
Due: pylint

Brevity: use a generator comprehension to return the list of positions in each flag's binary representation that are set to '1'
  pylint/checkers/classes/class_checker.py
Due: pylint

Refactor: factor-out '_flag_value_repr' string-formatting utility method
  pylint/checkers/classes/class_checker.py
Due: pylint

feat(6489): implement positional-only-arguments-expected checker
  doc/data/messages/p/positional-only-arguments-expected/bad.py
  doc/data/messages/p/positional-only-arguments-expected/good.py
  doc/user_guide/checkers/features.rst
  doc/user_guide/configuration/all-options.rst
  doc/user_guide/messages/messages_overview.rst
  doc/whatsnew/fragments/6489.new_check
  pylint/checkers/method_args.py
  tests/functional/p/positional_only_arguments_expected.py
  tests/functional/p/positional_only_arguments_expected.rc
  tests/functional/p/positional_only_arguments_expected.txt
Due: pylint, check-newsfragments

Update doc/user_guide/configuration/all-options.rst
  doc/user_guide/configuration/all-options.rst
Due: none

Fix a false positive for ``redefined-variable-type`` when ``async`` methods are present.
  doc/whatsnew/fragments/8120.false_positive
  pylint/extensions/redefined_variable_type.py
  tests/functional/ext/redefined_variable_type/redefined_variable_type.py
Due: pylint, check-newsfragments

Add --allow-reexport-from-package option
  doc/data/messages/u/useless-import-alias/details.rst
  doc/data/messages/u/useless-import-alias/related.rst
  doc/user_guide/checkers/features.rst
  doc/user_guide/configuration/all-options.rst
  doc/whatsnew/fragments/6006.feature
  pylint/checkers/imports.py
  pylintrc
Due: pylint, check-newsfragments

update good/bad examples
  doc/data/messages/p/positional-only-arguments-expected/bad.py
  doc/data/messages/p/positional-only-arguments-expected/good.py
  doc/data/messages/p/positional-only-arguments-expected/related.rst
Due: none

Add confidence
  pylint/checkers/imports.py
  tests/functional/i/import_aliasing.txt
Due: pylint

Add test case
  tests/checkers/unittest_imports.py
  tests/regrtest_data/allow_reexport/__init__.py
  tests/regrtest_data/allow_reexport/file.py
Due: pylint

Fix test (windows)
  tests/checkers/unittest_imports.py
Due: pylint

Fix a false positive for ``redefined-variable-type`` when ``async`` methods are present. (#8123)
  doc/whatsnew/fragments/8120.false_positive
  pylint/extensions/redefined_variable_type.py
  tests/functional/ext/redefined_variable_type/redefined_variable_type.py
Due: pylint, check-newsfragments

feat(6489): implement `positional-only-arguments-expected` checker (#8121)
  doc/data/messages/p/positional-only-arguments-expected/bad.py
  doc/data/messages/p/positional-only-arguments-expected/good.py
  doc/data/messages/p/positional-only-arguments-expected/related.rst
  doc/user_guide/checkers/features.rst
  doc/user_guide/messages/messages_overview.rst
  doc/whatsnew/fragments/6489.new_check
  pylint/checkers/method_args.py
  tests/functional/p/positional_only_arguments_expected.py
  tests/functional/p/positional_only_arguments_expected.rc
  tests/functional/p/positional_only_arguments_expected.txt
Due: pylint, check-newsfragments

Lower max try statements
  pylint/checkers/classes/class_checker.py
  pylint/checkers/stdlib.py
  pylint/checkers/utils.py
  pylint/testutils/output_line.py
  pylint/utils/ast_walker.py
  pylintrc
Due: pylint

Lower max statements
  pylint/checkers/imports.py
  pylint/checkers/spelling.py
  pylint/checkers/strings.py
  pylint/checkers/typecheck.py
  pylint/checkers/variables.py
  pylint/lint/expand_modules.py
  pylint/lint/run.py
  pylintrc
Due: pylint

Lower max branches
  pylint/checkers/classes/class_checker.py
  pylint/checkers/format.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/typecheck.py
  pylint/checkers/utils.py
  pylint/checkers/variables.py
  pylint/lint/run.py
  pylintrc
Due: pylint

Lower max locals
  pylint/checkers/similar.py
  pylint/checkers/strings.py
  pylint/lint/expand_modules.py
  pylintrc
Due: pylint

Update tests
  tests/checkers/unittest_format.py
  tests/lint/unittest_lint.py
  tests/test_self.py
Due: pylint

Lower max args
  pylintrc
Due: none

ci: parallelise primer run pr on modules
  .github/workflows/primer_comment.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/primer_run_pr.yaml
  pylint/testutils/_primer/primer.py
  pylint/testutils/_primer/primer_run_command.py
Due: pylint

Cut design constraints with default values
  pylint/checkers/base/basic_checker.py
  pylintrc
  tests/checkers/unittest_deprecated.py
Due: pylint

Add `--allow-reexport-from-package` option (#8124)
  doc/data/messages/u/useless-import-alias/details.rst
  doc/data/messages/u/useless-import-alias/related.rst
  doc/user_guide/configuration/all-options.rst
  doc/whatsnew/fragments/6006.feature
  pylint/checkers/imports.py
  pylintrc
  tests/checkers/unittest_imports.py
  tests/functional/i/import_aliasing.txt
  tests/regrtest_data/allow_reexport/__init__.py
  tests/regrtest_data/allow_reexport/file.py
Due: pylint, check-newsfragments

Apply suggestions from code review
  .github/workflows/primer_comment.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/primer_run_pr.yaml
Due: none

Tighten design constraints (#8115)
  pylint/checkers/base/basic_checker.py
  pylint/checkers/classes/class_checker.py
  pylint/checkers/format.py
  pylint/checkers/imports.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/similar.py
  pylint/checkers/spelling.py
  pylint/checkers/stdlib.py
  pylint/checkers/strings.py
  pylint/checkers/typecheck.py
  pylint/checkers/utils.py
  pylint/checkers/variables.py
  pylint/lint/expand_modules.py
  pylint/lint/run.py
  pylint/testutils/output_line.py
  pylint/utils/ast_walker.py
  pylintrc
  tests/checkers/unittest_deprecated.py
  tests/checkers/unittest_format.py
  tests/lint/unittest_lint.py
  tests/test_self.py
Due: pylint

Update pylint/checkers/refactoring/recommendation_checker.py
  pylint/checkers/refactoring/recommendation_checker.py
Due: pylint

preferred-modules submodule test
  tests/checkers/unittest_imports.py
  tests/regrtest_data/preferred_module/unpreferred_submodule.py
Due: pylint

submodule from import detection pref-modules
  pylint/checkers/imports.py
  tests/regrtest_data/preferred_module/unpreferred_submodule.py
Due: pylint

Update isort to 5.12.0
  .pre-commit-config.yaml
  requirements_test_pre_commit.txt
Due: none

Update isort to 5.12.0 (#8130)
  .pre-commit-config.yaml
  requirements_test_pre_commit.txt
Due: none

Fix false positive for `use-maxsplit-arg` with custom split (#8114)
  doc/whatsnew/fragments/4857.false_positive
  pylint/checkers/refactoring/recommendation_checker.py
  tests/functional/u/use/use_maxsplit_arg.py
Due: pylint, check-newsfragments

[doc] Make sure that doc examples are of a reasonable length
  .pre-commit-config.yaml
  doc/data/.flake8
  doc/data/messages/b/bad-exception-cause/bad.py
  doc/data/messages/c/class-variable-slots-conflict/bad.py
  doc/data/messages/c/consider-using-dict-comprehension/bad.py
  doc/data/messages/c/consider-using-dict-comprehension/details.rst
  doc/data/messages/c/consider-using-f-string/bad.py
  doc/data/messages/c/consider-using-set-comprehension/bad.py
  doc/data/messages/c/consider-using-set-comprehension/details.rst
  doc/data/messages/l/line-too-long/bad.py
  doc/data/messages/l/line-too-long/pylintrc
  doc/data/messages/n/no-self-use/details.rst
  doc/data/messages/n/no-self-use/good.py
  doc/data/messages/t/too-many-boolean-expressions/bad.py
  doc/data/messages/t/too-many-format-args/bad.py
Due: none

[doc] Make sure that doc examples are of a reasonable length (#8135)
  .pre-commit-config.yaml
  doc/data/.flake8
  doc/data/messages/b/bad-exception-cause/bad.py
  doc/data/messages/c/class-variable-slots-conflict/bad.py
  doc/data/messages/c/consider-using-dict-comprehension/bad.py
  doc/data/messages/c/consider-using-dict-comprehension/details.rst
  doc/data/messages/c/consider-using-f-string/bad.py
  doc/data/messages/c/consider-using-set-comprehension/bad.py
  doc/data/messages/c/consider-using-set-comprehension/details.rst
  doc/data/messages/l/line-too-long/bad.py
  doc/data/messages/l/line-too-long/pylintrc
  doc/data/messages/n/no-self-use/details.rst
  doc/data/messages/n/no-self-use/good.py
  doc/data/messages/t/too-many-boolean-expressions/bad.py
  doc/data/messages/t/too-many-format-args/bad.py
Due: none

Add some test cases for redundant type check
  tests/functional/ext/typing/redundant_typehint_argument.py
  tests/functional/ext/typing/redundant_typehint_argument.txt
Due: none

Use fail-on-cache-miss option [ci]
  .github/workflows/checks.yaml
  .github/workflows/primer-test.yaml
  .github/workflows/primer_comment.yaml
  .github/workflows/tests.yaml
Due: none

Fix dev requirements
  .github/workflows/changelog.yml
  .github/workflows/checks.yaml
  .github/workflows/primer-test.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/primer_run_pr.yaml
  .github/workflows/tests.yaml
  requirements_test_pre_commit.txt
Due: none

Use fail-on-cache-miss option [ci] (#8139)
  .github/workflows/checks.yaml
  .github/workflows/primer-test.yaml
  .github/workflows/primer_comment.yaml
  .github/workflows/tests.yaml
Due: none

Fix dev requirements (#8140)
  .github/workflows/changelog.yml
  .github/workflows/checks.yaml
  .github/workflows/primer-test.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/primer_run_pr.yaml
  .github/workflows/tests.yaml
  requirements_test_pre_commit.txt
Due: none

Move pre-commit to pre-commit requirements
  requirements_test.txt
  requirements_test_pre_commit.txt
Due: none
