Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

check-newsfragments:
  name: Check newsfragments
  entry: python3 -m script.check_newsfragments
  language: system

Handle deferred evaluation of annotations in Python 3.14
  doc/whatsnew/fragments/10149.feature
  pylint/checkers/typecheck.py
  pylint/checkers/variables.py
  pylint/extensions/typing.py
  tests/functional/p/postponed/postponed_evaluation_not_activated.314.txt
  tests/functional/p/postponed/postponed_evaluation_not_activated.py
  tests/functional/u/undefined/undefined_variable.314.txt
  tests/functional/u/undefined/undefined_variable.py
  tests/functional/u/undefined/undefined_variable_py30.314.txt
  tests/functional/u/undefined/undefined_variable_py30.py
  tests/functional/u/used/used_before_assignment_nonlocal.314.txt
  tests/functional/u/used/used_before_assignment_nonlocal.py
  tests/functional/u/used/used_before_assignment_typing.314.txt
  tests/functional/u/used/used_before_assignment_typing.py
Due: pylint, check-newsfragments

added tests
  doc/whatsnew/fragments/10373.bugfix
  tests/functional/t/test_aggregation_filtering.py
  tests/functional/t/test_aggregation_filtering.txt
Due: check-newsfragments

updated diagrams.py file
  doc/whatsnew/fragments/10373.bugfix
  pylint/pyreverse/diagrams.py
Due: pylint, check-newsfragments

updated tests
  tests/pyreverse/functional/class_diagrams/aggregation/test_aggregation_filtering.mmd
  tests/pyreverse/functional/class_diagrams/aggregation/test_aggregation_filtering.py
Due: none

Use pathlib glob for file filter
  pylint/testutils/functional/test_file.py
Due: pylint

Add changelog and documentation
  doc/development_guide/contributor_guide/tests/writing_test.rst
  doc/whatsnew/fragments/10382.internal
Due: check-newsfragments

Fix tests
  pylint/testutils/functional/test_file.py
Due: pylint

Remove unnecessary testoption
  tests/functional/ext/typing/unnecessary_default_type_args.rc
Due: none

Initial fixes for Python 3.14
  pylint/checkers/base/name_checker/checker.py
  pylint/extensions/typing.py
  tests/functional/g/generic_alias/generic_alias_collections.py
  tests/functional/g/generic_alias/generic_alias_collections.txt
  tests/functional/g/generic_alias/generic_alias_typing.py
  tests/functional/g/generic_alias/generic_alias_typing.txt
Due: pylint

Initial fixes for Python 3.14 (#10384)
  pylint/checkers/base/name_checker/checker.py
  pylint/extensions/typing.py
  tests/functional/g/generic_alias/generic_alias_collections.py
  tests/functional/g/generic_alias/generic_alias_collections.txt
  tests/functional/g/generic_alias/generic_alias_typing.py
  tests/functional/g/generic_alias/generic_alias_typing.txt
Due: pylint

Replace codecs.open with open
  pylint/graph.py
  tests/pyreverse/test_writer.py
Due: pylint

Fix pylint-config help output test for Python 3.14
  pylint/constants.py
  tests/config/pylint_config/test_pylint_config_help.py
Due: pylint

Update custom_dict.txt
  custom_dict.txt
Due: none

Replace codecs.open with open (#10385)
  pylint/graph.py
  tests/pyreverse/test_writer.py
Due: pylint

Fix pylint-config help output test for Python 3.14 (#10386)
  pylint/constants.py
  tests/config/pylint_config/test_pylint_config_help.py
Due: pylint

[ci] Install pylint before every test
  .github/workflows/checks.yaml
  .github/workflows/tests.yaml
Due: none

[ci] Add --no-deps
  .github/workflows/checks.yaml
  .github/workflows/primer-test.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/primer_run_pr.yaml
  .github/workflows/tests.yaml
Due: none

[ci] Install pylint before every test (#10388)
  .github/workflows/checks.yaml
  .github/workflows/primer-test.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/primer_run_pr.yaml
  .github/workflows/tests.yaml
Due: none

[ci] Install pylint before every test (#10388) (#10389)
  .github/workflows/checks.yaml
  .github/workflows/primer-test.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/primer_run_pr.yaml
  .github/workflows/tests.yaml
Due: none

Improve backport job permissions
  .github/workflows/backport.yml
Due: none

Improve backport job permissions (#10390)
  .github/workflows/backport.yml
Due: none

[ci] Fix PyPy venv caching issue
  .github/workflows/tests.yaml
Due: none

Improve backport job permissions (#10390) (#10391)
  .github/workflows/backport.yml
Due: none

Handle match case defines
  pylint/checkers/variables.py
Due: pylint

Update, add tests
  tests/functional/u/used/used_before_assignment_py310.py
  tests/functional/u/used/used_before_assignment_py310.txt
Due: none

Add changelog
  doc/whatsnew/fragments/9668.false_positive
Due: check-newsfragments

Use custom Github App to authenticate backport job
  .github/workflows/backport.yml
Due: none

Resolve `possibly-used-before-assignment` false positives from `match` block assignments (#10393)
  doc/whatsnew/fragments/9668.false_positive
  pylint/checkers/variables.py
  tests/functional/u/used/used_before_assignment_py310.py
  tests/functional/u/used/used_before_assignment_py310.txt
Due: pylint, check-newsfragments

[ci] Fix PyPy venv caching issue (#10392)
  .github/workflows/tests.yaml
Due: none

Use custom Github App to authenticate backport job (#10394)
  .github/workflows/backport.yml
Due: none

Correct the test output to follow UML semantics
  tests/pyreverse/functional/class_diagrams/aggregation/fields.mmd
  tests/pyreverse/functional/class_diagrams/aggregation/fields.py
Due: none

Add tests and fix edge cases
  pylint/testutils/functional/test_file.py
  tests/testutils/test_functional_testutils.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst
