Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

Add one more test
  tests/config/test_config.py
Due: pylint

Exclude another deprecation check from ``--minimal-messages-config`` run
  tests/functional/d/deprecated/deprecated_module_py3.rc
Due: none

Fix coverage of ``pylint/config/arguments_manager.py``
  pylint/config/arguments_manager.py
  tests/config/test_argparse_config.py
Due: pylint

Fix coverage of ``pylint/config/utils.py``
  tests/config/test_deprecations.py
Due: pylint

Fix coverage of ``pylint/config/config_file_parser.py``
  tests/config/functional/toml/toml_without_pylint.toml
  tests/config/test_find_default_config_files.py
Due: pylint

Fix coverage of ``pylint/config/argument.py``
  tests/config/test_config.py
Due: pylint

Apply suggestions from code review
  pylint/checkers/utils.py
Due: pylint

Deprecate ``get_global_option``
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/checkers/async.py
  pylint/checkers/base/basic_checker.py
  pylint/checkers/base/basic_error_checker.py
  pylint/checkers/classes/class_checker.py
  pylint/checkers/design_analysis.py
  pylint/checkers/imports.py
  pylint/checkers/refactoring/recommendation_checker.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/typecheck.py
  pylint/checkers/unsupported_version.py
  pylint/checkers/variables.py
  pylint/extensions/code_style.py
  pylint/extensions/docparams.py
  pylint/extensions/typing.py
  pylint/lint/pylinter.py
  pylint/utils/utils.py
  tests/checkers/unittest_design.py
  tests/config/test_deprecations.py
  tests/config/unittest_config.py
  tests/lint/unittest_expand_modules.py
Due: pylint, fix-documentation

Transition ``pyreverse`` from ``optparse`` to ``argparse``
  pylint/pyreverse/main.py
  pylint/pyreverse/writer.py
  pylint/testutils/pyreverse.py
  tests/pyreverse/test_main.py
Due: pylint

Add unittest for deprecation warning
  tests/checkers/unittest_utils.py
Due: pylint

Update tests/config/functional/toml/toml_without_pylint.toml
  tests/config/functional/toml/toml_without_pylint.toml
Due: none

Improve coverage of ``argparse`` (#6332)
  tests/config/functional/toml/toml_without_pylint.toml
  tests/config/test_config.py
  tests/config/test_find_default_config_files.py
Due: pylint

Fix typing
  pylint/lint/run.py
  tests/conftest.py
Due: pylint

Increase coverage for ``argparse`` (#6331)
  pylint/config/arguments_manager.py
  tests/config/test_argparse_config.py
  tests/config/test_deprecations.py
Due: pylint

Remove ``choices`` from ``confidence``
  pylint/config/utils.py
  pylint/lint/pylinter.py
Due: pylint

Fix ``parse_error_mode``
  pylint/lint/pylinter.py
Due: pylint

Deprecate ``options_providers``
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/config/arguments_manager.py
Due: pylint, fix-documentation

Deprecate unnecessary arguments of ``SimilarChecker.set_option``
  pylint/checkers/similar.py
Due: pylint

Update tests/testutils/data/m/minimal_messages_config.py
  tests/testutils/data/m/minimal_messages_config.py
Due: none

Move '_patch_stream' to pylint.testutil
  pylint/testutils/utils.py
  tests/test_self.py
  tests/test_similar.py
Due: pylint

Add ``unrecognized-option`` message (#6330)
  ChangeLog
  doc/data/messages/u/unrecognize-option/details.rst
  doc/whatsnew/2.14.rst
  pylint/config/arguments_manager.py
  pylint/config/config_initialization.py
  pylint/config/exceptions.py
  pylint/lint/pylinter.py
  pylintrc
  tests/config/functional/toml/toml_with_unknown_option.2.out
  tests/config/functional/toml/toml_with_unknown_option.result.json
  tests/config/functional/toml/toml_with_unknown_option.toml
  tests/config/test_config.py
  tests/regrtest_data/.pylintrc
  tests/test_self.py
Due: pylint, fix-documentation

Allow passing a description
  pylint/config/arguments_manager.py
  pylint/pyreverse/main.py
Due: pylint

Update TODOs
  pylint/config/callback_actions.py
  tests/test_regr.py
Due: pylint

Deprecate ``option_groups``
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/lint/pylinter.py
Due: pylint, fix-documentation

Recategorize a TODO
  pylint/config/find_default_config_files.py
Due: pylint

Move type hints into guard clause to avoid runtime problems with Python 3.8 and below
  pylint/checkers/utils.py
Due: pylint

Deprecate all old classes from ``optparse``
  ChangeLog
  doc/whatsnew/2.14.rst
  pylint/config/__init__.py
  pylint/config/arguments_provider.py
  pylint/config/config_initialization.py
  pylint/config/configuration_mixin.py
  pylint/config/option.py
  pylint/config/option_manager_mixin.py
  pylint/config/option_parser.py
  pylint/config/options_provider_mixin.py
Due: pylint, fix-documentation

Added missing-param-doc message example
  doc/data/messages/m/missing-param-doc/bad.py
  doc/data/messages/m/missing-param-doc/good.py
Due: none

Transition ``pyreverse`` from ``optparse`` to ``argparse`` (#6334)
  pylint/config/arguments_manager.py
  pylint/pyreverse/main.py
  pylint/pyreverse/writer.py
  pylint/testutils/pyreverse.py
  tests/pyreverse/test_main.py
Due: pylint

Added missing-type-doc message example
  doc/data/messages/m/missing-type-doc/bad.py
  doc/data/messages/m/missing-type-doc/good.py
Due: none

Added missing-raises-doc message example
  doc/data/messages/m/missing-raises-doc/bad.py
  doc/data/messages/m/missing-raises-doc/good.py
Due: none

Added missing-return-doc message example
  doc/data/messages/m/missing-return-doc/bad.py
  doc/data/messages/m/missing-return-doc/good.py
Due: none

Added missing-yield-doc message example
  doc/data/messages/m/missing-yield-doc/bad.py
  doc/data/messages/m/missing-yield-doc/good.py
Due: none

Added missing-yield-type-doc message example
  doc/data/messages/m/missing-yield-type-doc/bad.py
  doc/data/messages/m/missing-yield-type-doc/good.py
Due: none

Path conditions:
  pylint: any of: \.py$, but not: tests/functional/|tests/input|tests(/\w*)*data/|doc/
  fix-documentation: any of: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
