Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        exclude: "tests/functional/t/trailing_whitespaces.py"
      - id: end-of-file-fixer
        exclude: "tests/functional/m/missing/missing_final_newline.py|tests/functional/t/trailing_newlines.py"
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
      - id: autoflake
        exclude: &fixtures tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/
        args:
          - --in-place
          - --remove-all-unused-imports
          - --expand-star-imports
          - --remove-duplicate-keys
          - --remove-unused-variables
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.11.0
    hooks:
      - id: pyupgrade
        args: [--py36-plus]
        exclude: *fixtures
  - repo: https://github.com/PyCQA/isort
    rev: 5.8.0
    hooks:
      - id: isort
  - repo: https://github.com/ambv/black
    rev: 20.8b1
    hooks:
      - id: black
        args: [--safe, --quiet]
        exclude: *fixtures
  - repo: https://github.com/Pierre-Sassoulas/black-disable-checker/
    rev: 1.0.0
    hooks:
      - id: black-disable-checker
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
        exclude: *fixtures
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "-rn",
            "-sn",
            "--rcfile=pylintrc",
            "--load-plugins=pylint.extensions.docparams",
          ]
        # disabled plugins: pylint.extensions.mccabe
        exclude: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
      - id: fix-documentation
        name: Fix documentation
        entry: python3 -m script.fix_documentation
        language: system
        types: [text]
        files: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.812
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: python
        types: [python]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
        additional_dependencies: []
        exclude: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/|bin/
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        args: [--prose-wrap=always, --print-width=88]

Remove type check from arguments-differ (#4456)
  pylint/checkers/classes.py
  tests/functional/a/arguments_differ.py
  tests/functional/a/arguments_differ.txt
  tests/functional/a/arguments_differ_py3.py
Due: pylint

Update pre-commit-config
  .pre-commit-config.yaml
Due: none

Change rebase-strategy dependabot
  .github/dependabot.yml
Due: none

Change rebase-strategy dependabot (#4462)
  .github/dependabot.yml
Due: none

Fix test failing because python 10 got better
  tests/test_self.py
Due: pylint

Fix additional test case
  tests/functional/m/member/member_checks_py37.py
Due: none

Add python 3.10 dev in the CI
  .github/workflows/ci.yaml
Due: none

Strangely a new legacy test case appeared ?
  tests/test_func.py
Due: pylint

Fix enum no-member
  pylint/checkers/typecheck.py
Due: pylint

Fix tests/test_func
  pylint/testutils/get_test_info.py
  tests/test_func.py
Due: pylint

Add py310 as tox env
  tox.ini
Due: none

Tox - update pre-commit version
  tox.ini
Due: none

Tox - update pre-commit version (#4463)
  tox.ini
Due: none

Update requirements file
  requirements_test_pre_commit.txt
Due: none

Fix Enum.__member__ regression tests
  tests/functional/m/member/member_checks.py
Due: none

Update _emit_no_member to ignore abstract properties
  pylint/checkers/typecheck.py
Due: pylint

Update changelog and contributors
  CONTRIBUTORS.txt
  ChangeLog
Due: fix-documentation

Update regression tests for PyCQA/astroid#940 (#4466)
  CONTRIBUTORS.txt
  ChangeLog
  pylint/checkers/typecheck.py
  tests/functional/m/member/member_checks.py
Due: pylint, fix-documentation

Create new error arguments-renamed
  pylint/checkers/classes.py
Due: pylint

Merge test files for arguments-differ
  tests/functional/a/arguments_differ.py
  tests/functional/a/arguments_differ.txt
  tests/functional/a/arguments_differ_py3.py
  tests/functional/a/arguments_differ_py3.rc
  tests/functional/a/arguments_differ_py3.txt
Due: none

Add tests for arguments-renamed error
  tests/functional/a/arguments_renamed.py
  tests/functional/a/arguments_renamed.txt
Due: none

Implemented new check `consider-using-dict-items`
  CONTRIBUTORS.txt
  ChangeLog
  doc/whatsnew/2.9.rst
  pylint/checkers/refactoring/recommendation_checker.py
  pylint/checkers/typecheck.py
  tests/functional/c/consider/consider_using_dict_items.py
  tests/functional/c/consider/consider_using_dict_items.txt
Due: pylint, fix-documentation

Added additional logic and tests for ``consider-using-dict-items``
  ChangeLog
  doc/whatsnew/2.9.rst
  pylint/checkers/refactoring/recommendation_checker.py
  tests/functional/c/consider/consider_using_dict_items.py
  tests/functional/c/consider/consider_using_dict_items.txt
Due: pylint, fix-documentation

Added logic to check for augassign statements
  pylint/checkers/refactoring/recommendation_checker.py
  tests/functional/c/consider/consider_using_dict_items.py
  tests/functional/c/consider/consider_using_dict_items.txt
Due: pylint

Minor style changes
  pylint/checkers/refactoring/recommendation_checker.py
  pylint/checkers/utils.py
  tests/functional/c/consider/consider_using_dict_items.py
  tests/functional/c/consider/consider_using_dict_items.txt
Due: pylint

Implemented ``consider-using-dict-items`` on comprehension
  pylint/checkers/refactoring/recommendation_checker.py
  tests/functional/c/consider/consider_using_dict_items.py
  tests/functional/c/consider/consider_using_dict_items.txt
Due: pylint

Refactored utility function
  pylint/checkers/refactoring/recommendation_checker.py
  pylint/checkers/utils.py
Due: pylint

Grouped test items
  tests/functional/c/consider/consider_using_dict_items.py
  tests/functional/c/consider/consider_using_dict_items.txt
Due: none

Add new error arguments-renamed
  ChangeLog
Due: fix-documentation

Added more test cases to check for accessing other dicts
  tests/functional/c/consider/consider_using_dict_items.py
  tests/functional/c/consider/consider_using_dict_items.txt
Due: none

Add new error arguments-renamed
  doc/whatsnew/2.9.rst
Due: fix-documentation
