Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-newsfragments

Path conditions:
  pylint: any of: \.py$, but not: tests(/\w*)*/functional/|tests/input|tests(/\w*)*data/|doc/
  check-newsfragments: any of: ^(doc/whatsnew/fragments), but not: doc/whatsnew/fragments/_.*.rst

Bump astroid to 3.3.4 (#9951)
  doc/whatsnew/fragments/9947.false_positive
  pyproject.toml
  requirements_test_min.txt
Due: check-newsfragments

Bump pylint to 3.3.1, update changelog
  doc/whatsnew/3/3.3/index.rst
  doc/whatsnew/fragments/9947.false_positive
  pylint/__pkginfo__.py
  tbump.toml
  towncrier.toml
Due: pylint, check-newsfragments

Bump pylint to 3.3.1, update changelog (#9954)
  doc/whatsnew/3/3.3/index.rst
  doc/whatsnew/fragments/9947.false_positive
  pylint/__pkginfo__.py
  tbump.toml
  towncrier.toml
Due: pylint, check-newsfragments

[too-many-positional-arguments doc] Add the main option to use, real example
  doc/data/messages/t/too-many-positional-arguments/bad.py
  doc/data/messages/t/too-many-positional-arguments/good.py
  doc/data/messages/t/too-many-positional-arguments/pylintrc
Due: none

[too-many-positional-arguments doc] Add the main option to use, real example (#9957)
  doc/data/messages/t/too-many-positional-arguments/bad.py
  doc/data/messages/t/too-many-positional-arguments/good.py
  doc/data/messages/t/too-many-positional-arguments/pylintrc
Due: none

Update FAQ, with tweaks suggested by Grammarly
  doc/faq.rst
Due: none

Revise wording. Add link to Microsoft extension for vs-code
  doc/faq.rst
Due: none

Apply suggestions from code review
  doc/faq.rst
Due: none

Fix #9959: Update FAQ, with tweaks suggested by Grammarly (#9960)
  doc/faq.rst
Due: none

Fix release note typo
  doc/whatsnew/3/3.3/index.rst
Due: none

Fix release note typo (#9969)
  doc/whatsnew/3/3.3/index.rst
Due: none

Revert one change
  pylint/testutils/_primer/primer.py
Due: pylint

Fix the VS Code extension link syntax @ FAQ
  doc/faq.rst
Due: none

Make the VS Code extension link shorter @ FAQ
  doc/faq.rst
Due: none

Suggest disabling `ungrouped-imports` in FAQ when using `isort`
  doc/faq.rst
Due: none

Suggest disabling `ungrouped-imports` in FAQ when using `isort` (#9976)
  doc/faq.rst
Due: none

Fix the VS Code extension link syntax @ FAQ (#9975)
  doc/faq.rst
Due: none

Break up argument lines
  pylint/checkers/variables.py
Due: pylint

Clean up imports
  pylint/checkers/variables.py
Due: pylint

Cut unused typing names
  pylint/checkers/variables.py
Due: pylint

Add Consumption type alias
  pylint/checkers/variables.py
Due: pylint

Move GetProjectCallable to testutils
  pylint/testutils/pyreverse.py
  pylint/typing.py
  tests/pyreverse/conftest.py
  tests/pyreverse/test_diadefs.py
  tests/pyreverse/test_diagrams.py
  tests/pyreverse/test_inspector.py
  tests/pyreverse/test_writer.py
Due: pylint

Move benchmark typecheck import under typechecking flag
  tests/benchmark/test_baseline_benchmarks.py
Due: pylint

Move static methods to free functions
  pylint/checkers/variables.py
Due: pylint

Shorten name of ConsumerAction
  pylint/checkers/variables.py
Due: pylint

Fix mypy errors
  tests/lint/unittest_expand_modules.py
Due: pylint

Rename test data files so they are not picked by pytest discovery
  tests/regrtest_data/source_roots_implicit_namespace_pkg/tests/_test_app.py
  tests/regrtest_data/source_roots_src_layout/tests/_test_app.py
Due: none

Add additional tests
  tests/lint/unittest_expand_modules.py
Due: pylint

Add tests
  pylint/lint/expand_modules.py
  tests/lint/unittest_expand_modules.py
  tests/regrtest_data/source_roots_implicit_namespace_pkg/src/namespacepkg/pkg/__init__.py
  tests/regrtest_data/source_roots_implicit_namespace_pkg/src/namespacepkg/pkg/app.py
  tests/regrtest_data/source_roots_implicit_namespace_pkg/tests/test_app.py
  tests/regrtest_data/source_roots_src_layout/src/mypkg/__init__.py
  tests/regrtest_data/source_roots_src_layout/src/mypkg/app.py
  tests/regrtest_data/source_roots_src_layout/tests/test_app.py
  tests/test_self.py
Due: pylint

Fix lint issues
  tests/lint/unittest_expand_modules.py
Due: pylint

Rename test data files so they are not picked by pytest discovery
  tests/regrtest_data/source_roots_implicit_namespace_pkg/tests/testapp.py
  tests/regrtest_data/source_roots_src_layout/tests/testapp.py
Due: none

Alter fallback for source-roots
  pylint/lint/expand_modules.py
  pylint/lint/pylinter.py
  pylint/pyreverse/main.py
  tests/checkers/unittest_imports.py
  tests/lint/unittest_lint.py
  tests/pyreverse/conftest.py
  tests/pyreverse/test_main.py
Due: pylint

Use some conditional expressions and inline some variables
  pylint/checkers/variables.py
Due: pylint
