Repository pylint-dev/pylint: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, fix-documentation

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=pylintrc
  - --fail-on=I
  - --load-plugins=pylint.extensions.docparams

fix-documentation:
  name: Fix documentation
  entry: python3 -m script.fix_documentation
  language: system

Remove unneccessary use of parenthesis in add_message
  pylint/extensions/docparams.py
Due: pylint

Remove explicit typing of int assignment
  pylint/checkers/base.py
Due: pylint

Update pylintrc
  pylintrc
Due: none

Add missing settings to pylintrc (#5556)
  pylintrc
Due: none

Add removed comment
  pylint/checkers/variables.py
Due: pylint

Add typing to some functions in ``testutils``
  pylint/testutils/configuration_test.py
  pylint/testutils/functional/test_file.py
  pylint/testutils/get_test_info.py
Due: pylint

Fix tests
  tests/functional/ext/docstyle/docstyle.py
  tests/functional/ext/docstyle/docstyle.txt
  tests/functional/ext/docstyle/docstyle_first_line_empty.py
  tests/functional/ext/docstyle/docstyle_first_line_empty.rc
  tests/functional/ext/docstyle/docstyle_first_line_empty.txt
  tests/functional/ext/docstyle/docstyle_quotes_bad.py
  tests/functional/ext/docstyle/docstyle_quotes_bad.rc
  tests/functional/ext/docstyle/docstyle_quotes_bad.txt
  tests/functional/ext/docstyle/docstyle_quotes_ok.py
  tests/functional/ext/docstyle/docstyle_quotes_ok.rc
  tests/functional/ext/docstyle/docstyle_quotes_ok.txt
Due: none

Add typing to checker and plugin attributes of ``PyLinter``
  pylint/lint/pylinter.py
  pylint/reporters/reports_handler_mix_in.py
Due: pylint

Add typing to some functions in ``testutils`` (#5573)
  pylint/testutils/configuration_test.py
  pylint/testutils/functional/test_file.py
  pylint/testutils/get_test_info.py
Due: pylint

Add typing to file visiting attributes of ``PyLinter``
  pylint/lint/pylinter.py
Due: pylint

Update pylint/checkers/base.py
  pylint/checkers/base.py
Due: pylint

Update tests/functional/c/comparison_with_callable_typing_constants.py
  tests/functional/c/comparison_with_callable_typing_constants.py
Due: none

add comment
  tests/functional/c/comparison_with_callable.py
Due: none

bring one check outside generator
  pylint/checkers/base.py
Due: pylint

Fix #5557: Don't emit `comparison-with-callable` if the callable raises (#5563)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/base.py
  tests/functional/c/comparison_with_callable.py
  tests/functional/c/comparison_with_callable_typing_constants.py
Due: pylint, fix-documentation

Fix ``used-before-assignment`` for assignment expressions in lambda (#5530)
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/variables.py
  tests/functional/u/undefined/undefined_variable_py38.py
Due: pylint, fix-documentation

Better docstring in 'PyLinter.check_single_file_item'
  pylint/lint/pylinter.py
Due: pylint

Take review into account
  pylint/checkers/utils.py
Due: pylint

Take review into account
  tests/unittest_reporting.py
Due: pylint

Use a tuple for args
  pylint/checkers/utils.py
  pylint/extensions/docparams.py
Due: pylint

Add typing to file visiting attributes of ``PyLinter`` (#5576)
  pylint/lint/pylinter.py
Due: pylint

Update pylint/checkers/utils.py
  pylint/checkers/utils.py
Due: pylint

Add typing to checker and plugin attributes of ``PyLinter`` (#5574)
  pylint/lint/pylinter.py
  pylint/reporters/reports_handler_mix_in.py
Due: pylint

Add types to option attributes of ``PyLinter`` and reorganize ``init``
  pylint/lint/pylinter.py
Due: pylint

Make ``current_name`` and ``curent_file`` string-only
  pylint/lint/pylinter.py
  tests/lint/unittest_lint.py
  tests/test_check_parallel.py
Due: pylint

Rename ``init_linter`` fixture to ``initialized_linter``, add filename
  tests/lint/unittest_lint.py
Due: pylint

Add missing method to ``_ManHelpFormatter``
  pylint/config/man_help_formatter.py
Due: pylint

Rename ``init_linter`` fixture to ``initialized_linter``, add filename (#5581)
  tests/lint/unittest_lint.py
Due: pylint

Add missing method to ``_ManHelpFormatter`` (#5577)
  pylint/config/man_help_formatter.py
Due: pylint

Add types to option attributes of ``PyLinter`` and reorganize ``init`` (#5579)
  pylint/lint/pylinter.py
Due: pylint

Update tests/test_func.py
  tests/test_func.py
Due: pylint

Factor out `_uncertain_nodes_in_try_blocks_when_evaluating_except_blocks()`
  pylint/checkers/variables.py
Due: pylint

Fix #4045: Don't assume try ancestors are immediate parents when emitting `used-before-assignment`
  ChangeLog
  doc/whatsnew/2.13.rst
  pylint/checkers/variables.py
  tests/functional/u/use/used_before_assignment_issue2615.py
  tests/functional/u/use/used_before_assignment_issue2615.txt
Due: pylint, fix-documentation

Add docstring
  pylint/checkers/variables.py
Due: pylint

Apply suggestions from code review
  pylint/checkers/variables.py
  tests/functional/u/use/used_before_assignment_issue2615.py
Due: pylint

Add typing (no typing exists for result of statement()`
  pylint/checkers/variables.py
Due: pylint

Fix nested excepts
  pylint/checkers/variables.py
  tests/functional/u/use/used_before_assignment_issue2615.py
  tests/functional/u/use/used_before_assignment_issue2615.txt
Due: pylint

add None guard
  pylint/checkers/variables.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: tests/functional/|tests/input|tests/extensions/data|tests/regrtest_data/|tests/data/|doc/
  fix-documentation: any of: ^(ChangeLog|doc/whatsnew/\d+\.\d+\.rst)
